[2020-01-03 20:08] TheFoxAtWork commented on #308
yep yep works for me @lumjjb

[2020-01-06 12:51] rficcaglia commented on #307
@ericavonb I think was maybe willing/able to volunteer as lead, and I said I'd help her through the process...that was discussed pre-holidays on the last Policy WG call, so not sure if she has had time to reconsider and run away (Monty Python skit comes to mind ;) )

[2020-01-06 12:56] rficcaglia commented on #273
@danmx @MVrachev can you add your conflict statements here? Thanks!

[2020-01-06 13:48] rficcaglia commented on #273
@kris-nova here is the [OPA self-assessment](https://github.com/cncf/sig-security/blob/master/assessments/projects/opa/self-assessment.md) and the ["official" outline](https://github.com/cncf/sig-security/blob/master/assessments/guide/outline.md).

[2020-01-06 13:59] danmx commented on #273
@rficcaglia, my conflict statement:
- Hard conflicts:
    - Reviewer is a maintainer of the project - NO
    - Reviewer is a direct report of/to a maintainer of the project - NO
    - Reviewer is paid to work on the project - NO
    - Reviewer has significant financial interest directly tied to success of the project - NO

- Soft conflicts:
    - Reviewer belongs to the same company/organization o

[2020-01-06 15:00] MVrachev commented on #273
My conflict statement:

Hard conflicts:
Reviewer is a maintainer of the project - NO
Reviewer is a direct report of/to a maintainer of the project - NO
Reviewer is paid to work on the project -NO
Reviewer has significant financial interest directly tied to the success of the project - NO

Soft conflicts:
Reviewer belongs to the same company/organization of the project, but does not work on the pro

[2020-01-06 15:06] JustinCappos commented on #273
@ultrasaurus @pragashj @dshaw Need conflict signoff from 2 chairs...

[2020-01-07 18:17] #309 closed

[2020-01-07 18:33] ultrasaurus commented on #303
This sounds like a great improvement

Maybe add TODO to the proposal?  suggestions:

- create list of sub-directories that should have [CODEOWNERS](https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners) files based on CONTRIBUTING.md and /governance
- submit separate PRs for each sub-directory with approval of at least one chair and at least one person nam

[2020-01-07 18:37] ultrasaurus commented on #281
assigning this issue to @pragashj who is currently reviewing the doc -- additional improvements, if needed, can be made will another PR

cc @jbeda @lizrice for visibility, this was covered by @dshaw in today's TOC meeting

[2020-01-07 18:40] ultrasaurus commented on #298
assigned to @TheFoxAtWork

[2020-01-07 18:44] ultrasaurus commented on #298
PR merged, closing this.  Thank you @TheFoxAtWork  !

[2020-01-07 18:44] #298 closed

[2020-01-08 18:21] kapilt commented on #300
its custom code for each cloud provider. it seems unlikely we'll evolve to a shared ontology, as we're trying to allow usage/governance of cloud native attributes on each resource, an abstraction removes expressibility of policies. I've looked at cloud events, and am watching that space, but most of the event flow here is pretty specific to the provider, the events abstraction of defining struct f

[2020-01-08 18:29] TheFoxAtWork opened #326 "[Suggestion] Updates to Lead Security Reviewer Role and Security Assessments Guide and phrase naming"
Description:

**1 - Clarifying Question changes**
- [ ] Change Dumb question phase to Clarifying Question Phase in assessment guide
- [ ] Update Clarifying Question Phase as the responsibility of the Lead Security Reviewer explicitly or their designee
- [ ] explain what Clarifying Question phase is
- [ ] Clarifying question phase is adhoc and not in the 3 week cycle.

**2 - Lead Security Reviewer

[2020-01-10 12:48] mhausenblas commented on #305
Interested in review submissions, unsure if I can help out during the day.

[2020-01-10 12:50] TheFoxAtWork commented on #305
@sublimino can't seem to find you in slack, i need you to confirm ur participation (CFP reviewer and Day of help), join the security-events channel in slack, and provide email for CFP review (see channel for details)

[2020-01-10 15:26] rficcaglia commented on #305
@TheFoxAtWork not having done this before, where does one submit the CFP?

[2020-01-10 17:17] mfdii commented on #305
@rficcaglia there will be a link off the Security Day website that directs you to the CFP platform the LF uses. We still need to get all this up but hopefully we can by the next sig-security meeting

[2020-01-15 18:36] ericavonb commented on #307
I'm open to be a reviewer and/or lead. Here is my conflict declaration:

Hard conflicts:
Reviewer is a maintainer of the project - NO
Reviewer is a direct report of/to a maintainer of the project - NO
Reviewer is paid to work on the project -NO
Reviewer has significant financial interest directly tied to success of the project - NO

Soft conflicts:

Reviewer belongs to the same company/organizatio

[2020-01-16 16:39] JustinCappos commented on #307
Hard conflicts:
Reviewer is a maintainer of the project - NO
Reviewer is a direct report of/to a maintainer of the project - NO
Reviewer is paid to work on the project -NO
Reviewer has significant financial interest directly tied to success of the project - NO

Soft conflicts:

Reviewer belongs to the same company/organization of the project, but does not work on the project - NO
Reviewer uses the

[2020-01-16 16:43] JustinCappos commented on #307
We need a lead reviewer.  @ericavonb Would you be willing to take on this role?

[2020-01-17 04:30] ericavonb commented on #307
@JustinCappos we discussed at the last sig-security meeting that it would be best if someone who was on a previous security review could take the lead. Wdyt?

cc @rficcaglia @ultrasaurus

[2020-01-17 06:17] JustinCappos commented on #307
That only really leaves @ashutosh-narkar, I think.  Ash, are you willing to do this?

[2020-01-17 07:45] ashutosh-narkar commented on #307
Hello @JustinCappos, I would like to get some experience in the reviewer role before leading a review. I would more comfortable leading the next one. Hope that's fine.

[2020-01-17 14:59] JustinCappos commented on #307
Okay.  @ericavonb , I'd be happy to have you lead this.  I understand the concern about not having done this, but you can rely on @rficcaglia, @ultrasaurus, and me to help out if you have questions / problems.  Are you comfortable taking the lead role with us supporting?

[2020-01-17 15:03] rficcaglia commented on #307
Yes I’m definitely happy to help!

On Fri, Jan 17, 2020 at 8:59 AM Justin Cappos <notifications@github.com>
wrote:

[2020-01-17 15:16] ultrasaurus commented on #307
I think it is important to have someone in the lead role who run the process before -- from a SIG-Security perspective, we're not just working on this assessment.  We're also testing the process.  (This will be # 5 of our FIRST FIVE https://github.com/cncf/sig-security/issues/167).

Of our experienced reviewers, @rficcaglia is leading Falco, @lumjjb is leading SPIFFE/SPIRE.  looping in @justincorm

[2020-01-17 15:40] JustinCappos commented on #206
Looking forward to seeing this.  I know several folks have been looking for
such a resource...

On Tue, Dec 17, 2019 at 11:33 PM Sarah Allen <notifications@github.com>
wrote:

[2020-01-17 17:51] TheFoxAtWork commented on #326
also need to add more content to the security assessment guide, reviewing the repo.  Also maybe update the self-assessment template and include language to encourage cross-linking to relevant sections from the repo.

[2020-01-21 01:40] JustinCappos commented on #124
@lumjjb and I are still working on our version of this, but we're at a point where it makes sense to have CNCF help us mock up a small part of what the final product would look like.

We could either do this now for the small part we have done or could wait, depending on what others think makes sense...

[2020-01-22 00:26] ashutosh-narkar commented on #307
_Hard conflicts:_

Reviewer is a maintainer of the project - NO
Reviewer is a direct report of/to a maintainer of the project - NO
Reviewer is paid to work on the project - NO
Reviewer has significant financial interest directly tied to success of the project - NO

_Soft conflicts:_

Reviewer belongs to the same company/organization of the project, but does not work on the project - NO
Reviewer us

[2020-01-22 19:17] lumjjb opened #332 "[Presentation] Threat Modeling in FSS and Open Source Simulation Training materials"
Title:  Threat Modeling in FSS and Open Source Simulation Training materials

Speakers: Jonathan Meadows, Andrew Martin

Description:

- Which controls should be applied to Kubernetes
- Skills gap - need to train security engineers in Kube
- Controls
  - Looking at threat modeling
  - What kind of attacks can be used
  - Focusing on how to automate regression testing and validate thread model
  -

[2020-01-22 19:21] lumjjb commented on #332
@jonmuk @sublimino

[2020-01-23 10:04] jonmuk commented on #332
Thanks for the invite to present our work from the FSUG.  I look forward to continuing the conversation on automating the model and our next focus areas which are securing the supply chain and codifying controls.

[FSUG - Threat Modelling & Kubernetes Security Training](https://github.com/cncf/financial-user-group/blob/master/projects/k8s-threat-model/Threat%20Modelling%20%26%20Kubernetes%20Securi

[2020-01-24 16:49] bdaw commented on #307
Hard conflicts:

Reviewer is a maintainer of the project - NO
Reviewer is a direct report of/to a maintainer of the project - NO
Reviewer is paid to work on the project - NO
Reviewer has significant financial interest directly tied to success of the project - NO

Soft conflicts:

Reviewer belongs to the same company/organization of the project, but does not work on the project - NO
Reviewer uses t

[2020-01-24 18:06] lumjjb opened #335 "[Suggestion] Add recommendations for tooling in security assessments"
Description: During the security assessments, there are some steps, like taking the self-assessment (that usually comes in a google doc form for collaboration), and make it into a markdown format for the repo.

Impact:  This will help lead security reviewers in performing security assessments

Scope: After discussions, should be a short 10 min task to add a line to include tooling.

[2020-01-24 18:07] lumjjb commented on #335
@ultrasaurus

[2020-01-24 18:08] lumjjb commented on #335
I used https://pandoc.org/ for the SPIRE review self-assessment conversion (downloading a docx and then converting it).

[2020-01-28 05:53] JustinCappos commented on #335
I'm open to this but don't know the tools well enough to say more than "this sounds like a good idea".

@lumjjb Do you want to have a PR where you suggest Pandoc, while leaving it open for people to choose what they like?

[2020-01-28 10:40] justincormack commented on #307
I could lead this, and mentor @ericavonb if that works better.

[2020-01-28 14:55] JustinCappos commented on #307
Great!   @justincormack Would you kindly post your conflict statement?

[2020-01-28 14:57] justincormack commented on #307
Hard conflicts:
Reviewer is a maintainer of the project - No
Reviewer is a direct report of/to a maintainer of the project - No
Reviewer is paid to work on the project - No
Reviewer has significant financial interest directly tied to success of the project - No

Soft conflicts:
Reviewer belongs to the same company/organization of the project, but does not work on the project - No
Reviewer uses the

[2020-01-28 15:01] JustinCappos commented on #307
Okay, it looks like the next step is that the chairs need to review the conflicts.  @ultrasaurus @dshaw @pragashj

[2020-01-28 15:46] lumjjb commented on #335
Yea i was going to open a PR, but i think @ultrasaurus also had some recommendations to add. So I'd consolidate them and add them to the guide.

Yea - agree on it being just a suggestion.

[2020-02-04 16:13] pragashj commented on #312
@lumjjb can you have done proposals to discuss with the team and also content document here in this issue for others to chime in.
Cc/ @hannibalhuang

[2020-02-04 16:19] ultrasaurus commented on #312
11p would be more friendly to China and less so for US (except for the west coast night owls) -- though maybe midnight Pacific / 8a GMT is easier for EU.

![image](https://user-images.githubusercontent.com/41906/73763468-49c1fa00-4726-11ea-85f4-4877c99690bf.png)

March 30 – April 2 [CloudNativeCon EU](https://events.linuxfoundation.org/kubecon-cloudnativecon-europe/)
July 28-30 [CloudNativeCon / K

[2020-02-05 18:24] lumjjb commented on #312
- Additional meetings per month to keep momentum (i.e. once a month like SIG docs)
- Eventual idea of federation across regions
- Projects specific to region, leadership locally bootstrap with facilitators

[2020-02-07 10:29] AkihiroSuda commented on #312
Simple question: why does CNCF (not just SIG-security) need synchronous communication at all?

[2020-02-13 20:39] piyushcom opened #340 "SIG- Security Meeting RSA Week ( Between 2/23-2/28)"
Folks -
if you are travelling to SF for RSA or you are in the city that week, we can organize an event for SIG -security community. Let me know the thoughts.

[2020-02-13 20:57] lumjjb commented on #340
Hi @piyushcom !  Thanks for opening the issue. Hope a meetup can happen.

Could you edit the title to include the date of the event and city? Thanks!

[2020-02-13 21:26] piyushcom commented on #340
I am creating the event on eventbrite , i would need to know how many are available.

[2020-02-14 18:33] dshaw commented on #307
✅ Co-chair sign-off on reviewer conflicts

[2020-02-14 18:41] ultrasaurus opened #341 "conflict of interest review unclear"
The intent was to only require chair review if there were hard-conflicts or the security assessment facilitator flagged a concern of too many soft conflicts -- this is not at all clear in how we wrote it down and should be fixed.

In the meantime, let's not block assessments on chair review if @JustinCappos agrees that there are no blockers and the project team is ready to move forward.

https://g

[2020-02-14 18:44] ultrasaurus commented on #307
sorry to be a blocker here -- we talked about not needing chair review for this level of little-to-no-conflict, and I've just written an issue as a placeholder: https://github.com/cncf/sig-security/issues/341

and just in case anyone is concerned, here's my...
✅ Co-chair sign-off on reviewer conflicts

[2020-02-14 19:10] lumjjb commented on #341
I think when I wrote the text before, my initial thinking was the same as the comment, so perhaps we got lost in translation somewhere. I do agree that probably chairs should not be required to unblock if there are no complications.

Perhaps we can specify responsibility of the security lead reviewer to also ensure all conflicts and specified before proceeding to review, and to raise to security a

[2020-02-18 18:13] justincormack commented on #307
Apologies, I am not going to be able to lead this.

[2020-02-18 21:08] JustinCappos commented on #307
That's unfortunate, but understandable given your new role on the TOC.  I understand you'd like to potentially sponsor the project and feel that it's a little too much reliance on your perspective....

We do need someone to step up and lead here though now...

[2020-02-18 21:43] amye commented on #307
Can we put this on tomorrow's meeting for discussion?

[2020-02-18 22:02] ultrasaurus commented on #307
Let's see if we can get this moving asynchronously... Cloud Custodian folks have been waiting a while!  While we get organized and find a new leader, it would be great if someone could volunteer to give the self-assessment a careful read, primarily:

1. Asking naive questions (that should be answered in the doc for reviewers who are unfamiliar with Cloud Custodian),  suggesting edits for clarifica

[2020-02-18 22:36] lumjjb commented on #307
@amye  the current agenda for tmr's meeting is for SPIFFE/SPIRE assessment presentation. i can make an announcement tmr on this to get volunteers for lead.

[2020-02-18 22:38] amye commented on #307
It looks like Sarah's on it, an announcement is just fine.

On Tue, Feb 18, 2020 at 2:36 PM Brandon Lum <notifications@github.com>
wrote:

--
Amye Scavarda Perrin | Program Manager | amye@linuxfoundation.org

[2020-02-19 17:55] lumjjb commented on #306
Hi @justincormack  @stephenrwalli, following up on this.

[2020-02-19 18:19] ultrasaurus commented on #307
@rficcaglia has volunteered to take a first look at the self-assessment

[2020-02-19 18:23] TheFoxAtWork commented on #326
Updates to include the lead reviewer doing an initial pass to ensure all other reviewers can clearly understand the content of the document, what do the terms mean?  what is the context for the concepts introduced, etc.  this allows reviewers to ask more pointed technical questions of the assessment

[2020-02-19 18:26] TheFoxAtWork commented on #326
some Notes on this for are in the Feb 19 meeting

[2020-02-19 18:31] justincormack commented on #306
Stephen is away again, will try to get a firm date when he is back.

[2020-02-19 18:35] IAXES commented on #311
Is a GitHub action the preferred implementation? If so, would there be any objections to creating a [Docker container action](https://help.github.com/en/actions/building-actions/creating-a-docker-container-action) to execute the linting/parsing/scoring code? If so, the image could be deployed to Docker hub, source put on GitHub, and it should be trivial to allow individuals to manually invoke it o

[2020-02-19 18:44] pbnj commented on #311
@IAXES - GitHub actions use docker containers to run tasks. So, it should still be portable enough  for the use-case you've described.

[2020-02-19 18:48] TheFoxAtWork commented on #326
from @ultrasaurus :  Also see: https://github.com/cncf/sig-security/labels/assessment-process

[2020-02-19 18:51] ficcaglia commented on #326
although I would tweak to allow for delegating this --- as is now the case for the Cloud Custodian assessment where Sarah is lead but I am doing the initial pass on the self assessment doc

[2020-02-19 18:52] lumjjb commented on #326
One of the things i found during the review was that the dumb question phase, could be ad-hoc and not necessarily be part of the 3 week review cycle as discussed. This could start by anyone that has volunteered for the review. (and could be part of the initial requirement as part of the pre-assessment phase).

[2020-02-19 18:53] lumjjb commented on #326
@anvega I think you had some ideas for improvements for the assessments as well.

[2020-02-19 18:59] ultrasaurus commented on #307
updated lead reviewer, though I'm not available until next week so really appreciate @rficcaglia volunteering to take a first look at self-assessment and give feedback.  I'll sync up with @cseader  and will circle back by early next week on target kick-off date.

[2020-02-20 18:40] johnmark commented on #307
Greetings y'all - we appreciate everyone's time on this. We wanted to propose that we move forward with a scaled-down or limited scope review commensurate with a sandbox project.

We feel that the effort we've put forth thus far meets the minimum requirement for a sandbox project. Please advise as to next steps.

Thanks!

// @ultrasaurus @rficcaglia @cseader @kapilt

[2020-02-20 20:12] JustinCappos commented on #307
Is this in response to the clarifying issues raised by @rficcaglia ?   Can you provide more context?

Right now we have a process that all projects follow.  I can discuss with the chairs, but I am strongly opposed to customize the process for different projects.  in-toto (a sandbox project) went through a more rigorous process than this also, as have other projects.  It's fine if as a project you

[2020-02-20 20:25] johnmark commented on #307
Hi @JustinCappos thanks for your response and further context. I'm trying to understand what, exactly, is the criteria for sandbox approval and what is MVP, not creating a customized process. We're responding to the comments on the draft doc and hope to pull something together ASAP. Thanks!

[2020-02-20 21:21] ultrasaurus commented on #307
@johnmark to answer your question about the sandbox process, take a look at https://github.com/cncf/toc/blob/master/process/sandbox.md -- recent clarification of sandbox requirements

@cseader and I will review the self-assessment by early next week and can provide some quick feedback about how much effort will be involved in going thru the assessment process -- our hypothesis is that for SIG-Secu

[2020-02-20 21:25] johnmark commented on #307
thanks @ultrasaurus !

[2020-02-21 01:23] JustinCappos commented on #273
I'm signing off as their being no conflicts.  We're ready for the self assessment!

[2020-02-21 19:43] lumjjb commented on #311
I think it would be good to have a `make check` which will do all this offline as well. it would be great if we can get a prototype PR for an offline script first, and one of us with write access can create a hook for it.

[2020-02-24 14:52] ultrasaurus commented on #326
Note:  Clarifying question phase is in the outline ...

I think we switched it up (at least I did in my mind and didn't look back at the doc) and decided it's always needed

[2020-02-24 16:06] ultrasaurus commented on #300
FYI -- here's the video on YouTube: https://www.youtube.com/watch?v=gHV1pHX2S7k

[2020-02-24 18:28] ultrasaurus opened #343 "where to put assessment summary slides in the repo?"
I don't think the [assessment summary slides](https://docs.google.com/presentation/d/1Cinwa2grYSdP4yNQKS1ICIBH3oSkBPgDZl2RlG5asRA/edit#slide=id.g5a0cdb412d_0_0) are linked from anywhere...

I would prefer an open format, but don't know of one that works well for slides.  In the meantime, these should be linked somewhere

[2020-02-24 22:21] ultrasaurus commented on #343
@JustinCappos @TheFoxAtWork @lumjjb @rficcaglia  thoughts about where these should be linked?

[2020-02-25 14:16] TheFoxAtWork commented on #343
@ultrasaurus I can see them either going in the individual project folder under assessments; [i.e assessments>projects>in-toto](https://github.com/cncf/sig-security/tree/master/assessments/projects/in-toto) , or under the projects folder to enumerate ones that are complete; [i.e. assessments>projects](https://github.com/cncf/sig-security/tree/master/assessments/projects)

[2020-02-25 14:17] lumjjb opened #344 "[BUG] Logo and design page colors/text not lined up when zoomed"
As pointed out in https://github.com/cncf/sig-security/pull/339#pullrequestreview-359251744

In certain cases, the words showing the hex code of colors are not matching the colored boxes.

[2020-02-25 14:18] lumjjb commented on #344
@alexcontini

[2020-02-25 14:20] lumjjb commented on #288
@hannibalhuang is this something that has been taken care of or requires attention?

[2020-02-25 14:21] lumjjb commented on #233
@TheFoxAtWork , @ultrasaurus Have all the items in this issue been resolved and we can close this issue?

[2020-02-25 14:21] lumjjb commented on #332
Completed Presentation

[2020-02-25 14:21] #332 closed

[2020-02-25 14:24] lumjjb commented on #282
I will close this issue since there are follow-up steps required before we can talk about this.. @danmx , do feel free to re-open this when implementation is ready!

[2020-02-25 14:24] #282 closed

[2020-02-25 14:26] lumjjb commented on #276
@kris-nova i don't remember if we did this? Can you recall? If not, do you want to do this talk at one of the upcoming meetings?

[2020-02-25 14:29] TheFoxAtWork commented on #233
i think this can be closed

[2020-02-25 14:42] rficcaglia commented on #343
no strong opinion on where - I myself would think to look in
assessments>projects>project first.

as to open format haven't tried pandoc but maybe we can convert
markdown<->slides: https://pandoc.org/

On Tue, Feb 25, 2020 at 6:16 AM Emily Fox <notifications@github.com> wrote:

[2020-02-26 18:25] achantavy opened #347 "[Presentation] Cartography - Using Graphs to Improve and Scale Security Decision-Making"
## Title: What is the title of your presentation?

Cartography - Using Graphs to Improve and Scale Security Decision-Making

## Speakers:

Alex Chantavy (@achantavy)

## Description:

Cartography is a Python tool that consolidates infrastructure assets from multiple sources and the relationships between them in an intuitive graph view powered by a Neo4j database.  It is particularly good at exposi

[2020-02-26 18:26] achantavy commented on #347
CC:@mattklein123

[2020-02-26 19:44] lumjjb opened #348 "Cloud Native Security Map (Landscape v2)"
Description:

Provide a different view of a security landscape which will provide more useful information

Impact:

The current security landscape is a list of categories which are useful for an overview. We want to provide an alternative view of the landscape which can be consumable by security practitioners, executives, and users of security.

Scope:

Create a visual landscape of multiple proces

[2020-02-26 19:45] lumjjb commented on #124
Created issue for work @JustinCappos mentioned, and linking it:

https://github.com/cncf/sig-security/issues/348

[2020-02-27 15:20] #233 closed

[2020-02-27 15:36] TheFoxAtWork commented on #326
per slack discussion:
Okay - so for the purposes of the self-assessment.  create a section to enumerate critical features/functions of the software that are security relevant, As a starting point.  These items could then be leverage for future reviews under change detection as well as manageable items for a security audit.

[2020-02-27 15:37] TheFoxAtWork commented on #326
per slack discussion:
Okay - so for the purposes of the self-assessment.  create a section to enumerate critical features/functions of the software that are security relevant, As a starting point.  These items could then be leverage for future reviews under change detection as well as manageable items for a security audit.

[2020-02-27 15:38] TheFoxAtWork commented on #326
per slack discussion:
Okay - so for the purposes of the self-assessment.  create a section to enumerate critical features/functions of the software that are security relevant, As a starting point.  These items could then be leverage for future reviews under change detection as well as manageable items for a security audit.

[2020-02-27 18:53] chasemp commented on #326
A note from the Spiffy/Spire call yesterday (which was very informative and great), it was brought up features added to Spire mid-flight during the review period.  It leaves a kind of gaping hole in terms of what version or release exactly does the review relate to?  These things are always point-in-time, etc.  At my place of business we do smaller scale similar risk assessments and readiness revi

[2020-02-27 20:52] lumjjb commented on #347
Awesome @achantavy! This looks like a great topic. I've queued it up for 03/11.

[2020-03-03 14:26] lumjjb commented on #206
With the current project board, should this be resolved? @ultrasaurus @JustinCappos

[2020-03-03 17:12] TheFoxAtWork commented on #206
concur with @lumjjb

[2020-03-04 04:34] ultrasaurus commented on #206
I thought this issue would be resolved with a readme for [assessments/projects](https://github.com/cncf/sig-security/tree/master/assessments/projects) that linked to assessments as well as audits

[2020-03-04 12:25] TheFoxAtWork commented on #206
reading back through the ticket and discussion, want to double check before updating the ticket:
1.  Create general README in  (assessments/projects)[https://github.com/cncf/sig-security/tree/master/assessments/projects]
2. updated Assessment process to create a README in each project folder
3. Link audits, if occurred, on the project's README

@ultrasaurus @JustinCappos does this work?

[2020-03-04 14:51] JustinCappos commented on #206
Works for me!

[2020-03-04 15:44] TheFoxAtWork commented on #206
updated - over to you @JustinCappos

[2020-03-05 02:00] IAXES opened #350 "[Proposal] Add "scribe" role plus details to "Working group roles" document"
Description: I'd like to add a "scribe" role plus details to the ["Working group roles" document](https://github.com/cncf/sig-security/blob/master/governance/roles.md).

Impact: Further fleshes out the roles documentation. This could be useful for members offering to volunteer as scribes during the weekly meetings.

Scope: Not much at all. The written portion would not exceed that for existing rol

[2020-03-05 02:10] IAXES opened #351 "[Proposal] Meeting agenda and minutes format updates"
Description: I'd like to propose some changes to the [meeting notes document](https://docs.google.com/document/d/170y5biX9k95hYRwprITprG6Mc9xD5glVn-4mB2Jmi2g/). In short:

1. For the "Agenda" section, I'd like to replace the bulleted lists with IEEE style numbered lists. The idea being that each agenda item has a unique, numeric, shorthand identifier.
2. For meeting minutes, the addition of a tabl

[2020-03-05 02:15] IAXES opened #352 "[Suggestion] Ramp-up guide/notes for facilitators"
Description: I'd like to request a brief ramp-up/how-to guide for new facilitators, as noted during today's general meeting. The main focus is on how to appropriately populate the agenda if one is not yet up-to-speed with the various projects currently in-progress.

Additionally, I'd like to confirm the preferred way to conclude meetings early if a facilitator has a hard-stop time for the meeting

[2020-03-05 02:49] IAXES commented on #351
Here's an example of what I had in mind.

![image](https://user-images.githubusercontent.com/8325672/75942997-b70d9b80-5e48-11ea-8224-7f89572c9e30.png)

[2020-03-05 14:09] IAXES opened #353 "[Suggestion] Documentation update - roadmap.md"
Description: The "SAFE WG Roadmap" title should be updated to "SIG-Security Roadmap" [in the roadmap document](https://github.com/cncf/sig-security/blob/master/roadmap.md), as per [a related discussion in Slack](https://cloud-native.slack.com/archives/CDJ7MLT8S/p1583401459049600).

Impact: Minor documentation updates.

Scope: Minimal.

[2020-03-05 14:19] TheFoxAtWork commented on #353
updated with new PR

[2020-03-05 18:05] TheFoxAtWork commented on #305
Postponed - stand by for new dates:
https://events.linuxfoundation.org/kubecon-cloudnativecon-europe/attend/novel-coronavirus-update/

[2020-03-05 19:42] jenposp commented on #305
Hi there - Has there been discussion or interest in offering a portion of the Cloud Native Security Day agenda online? My thought is that if you had maybe 2 hours of content offered that could be a good way to keep the audience. And then, that would give you 2 hours back for the F2F agenda in Amsterdam to conduct open spaces talks (if CNCF can now acquire more space) and expand the sponsor talks t

[2020-03-06 12:58] TheFoxAtWork commented on #305
We're looking at the possibility of doing a virtual security day but those discussions are _very_ early.

[2020-03-06 13:31] knowlengr opened #359 "[Presentation] Overview of Proposed NIST Big Data Analytics Initiative (and Cloud Mesh)"
Title: Overview of Proposed NIST Big Data Analytics Initiative (and Cloud Mesh)

Speakers:
Wo Chang
Digital Data Advisor
ISO/IEC JTC 1/SC 42/WG 2 Working Group on Big Data, Convenor
IEEE Big Data Governance and Metadata Management, Chair
NIST Information Technology Laboratory

Gregor von Laszewski [https://laszewski.github.io/](url)
Assistant Director, Digital Science Center
School of Informatics

[2020-03-06 15:21] knowlengr opened #360 "[Presentation] Glimpse of Security Facets of Scaled Agile (SAFe)"
Title: Glimpse of Security Facets of Scaled Agile (SAFe)

Speakers: Mark Underwood [https://github.com/knowlengr](url), Neil Sanyal [https://www.linkedin.com/in/neilsanyal/](url) VP PMO Director for Information Security (Synchrony)
The speakers are representing themselves, not their employers past or present.

Description: The Scaled Agile framework [https://www.scaledagile.com/](url) is one of th

[2020-03-09 23:09] cseader opened #362 "[Suggestion] End-User presentation deck"
Description: What's your idea?
Create an End-User presentation deck which would have content relating to who SIG-Security is and what they do. Explains security concerns relating to cloud native. Sets a course for how you might incorporate security practices in your organization relating to cloud native. Give suggestions on what you might use for security in your CI pipeline. Information on Attack

[2020-03-10 18:45] TheFoxAtWork commented on #311
at @lumjjb  request - info on setting line wraps in markdown thru VIM:
:set textwidth=80
gqG to apply at the line down the doc. adjusting as necessary for links, etc.

[2020-03-11 00:52] TheMoxieFox commented on #311
Also `set wm=2` will do it as you type.

[2020-03-11 02:02] ultrasaurus commented on #341
working on this

[2020-03-11 03:50] lumjjb commented on #343
Yea, i second the caution towards using binary blobs as they don't generally deal well with git diffing and history. I think having links initially to 1 set of slides that have all the 1 slide reviews would be okay to start with.

[2020-03-11 12:26] IAXES commented on #311
I'll look into putting together a minimal PoC this weekend with a sample/dummy repo on my own GitHub account. After that point, maybe I could use the Zoom meeting space to do a live demo/recording.

It won't necessarily have all the final linting rules/checks in place, but it could at least implement the `make check` step, and future enhancements/one-off-commits could chip away at the broader task

[2020-03-11 13:49] ultrasaurus commented on #347
@lumjjb updated issue description and assigned you as SIG representation -- feel free to recruit someone else at the meeting today to take this on (to update the issue with video when available) -- I'm out of town today so will miss, but do look forward to catching up when video is posted!

[2020-03-11 14:25] #353 closed

[2020-03-11 14:32] IAXES commented on #306
@justincormack Are these presentations ever held outside the weekly (Wednesday) meetings (i.e. if presenter isn't available Wednesdays, for example, record it via Zoom/Webex/etc. and post the recording link), or is it preferable to reschedule and always keep them as live presentations during the weekly meeting?

Thanks.

[2020-03-11 14:38] IAXES commented on #352
Based on feedback from the meeting minutes, I don't believe this will be necessary after all. Please feel free to re-open if anyone feels additional documentation on the topic is warranted.

[2020-03-11 14:38] #352 closed

[2020-03-11 14:43] IAXES commented on #347
@ultrasaurus Good day,

How are meetings recorded/saved and uploaded? Does the meeting automatically record to cloud storage, or does it need to be triggered by specific individuals attending the meeting? I haven't used Zoom much, but it appears to save to local storage when I host my own meetings. Thank you.

[2020-03-11 14:45] IAXES commented on #340
@piyushcom Good day,

Has this event concluded? If so, could I please request a link to slides/recordings/summaries (if available). After that point, I'll request the issue be closed, if there are no objections.

[2020-03-11 14:47] lumjjb commented on #347
The meetings are uploaded to the CNCF sig security youtube playlist automatically: https://www.youtube.com/watch?v=HvHRffteItQ&list=PLj6h78yzYM2MJRBYu9jUisJIXJvi-8jlp

[2020-03-11 14:47] IAXES commented on #300
@ultrasaurus Is it OK to close this issue at this point, or do we need to make any additional notes/summaries/etc. of the presentation/topic?

[2020-03-11 16:41] nynymike opened #366 "[Presentation] Proposal to launch Sandbox Project around Gluu's OAuth / OpenID / FIDO components"
### Janssen : A Cloud Native Identity and Authorization Platform
Mike Schwartz [nynymike](https://github.com/nynymike)

We need a home to provide a community, consensus-driven governance platform for Gluu's core projects. Most in the IAM industry would agree that the Gluu Server is currently one of the best OpenID Connect implementations. According to the [published self-certification results](htt

[2020-03-11 16:42] ashutosh-narkar opened #367 "[Suggestion] Define a review process for CNCF projects being considered for Graduation"
Description: When a CNCF project is being considered for Graduation status, it is recommended that the project first be reviewed by the appropriate SIG. For example, one of the suggestions in [Harbor's Graduation Proposal](https://github.com/cncf/toc/pull/311) is that the project be reviewed by Sig-Runtime, Sig-Storage and Sig-Security.

This issue aims to get feedback around how to formalize the

[2020-03-11 17:48] TheFoxAtWork commented on #350
@lumjjb please take a look

[2020-03-11 17:49] TheFoxAtWork commented on #350
also recommend changing it from "working group roles" to SIG Roles since we aren't SAFE WG anymore

[2020-03-11 17:54] TheFoxAtWork commented on #367
This should be lightweight as we are still working through what a SIG Security Assessment process looks like, also refer and link to [TOC  PR 374](https://github.com/cncf/toc/pull/374)

[2020-03-11 18:09] IAXES commented on #351
Seems to work for smaller notes, less so for larger items.

https://docs.google.com/document/d/170y5biX9k95hYRwprITprG6Mc9xD5glVn-4mB2Jmi2g/edit#heading=h.rrcy1iy7m903

I'll re-create the same template for next week. If it's causing any hassle for scribes (please feel free to chime in), I'll re-use the previously established template.

[2020-03-11 20:54] dshaw commented on #362
@cseader As I mentioned in today's meeting, check out the new [Contributor Strategy group](https://github.com/cncf/toc/pull/370) as potential partners to help validate this content.

[2020-03-12 22:55] michelleN commented on #367
@ashutosh-narkar thank you for the feedback and suggestions. Given the updated, lightweight process @TheFoxAtWork referenced (#374), do you still feel we should add this level of detail to the graduation process. I think it makes complete sense for multiple SIGs to review a project however I don't think it will be needed for all projects that go through the process.

Optional SIG reviews can be ki

[2020-03-13 16:13] ashutosh-narkar commented on #367
Hello Michelle,

Thanks for your reply. The idea behind creating #367
<https://github.com/cncf/sig-security/issues/367> was to create a process
around how Sig-Security in particular would provide a recommendation for a
project looking to graduate. In Harbor's graduation proposal
<https://github.com/cncf/toc/pull/311>, getting a review from Sig-Security
was raised few months ago. So having a proces

[2020-03-17 13:34] lumjjb commented on #350
This is a great idea to add the scribe role. I have updated to have myself as SIG rep. Looking forward to this PR!

[2020-03-17 13:40] lumjjb commented on #351
@IAXES thanks for the great idea to reorganize the meeting notes. I agree that this is something that could be better - and maybe even coming up with a better scribe system in itself.

I think this does solve the synchronization problem, but as a reading of the meeting notes, I find it a bit cumbersome to read because it is not certain what order to read the notes in (moving from left to right col

[2020-03-17 13:44] lumjjb commented on #335
Resolved by https://github.com/cncf/sig-security/pull/336

[2020-03-17 13:44] #335 closed

[2020-03-17 13:47] lumjjb commented on #347
Hi @achantavy, can you post a link to your slides here? Thanks!

[2020-03-17 13:47] lumjjb commented on #75
@dshaw any leads here or shall we close this in the meantime?

[2020-03-17 13:48] lumjjb commented on #360
How does April 8 sound ?

[2020-03-17 13:51] lumjjb commented on #300
Yea - okay to close!

[2020-03-17 13:51] #300 closed

[2020-03-17 13:54] lumjjb commented on #276
Closing this due to inactivity

[2020-03-17 13:54] #276 closed

[2020-03-17 19:35] achantavy commented on #347
@lumjjb Here: https://docs.google.com/presentation/d/1pLbQbORYtF_WHl24GHY4LrQKHd7Rz9B56Tu0YICdeek/edit#slide=id.g6599e03b20_0_0 :-)

[2020-03-17 21:06] lumjjb commented on #347
Awesome! Thanks!

[2020-03-18 19:13] IAXES commented on #351
@lumjjb

Hmm, I could have two duplicate tables (i.e. one beneath the other) and then re-combine them after the meeting concludes. Don't know how accommodating Google docs will be for this, but I could definitely try.

Agreed: I'd considered that too. The easiest approach (while continuing to use Google docs) might be to change the page layout (if there are no objections) from 8.5"x11" portrait to

[2020-03-19 15:03] alexcontini commented on #344
@lumjjb very sorry for the delay with this!!

I had trouble figuring out a solution as markdown doesn't support color, so I can't seem to add color with css, and the colors therefore have to be images. As a result, there seems to be limited options as markdown doesn't allow for much styling, but I have tried something that might be better - https://github.com/alexcontini/sig-security/tree/contini-

[2020-03-19 16:53] nynymike commented on #366
Just to be clear, there is zero overlap between Dex and Gluu's OAuth Authorization Server that we are proposing to make into a new project.  Dex is a federation proxy or gateway. In the Gluu Server (which is an integration of several components), we currently use Passport-js as our federation proxy. But Gluu is not the author of Passport-js and it's 100% outside the scope we would address in this

[2020-03-19 20:16] lumjjb commented on #344
Hi @alexcontini . That looks great actually! I like it very much and I think it works well for our purposes.

I noticed that there is a misalignment between the colors and the color codes in the display, looks like an off-by-one shift. If not this looks great. Let's get this up in a PR!

[2020-03-19 21:12] amye commented on #307
Checking in on this, thanks!

[2020-03-20 20:23] lumjjb commented on #360
I noticed that this is now set in the schedule as April 1. Let me update this issue.

[2020-03-20 20:27] lumjjb commented on #366
Hi @nynymike , thanks for creating an issue, we can schedule a presentation. I suppose your availability timing syncs up with our meeting time as listed in the README[/README.md], just to clarify since the timezone wasn't specified.

For the presentation to the group, it should focus on the technicalities of the project. The next open slot is on April 8. But it looks like we have couple presentati

[2020-03-20 20:52] nynymike commented on #366
April 15th is fine. I'm in Austin, so my timezone is CDT. I'll complete the self-assessment document. Thanks for the info.

[2020-03-20 21:49] lumjjb commented on #366
okay, the meetings happen at 10am Pacific time, I'll put you down for April 15 then.

[2020-03-21 03:54] michmike opened #369 "Security Assessment for Project Harbor's Graduation Bid"
Project Name:  Harbor
Github URL: https://github.com/goharbor
Website: https://goharbor.io
Security Provider: yes

- [x] Identify team
   - [x] Project security lead: Michael Michael (michmike), Daniel Jiang (reasonerjt)
   - [x] Lead Security Reviewer: Andres Vega (anvega)
   - [x] 1 or more additional reviewer(s): Justin Cappos (justincappos), Cameron Seader (cseader), Chase Pettet (chasemp), Vi

[2020-03-21 06:30] michmike commented on #369
Xref: https://github.com/cncf/toc/pull/311

[2020-03-24 20:17] ficcaglia commented on #273
@kris-nova can you confirm if you should still be assigned the project lead?

[2020-03-25 17:14] anvega commented on #369
I'm happy to participate as a reviewer. I've read the guideline and have no conflict.

[2020-03-25 17:35] cseader commented on #369
Happy to be an assessment reviewer :+1:

[2020-03-25 17:45] chasemp commented on #369
I cannot seem to edit the top line item.  But if someone can add me as an additional reviewer that would be swell.

[2020-03-25 17:45] pchychi-blox commented on #369
Happy to be added as an security review observer

[2020-03-25 17:45] vinayvenkat commented on #369
I'd like to participate in the security review for Harbor.

[2020-03-25 17:50] saravanant23 commented on #369
Like participate in the security review for Harbor. Thanks

[2020-03-25 18:15] raravena80 commented on #369
For Harbor, there is a combined document created by SIG-Runtime to gather reviews and concerns from all the different SIGs: https://docs.google.com/document/d/1IxakOhnAPjN3RFn1jYLvDCAaC_-mj3n-1StJ1CKGdkM.  Can you please update the doc once you have completed the review? Thanks!

[2020-03-25 18:36] JustinCappos commented on #369
Here is my conflict statement:

Hard conflicts:

Reviewer is a maintainer of the project - NO
Reviewer is a direct report of/to a maintainer of the project - NO
Reviewer is paid to work on the project - NO
Reviewer has significant financial interest directly tied to success of the project - NO

Soft conflicts:

Reviewer belongs to the same company/organization of the project, but does not work on

[2020-03-25 18:51] chasemp commented on #369
Here is my conflict statement:

Hard conflicts:

Reviewer is a maintainer of the project - NO
Reviewer is a direct report of/to a maintainer of the project - NO
Reviewer is paid to work on the project - NO
Reviewer has significant financial interest directly tied to success of the project - NO

Soft conflicts:

Reviewer belongs to the same company/organization of the project, but does not work on

[2020-03-25 20:15] vinayvenkat commented on #369
Here is my conflict statement:

Hard conflicts:

Reviewer is a maintainer of the project - NO
Reviewer is a direct report of/to a maintainer of the project - NO
Reviewer is paid to work on the project - NO
Reviewer has significant financial interest directly tied to success of the project - NO

Soft conflicts:

Reviewer belongs to the same company/organization of the project, but does not work on

[2020-03-25 22:22] mattklein123 commented on #155
FYI this is an issue we are planning on putting a considerable amount of effort into within Envoy. See https://github.com/envoyproxy/envoy/issues/10471 for more information and discussion. From my perspective there is a lot of overlap between what we need to do for Envoy and what other projects also need, so it would be a shame to duplicate effort.

Is this worth a chat in one of the SIG meetings?

[2020-03-26 10:56] justincormack commented on #155
Yes I think it would be a good discussion topic, with the aim of trying to set up a useful outcome for projects eg guidelines, working group, amendments for CII or whatever seems most useful.

[2020-03-26 12:10] htuch commented on #155
Please count me in on any meeting here. We are likely to formulate an Envoy-side policy as a starting point, but would like to ensure it has alignment with best practices across CNCF. Our main focus is in the C++ dependency space and establishing a consistent set of guidelines for when it is reasonable to add an additional dependency to Envoy. We are also interested in tooling that can allow us to

[2020-03-27 14:20] JustinCappos commented on #369
@cseader @anvega @pchychi-blox Would you please add your conflict statements?

[2020-03-27 22:00] anvega commented on #369
I'd like to propose the following schedule:

[2020-03-31 00:53] pchychi-blox commented on #369
Here is my conflict statement:

Hard conflicts:

Reviewer is a maintainer of the project - NO
Reviewer is a direct report of/to a maintainer of the project - NO
Reviewer is paid to work on the project - NO
Reviewer has significant financial interest directly tied to success of the project - NO

Soft conflicts:

Reviewer belongs to the same company/organization of the project, but does not work on

[2020-03-31 08:37] bdaw opened #372 "[Assessment] Keycloak"
Project Name: Keycloak

Github URL: https://github.com/keycloak/keycloak

Website: https://keycloak.org

TOC Link: https://github.com/cncf/toc/issues/406 (sandbox)

Security Provider: yes (e.g. Is the primary function of the project to support the security of an integrating system?)

- [x] Identify team
   - [x] Project security lead @bdaw
   - [x] Lead Security Reviewer @ashutosh-narkar
   - [x]

[2020-03-31 08:38] bdaw commented on #372
Project / Security Lead: Stian Thorgersen (github: @stianst)

Project self assesment document: https://docs.google.com/document/d/14IIGliP3BWjdS-0wfOk3l_1AU8kyoSiLUzpPImsz4R0/edit?usp=sharing

[2020-03-31 08:41] bdaw commented on #372
Keycloak has been submitting to CNCF late 2018 although has been impacted with process changes and lack of bandwidth from TOC side which led to stop new projects intake. As new process settled and after new TOC elections we would like to re approach CNCF Sandbox submission. With new process this requires CNCF SIG Security recommendation. Keycloak already has approached SIG Security mid 2019 althou

[2020-03-31 08:43] bdaw commented on #372
One of highlights which is worth to make is in the meantime Keycloak received a professional external Pen Testing from Cure53 which is captured here: https://cure53.de/pentest-report_keycloak.pdf

(This is highlighted in Self Assessment document as well)

[2020-03-31 14:48] JustinCappos commented on #369
I didn't know you were a TUF contributor.  Was this a typo?

[2020-03-31 14:51] JustinCappos commented on #369
@anvega Since we haven't heard from @cseader , should we move on without them?  I can remove them from the list.

[2020-03-31 17:55] pchychi-blox commented on #369
My apologies, yes, and corrected.

[2020-03-31 18:27] anvega commented on #369
@JustinCappos I pinged @cseader to see if he can respond today, while I get going on the dumb questions phase. If we don't hear back from him by tomorrow we can remove him from the list.

[2020-03-31 19:13] cseader commented on #369
Here is my conflict statement:
Hard conflicts:

Reviewer is a maintainer of the project - NO
Reviewer is a direct report of/to a maintainer of the project - NO
Reviewer is paid to work on the project - NO
Reviewer has significant financial interest directly tied to success of the project - NO

Soft conflicts:

Reviewer belongs to the same company/organization of the project, but does not work on t

[2020-03-31 19:27] JustinCappos commented on #369
@ultrasaurus @pragashj @dshaw Ready for sign-off from chairs about conflicts...

[2020-04-01 17:05] JustinCappos commented on #369
I'm signing off on the conflict statements.

[2020-04-01 17:32] dshaw commented on #369
Co-chair sign-off confirming conflict statement reviews for @anvega @justincappos @cseader @chasemp @vinayvenkat @pchychi-blox. Thank you all.

[2020-04-02 16:06] MVrachev commented on #369
Hopefully it isn't too late to join as an `observer` in this assessment.

Here is my conflict statement:
Hard conflicts:

Reviewer is a maintainer of the project - NO
Reviewer is a direct report of/to a maintainer of the project - NO
Reviewer is paid to work on the project - NO
Reviewer has significant financial interest directly tied to success of the project - NO

Soft conflicts:

Reviewer belon

[2020-04-04 16:42] MVrachev commented on #369
@JustinCappos @dshaw am I accepted as an observer in this assessment?

[2020-04-07 01:57] dshaw commented on #360
Thanks for sharing @knowlengr. Can you link to your slides here?

[2020-04-07 15:27] lizrice commented on #302
@dshaw @ultrasaurus  @pragashj this is currently marked as inactive, can we reactivate it please?

[2020-04-08 17:15] JustinCappos opened #376 "Use Conferencing Software with Better Security Posture Than Zoom"
Description: It's embarrassing that we're using software like Zoom which has a large number of known security issues and just a poor track record overall.  There are a variety of other potential options, which I'd like explored.

Impact: This would help us to look more modern / on-top-of-it for a security group.

Scope: How much effort will this take? ok to provide a range of options if or "not ye

[2020-04-08 17:19] JustinCappos commented on #369
yes, done!

[2020-04-08 17:23] sclevine opened #377 "[Assessment] Cloud Native Buildpacks"
Project Name: Cloud Native Buildpacks

Github URL: https://github.com/buildpacks

Website: https://buildpacks.io

Self-assessment: https://docs.google.com/document/d/1jcggI-0uwMsmALiNwUfPDITK4KKbuUHX5SK5ZRp91oE/edit#

Security Provider: no

- [x] Identify team
   - [x] Project security lead @sclevine
   - [x] Lead Security Reviewer  @anvega
   - [x] 1 or more additional reviewer(s)
   - [x] Declar

[2020-04-09 12:10] lumjjb commented on #376
Agreed very much with this... this may be good to raise on the CNCF level as well, since it looks like the video conferencing software is provided by CNCF? and to do recording as well.

I think to add to the list of alternatives is webex since there will be a couple of folks that would have corporate accounts to host a meetings. Webex has a meeting record feature as well so we can use it to upload

[2020-04-09 12:12] lumjjb commented on #377
Hi @sclevine , Thanks for submitting the self-assesment. I don't seem to have permissions to view it.

[2020-04-09 15:21] RamXX commented on #376
To be fair, Zoom does seem to be addressing these issues as fast as they can, given the very public backlash. That said, I do believe an organization like the CNCF, which pride itself in promoting and supporting open source, should adopt and open-source-first policy in as many areas as possible, including conferencing. It's clear to me that solutions like [Jitsi Meet](https://jitsi.org/jitsi-meet/

[2020-04-09 15:22] caniszczyk commented on #376
The only policy we always have with tools is to give projects the choice of what to use is best for them, this providers for the most flexibility and is a strength of the organization.

[2020-04-09 15:58] sclevine commented on #377
Apologies @lumjjb, should be fixed now

[2020-04-09 23:20] mrbobbytables commented on #376
Zoom is addressing these concerns fairly quickly; however, it still has served  as a big eye-opener. For Kubernetes, we're at least going to survey the current field of options. I think it'd be good to keep this thread open for general discussion on the subject.

[2020-04-10 16:27] amye commented on #307
@JustinCappos: Can you elaborate on the Blocked?

[2020-04-10 16:43] JustinCappos commented on #307
My understanding is that we're waiting on the project and that given everything else happening, we do not expect them to be ready to resume soon.  @ultrasaurus please chime in if I'm off base.

[2020-04-14 01:29] michmike commented on #369
@anvega is the process that sig-security performs a TOC presentation for a security assessment? the other SIGs that did an assessment for Harbor's graduation bid just wrote their assessment in a doc and shared the findings. i am asking since we need to reserve the TOC slot in advance.
@caniszczyk for your thoughts as well.

[2020-04-16 20:09] anvega commented on #369
@michmike The assessment summary once committed and merged will be used as a reference. Looking back no presentations have been made to share the summary from SIG-Security to TOC.

[2020-04-16 20:20] michmike commented on #369
got it. thanks @anvega

[2020-04-24 18:26] michmike commented on #369
PR for the self-assessment is at https://github.com/cncf/sig-security/pull/378

[2020-04-28 18:49] lumjjb commented on #344
Fixed by https://github.com/cncf/sig-security/pull/370

[2020-04-28 18:49] #344 closed

[2020-04-28 18:49] #340 closed

[2020-04-30 00:26] manohar9999 commented on #314
@rficcaglia , @lumjjb I can help with this. Let me scope it out and get back to you with questions.

[2020-04-30 00:37] dshaw commented on #369
Security Assessment complete. We are now finalizing due diligence documentation.

[2020-04-30 03:12] dshaw commented on #369
Due diligence and SIG-Security's recommendation that Harbor graduate has been submitted to the TOC. https://github.com/cncf/toc/pull/311

[2020-04-30 03:16] dshaw commented on #369
I'm going to leave this open for SIG-Security Assessment feedback and commendation with the Tech Leads in two weeks. All expected actions from the Harbor team are complete.

[2020-04-30 18:30] amye opened #380 "[Assessment] Parsec for Sandbox"
Project Name: Parsec
Github URL: https://github.com/parallaxsecond/parsec
TOC Issue: https://github.com/cncf/toc/pull/442 (sandbox)

Security Provider: yes/no (e.g. Is the primary function of the project to support the security of an integrating system?)

- [ ] Identify team
   - [ ] Project security lead
   - [ ] Lead Security Reviewer
   - [ ] 1 or more additional reviewer(s) @anvega @rficcaglia

[2020-05-01 20:47] amye commented on #372
@lumjjb: added to blocked? More details here?

[2020-05-03 19:16] yeelinglam commented on #376
Google is rolling out Meet free to everyone - https://blog.google/products/meet/bringing-google-meet-to-more-people

[2020-05-04 00:54] ultrasaurus commented on #206
This still needs to happen -- all the projects have READMEs, looks like it is just a matter of linking them via a root README.  Anyone could submit the PR for that I think.

Maybe create a separate issue for the audits: and assign to @caniszczyk who was going to dig up that info

[2020-05-04 12:46] bdaw commented on #372
From the project side I believe all initial steps are covered and awaiting additional asks or feedback from SIG Security to move forward. If there is anything in addition required I would be interested to know.

[2020-05-04 13:21] lumjjb commented on #372
Hi @bdaw is there a toc issue link for keycloak that we can add to the reference? Thanks.

[2020-05-04 13:30] bdaw commented on #372
@lumjjb https://github.com/cncf/toc/issues/406

[2020-05-06 17:24] ficcaglia commented on #380
since Falco and Cloud C7n are on hold, I can take this one on.

[2020-05-06 17:28] ashutosh-narkar commented on #372
Hard conflicts:

Reviewer is a maintainer of the project - NO
Reviewer is a direct report of/to a maintainer of the project - NO
Reviewer is paid to work on the project - NO
Reviewer has significant financial interest directly tied to success of the project - NO

Soft conflicts:

Reviewer belongs to the same company/organization of the project, but does not work on the project - NO
Reviewer uses t

[2020-05-06 17:44] Krishan-Sharma commented on #372
Hello,

I am new to the security research area and do have some experience with security testing. I would like to participate as a security reviewer on this project. Since I don't have prior experience of doing a formal security review for CNCF projects, I am okay to participate through shadowing as well. Below is the conflicts declaration for me:

Hard conflicts:

Reviewer is a maintainer of the

[2020-05-06 19:19] JustinCappos commented on #372
Okay, added @Krishan-Sharma and @ashutosh-narkar to the list.

Looking for a lead and 2-3 more reviewers!

[2020-05-07 18:29] lumjjb commented on #380
Hi @paulhowardarm, sounds like a great project. Would you and other members of the community be able to do a presentation on this at one of the sig calls? Thanks!

[2020-05-08 05:31] harche commented on #372
I would like to participate as a reviewer. Here's my conflict declaration:

Hard conflicts:

Reviewer is a maintainer of the project - NO
Reviewer is a direct report of/to a maintainer of the project - NO
Reviewer is paid to work on the project - NO
Reviewer has significant financial interest directly tied to success of the project - NO

Soft conflicts:

Reviewer belongs to the same company/organi

[2020-05-08 13:58] paulhowardarm commented on #380
Hi @lumjjb - sure, happy to present the project at the Wednesday SIG call whenever your schedule permits. I have presentation materials on standby and I'm good to go any time.

[2020-05-12 14:27] lumjjb commented on #380
Awesome!  - @paulhowardarm how about 20 May? I've put it in the schedule for now. Looking forward to it!

[2020-05-12 14:40] paulhowardarm commented on #380
@lumjjb 20th May should be good. I'll put it in my calendar.

[2020-05-12 14:53] lumjjb commented on #380
Awesome - thanks!

[2020-05-12 17:27] yeelinglam commented on #376
https://meet.google.com/ is now free for everyone!

[2020-05-12 17:53] pchychi-blox commented on #372
I would like to participate as a reviewer. Here's my conflict declaration:

Hard conflicts:

Reviewer is a maintainer of the project - NO
Reviewer is a direct report of/to a maintainer of the project - NO
Reviewer is paid to work on the project - NO
Reviewer has significant financial interest directly tied to success of the project - NO

Soft conflicts:

Reviewer belongs to the same company/organi

[2020-05-12 17:58] unclepieman commented on #372
I would like to participate as a reviewer. Here's my conflict declaration:

Hard conflicts:

Reviewer is a maintainer of the project - NO
Reviewer is a direct report of/to a maintainer of the project - NO
Reviewer is paid to work on the project - NO
Reviewer has significant financial interest directly tied to success of the project - NO

Soft conflicts:

Reviewer belongs to the same company/organi

[2020-05-12 18:15] JustinCappos commented on #372
Okay, it looks like we're mostly missing the lead reviewer.  Any volunteers?  @ashutosh-narkar , do you qualify and if so do you have time?

[2020-05-12 22:14] ashutosh-narkar commented on #372
@JustinCappos I haven't yet been a lead on any other assessment so it would be helpful to be a reviewer on this assessment before leading one. Hope that's fine.

[2020-05-13 01:21] JustinCappos commented on #372
Okay, I'll ask for volunteers tomorrow and we can see.

[2020-05-13 16:52] lumjjb commented on #348
Here is a mockup that we've worked on, I'd like to be able to put this in an interactive web format.

https://drive.google.com/file/d/1sIBxUT1ohmQCzR_ms4OpJ_GAh96IEjZX/view?usp=sharing

If anyone has some expertise doing web work, would be great to get additional eyes on this!

[2020-05-13 17:23] yeelinglam commented on #348
@lumjjb - I could give this a try, please provide a bit more around how "interactive" you would like.  Also, do you want it to be hosted on Github or is there a target web hosting place?

[2020-05-13 17:49] JustinCappos commented on #308
@ultrasaurus @dshaw @pragashj Can we get the chair signoff so we can move this to completed?

I think this means that @TheFoxAtWork @lumjjb and me need to submit our conflict forms as well...

[2020-05-13 17:50] JustinCappos commented on #308
Hard conflicts:

Reviewer is a maintainer of the project - NO
Reviewer is a direct report of/to a maintainer of the project - NO
Reviewer is paid to work on the project - NO
Reviewer has significant financial interest directly tied to success of the project - NO

Soft conflicts:

Reviewer belongs to the same company/organization of the project, but does not work on the project - NO
Reviewer uses t

[2020-05-13 17:52] lumjjb commented on #314
Hi @manohar9999 ! Yes! That would be awesome. Would be excited to hear what you have in mind!

[2020-05-13 20:28] lumjjb commented on #348
Awesome - I think we can work with the assumption that we can have other hosting. We can ask for some resources from the CNCF in that regard.

I found this example that I really liked as part of gojs library (although I think we can't use it because its a commercial library). https://gojs.net/latest/intro/events.html (look at the first example of the page, where each word is clickable).

Having th

[2020-05-14 04:15] anvega commented on #308
@JustinCappos Its been some time since the assessment was merged. I heard mention of this during today's SIG-Security call. Is there anything needed to close this issue and mark it done?

[2020-05-14 12:46] JustinCappos commented on #308
I think we're just waiting on the administrative items below from the SIG-Security side.  Let's give people a day or two, but it should be closed this week.

[2020-05-14 13:36] yeelinglam commented on #348
@lumjjb - sure, most evenings are open for me, please send meeting invite to yeeling.lam@gmail.com - we could give Google Meet a try if you like ;)

[2020-05-14 13:51] lumjjb commented on #348
Great! I'll send you an invite.

[2020-05-18 16:53] lumjjb commented on #347
This presentation is completed. Closing the issue

[2020-05-18 16:53] #347 closed

[2020-05-18 17:31] JustinCappos commented on #372
Since the chairs are pre-occupied, I'll sign off on the conflict of interest.

[2020-05-18 18:39] JustinCappos commented on #308
Okay, given the chairs are preoccupied.  I'm signing off on the COI.

[2020-05-18 18:39] #308 closed

[2020-05-18 18:41] JustinCappos commented on #369
Looks like that time has passed!  I'll close this issue and mark this as done.

[2020-05-18 18:41] #369 closed

[2020-05-19 13:53] lumjjb commented on #312
Close from inactivity

[2020-05-19 13:54] lumjjb commented on #297
I am closing this due to inactivity, but also, that i think this discussion can be moved to https://github.com/cncf/sig-security/issues/348

[2020-05-19 13:54] #297 closed

[2020-05-19 13:59] lumjjb commented on #366
Presentation is completed - @nynymike can you post a link to the slides here? Tks

[2020-05-19 13:59] lumjjb commented on #360
Hi @knowlengr, let's put the link in and close out the issue! :)

[2020-05-19 14:03] lumjjb commented on #292
Hi @tek911 are you still pursuing this? Looks like the work is done for the most part.

[2020-05-19 14:04] lumjjb commented on #265
This doesn't seem to be quite the issue now with the "no-updates" and "new" indicators, i will close this and please re-open if you'd like to continue the discussion.

[2020-05-19 14:04] #265 closed

[2020-05-19 14:31] nynymike commented on #366
[Mike's Proposal to move oxAuth (Janssen) to CNCF](https://gluu.co/cncf-proposal)

[2020-05-19 15:06] lumjjb commented on #366
Great thanks!

[2020-05-19 15:06] #366 closed

[2020-05-19 20:06] lumjjb commented on #75
@dshaw shall we close this? and re-open if the conversation comes up again.

[2020-05-20 17:15] knowlengr commented on #376
While there are probably some workarounds, our default enterprise DLP rules block access to Google Hangouts.

We are OK with Zoom, Blue Jeans, Join Me, Skype, GoToMeeting, Webex, or Teams

[2020-05-20 17:18] yeelinglam commented on #348
Prototype reviewed on 5/20 meeting - https://drive.google.com/file/d/1qfywatjgPqgXqZTDyEAr6vFUBYLQ3MCG/view?usp=sharing

[2020-05-20 17:26] jonathana commented on #376
Many organizations that use Google Apps internally block access to use that service on an outside domain

[2020-05-26 19:52] raravena80 opened #386 "[Assessment] Quay Incubation Assessment"
Project Name:

Quay

Github URL:

TOC PR: https://github.com/cncf/toc/pull/386
SIG-Runtime Issue: https://github.com/cncf/sig-runtime/issues/16

Project proposal stage and issue (NA if not applicable):

Incubation.

The project has already presented to SIG-Runtime, but we need to do a security assessment just like we did with Harbor to see if there are any areas of concern. Update the findings at

[2020-05-27 17:11] rhinkel opened #387 "Please add Reed Hinkel as a member"
Please Add Reed Hinkel as a member

Reed Hinkel
Arm Limited
reed.hinkel@arm.com

[2020-05-27 17:58] lumjjb commented on #380
Presentation link: https://drive.google.com/file/d/1GymBrSWWd8B6roayB80L5Gk41X-fDy-e/view

[2020-05-27 18:18] lumjjb commented on #387
Hi @rhinkel feel free to just create a PR to add your name to `/README.md` under https://github.com/cncf/sig-security#sig-members, and we will approve and merge it

[2020-06-01 14:11] harche commented on #372
I'm not able to spend enough time on this due to some work related commitments. So for now, I'll like to withdraw my name from list of reviewers for this assessment.

[2020-06-01 14:26] TheFoxAtWork commented on #348
@lumjjb regarding #297 :  is the expectation that the landscape can indicate which projects have multi-factor authentication?  We could also add it as a item in the final assessment report where we go over over recommendations?

[2020-06-01 14:29] TheFoxAtWork commented on #311
@IAXES wanted to check in on this.
@lumjjb @ultrasaurus did we finalize the completion requirements for this? it looks it was just research which may have been completed?

[2020-06-01 14:33] TheFoxAtWork commented on #343
Can we re-scope this to just including the link in assessments>projects>project per @rficcaglia 's comment?  we could add it under Step 5 of the [Assessments guide](https://github.com/cncf/sig-security/tree/master/assessments/guide), simple enough to get started.  that would close out this issue.  If we need to we can address standard formatting as a separate issue.

[2020-06-01 14:41] TheFoxAtWork commented on #206
Planning on updating this ticket to rescope based on discussion:

- [ ] Create general README in [assessments/projects](https://github.com/cncf/sig-security/tree/master/assessments/projects)
- [ ] in [assessments/guide](https://github.com/cncf/sig-security/tree/master/assessments/guide) update Step 5, task 3 "Project lead prepares a PR to /assessments/project-docs/project-name/" to include a READM

[2020-06-01 14:41] JustinCappos commented on #372
@ashutosh-narkar Do you feel like you have enough people looking at this?  Should we try to recruit someone else to help out?

[2020-06-01 17:51] ashutosh-narkar commented on #372
@JustinCappos it would be helpful to have one more reviewer.

[2020-06-01 19:39] JustinCappos commented on #372
I'll work on this.

[2020-06-01 19:49] pchychi-blox commented on #372
My apologies as I too am unable to dedicate enough time on this security review due to pressing urgent work on my plate currently, and will need to withdraw my name to avoid holding back the team's assessment.

[2020-06-01 19:50] unclepieman commented on #372
My apologies as I too am unable to dedicate enough time on this security review due to pressing urgent work on my plate currently, and will need to withdraw my name to avoid holding back the team's assessment.

[2020-06-01 21:28] JustinCappos commented on #372
@TheFoxAtWork , you'd mentioned you would be willing to participate.  If so, would you kindly list your conflict statement?

[2020-06-02 02:36] Eriner commented on #372
This would be my first assessment.

Hard conflicts:

Reviewer is a maintainer of the project - NO
Reviewer is a direct report of/to a maintainer of the project - NO
Reviewer is paid to work on the project - NO
Reviewer has significant financial interest directly tied to success of the project - NO

Soft conflicts:

Reviewer belongs to the same company/organization of the project, but does not work

[2020-06-02 03:30] JustinCappos commented on #372
Great, I've added you.

[2020-06-03 14:11] lumjjb commented on #386
@josephschorr Would be glad to start the ball rolling on this process. The first part of our process is the project to fill up a short security self-assessment (https://github.com/cncf/sig-security/blob/master/assessments/guide/outline.md) and we can work from there! Please reach out if you have any questions.

[2020-06-03 15:06] TheFoxAtWork commented on #372
Happy to help

Hard conflicts:

Reviewer is a maintainer of the project - NO
Reviewer is a direct report of/to a maintainer of the project - NO
Reviewer is paid to work on the project - NO
Reviewer has significant financial interest directly tied to success of the project - NO

Soft conflicts:

Reviewer belongs to the same company/organization of the project, but does not work on the project - NO

[2020-06-03 15:41] JustinCappos commented on #372
@dshaw @ultrasaurus @pragashj , will you kindly sign off of on the reviewer conflict statements?  (It should be very straightforward.)

[2020-06-03 17:17] whaber commented on #314
Interesting idea.  It will be fascinating to see how accurate it is, and if the accuracy is high enough for this to replace a human scribe (or would the scribe role go from being a writer of everything to having the role be to edit/correct system decides what was said).

[2020-06-03 17:19] yeelinglam commented on #314
@manohar9999 - this would influence #350 which I plan to work on. Could you please keep me in the loop on what you scoped out so far?

[2020-06-03 18:07] timfong888 opened #391 "[Proposal] DoD Kubernetes/Container Security Proposal"
**Description:**
To have a comprehensive and exhaustive list of “controls” for the Department of Defense (DoD) to secure Kubernetes end-to-end programmatically (meaning it can be inspected and verified with code; and ideally fixed/patched/configured with code)

**Impact:**
The US Air Force, in conjunction with the Linux Foundation and other parties, is developing a series of guidelines to secure t

[2020-06-03 18:11] lumjjb commented on #314
having text + the person who said it should be sufficient. The idea is that the general crux of the content be in a written form.

Facilitators + other attendees will still be able to add links to the agenda in the meeting notes, but not as verbose as we have today. (mainly links, action items, future discussions)

[2020-06-03 19:04] chasemp commented on #314
I was recently involved in a podcast that used https://otter.ai/login to generate transcripts and it worked surprisingly well.  It did have a bit of an issue with some words that in hindsight were not enunciated very clearly, but overall it would be very functional for a complete record across calls.  That may leave only a human denoting "action items" which would be much lighter I expect.

[2020-06-04 02:15] timfong888 commented on #314
It is possible short term and for previous Zooms to export the WebVTT file. If speakers authenticated, the speaker names show up with a running time stamp.  Linking to the export from the agenda and linking from YouTubeto the angenda doc with anchor should cover it.

[2020-06-04 05:53] JustinCappos commented on #256
Based upon the meeting today, I'd like to close this as will not fix.  Please re-open if anyone objects.

[2020-06-04 05:53] #256 closed

[2020-06-04 16:18] simar7 commented on #391
Thanks for putting this up @timfong888. Is adding new items to this checklist possible from an external contributor? If so I'd like to add an item for scanning container images for vulnerabilities before deployment.

[2020-06-05 00:30] timfong888 commented on #391
@simar7 yes the goal is to add to the list!  We will represent those are part of the Linux Foundation.  What is a preferred form factor, Google sheets?

[2020-06-05 17:02] BillDett commented on #386
Thanks- we're working on a first pass at the self assessment now and we will reach out if we have questions!

[2020-06-05 19:16] timfong888 commented on #391
I have now added the Google sheet.  I did make it require a request for access to edit in the short term, if it is too cumbersome, will make it wide open.

https://docs.google.com/spreadsheets/d/1WwV11OlPOd6Q2FVa8Y66x3f_X9WxMN3sjFR7eQMdrjg/edit#gid=697766176

[2020-06-05 23:57] anvega commented on #380
I've been looking at PARSEC in relation to its identity model. I'd be happy to participate as a reviewer.

Hard conflicts:

Reviewer is a maintainer of the project - NO
Reviewer is a direct report of/to a maintainer of the project - NO
Reviewer is paid to work on the project - NO
Reviewer has significant financial interest directly tied to success of the project - NO

Soft conflicts:

Reviewer bel

[2020-06-06 05:14] JustinCappos commented on #380
@rficcaglia , would you list your conflict statement please?

[2020-06-09 23:24] rficcaglia commented on #307
@kapilt I think you were going to refresh things soon?

[2020-06-09 23:25] rficcaglia commented on #380
@JustinCappos

Hard conflicts:

Reviewer is a maintainer of the project - NO
Reviewer is a direct report of/to a maintainer of the project - NO
Reviewer is paid to work on the project - NO
Reviewer has significant financial interest directly tied to success of the project - NO

Soft conflicts:

Reviewer belongs to the same company/organization of the project, but does not work on the project - NO

[2020-06-09 23:34] rficcaglia commented on #380
[slack channel created](https://cloud-native.slack.com/archives/C0154QH5Z43)

[2020-06-10 18:06] Eriner opened #394 "[Suggestion] Perform hands-on security testing during security assessments"
### Description
I suggest that hands-on *light* "pentesting" be performed during SIG-Security assessments. As an outsider who joined SIG-Security, this is what I had assumed was happening during a SIG-Security Assessment.

Discussed in SIG-Security call on June 10, 2020.

### Impact
This will allow the assessment team to better understand the security posture of the project, identify areas of inte

[2020-06-10 18:14] vinayvenkat opened #395 "[Proposal] Clearly establish the goals and non-goals of the Security Assessments"
Description: The objectives, goals and non-goals of security assessments of graduating projects have not clearly documented. The intent of this proposal is to clearly document and articulate these objectives as well as establish who the stakeholders of these assessments are.

Impact:
The impact of this proposal are:

- help to educate new members as to the objectives, goals and non-goals of the se

[2020-06-10 20:42] yeelinglam opened #398 "[Suggestion] Simplify the Roles page"
**Description**: provide an at-a-glance on all the roles currently available

**Impact**: clarify the list of roles, especially for prospect members

**Scope**: not yet determine and require discussions with the group

Additional Considerations:
- Add "Active Member" requirement section
- Tie it to current list of people serving in each role as a potential for shadowing for anyone who may want to

[2020-06-12 14:30] chasemp commented on #376
An additional troubling piece of this puzzle appears in an [article](https://www.bloomberg.com/news/articles/2020-06-02/zoom-transforms-hype-into-huge-jump-in-sales-customers) by bloomberg.

Quoted, and possibly behind a paywall:

[code]

The smell here is privacy and security for those who can afford it, and as for the rest _let them eat cake._  I've seen this trend in various places and it's con

[2020-06-12 15:07] TheFoxAtWork opened #399 "[Suggestion] assessment intake process update"
Description: Update assessment/intake-process to account for pro-active projects looking to receive assessments from SIG-Security that are not TOC directed.

Impact: Provide clear expectations in order to assist in assessment queue management and project engagement

Scope: Minimal, discussed previously with co-chairs and tech leads. Just need to update the docs with what we've been doing.

[2020-06-12 15:57] JustinCappos commented on #273
Inactive.  Closing and removing from queue

[2020-06-12 15:57] #273 closed

[2020-06-13 01:24] chasemp commented on #305
Whatever happens with this as far as remote, a freeform idea may be as simple as sig-security 'office hours'.  Come talk to us, ask questions, get IANAL advice or pointers, etc.  Maybe some brief talking points up front and the possibility of breakouts for topics that emerge as strongly shared issues reveal themselves.

[2020-06-15 13:22] kapilt commented on #307
@rficcaglia we're currently working on some issues with our azure serverless policies, violating the  cis benchmark for azure. I'm planning on getting back to the assessment after that.

[2020-06-15 13:32] TheFoxAtWork commented on #305
@chasemp   the schedule shouldn't change to much but this event is now virtual.  I'll be on hand to answer and questions on the platform.  I'll be pushing the slack channel as well.

[2020-06-15 22:21] cseader commented on #391
I requested access to the spreadsheet. Please allow access.

[2020-06-16 19:27] mattfarina commented on #372
For reference, Keycloak was covered in Oct 2018 in a TOC meeting. The video is [here](https://www.youtube.com/watch?v=c3t-Wrmfx3I&list=PLj6h78yzYM2Mf6GCZzW6CAk6GlZESbemB&index=37) and the slides are [here](https://docs.google.com/presentation/d/1Xt1xNSN8_pGuDLl5H8xEYToFss7VoIm7GBG0e_HrsLc/edit).

[2020-06-19 00:09] jonathanwalker commented on #394
I am currently a practicing security engineer and willing to contribute to the SIG-Security assessment by performing hands-on security reviews. Happy to dedicate my time and effort to this initiative!

[2020-06-24 13:55] TheFoxAtWork commented on #367
@lumjjb is this covered by our last TL discussion?

[2020-06-24 13:57] TheFoxAtWork commented on #360
@knowlengr reminder to post the link to the presentation so this issue may be closed.

[2020-06-24 17:07] chasemp commented on #391
It seems appropriate to add a default LICENSE file to the repo at https://repo1.dsop.io/dsawg-devsecops/kubernetes-srg/k8-srg-artifacts ?  It would be much better to do this early than to try to revisit down the road as questions of distribution, updating, and reuse come up.

I suggest:

- https://creativecommons.org/licenses/by/4.0/
- https://creativecommons.org/licenses/by/3.0/

[2020-06-24 17:10] chasemp commented on #376
Zoom seems to have changed their position I note above this in regards to [end-to-end encryption](https://blog.zoom.us/wordpress/2020/06/17/end-to-end-encryption-update/)

[2020-06-24 17:25] schosterbarak opened #403 "[Presentation] Checkov"
Title: What is the title of your presentation?

Checkov

Speakers: Who will be presenting this? List names/github IDs of presenters.
Schoster Barak @schosterbarak
Guy Eisenkot @guyeisenkot

Description: Describe in a short paragraph what the presentation is about.

Checkov is a static analysis tool for infrastructure as code. It works across several IaC frameworks such as Terraform, Cloudformation

[2020-06-24 17:34] rficcaglia commented on #380
@JustinCappos can we assign Lead Security Reviewer to @anvega ?

[2020-06-24 20:18] amye commented on #380
Closing as Parsec is included as a part of Sandbox - but happy to see a new issue for incubation rise!

[2020-06-24 20:18] #380 closed

[2020-06-24 20:21] amye commented on #307
This should be closed as Cloud Custodian is included in Sandbox out of the 6/23 TOC meeting.

[2020-06-26 13:41] JustinCappos commented on #307
Are we indicating then that we're not doing assessments for sandbox projects (not necessarily as a prerequisite, but afterwards)?

[2020-06-26 19:48] timfong888 commented on #391
https://lists.cncf.io/g/cncf-sig-security/message/26

[2020-06-26 19:48] #391 closed

[2020-06-26 20:31] chasemp commented on #391
Thanks @timfong888

[2020-06-26 22:10] amye commented on #307
These are no longer required for entry into the sandbox, but incubation reviews are still on deck. I am suggesting to close this to focus on the incubation reviews.

[2020-06-26 22:13] JustinCappos commented on #307
okay, I think this makes sense regardless.  It has been long enough that we would need to reconstitute the team.  I, for one, had forgotten I had even volunteered.

[2020-06-26 22:14] rficcaglia commented on #307
I presume the time to create the incubation assessment/review is when the
GHI for incubation is created, yes?

On Fri, Jun 26, 2020 at 3:10 PM Amye Scavarda Perrin <
notifications@github.com> wrote:

[2020-06-26 22:15] JustinCappos commented on #302
This has been inactive long enough that I'm closing.  Please open a new issue when your team wants an assessment, @allencloud

[2020-06-26 22:15] #302 closed

[2020-06-30 14:31] lumjjb commented on #403
Hi @schosterbarak , i'll pen you in for July 8th. Sounds good?

[2020-06-30 14:47] schosterbarak commented on #403
@lumjjb That would be amazing!
Any additional prep required before presenting (outside of making the ppt)?

[2020-06-30 16:18] lumjjb commented on #403
nope, all good, looking forward to your presentation!

[2020-06-30 20:08] JustinCappos commented on #307
We should have this done well ahead of their incubation assessment.  We may need to shift our review team, but I think we can do this to cover this project.

I'd encourage @kapilt and others to let us know as soon as they are ready to work on this.  Right now, we have capacity to get this moving forward.

[2020-06-30 20:19] amye commented on #307
They're in sandbox, not incubating.

[2020-07-01 17:16] kapilt commented on #307
we've got capacity/bandwidth to drive to finish on this. we'd like to aim for incubating as its more reflective of the project's usage and maturity. can this issue be re-opened @JustinCappos ?

[2020-07-01 17:32] JustinCappos commented on #307
We will need to get participants set up again.  I'm going to remove everyone from the list, but I do hope that many of: @rficcaglia , @JustinCappos , @ashutosh-narkar , @steven-hadfield , @ericavonb, @ultrasaurus, @cseader can participate again.

Please weigh in here if you can work on this assessment.

[2020-07-01 17:34] JustinCappos commented on #307
I would be happy to participate as an additional reviewer.

My conflict statement (no conflicts) is the same as above.

[2020-07-01 17:54] rficcaglia commented on #307
yes - still able to participate as reviewer (or lead if desired) - no
change to the conflict statement (still no conflicts as above)

On Wed, Jul 1, 2020 at 10:32 AM Justin Cappos <notifications@github.com>
wrote:

[2020-07-01 19:12] Krishan-Sharma commented on #394
I'll echo what @Eriner mentioned about the assumption around performing pentesting during SIG-Security assessment. I was also hoping for the same and think that this is the right direction to go. As a newbie to this sector, I would also like to see a clear direction on how a beginner can do this kind of pen testing exercise on a product submitted for security assessment.

[2020-07-01 19:26] JustinCappos commented on #307
Okay, I'll list you as lead above (for at least the time being).  I think you'd do well in the role.

[2020-07-08 15:13] rficcaglia commented on #307
@kapilt can we pick a (re)kick-off date as a forcing function, maybe 7/22 or 7/29?

[2020-07-08 20:35] lumjjb commented on #403
@schosterbarak thanks for the presentation - can you put a link to the slides here as well? Thanks!

[2020-07-09 17:32] anvega commented on #377
Since it was decided for the Parsec assessment to be done at a later time, I'm happy to take the lead on this one.

Hard conflicts:

Reviewer is a maintainer of the project - NO
Reviewer is a direct report of/to a maintainer of the project - NO
Reviewer is paid to work on the project - NO
Reviewer has significant financial interest directly tied to success of the project - NO

Soft conflicts:

Rev

[2020-07-09 18:32] JustinCappos commented on #377
Okay, great.  We need a lead from their side to step forward.

We will also need other reviewers as well to get this going.

[2020-07-09 18:33] #350 closed

[2020-07-15 14:37] vinayvenkat opened #405 "[Proposal] Security Reference Architecture for Cloud Native Applications and CI/CD pipeline"
Description: Security Reference Architecture for Cloud Native Applications and CI/CD pipelines

Impact: Operators are being overloaded with a number of technologies pertaining to the cloud native eco-system. As a a result they find it difficult to operationalize different tools and capabilities. The purpose of this document is to make available a reference architecture that they can adopt in order

[2020-07-15 14:38] vinayvenkat commented on #405
@TheFoxAtWork Can you please assign this to me. Thanks!

[2020-07-22 16:44] TheFoxAtWork commented on #138
related #405

[2020-07-22 17:05] whaber commented on #138
I would like to participate.  Please include me in future discussions on it.

[2020-07-22 17:06] vinayvenkat commented on #138
+1 @vinayvenkat

[2020-07-22 17:13] PushkarJ commented on #138
+1 please include me

[2020-07-22 17:28] fkautz commented on #124
Would it make sense to add other service meshes? Neither of the CNCF governed meshes (linkerd, Kuma) are listed but Istio is.

[2020-07-22 17:28] tabbysable commented on #138
+1

[2020-07-22 17:29] trishankatdatadog commented on #138
+1

[2020-07-22 18:03] dshaw commented on #138
@vinayvenkat @whaber @PushkarJ @tabbysable @trishankatdatadog I have added you all to the new working group Slack channel.

For any other members of SIG-Security who may want to join us, add yourself here then please also ping me on Slack.

[2020-07-22 18:52] chasemp commented on #138
Please add me at your convenience to the slack channel.  Thanks @dshaw.

[2020-07-22 19:01] TheFoxAtWork opened #407 "[Proposal] Updates to Supply Chain definitions"
Description: Need to add attack chaining to Supply chain and update negligence definition to include "ack of adherence to best practices"
Impact: many supply chain attacks are a perfect storm of events that allow attacks to occur, they encompass multiple exploits across several areas.

To Do: create new listing in [definitions](https://github.com/cncf/sig-security/blob/master/supply-chain-security

[2020-07-22 20:21] gadinaor commented on #138
@dshaw - can you add me to the slack channel please

[2020-07-22 21:53] knowlengr commented on #407
It's arguable, but a pretty thorough coverage of supply chain dependency appears in [NIST 8179,](https://nvlpubs.nist.gov/nistpubs/ir/2018/NIST.IR.8179.pdf) and that can be connected to the [NIST Risk Management framework](https://www.nist.gov/cyberframework/risk-management-framework). If there is a separate cloud native angle here, we may need to call it out.  The dependency model concern, though

[2020-07-23 07:28] sublimino commented on #138
@dshaw me too please :pray:

[2020-07-23 12:38] TheFoxAtWork commented on #138
@gadinaor - i don't see you in the members listing or in the existing slack to add you

[2020-07-23 12:59] gadinaor commented on #138
@TheFoxAtWork true // I'm part of it now

[2020-07-29 14:41] IAXES commented on #138
May I please be added as well? Thank you @dshaw

[2020-07-29 15:56] vinayvenkat opened #409 "Adding me as a member of the group"
Can you please add @vinayvenkat as a member of the group?
Thanks!

[2020-07-29 17:37] kapilt commented on #138
I'm also interested re slack and discussion on this topic, thanks @dshaw

[2020-07-29 17:52] dshaw commented on #409
@vinayvenkat Please create a PR. See the instructions here: https://github.com/cncf/sig-security#new-members

[2020-07-29 19:49] vinayvenkat commented on #409
Will do.  Thanks

[2020-07-29 19:49] #409 closed

[2020-07-30 21:03] amye commented on #372
@JustinCappos: checking in on the status of this review? Thanks!

[2020-07-30 21:05] JustinCappos commented on #372
It's getting close.  @ashutosh-narkar do you want to give a more detailed update?

[2020-07-30 23:20] ashutosh-narkar commented on #372
We have been working closely with the Keycloak team on their [self-assessment doc](https://docs.google.com/document/d/14IIGliP3BWjdS-0wfOk3l_1AU8kyoSiLUzpPImsz4R0/edit?usp=sharing). We have gone through multiple rounds of questions/clarifications over the document and the Keycloak team has been very prompt in addressing the review team's comments. The review team submitted a list of consolidated r

[2020-08-03 04:07] ultrasaurus commented on #359
From meeting notes, looks like this presentation was given [2020-03-18](https://docs.google.com/document/d/170y5biX9k95hYRwprITprG6Mc9xD5glVn-4mB2Jmi2g/edit#heading=h.jfxm33flneo)

if that's true, it would be great to link slides / video

[2020-08-03 18:03] rficcaglia commented on #307
update: completed (re)kick-off call.

topics covered:

- self assessment google doc seems to map to the outline of other assessments (e.g. SPIFFE/SPIRE)
- AWS, Azure, GCP supported today....Kubernetes minimally supported with Admission Controller planned/envisioned
- Justin recommends finding additional volunteers to assist

action items:

- @rficcaglia to post to slack, email and attend Wed sig c

[2020-08-04 08:20] lukehinds opened #411 "Keylime Project"
Title: Keylime CNCF Project Proposal

Speakers:

Luke Hinds @lukehinds
Charles Munson @jetwhiz

Description: The presentation will be made as part of Keylimes proposal to join the CNCF as a project. The pull request is available here https://github.com/cncf/toc/pull/496

Time: 20 minutes

Availability:

Available at all times, although Luke Hinds will be on PTO from the 10th to the 24th of August.

[2020-08-04 13:40] lumjjb commented on #411
Hi @lukehinds and @jetwhiz, this is a bit short notice, but would August 5th (tomorrow be okay for you - the usual sig-security meeting time).

[2020-08-04 14:40] lukehinds commented on #411
@lumjjb I am ok with this, let me email charlie to see if he is free!

[2020-08-04 15:11] amye commented on #411
Note: Keylime is being proposed as a sandbox project, so SIG review is not required here: https://github.com/cncf/toc/pull/496

[2020-08-04 21:09] BillDett commented on #386
Hello- sorry, this fell onto a back burner over the last month- we are continuing to work on it in the background!

[2020-08-04 21:35] lumjjb commented on #411
@lukehinds any word from Charlie? If not let's try for when you're back from PTO (and after kubecon week), so we leave enough time to get the word out on the presentation.

[2020-08-05 12:46] lukehinds commented on #411
Hey Brandon, seems I don't need to present to the sig now. It goes direct to the TOC who make the decision.

[2020-08-05 13:12] lumjjb commented on #411
Sounds good - I think it would still be an interesting topic to share, but not so much of a time constraint i guess :). Just a heads up, for whenever incubation comes around, the sig approval process is based on: https://github.com/cncf/sig-security/tree/master/assessments

[2020-08-07 17:27] TheFoxAtWork commented on #138
@kapilt i DM'd u in slack, need ur email to get u access, updates are in the channel

[2020-08-11 15:02] lumjjb commented on #403
Presentation done on July 8th

[2020-08-11 15:02] #403 closed

[2020-08-11 15:02] #387 closed

[2020-08-12 12:54] lumjjb commented on #314
we now have access to zoom transcripts which does a pretty good job of transcription, we need a way to make it accessible.. any thoughts? I'm not sure if putting it directly into the repo may be good since it will inflate the size of the repo. Does anyone have suggestions?

[2020-08-12 14:15] lumjjb commented on #407
@TheFoxAtWork does #408 resolve the issue that you mentioned? There is a mention about not following best practice/procedure (around where it used to just be typosquatting)

[2020-08-12 14:18] lumjjb commented on #394
Are there any pentesting equivalents of CI badges that we can use for projects? Ideally we'd want our assessments to be able to validate that a project has attained a level of security testing - whether it is through this process, or if they've gone through another set of audits that we would recognize.

[2020-08-12 14:38] TheFoxAtWork commented on #407
@lumjjb yep this can be closed.

[2020-08-12 14:38] #407 closed

[2020-08-17 18:22] kapilt commented on #308
The self-assessment doc here isn't accessible anymore

[2020-08-17 18:27] lumjjb commented on #308
The assessment doc is now part of the repo as an `.md` file: https://github.com/cncf/sig-security/blob/master/assessments/projects/spiffe-spire/self-assessment.md

[2020-08-24 15:16] rowan-baker commented on #138
May I please be added to the slack channel, I am looking to help @sublimino with his contribution. Also raising a PR to join as a member shortly. Thanks @dshaw  / @TheFoxAtWork

[2020-08-24 15:17] TheFoxAtWork commented on #138
Updated with new schedule to allow more time for content generation

[2020-08-26 17:17] #209 closed

[2020-08-26 17:29] TheFoxAtWork commented on #305
Retrospective is a thread in #sig-security-events channel of CNCF Slack.  Team members please comment in the thread!

[2020-08-26 17:41] lumjjb opened #413 "[Presentation] Operational Threat Intelligence Sharing and Standards"
Title: What is the title of your presentation?

Operational Threat Intelligence Sharing and Standards

Speakers: Who will be presenting this? List names/github IDs of presenters.
@knowlengr

Description: Describe in a short paragraph what the presentation is about.

Operational Threat Intelligence Sharing and Standards

Time: How long will the presentation take? (estimate)

Availability: What is t

[2020-09-02 17:56] TheFoxAtWork commented on #138
Team is moving forward!  extended the collaborative review by a week to accommodate busy schedules

[2020-09-03 16:23] pragashj commented on #312
@JustinCappos now that you are in the chine timezone, can you workout a proposal for this -- one person that could be of help here is @hannibalhuang

[2020-09-03 16:25] TheFoxAtWork opened #414 "update roadmap"
Description: We need to update the roadmap.  Its not been updated in a long time and we have lots of things in flight.
https://github.com/cncf/sig-security/blob/master/roadmap.md

TO DO
- [x] SIG Sponsor/Project Lead: @TheFoxAtWork
- [x] Team: @ultrasaurus @pragashj
- [X] update [history](https://github.com/cncf/sig-security/blob/master/roadmap.md) of what happened since May 2019 @ultrasaurus @lum

[2020-09-03 16:27] TheFoxAtWork commented on #138
merge https://docs.google.com/document/d/11gyDDsKtMchMlj9ZKDl5LSHNxgu04tq1dTSD1BnTG9o/edit#heading=h.v65lmin9x1eb Issue #20 into the white paper

[2020-09-03 19:03] chubirka opened #415 "[Suggestion] Establish Criteria and Boundaries for Security Assessment"
**Description:** Provide clearer criteria and boundaries for Security Assessment process or rename it.

**Impact:** The current Security Assessment process is unclear, therefore the artifacts are inconsistent. Additionally, having the project owner/lead deliver an assessment is not considered a "best practice."

**Scope:** Either create a clearer SOP for the assessment process or convert into a Se

[2020-09-03 19:41] lumjjb commented on #415
Hi @chubirka , it would help if you can provide some examples of this in context of https://github.com/cncf/sig-security/tree/master/assessments/guide

Are you referring to the self-assessment? This document is used as an initial form to fill out more information about the project. Kind of similar to how an application owner would submit a security questionnaire for internal review. Security revie

[2020-09-04 03:31] JustinCappos commented on #312
From what I understand, this is mostly just setting up a meeting structure that mirrors the other SIG Security meeting, but which is at a more convenient time for participants in Asia.  I'm not sure what you mean about working out a proposal.

I don't really know how to get the word out to the right folks.  Thoughts on this?

[2020-09-04 12:59] TheFoxAtWork commented on #415
I want to bring this into a working meeting with Issue #254 and #394

[2020-09-04 14:49] chubirka commented on #415
I'm referring to the security assessment. While that template has a section to disclose conflicts, one would typically not have a security assessment performed by the project owner as it violates separation of duties. Maybe I'm missing something, but if you're saying that the security assessment is divided into two distinct phases, the first performed by the project owner do to document the securi

[2020-09-04 16:38] TheFoxAtWork commented on #305
Closing - retrospective thread is still open

[2020-09-04 16:38] #305 closed

[2020-09-04 16:42] TheFoxAtWork opened #416 "[Project] 2020 NA Cloud Native Security Day VIRTUAL (aka SIG-Security day) at Kubecon"
Description: SIG-Security Day at the upcoming NA Kubecon/CloudNativeCon. The goal of the day is to bring together the broader Cloud Native security community in a community oriented space to discuss and share current challenges (and solutions) in Cloud Native security.

## Social Media:
 **#cnsecurityday**
[CNCF Website Security Day](https://events.linuxfoundation.org/kubecon-cloudnativecon-north-

[2020-09-04 16:42] TheFoxAtWork commented on #416
@mfdii please let us know if you can continue as lead

[2020-09-04 16:56] markyjackson-taulia commented on #416
I can confirm to be a CFP reviewer

[2020-09-04 21:14] vinayvenkat commented on #416
@TheFoxAtWork I would be happy to be a part of the Program Committee and review CFP's. Thank you.

[2020-09-04 22:05] raravena80 commented on #416
Confirmed.

[2020-09-05 06:36] JustinCappos commented on #394
I am in general supportive of this.  My only real concerns here are logistical.  If we have the resources and can do this in a balanced way for all projects, then I'm 100% for it.

Any thoughts on how to achieve this?

[2020-09-05 06:45] JustinCappos commented on #415
You do make a valid point that letting the project being reviewed provide the material does have some potential for misuse, error, etc.  Given the assessors are often unfamiliar with the project (and have full time jobs doing other things), we haven't really thought of a better way to address this issue.  Do you have some thoughts?

I do also think we're likely just not being clear in the document

[2020-09-05 07:11] mhausenblas commented on #416
Confirmed and thanks for driving this!

[2020-09-05 11:43] sublimino commented on #416
+1 confirmed with thanks : ]

On Sat, 5 Sep 2020 at 08:12, Michael Hausenblas <notifications@github.com>
wrote:

[2020-09-06 17:49] PushkarJ commented on #314
@lumjjb we could create a google doc extending the current meeting minutes doc or replacing it with this auto transcript and link it in meeting invite

[2020-09-08 20:48] lumjjb commented on #314
Yea.i think a folder would be good idea, i've been running into many issues finding things in the meeting minutes doc just because its so huge... Unless there's a good way to make collapsables or something in gdocs

[2020-09-08 21:07] lumjjb commented on #314
Actually... zoom does provide a link to the transcripts... If people are able to access this, we can also just copy the link to the meeting minutes

https://zoom.us/rec/sdownload/BQ6YVnpTgrC5M46jKjlchHhdWixppTIJAXo19J9VApYB3SJBd-mkj8diauROiAP76Vx4otW6wq_NebFW.SlHenuZ1-yjANm8-

[2020-09-09 01:30] pragashj commented on #416
I am in!

[2020-09-09 05:33] gadinaor commented on #416
Happy to be part of the CFP reviewers

[2020-09-09 10:37] itaysk commented on #307
Hi all, In the previous sig-security meeting I volunteered to review. I understand I need to post my COI statement here:

Hard conflicts:
Reviewer is a maintainer of the project - No
Reviewer is a direct report of/to a maintainer of the project - No
Reviewer is paid to work on the project - No
Reviewer has significant financial interest directly tied to success of the project - No

Soft conflicts:

[2020-09-09 13:44] lumjjb commented on #416
Happy to be part of the CFP reviewers as well.

[2020-09-09 13:46] TheFoxAtWork commented on #416
Closing call for CFP reviewers.

[2020-09-09 14:27] chasemp commented on #416
I'm around but it seems like a good group already.  I can be an alternate if you come up short on reviewers, or a secondary review if further input on pairing down is useful.

[2020-09-09 15:10] itaysk opened #418 "[Suggestion] assesment outline: does "operation" belong in "intended use"?"
Description: I was reading the https://github.com/cncf/sig-security/blob/master/assessments/guide/outline.md doc, and I saw that under "Intended Use", which describes the use cases and personas in high level, we ask for "Operation" which describes operational considerations of the application. This is a bit confusing because at this place in the document the system design hadn't yet introduced so

[2020-09-10 01:12] lumjjb commented on #415
There is a review of assessments that is set to happen after keycloak's assessment completion. Linking the issue for tracking during review: https://github.com/cncf/sig-security/issues/167.

[2020-09-14 09:05] SaadUllahSheikh commented on #138
@ultrasaurus please can you add me to Security white paper i want to give some inputs specially for Telecom perspective , thanks

[2020-09-14 14:20] lumjjb commented on #405
@vinayvenkat is this effort part of the whitepaper/landscape now? Or do you still want this proposal to be something separate?

[2020-09-15 00:25] lumjjb commented on #418
Linking this issue when the review happens: https://github.com/cncf/sig-security/issues/167

[2020-09-16 12:14] fctoibm commented on #138
Enterprise
Core areas of concern for Enterprise to adopt a cloud-native model are maintaining the current process and procedures while meeting the business objective. Keeping the interoperability, data loss or leakage, and security risk exposure at a minimum when new standards and practices are introduced throughout the organization.
Microbusiness
Small businesses tend to focus on short term goals

[2020-09-16 12:23] lumjjb commented on #138
Thanks Harmeet, i'll add them into the doc

[2020-09-16 17:47] vinayvenkat commented on #138
Sig-Security meeting on 9/16/2020 White paper update: https://docs.google.com/presentation/d/1JVNMxDAJFbTTmmEwpL5lh_OGajbDfZx5E40YRkg1cV0/edit#slide=id.g97edbdf573_0_48

[2020-09-18 18:36] shibumi opened #422 "[Suggestion] Hardening binaries via compilation flags"
**Description: What's your idea?**

Quite a while ago, Arch Linux has turned on many binary security features via
compilation flags (2016)<sup id="a1">[1](#f1)</sup> or turned off options that are known to help
exploit software (debugging symbols, RPATH). Now we have 2020 and Arch Linux made good
experience with the additional security options.

I would like to suggest, that the CNCF considers mak

[2020-09-23 14:41] sunstonesecure-robert opened #423 "[Suggestion] Map usecases.md Users to OSCAL"
## Description: What's your idea?

OSCAL has a schema definition in the SSP/implementation layer for User:

https://pages.nist.gov/OSCAL/documentation/schema/implementation-layer/ssp/json-schema/#user

and responsible roles:

https://pages.nist.gov/OSCAL/documentation/schema/implementation-layer/ssp/xml-schema/#global_responsible-role

Map the suggested personas [here](https://github.com/cncf/sig-

[2020-09-23 14:52] lumjjb commented on #411
Hi @lukehinds! Congratulations on sandbox!! Would you be available to do a presentation on Oct 14?

[2020-09-23 15:52] lukehinds commented on #411
my pleasure, I still have the deck I was going to use for the sig.

[2020-09-23 16:36] lumjjb commented on #411
Great - i've put keylime down for the next available slot on Oct 14!

[2020-09-23 17:38] chubirka commented on #167
Happy to join this effort regarding assessment process improvement.

[2020-09-23 17:40] itaysk commented on #167
Happy to join the security assessment improvement process

[2020-09-23 17:41] bdaw commented on #167
Interested to help in the WG

[2020-09-23 17:45] lumjjb commented on #167
Comment on this thread if you'd like to be part of the working group to improve security assessment process! Just comment on the thread and we will invite everyone to a new slack channel for this discussion!

[2020-09-23 17:48] knowlengr commented on #167
Count me in.  My day job constraints (unforecasted day job Outlook bookings) are considerable, hence noon (except Wed) is good and I'm willing to do earlier or later outside the normal workday if needed. Having a specific day of the month, or biweekly, for instance, that I can block out would help facilitate my regular participation.  (Apologies for this self-centered tone here.)  In fact, if we h

[2020-09-23 18:01] ashutosh-narkar commented on #167
I would be interested to join this effort. Thanks.

[2020-09-23 18:13] sunstonesecure-robert commented on #167
Falco is not active - we should takr that off the list.

[2020-09-24 23:21] lumjjb commented on #167
@sunstonesecure-robert done.

I will create a slack channel shortly! Look out for it and get on slack (if you aren't already on the CNCF slack!)

[2020-09-25 00:20] chubirka commented on #167
Can someone add me? Thanks.

Regards,
Michele

On Wed, Sep 23, 2020 at 1:45 PM Brandon Lum <notifications@github.com>
wrote:

[2020-09-30 17:44] anvega commented on #377
@sclevine Apologies for the wait here. From discussing in the SIG meeting today, we are ready to revitalize this thread and move ahead with this assessment.

I'm calling for other volunteers to participate. Currently looking for 2 or more reviewers.

[2020-09-30 18:10] itaysk opened #426 "[Suggestion] revise the meeting notes scribe template"
Description: In the meeting notes document, we have a table template for each meeting scribes. It has 2 columns for 2 scribes, and rows for each topic, so that a reader can browse rows and get both scribes' perspectives. That's great. What I don't get is the prepared rows categories, that the scribes need to fill. In practice though, most of the meeting just goes in the `General standup and check-

[2020-10-07 13:47] lumjjb commented on #167
At the kick-off meeting, we went through the process of improving the security assessment process! We are trying something new that some of us have had success with in the past. We are going to use a [Mural board](https://app.mural.co/t/sigsecurityassesswg9089/m/sigsecurityassesswg9089/1602018028189/0429893063587a307d2368e09f9b844d282820ee) to brainstorm on the ideas. This will allow collaboration

[2020-10-08 14:05] TheFoxAtWork commented on #426
Love this!  @lumjjb @lumjjb @JustinCappos @ultrasaurus do think this would be good to try out at the next two meetings?  a simplified table?

[2020-10-08 14:14] TheFoxAtWork opened #430 "[Suggestion] Updates to contributing doc to clearly describe merging and approvals"
Description: Make the following changes to the [contributing doc](https://github.com/cncf/sig-security/blob/master/CONTRIBUTING.md)
* [x] person with access, other than PR author, can review and merge simple changes: typo, correction, clarification, etc.
* [x] significant changes to the repo require two persons with access, other than the PR author, to review.  Last person to review merges changes

[2020-10-08 20:07] lumjjb commented on #167
Next meeting is currently scheduled for 15 Oct 10am-11am PST. details are in the slack channel.

[2020-10-14 18:04] lumjjb opened #434 "[Presentation] Trusted Service Identity (Bringing together SPIFFE/SPIRE, Keycloak, Keylime)"
Title: What is the title of your presentation?

Trusted Service Identity (Bringing together SPIFFE/SPIRE, Keycloak, Keylime)

Speakers: Who will be presenting this? List names/github IDs of presenters.

@mrsabath
@lumjjb

Description: Describe in a short paragraph what the presentation is about.

Trusted Service Identity by IBM Research is an effort to close the gap of preventing access to secrets

[2020-10-15 10:41] lukehinds commented on #411
@lumjjb et al,

my presentation:

https://docs.google.com/presentation/d/1n00Ny1fc-tDRtRb-Yf66mTs4sM7iOY2YW7-fhFaS2Yc

[2020-10-15 14:01] lumjjb commented on #167
Hi All! Reminder that we are meeting today at 10-11am PST! Looking forward to seeing everyone!

[2020-10-19 14:27] lumjjb commented on #167
Hi All! Last Thursday, we went through the mural board and grouped up some of the suggestions that people wrote into different categories, I will be going through them and defining some issues for folks to take the lead on. If you haven't had the chance to put in any suggestions, please do so now! Put them in one of the sub-categories or create a new category (circle) if it doesn't fit!

I will be

[2020-10-21 17:53] lumjjb opened #437 "[Presentation] CSA Serverless Security"
Title: What is the title of your presentation?

CSA Serverless Security

Speakers: Who will be presenting this? List names/github IDs of presenters.

Aradhna Chetal

Description: Describe in a short paragraph what the presentation is about.

Time: How long will the presentation take? (estimate) 20-30 mins

Availability: What is the availability times of the speakers to present the topic? Meeting t

[2020-10-21 19:19] IAXES opened #438 "[Suggestion] Security incident: nodejs packages"
Good day,

As per my comment in the meeting today, here's the nodejs incident I was referring to: https://www.bleepingcomputer.com/news/security/npm-nukes-nodejs-malware-opening-windows-linux-reverse-shells/

Should this be a different category (i.e. rather than `[Suggestion]`, something like `[Report]` or `[Incident]`)?

From the article:

[2020-10-21 19:20] IAXES commented on #438
+CC: @TheFoxAtWork

[2020-10-21 19:48] #438 closed

[2020-10-21 20:18] TheFoxAtWork opened #440 "[Suggestion] Define process for due diligence recommendations by the SIG at project requests"
Description: Currently, the SIG performs assessments of projects at various stages in the CNCF.  We receive requests to provide recommendations on the project as part of the due diligence document.  This is not clearly captured in the repository as to:
* [ ] a co-chair must provide concurrence to the recommendation
* [ ] due diligence recommendations should include any substantive concerns, and th

[2020-10-22 04:13] achetal01 commented on #437
Here is the Slide deck for today's presentation.

Thank You
[CSA Serverless PResentation V1.0.pptx](https://github.com/cncf/sig-security/files/5420002/CSA.Serverless.PResentation.V1.0.pptx)
[CSA Serverless PResentation V1.0.pptx](https://github.com/cncf/sig-security/files/5420008/CSA.Serverless.PResentation.V1.0.pptx)

[2020-10-22 13:59] lumjjb commented on #167
# Next Steps: Synthesized Issues

Hi All! The following are the list of subcategories that we came up with, as well as the ideas and premises organized accordingly! I think it looks like we have a pretty good list of things with pretty well defined scopes.

**The cochairs and TLs would like to encourage members to take the lead on some of these issues. Please comment if you find a topic interestin

[2020-10-28 14:35] TheFoxAtWork commented on #426
I went ahead and made the revision to the template @itaysk if you are on todays call, and willing to scribe please let us know if this works better. i plan on discussing it.

[2020-10-28 14:39] TheFoxAtWork commented on #21
@knowlengr wanted to check on this - are there any associated actions with this?

[2020-10-28 14:41] TheFoxAtWork commented on #46
Closing this issue as we have an ongoing assessment for cloud custodian (ref 20200920 meeting notes)

[2020-10-28 14:41] #46 closed

[2020-10-28 14:46] TheFoxAtWork commented on #92
@knowlengr checking in on this - is this issue a suggestion for updates to our usecases/personas section of the repo?

[2020-10-28 16:46] cseader commented on #434
Why Keycloak? Why not Gluu?

[2020-10-28 17:16] TheFoxAtWork commented on #20
@pragashj recommends deferring until landscape project is complete

[2020-10-28 17:20] pragashj commented on #20
Should we see how much of this can be incorporated in to the landscape?
https://github.com/cncf/sig-security/issues/348
If not, we can work to create more clarity on this issue to see what we can cover here that is different from whitepaper and landscape.

[2020-10-28 17:21] cseader commented on #20
What is the overall purpose of this? It seems the white paper addresses the needs here.

[2020-10-29 13:05] lumjjb commented on #434
Eventually we want to support both.. we started with keycloak first because of our familiarity with the team as well as better organizational alignment (i.e. IBM + Red Hat).

[2020-10-30 15:49] lumjjb opened #443 "[SecAssess WG] Provide some consistency across reviews"
This issue was created from results of the Security Assessment Improvement Working Group (https://github.com/cncf/sig-security/issues/167#issuecomment-714514142).

# Provide additional consistency across security assessment reviews

## Premise
- Auditing imperative systems is more of an art than a science
- Threat modeling is important for projects, we should figure out how to help them be consist

[2020-10-30 15:52] lumjjb opened #444 "[Sec Assess WG] Naming and Scope of assessments"
This issue was created from results of the Security Assessment Improvement Working Group (https://github.com/cncf/sig-security/issues/167#issuecomment-714514142).

# Naming and Scope of assessments

## Premise
- Assessment is an overloaded term, and can lead to confusion

## Ideas
- Have a better articulation of what is a sec assess.
- Include scope to include additional aspect of code audit relat

[2020-10-30 15:53] lumjjb opened #445 "[Sec Assess WG] Benefits of a Security Assessment for Projects"
This issue was created from results of the Security Assessment Improvement Working Group (https://github.com/cncf/sig-security/issues/167#issuecomment-714514142).

# Benefits of a Security Assessment for Projects

## Premise
- It is not entirely clear that why a project should be incentivized to participate in an assessment

## Ideas
- Add "benefit for the project" to security assessment guide
 -

[2020-10-30 15:55] lumjjb opened #446 "[Sec Assess WG] Time and Effort of Security Assessments"
This issue was created from results of the Security Assessment Improvement Working Group (https://github.com/cncf/sig-security/issues/167#issuecomment-714514142).

# Time and Effort of Security Assessments

## Premise
- The result time span of assessments tend to stretch
- There is little awareness or lack of clarity of the current scheduling aspects of assessments
- Fairly time consuming on proje

[2020-10-30 15:56] lumjjb opened #447 "[Sec Assess WG] Getting more reviewers for Security Assessments"
This issue was created from results of the Security Assessment Improvement Working Group (https://github.com/cncf/sig-security/issues/167#issuecomment-714514142).

# Getting more reviewers for Security Assessments

## Premise
- Challenge of assembling a team for each review

## Ideas
- what are the reasons that people want to participate? can we incentivize more?
 - Provide swag/recognition
 - For

[2020-10-30 15:57] lumjjb opened #448 "[Sec Assess WG] Mapping Security Assessments to TOC Process"
This issue was created from results of the Security Assessment Improvement Working Group (https://github.com/cncf/sig-security/issues/167#issuecomment-714514142).

# Mapping Security Assessments to TOC Process

## Premise
- The security assessment aims to tie into the CNCF project process, but it is not clear how
- There is no current agreed upon requirement for the process for what is asked of a

[2020-10-30 16:00] lumjjb opened #449 "[Sec Assess WG] Security Assessment Process Mechanics Improvements"
This issue was created from results of the Security Assessment Improvement Working Group (https://github.com/cncf/sig-security/issues/167#issuecomment-714514142).

# Security Assessment Process Mechanics Improvements

## Premise
- There are several points of mechanical improvement to the security assessment process. This issue encapsulates the brainstormed ideas around various aspects of the proce

[2020-10-30 16:05] lumjjb commented on #167
Hi All - the issues for each of the topics have been created! Please go through and sign up for ones that you would like to be involved with!

[2020-10-30 16:11] TheFoxAtWork commented on #449
add me :)

[2020-10-31 13:29] itaysk commented on #448
@lumjjb I'm interested in this one

[2020-10-31 13:29] itaysk commented on #445
@lumjjb I'm interested in this one

[2020-11-01 09:26] RonVider commented on #445
@lumjjb Add me here :)

[2020-11-02 17:13] lumjjb commented on #448
Thanks @itaysk , going to wait till end of week to see who is anyone else wants to get involved and we can set up some time to discuss.

[2020-11-02 17:13] lumjjb commented on #445
Thanks @itaysk and @RonVider  , going to wait till end of week to see who is anyone else wants to get involved and we can set up some time to discuss.

[2020-11-03 16:13] magnologan commented on #449
I'm interested!

[2020-11-03 16:14] magnologan commented on #447
I'm interested!

[2020-11-03 16:14] magnologan commented on #446
I'm interested!

[2020-11-11 01:57] JustinCappos commented on #448
This has been politically tough in the past.  We need to get TOC buy in so doing this in coordination with folks there is key.

[2020-11-11 01:59] JustinCappos commented on #446
This is hard because it isn't clear when a security assessment is really "done".  It's not like being asked to write a 3 page essay, it's like a mathematical proof where a bug or problem may end up going down a long rabbit hole of explanations / fixes.  Possibly a more rigorous threat modeling step up front would help, but this would be unevenly applied (unless done by a central group) and difficu

[2020-11-11 02:07] JustinCappos commented on #443
I don't really know how to be more consistent with threat modeling unless we have a dedicated team.  From teaching this at NYU, the abilities and issues found widely vary by the person unless you are really experienced doing this.  The difficulty though is that really doing a proper threat model requires knowing the system and the operational environment well...

The past idea was that the project

[2020-11-11 02:09] JustinCappos commented on #443
As someone who gives rankings like this (grades) all the time, I do not think you want to open this can of worms.  Projects will lobby hard to increase a number which will be semi arbitrary.  I think explaining the pros and cons is a lot easier to justify and harder to argue against.

[2020-11-11 17:54] vinayvenkat opened #450 "Cloud Native Security White Paper Webinar"
Description: I propose to conduct a webinar to amplify the message of the Cloud Native Security White Paper

Impact:
The Cloud Native Security Whitepaper contains an in-depth assessment of the needs for security that is appropriately integrated throughout the environment as well as the application lifecycle. There would be a tremendous benefit is a subset of the authors discussed the implications

[2020-11-11 18:00] vinayvenkat opened #451 "Mini/Micro blogs to discuss the various aspects of the Cloud Native Security Whitepaper"
Description: I propose that we write a sequence of mini blogs that delve deeper into the various sections of the Cloud Native Security Whitepaper

Impact: The obejctive of the blogs will be to dive a deeper into the various sections of the Cloud Native Security Whitepaper. Additionally, provide best practices and guidance for the audience to takeaway in terms of the manner in which security needs

[2020-11-11 18:15] chasemp commented on #110
interested :)

[2020-11-12 16:08] chasemp commented on #423
This is interesting to me, anything ever come of it?

[2020-11-12 17:43] sunstonesecure-robert commented on #423
Not yet but still in motion.  I intend to present to the Policy WG probably
after the holidays.

On Thu, Nov 12, 2020 at 8:08 AM Chase Pettet <notifications@github.com>
wrote:

[2020-11-13 12:36] magnologan commented on #451
I can help with the blog posts.

[2020-11-16 19:40] TheFoxAtWork opened #454 "2021 KubeCon+CloudNativeCon EU Cloud Native Security Day!"
Description: SIG-Security Day at the upcoming Virtual EU Kubecon/CloudNativeCon. The goal of the day is to bring together the broader Cloud Native security community in a community oriented space to discuss and share current challenges (and solutions) in Cloud Native security.

Social Media:
#cnsecurityday
CNCF Website Security Day

Program committee
* SIG Chair: @TheFoxAtWork

* Team Leads: @anve

[2020-11-16 19:48] #128 closed

[2020-11-16 20:58] marco-lancini commented on #454
I'd be happy to help!

[2020-11-16 22:22] JohnHillegass commented on #454
I'd like to help as well!

[2020-11-17 01:17] dlapiduz commented on #454
I'd love to help!

[2020-11-17 07:43] itaysk commented on #454
I can help as well

[2020-11-17 08:59] RonVider commented on #454
I'd be happy to help with the CTF :)

[2020-11-17 13:34] sublimino commented on #454
Happy to assist the CFP/CTF effort again, providing today goes well! :upside_down_face:

[2020-11-17 15:22] chasemp commented on #450
Is the thought for this to be a Q&A session primarily aimed at both informing the general public and potentially gathering data on where to improve the whitepaper, or is it to create a mostly broadcast presentation that walks through the various elements of the paper (maybe pulling in related but excluded details)?  Or both :D

[2020-11-17 17:54] alok-raj commented on #454
I'd love to help!

[2020-11-17 18:13] gadinaor commented on #450
@vinayvenkat happy to support this

[2020-11-17 21:12] anthraxx commented on #422
Dear friendly bot, it may be that just nobody ever answered from cncf, which is sad :smirk_cat:

[2020-11-17 21:14] anvega commented on #454
Having chatted with Emily around expectations, I'd love to help out as team lead to take on coordination and logistics in preparation ahead of, as well as all other team lead tasks, come the day of the event.

[2020-11-18 00:40] danpopSD commented on #454
count me in.

[2020-11-18 16:00] TheFoxAtWork commented on #454
@marco-lancini, @JohnHillegass, @dlapiduz, @RonVider, @alokraj, @danpopSD  Thanks so much for your interest!  i've add you as program committee.  Checking through our members list shows that you are not yet members of the SIG!

Please go through our [new members page](https://github.com/cncf/sig-security/blob/master/NEWMEMBERS.md), attend some of our meetings, learn more and become members.  Our n

[2020-11-18 16:30] umairmkhan commented on #454
I m happy to help :)

[2020-11-18 16:44] magnologan commented on #454
I'm in too! o/

[2020-11-18 17:36] TheFoxAtWork commented on #454
Closing program committee call.

[2020-11-18 20:47] cvcrckt opened #463 "White Paper->Figure 1: Lifecycle ought to go left to right"
We often speak of shifting security to the left (including in the whitepaper). Perhaps the lifecycle portion of Figure 1 in the WP should be flipped to read from left to right (dev->distrib->deploy...) in order to correspond with the saying.

sig-security/security-whitepaper/RackMultipart20201111_figure1.png

[2020-11-18 21:39] denhamparry commented on #454
I'm late to the party but happy to help out wherever I can in regards to the CTF

[2020-11-18 21:46] jlk opened #464 "White Paper - Broken links, duplicate content"
Several links in the Cloud Native Security whitepaper go to one or more google docs that are not accessible, resulting in a page with "Sorry, unable to open the file at this time":

* Page 15, under _Image Hardening_, the link to "security assessment objectives" loads a Google docs
* Also a broken link in last sentence on p22: "identity portion of this paper"
* Page 27, under Boostrapping - "Trust

[2020-11-18 22:22] jlk commented on #464
Also a dead link in last sentence on p22: "identity portion of this paper"

[2020-11-18 22:40] jlk commented on #464
Also, _Introduction_ and _Target Audience_ sections are on both pages 7 and 25...

[2020-11-18 22:46] jlk commented on #464
Page 27, under _Boostrapping_ - "Trust" link is broken.

[2020-11-18 22:48] jlk commented on #464
Page 28, links under _Orchestration_

[2020-11-18 23:06] jlk commented on #464
Page 30, "key management" link in 2nd paragraph.
Page 31, "least privilege" in 4th paragraph.

[2020-11-19 18:13] TheFoxAtWork commented on #463
@gadinaor @vinayvenkat @PushkarJ @pragashj Thoughts?

[2020-11-19 18:21] TheFoxAtWork commented on #464
@jlk Thanks for the feed back!  We caught it after we release it and the latest version should have the links stripped (from converting a google doc with internal bookmarks to PDF with amazing graphics).  Regarding page 25, The executive summary is designed to provide a high level overview of the entire doc so some content may look duplicate.  I expect our next iteration will expand these areas in

[2020-11-19 18:21] #464 closed

[2020-11-19 21:39] vinayvenkat commented on #463
Yes, we always talk about this in the context of shift left. I was aware of this however I didn't bring it up as we don't explicitly talk about the concept of shift left by referring to that figure. But yes, if we have the opportunity to fix it, would be good to do so.

[2020-11-19 22:40] TheFoxAtWork commented on #463
Awesome  - we can certainly update the figure in the markdown version since it is our working document. If enough changes happen to it we can republish the PDF as a 2.0

[2020-11-20 12:00] freddyfernando commented on #454
I'll be happy to help with the CTF as well.

[2020-11-21 15:24] JohnHillegass commented on #311
Here is an example of what this could look like being automated. There are a lot of variations in errors which we would need to figure out how to cover. Such as `MD013/line-length Line length [Expected: 80; Actual: 236]` is 80 actually enough characters? Maybe it should be 240? We can override these but there are a lot of rules that may require a decision on whether to apply, extend, or not https:

[2020-11-22 20:57] lumjjb commented on #372
@ashutosh-narkar is this all good yet? can we close this?

[2020-11-22 21:01] ashutosh-narkar commented on #372
@lumjjb yes ! We have already closed [this](https://github.com/cncf/sig-security/pull/432) pull request.

[2020-11-22 21:02] lumjjb commented on #372
Awesome! Closing this then! Thanks!

[2020-11-22 21:02] #372 closed

[2020-11-22 22:19] lumjjb opened #467 "[Presentation] Rekor tamper-resist ledgar"
Title: What is the title of your presentation?

Introduction to Rekor project

Speakers: Who will be presenting this? List names/github IDs of presenters.

@lukehinds @dlorenc @bobcallaway

Description: Describe in a short paragraph what the presentation is about.

https://github.com/projectrekor/rekor-server

Rekor's goals are to provide an immutable tamper resistant ledger of metadata generated

[2020-11-24 07:55] lukehinds commented on #467
Server and code are consolidated into this repo now: https://github.com/projectrekor/rekor

[2020-11-24 11:08] joshuagl commented on #467
I'd be interested in understanding how Rekor compares to/differs from https://github.com/transparencylog/tl

[2020-11-29 07:55] rootsongjc opened #470 "[Proposal] Cloud Native Security White Paper Chinese translation"
Description: The [Cloud Native Community](https://cloudnative.to/en), began translating this white paper last week and has now completed the translation. The following people are involved.
- @rootsongjc
- @N3erox0
- @cafra
- @aiaicaow
- @hbrls
- @losery
- @knwng
- @babysor
- @dwctua
- @gtb-togerther

The white paper is carefully reviewed by a translation team to ensure quality.
@babysor will submi

[2020-12-02 18:35] mattj-io commented on #377
@anvega as discussed in the SIG meeting, I'm interested in getting involved here and understanding more about how the assessment process works..

[2020-12-02 18:35] magnologan commented on #377
I'm interested in getting involved and shadowing / reviewing this project as well.

[2020-12-02 18:36] dant24 commented on #377
I'm interested in getting involved as well. It looks like the slack channel was created as #sec-assessment-buildpacks

[2020-12-03 02:13] JohnHillegass commented on #311
@TheFoxAtWork @lumjjb I was not sure if I should bring this discussion up during the call today. Is that an appropriate forum to discuss open issues/PRs? I have a draft PR for adding this but think it may be easier over a Zoom call. Do we ever do short one-off calls to discuss things like this in more detail?

[2020-12-03 05:18] anvega commented on #377
Great to have you onboard, @mattj-io, @magnologan, @dant24 & @danpopSD!

Can each of you please read through [security reviewer guidelines ](https://github.com/cncf/sig-security/blob/master/assessments/guide/security-reviewer.md) and declare here you've got no conflicts (even if you are only shadowing)?

[2020-12-03 08:14] mattj-io commented on #377
I have no conflicts

[2020-12-03 12:40] danpopSD commented on #377
I have no conflicts

On Thu, Dec 3, 2020 at 3:14 AM Matt Jarvis <notifications@github.com> wrote:

--
*Dan "POP" Papandrea*
*Field CTO*
LinkedIn <https://www.linkedin.com/in/danpapandrea/>|Twitter
<https://twitter.com/danpopnyc>|Email <pop@sysdig.com>
sysdig.com <http://www.sysdig.com>

[2020-12-03 19:11] dant24 commented on #377
I have no conflicts

[2020-12-03 19:34] magnologan commented on #377
No conflicts

[2020-12-03 19:57] TheFoxAtWork opened #473 "Fix table formatting"
[Assessments Guide](https://github.com/cncf/sig-security/tree/master/assessments/guide)
has a problem with the soft conflict table.

[2020-12-03 20:07] TheFoxAtWork commented on #377
@mattj-io , @dant24 , @danpopSD , @magnologan   Super happy you all are volunteering - to ensure everyone has their statements clearly defined please "indicat[e] all hard and soft conflicts they maintain prior starting the security assessment." as described in section 3 of the [assessment guide](https://github.com/cncf/sig-security/tree/master/assessments/guide) using the below "no conflict format

[2020-12-03 20:16] dant24 commented on #377
Hard Conflicts | Y/N
-- | --
Reviewer is a currently a maintainer of the project | N
Reviewer is direct report of/to a current maintainer of the project | N
Reviewer is paid to work on the project | N
Reviewer has significant financial interest directly ties to the success of the project | N

Soft Conflicts | Y/N
-- | --
Reviewer belongs to the same company/organization of the project, but does no

[2020-12-03 20:40] JonZeolla commented on #473
#474

[2020-12-03 21:08] danpopSD commented on #377
Hard Conflicts | Y/N
-- | --
Reviewer is a currently a maintainer of the project | N
Reviewer is direct report of/to a current maintainer of the project | N
Reviewer is paid to work on the project | N
Reviewer has significant financial interest directly ties to the success of the project | N

Soft Conflicts | Y/N
-- | --
Reviewer belongs to the same company/organization of the project, but does no

[2020-12-03 22:04] pragashj commented on #377
Thanks Dan, LGTM

[2020-12-03 22:05] pragashj commented on #377
Thanks Daniel, LGTM

[2020-12-04 03:07] Grrr1Want2 opened #475 "[Suggestion] some descriptive title"
Description: What's your idea?

Impact: Describe your hopes for how this would reduce risk for the cloud native ecosystem. Who will this help? How will it help them?

Scope: How much effort will this take? ok to provide a range of options if or "not yet determined"

Additional info:
- Reference to supporting material
- Links to related site
- Feel free to delete this section if you don't have more

[2020-12-04 04:07] #473 closed

[2020-12-04 08:02] mattj-io commented on #377
Hard Conflicts | Y/N
-- | --
Reviewer is a currently a maintainer of the project | N
Reviewer is direct report of/to a current maintainer of the project | N
Reviewer is paid to work on the project | N
Reviewer has significant financial interest directly ties to the success of the project | N

Soft Conflicts | Y/N
-- | --
Reviewer belongs to the same company/organization of the project, but does no

[2020-12-04 14:51] #475 closed

[2020-12-04 15:03] TheFoxAtWork commented on #138
Thanks to everyone who helped make this possible.  The Cloud Native Security Whitepaper now lives in the repo as [Markdown](https://github.com/cncf/sig-security/blob/master/security-whitepaper/cloud-native-security-whitepaper.md).  As significant changes occur, we will republish the PDF by major version.

[2020-12-04 15:03] #138 closed

[2020-12-04 15:15] TheFoxAtWork opened #476 "Update CNSWP Readme"
Readme needs to include
* [x] plans for updating,
* [x] decisions behind design of the whitepaper,
* [x] guidance on content updates (i.e. new paper versus paper update, no products listed)

[2020-12-04 15:51] TheFoxAtWork commented on #311
@JohnHillegass   Yes!  sorry just getting to this!  please add this to the meeting agenda for next week as a topic of discussion.  We typically call these working meetings.

[2020-12-04 15:54] JohnHillegass commented on #311
Ok sounds good, will add it to the agenda. Thanks, @TheFoxAtWork!

[2020-12-04 19:26] anvega opened #478 "[Proposal] Formalize policy and removal of exclusionary language in this repo"
We should formalize our policy around exclusionary language in SIG-Security. I have added it as an agenda item for the upcoming 12/9/2020 meeting.

In recent times these have all been commented in an ad-hoc way, but we should make it explicit in the contributor and member guide. This includes not allowing the following phrases:

master/slave (use primary/replica instead)
blacklist (use deny list i

[2020-12-04 19:36] TheFoxAtWork commented on #478
more links: https://inclusivenaming.org/language/evaluation-framework/

[2020-12-05 11:21] magnologan commented on #377
Hard Conflicts | Y/N
-- | --
Reviewer is a currently a maintainer of the project | N
Reviewer is direct report of/to a current maintainer of the project | N
Reviewer is paid to work on the project | N
Reviewer has significant financial interest directly ties to the success of the project | N

Soft Conflicts | Y/N
-- | --
Reviewer belongs to the same company/organization of the project, but does no

[2020-12-07 19:39] TheFoxAtWork commented on #377
@magnologan @mattj-io  looks good.

[2020-12-07 20:23] colek42 commented on #377
@anvega I can participate either as a reviewer or as a shadow.

Hard Conflicts | Y/N
-- | --
Reviewer is a currently a maintainer of the project | N
Reviewer is direct report of/to a current maintainer of the project | N
Reviewer is paid to work on the project | N
Reviewer has significant financial interest directly ties to the success of the project | N

Soft Conflicts | Y/N
-- | --
Reviewer belo

[2020-12-07 21:32] #411 closed

[2020-12-07 22:18] anvega commented on #377
I have reviewed all conflict of interest declarations from the volunteered reviewers. There are no hard-conflicts that have been expressed.

The assembled review crew is able to provide a balanced and fair assessment. I believe we are in a good position to come up with a review timeline/schedule and kick the assessment off.

@TheFoxAtWork @pragashj @ultrasaurus

[2020-12-08 11:51] lukehinds commented on #467
Sorry for late reply.

We actually spoke a fair amount with Brandon Philips about his project and the direction we both had planned..

With transparencylog/tl the key capture points are the URL and an associated artefact (digest). It provides a wget / curl style tool to both retrieve the artefact , perform a look up in the TL and check its digest. For rekor we don't have a specific focused use cas

[2020-12-08 12:10] lukehinds commented on #467
One thing I should update, we are not seeking inclusion into the CNCF (although its not been out ruled), we are more wanting to talk with SMEs in the open source community to gather feedback and foster discussions around possible collaboration.

[2020-12-08 14:15] TheFoxAtWork commented on #377
I approve.  @pragashj @ultrasaurus

[2020-12-08 16:43] lumjjb commented on #478
These could be also added into lint checks being created: https://github.com/cncf/sig-security/issues/311

I am a bit worried about renaming master branch, im not sure if all the tooling works well with a new convention.

[2020-12-08 17:09] TheFoxAtWork commented on #478
@lumjjb we need to work towards this goal.  if that means analysing the tooling we currently use for compatibility, lets add it to the list.

[2020-12-09 01:43] JohnHillegass commented on #311
FYI @TheFoxAtWork @lumjjb I have moved this to the 12/16 meeting because of a conflict tomorrow.

[2020-12-09 01:46] JohnHillegass commented on #478
I think we can work with an alternative naming for the `master` branch, like `main`. Based on my experience playing with it so far, I don't believe the tooling in #311 will be impacted, we'll just need to be aware of the new convention.

[2020-12-09 05:12] alok-raj commented on #451
I am interested in writing the blogs.

[2020-12-09 13:29] TheFoxAtWork commented on #311
No worries!

[2020-12-09 15:58] lumjjb commented on #348
Now that the whitepaper is completed, we can resume work on the Landscape, which provides a practical/tooling side to the concepts highlighted in the whitepaper.

[2020-12-09 18:11] mattj-io commented on #478
Happy to help with this effort

[2020-12-09 18:34] dcomas commented on #348
@lumjjb let me know if I can help on this one, as you mentioned this issue in the CNCF meeting and I think I can contribute. :)

[2020-12-09 19:10] danpopSD commented on #454
@TheFoxAtWork put me in coach!

[2020-12-09 19:41] lumjjb commented on #478
@TheFoxAtWork @ultrasaurus @pragashj there is interest in pursuing this work. Am adding the project tag.

[2020-12-09 22:59] PushkarJ opened #480 "Retrospective for cloud native security whitepaper (CNSWP)"
**Description**: Perform retrospective for Cloud native security whitepaper

**Impact**: Cloud native security whitepaper [version 1.0](https://github.com/cncf/sig-security/blob/master/security-whitepaper/README.md), was released Nov 18, 2020. This is a huge milestone but we are just getting started and the contributors fully expect to publish future versions of this paper.

Some of the content in

[2020-12-10 01:24] TheFoxAtWork commented on #478
Folx - i've gone ahead and added this to the project board.  Individuals interested in helping out on this should submit small PRs over large ones.

[2020-12-10 01:25] #416 closed

[2020-12-10 01:32] TheFoxAtWork commented on #110
@vinayvenkat tagging you here for awareness/interest

we'll need to define an editorial team to curate content, field content.  this applies to the microblog #451  issue as well - at least to get started.

@pragashj mentioned  a potential subdomain upcoming?  security.cncf.io ?  need POC to confirm and help figure this out.

[2020-12-10 01:44] TheFoxAtWork opened #481 "[Suggestion] move tools.md to governance/tools"
Description: Document conversion information is nestled under [assessments/guide/tools](https://github.com/cncf/sig-security/blob/85b4878e1eed7a4b5b947c0af68af04031337a9f/assessments/guide/tools.md) and is difficult to find.  As more and more work is done by the SIG members, finding these conversion tools will be critical.

Impact: Make it easier for members to convert google docs to markdown.

Sc

[2020-12-10 20:46] TheFoxAtWork commented on #377
@anvega move this forward.  @pragashj provided approval previously and confirmed with me yesterday.

[2020-12-11 00:54] jlisbz commented on #348
Great, please count me in too if you need some help on this landscape development.

[2020-12-11 12:40] TheFoxAtWork commented on #348
samesies!

[2020-12-11 14:34] chasemp commented on #348
Interested.  :)

[2020-12-14 04:29] achetal01 commented on #423
I am interested in contributing to this work stream....
Has the work started and is there a document with more detailed mappings of controls & use cases to OSCAL?

Thanks

[2020-12-14 14:13] #481 closed

[2020-12-14 14:17] TheFoxAtWork commented on #478
@pragashj @ultrasaurus recommend we identify a Co-chair for this as i believe can go on our monthly TOC slide.

Also need to identify a project lead, @anvega ?

[2020-12-14 14:53] chasemp commented on #478
FWIW in the last meeting there was broad support for adopting https://inclusivenaming.org as the canonical reference specifically.  Worth linking to in contributor/new member pages to that effect.  Great stuff!

[2020-12-14 15:05] lumjjb commented on #478
For the master branch renaming tooling, i am leaning towards CNCF doing that investigation, i suspect that since they control the organization, they kind of control the tooling as well. @amye are there plans to look at this for the CNCF git repos?

[2020-12-14 15:57] lumjjb commented on #467
@lukehinds how does January 13 or 20th sound?

[2020-12-14 16:06] lumjjb commented on #451
@vinayvenkat do you think you could help devise an outline/plan on how we could approach this? If we could start defining a rough scope, it would be facilitate members to find areas to contribute.

[2020-12-14 16:13] lumjjb commented on #450
@TheFoxAtWork @ultrasaurus @pragashj @JustinCappos do you think we could host a webinar during the SIG meeting? I think could be a good way to introduce more people to the SIG as well.

[2020-12-14 16:27] lumjjb commented on #437
Presentation done! closing issue.

[2020-12-14 16:27] #437 closed

[2020-12-14 16:30] lumjjb commented on #423
Tagging policy WG folks just to ensure visibility. @hannibalhuang @ericavonb @rficcaglia

[2020-12-14 16:33] lumjjb commented on #415
The context of topics in these issues are now being covered by the following issues that spun up from Sec assess. WG

https://github.com/cncf/sig-security/issues/449
https://github.com/cncf/sig-security/issues/444

So closing this in favor of contributing to those, which are more scoped.

[2020-12-14 16:33] #415 closed

[2020-12-14 16:44] sunstonesecure-robert commented on #423
Let's target the next Policy WG agenda - 12/23.  Will add to the agenda.

On Mon, Dec 14, 2020 at 8:31 AM Brandon Lum <notifications@github.com>
wrote:

[2020-12-14 17:00] lukehinds commented on #467
works for me, tagging @dlorenc and @bobcallaway

[2020-12-14 17:06] TheFoxAtWork commented on #450
@lumjjb i think this is very doable.  Any specific thoughts?  CNCF webinar simulcast on twitch?

[2020-12-14 17:28] vinayvenkat commented on #450
@lumjjb Are you thinking use one of our Sig-Security meetings and do the webinar? I was also thinking how we can publicize this on a broader scale. For example, have it available on the CNCF webinars site etc.
Please let me know and happy to coordinate the details for this. I have a lot of ideas :-)

[2020-12-15 02:39] dlorenc commented on #467
20th is better for me.

[2020-12-15 18:49] ultrasaurus opened #487 "governance - lead of on-going project with OWNER of a directory"
We should add something to governance/roles allowing for there to be project leads of on-going projects with OWNER role of a directory.  For example, we talked about `supply-chain-security` having @SantiagoTorres as on-going project lead empowered to merge/approve, but wanted to have something general written up in governance to provide a structure for that

[2020-12-16 01:14] JohnHillegass commented on #311
Moving to 12/23 because of another conflict 🤦  I am on vacation that week so can definitely make it.

[2020-12-16 07:02] anvega commented on #377
from discussion with the project security lead, we'll reconvene in 2021 with an assessment schedule.

[2020-12-16 19:50] TheFoxAtWork commented on #478
https://github.com/inclusivenaming/org/discussions/12

[2020-12-22 14:16] ejazr83 commented on #450
I would be willing to get involved and support this as well. I can support doing a webinar and organising one for the ANZ timezone as well.

I think a paper walk through is fine but it might make sense to have slides version of the paper to make it more visual when presenting and then have a QnA session

[2020-12-22 14:17] magnologan commented on #480
I think I can help gathering those data via surveys and putting it all together in a DB like ELK for search and interpretation of the results. Do we have a template survey already or should we create one from scratch?

[2020-12-22 16:47] jlk commented on #480
Do we need ELK? Sounds like a google sheet would be Good Enough. I think the LF community survey has 1200 participants...just don't want to over-engineer :)

[2020-12-22 17:10] magnologan commented on #480
No need, just a suggestion. I just don't know the amount of data we'll get I've just find it easier to get proper info out of it from importing the excel/csv sheet into ELK or a Splunk to visualize and filter the data better. Just personal preference that I've done before with CVE data and Docker Image vulns. Whatever is easier I'm fine with it.

[2020-12-22 17:12] jlk commented on #480
:) all for suggestions!

[2020-12-22 18:03] faisalrazzak commented on #480
I think our primary focus initially should be: What information we are trying to extract from the feedback/retrospective ? Once determined, we can determine what is the best way to collect and manage the data around it.

I want to extract information on following topics:

1. Check to see how the whitepaper was seen by the larger cloud native community and did it help/not help in convincing C-level

[2020-12-23 17:42] vinayvenkat opened #495 "[CNSWP] Propose and ideate on breakout topics for the CNSWP"
Description: We need to identify appropriate breakouts for the cloud native security white paper in order to deep dive on
specific topics.

Impact: The impact of this effort will be a more detailed discussion and suggestions on how security practitioners can operationalize security as described in the white paper. It also highlights the practices for each and every topic brought up in the CNSWP.

[2020-12-23 17:49] vinayvenkat opened #496 "Project to Create an Automated Security Framework to evaluate CNCF Projects"
Description: Develop and automated framework to evaluate the security posture for CNCF graduating projects.

Impact: The impact of this automated framework will be to easily evaluate the security posture for projects and provide concrete feedback highlighting areas which need to be addressed from a security perspective. This will help project owners understand the security attack surface and concr

[2020-12-23 18:07] sunstonesecure-robert commented on #496
this somewhat overlaps topics in the Policy WG so happy to break out there too -- next one scheduled 1/5

[2020-12-23 18:29] faisalrazzak commented on #495
I'm interested

[2020-12-23 19:27] gadinaor commented on #496
@vinayvenkat happy to to collaborate here - there is definitely a collection of tools that can be used to provide security assessments - artifacts level, deployment hardening level etc.

@sunstonesecure-robert if I understand correctly the Policy WG focused on a standardized assessment reporting format , right?

[2020-12-23 19:32] sunstonesecure-robert commented on #496
as one of the topics - yes - the WG strives to cover all aspects of policy in CN systems .... policy domains, definition, specification as code, enforcement, review, compliance, audit ... but we had to start concretely somewhere with 1 of these and reporting policy assessment results was just the one that gained traction in 2020.

[2020-12-23 19:58] achetal01 opened #498 "Cloud Native Security Policy Framework"
Description:  Define a superset of the security policies  and their definition for the whole cloud native domain which covers CI-CD Pipelines, Control Plane and Data Plane.

Important to scope it right and have focus on ONLY Security policies here, this work can be integrated into the Policy working group and can be an input into their Policy assessment and governance framework.

Impact: Enterpris

[2020-12-23 20:01] achetal01 commented on #495
I will like to contribute to breakout topics as well.

[2020-12-23 20:03] achetal01 commented on #480
One of the goals should be to identify what level of depth the consumers ant in this paper.  Maybe we need to have two flavors one for the C-Level and One for actual platform owners and app devs.

[2020-12-23 22:56] JonZeolla commented on #498
I'd like to contribute to this.

[2020-12-24 07:21] itaysk commented on #496
@vinayvenkat count me in!
Obviously there's alot of prior work in this space, which is also to say that on top of the product itself, the adoption strategy should not be underestimated.

[2020-12-24 07:28] itaysk commented on #498
sounds like the produce of this will be similar to #496? am I correctly understanding?

[2020-12-24 16:58] sunstonesecure-robert commented on #498
Trying to interpret other folks' comments from the call yesterday but I think #496  is more about assessing projects/products in an automated (policy driven?) way, whereas this is more like here's an off-the-shelf bundle of policy (as code) that you can tailor to your specific stack...or at least that's how I understood the goal.

[2020-12-25 01:05] JonZeolla commented on #496
I'm in as well

[2020-12-30 15:17] apmarshall opened #500 "White Paper Footnotes Off-By-One in PDF"
This is a very minor thing, but also probably a very easy fix.

I noticed when reading through the White Paper that the footnotes were off-by-one starting with what should be footnote 4. Essentially, what happens is that the first 3, found in the Executive Summary are correctly ordered. Then, on page 8 of the PDF, the number in the document is one ahead of the number in the footer (so in the doc b

[2021-01-04 15:09] justincormack opened #501 "[Presentation] Software Factory"
Title: Software Factory

Speakers: Jonathan Meadows

Description: Building a secure automated software deployment factory with continous security. Open community discussion about contributing to common models and tooling.

Time: 20m

Availability: Any January meeting

TO DO
- [ ] SIG Representative
- [x] Schedule date: 13 Jan

[2021-01-04 15:44] TheFoxAtWork commented on #501
Would Wednesday the 13th or 20th work?

[2021-01-04 16:01] justincormack commented on #501
I believe 13th is good, will confirm tomorrow.

[2021-01-04 17:45] justincormack commented on #501
Confirmed for 13th.

[2021-01-04 18:15] lumjjb commented on #467
ok putting this in for 20th @lukehinds @bobcallaway @dlorenc

[2021-01-04 18:24] TheFoxAtWork commented on #501
added to agenda
~Emily Fox
@TheMoxieFox

On Mon, Jan 4, 2021 at 12:45 PM Justin Cormack <notifications@github.com>
wrote:

[2021-01-06 17:51] TheFoxAtWork commented on #500
Yep!  we are aware of it and plan to fix it in the next update.  thank you for the issue!

[2021-01-06 17:51] #500 closed

[2021-01-06 17:51] TheFoxAtWork commented on #495
add me in!

[2021-01-06 17:54] TheFoxAtWork commented on #480
related to #495  ( some items from the retro may deserve to be their own breakout topics.)

[2021-01-06 18:39] ashutosh-narkar commented on #348
Please add me as well !

[2021-01-06 18:47] magnologan commented on #495
I can help with the K8s related deep dive.

[2021-01-06 18:52] magnologan commented on #496
Sorry if I didn't completely understand the goal here. But what we are trying to get out this exactly? Is it a document with best practices/standard for Cloud Native developers to follow? Or is it more like a generic tool that would basic security implementations (code security) in all CNCF projects such as:

- No hardcoded credentials
- Strong crypto algorithms
- Proper input validation
- Paramet

[2021-01-08 17:35] asudhak commented on #377
I talked to @anvega offline about this and would like to shadow this security assessment

Hard conflicts:

Reviewer is a maintainer of the project - NO
Reviewer is a direct report of/to a maintainer of the project - NO
Reviewer is paid to work on the project - NO
Reviewer has significant financial interest directly tied to success of the project - NO

Soft conflicts:

Reviewer belongs to the same

[2021-01-08 20:49] magnologan commented on #157
I'm going to work on that...should have an update by next week! Link to the Slack discussions about this issue here: https://cloud-native.slack.com/archives/CDJ7MLT8S/p1609956438294600

[2021-01-08 20:50] magnologan commented on #157
@lumjjb or @TheFoxAtWork Can any of you assign this issue to me, please? It seems that I don't have permissions to do so. Thanks!

[2021-01-09 19:28] sunstonesecure-robert commented on #496
I think that's still undefined (or fuzzy defined).

 I see 2 perspectives at least:

* operator (bottom up) - this is vulnerability oriented, configuration oriented, secure baseline oriented ... the "what" and "how" of security
* compliance (top down) - this is human policy oriented, threat oriented, process oriented, communication oriented, framework oriented ... the "who" and "why" of security.

[2021-01-10 04:04] achetal01 opened #502 "Attack Matrix for Cloud Native Technologies"
Description: Develop Attack Matrix (similar to Mitre Framework) for CaaS and FaaS. This can be a separate effort or a subdomain to security white paper.

Impact: It will help consumers /Enterprises who are using Cloud native technologies, Understand the cyber-attack chain and help them to  put controls in place to “kill” or contain the attack at various stages, and better protect the Platform and

[2021-01-11 13:17] magnologan commented on #157
Draft list of past security vendors here: https://docs.google.com/spreadsheets/d/1sVT5eDfEVatE16LLzZ7BJWpxbJlkUCpPlzAx57l1TDg/edit#gid=0

[2021-01-11 15:46] magnologan commented on #447
Working on it! =)

[2021-01-11 16:45] lumjjb commented on #348
## Agenda for SIG Security “Landscape” kick-off meeting (covering 1-4)

### 1. Goals and Non-goals of SIG-Security “Landscape”

- Provide a mapping of CNCF and open source projects to areas of CN Security whitepaper
- Provide a practical viewpoint and information on topics in the CN Security whitepaper
- Identify gaps in CN Security in the ecosystem and make recommendations to TOC
- Help educate p

[2021-01-13 16:54] vinayvenkat commented on #450
@ejazr83 I'm thinking it would be good to have two versions of the webinar. One version is like a roundtable with a moderator and 3 other participants to share their views on how to consume . The second version can be the one wherein we convert the paper into a slide deck and deliver it as a webinar.

[2021-01-13 19:25] jlk commented on #501
A link to slides would be handy...

[2021-01-14 10:47] JonZeolla commented on #348
Was the meeting recorded or are there any minutes?

[2021-01-14 11:50] jonmuk commented on #501
Thanks everyone for the detailed discussions last night. We have several ideas and contributions to follow up on. The intent of the presentation was to request further collaboration as a group to tackle the supply chain problem, particularly around Software Factories.  We're looking forward to tackling some hard problems!

We will be working with Justin Cormack and team to plan further sessions to

[2021-01-14 14:03] TheFoxAtWork commented on #480
Wanted to drop this here while still in my mind: either the next iteration or one of the separate deep dive papers needs to include explanation and importance of verifiable reproducible builds

[2021-01-14 14:03] TheFoxAtWork commented on #495
Wanted to drop this here while still in my mind: either the next iteration or one of the separate deep dive papers needs to include explanation and importance of verifiable reproducible builds

[2021-01-14 14:18] chasemp commented on #480
To that end, recently found myself quoting https://reproducible-builds.org/ internally.  Good reference resource.

[2021-01-14 15:07] joshuagl commented on #480
I would be very happy to contribute to that! I have been wondering how we can better advocate for verifiably reproducible builds (and ephemeral build systems, and build system hygiene more generally) through the SIG.
A colleague and I tried to drum up some noise about this a year or so ago but didn't make much headway before getting side-tracked).

How can I help make this deep dive/section of the

[2021-01-14 15:09] joshuagl commented on #495
I would like to help with the verifiable reproducible builds (and related build system hygiene?) deep dive

[2021-01-14 23:27] magnologan commented on #157
PR to update security audit vendors list here: https://github.com/cncf/toc/pull/590

[2021-01-14 23:35] magnologan commented on #447
what are the reasons that people want to participate?

- Help the community
- Participate in an open source project
- Help share the security of Cloud Native applications
- Make an impact on the future of cloud infrastructure

can we incentivize more?

- Yes, better marketing on Security Forums and Lists would be good.
- Any swag or recognition such as a Hall of Fame of Contributors would be helpf

[2021-01-14 23:40] magnologan commented on #496
I think that the goal for this issue should be to focus on the automation part. Things like SAST (Static Analysis) and SCA (Software Composition Analysis) would be helpful here and should be part of this framework. Giving the project maintainers a better understanding of their dependencies and code issues is a good first step IMHO.

[2021-01-15 00:01] aspanner commented on #447
+ add a guide on how to sign up as a security auditor/participant and how to claim a work item as part of the short training video.

[2021-01-15 14:41] #157 closed

[2021-01-15 15:09] TheFoxAtWork commented on #480
@PushkarJ   I'd like to move forward with the retrospective so we can create a subset of topic areas for deep dive papers.  Would get a few folks on this issue (interested in contributing to the survey) together for a meeting to figure out the questions we will ask?  We should leverage the CNCF for running the survey for us.
We will need:
* survey questions
* date to open survey
* help from CNCF t

[2021-01-15 17:47] TheFoxAtWork commented on #430
Closing as this was merged in.

[2021-01-15 17:47] #430 closed

[2021-01-15 17:47] TheFoxAtWork commented on #426
Closing issue as the change was made and appears to be satisfactory.

[2021-01-15 17:47] #426 closed

[2021-01-15 17:49] TheFoxAtWork commented on #423
Wanted to check in here and see if this is worked under the Policy WG or does this need larger involvement?

[2021-01-15 17:50] TheFoxAtWork commented on #414
Tasked to TLs and Co-Chairs for next discussion.  We've got lots of great things being proposed.

[2021-01-15 17:54] TheFoxAtWork commented on #418
@itaysk  does https://github.com/cncf/sig-security/pull/479 resolve this issue?

[2021-01-15 17:56] rficcaglia commented on #423
Happy to have larger involvement definitely! but we are working on this in
the Policy WG and specifically wrt the Policy Report CRD. the scope
naturally could be expanded into different areas of focus so by no means do
we have a monopoly on all use cases/users

On Fri, Jan 15, 2021 at 9:49 AM Emily Fox <notifications@github.com> wrote:

[2021-01-15 17:58] TheFoxAtWork commented on #496
Possibly related: https://github.com/cncf/sig-security/issues/422

[2021-01-15 18:10] TheFoxAtWork commented on #422
Deepest apologies on not getting to this sooner.  I've got this scheduled for discussion January 27th.  @shibumi would you be willing to discuss?  This looks related to the #501 discussion as well as some framework automation in #496

[2021-01-15 18:19] TheFoxAtWork commented on #413
@lumjjb did this presentation happen?  If not when can we make it happen?  I think this may be related to #502 ?

[2021-01-15 18:23] TheFoxAtWork commented on #423
Awesome !   Would you do a check in on this with the SIG meetings in February?  See if we can drum up some others to join in the fun.

[2021-01-15 18:32] TheFoxAtWork commented on #405
@vinayvenkat has this been covered in the white paper, will be covered by the landscape, or leveragable of the DoD DevSecOps reference architecture discussed in the 1/13 meeting?

[2021-01-15 18:33] TheFoxAtWork commented on #399
closing as PR was merged.

[2021-01-15 18:33] #399 closed

[2021-01-15 18:41] TheFoxAtWork commented on #395
Added assessment-process label to ensure this is captured in those activities  CC @lumjjb

[2021-01-15 18:44] TheFoxAtWork commented on #367
Related to new Security process changes in #479 & #488  as well as the Due Diligence process of #440

[2021-01-15 18:48] magnologan opened #509 "[Proposal] Cloud Native Security White Paper Brazilian Portuguese Translation"
Description: Similar to #470 I'd like to start the translation of the Cloud Native Security White Paper to Brazilian Portuguese (pt-BR)

Impact: This would help the Portuguese-speaking community with the understanding and adoption of best practices for Cloud Native Security. This would also help the promotion of the white paper inside governmental organizations where only Portuguese documents are

[2021-01-15 18:55] TheFoxAtWork commented on #360
@lumjjb recommend closing without slides.

[2021-01-15 18:56] lumjjb commented on #509
Awesome to see this! Glad to pick up this issue as sig-representative.

[2021-01-15 18:59] TheFoxAtWork commented on #351
Made adjustments to the margins, since the new table format makes this much nicer to manage.  Closing issue.

Also - may be beneficial to check out hackmd.io  ?  CC @danpopSD

[2021-01-15 19:00] #351 closed

[2021-01-15 19:01] TheFoxAtWork commented on #343
This change is included in the #449 PR's (#479 & #488)  once those are merged we can close this.

[2021-01-15 19:05] TheFoxAtWork commented on #341
closing as this was merged

[2021-01-15 19:05] #341 closed

[2021-01-15 19:07] TheFoxAtWork commented on #326
Closing as OBE reference #449

[2021-01-15 19:07] #326 closed

[2021-01-15 19:09] TheFoxAtWork commented on #314
Closing this issue.  Transcripts are available but not readily automated for linking/posting in the repo.

[2021-01-15 19:09] #314 closed

[2021-01-15 19:12] danpopSD commented on #351
recommended.  you can keep an ongoing md file and have folks update in realtime.  this is something we do in the falco community.

let me know if its something the sig wants me to help with.

[2021-01-15 19:14] knowlengr commented on #360
https://www.slideshare.net/knowlengr/security-within-scaled-agile

[2021-01-15 19:23] magnologan commented on #348
@JonZeolla please check here for meeting notes: https://docs.google.com/document/d/170y5biX9k95hYRwprITprG6Mc9xD5glVn-4mB2Jmi2g/edit?usp=drive_web&ouid=112152877013556173105

For any other questions, feel free to reach out to us on our Slack: cloud-native.slack.com

[2021-01-15 19:43] #360 closed

[2021-01-15 20:23] rikatz commented on #509
Amazing, go for it!

Let me know what can I be helpful with :)

[2021-01-15 20:27] filipi86 commented on #509
Awesome, let's do this.! ..

[2021-01-15 20:28] cardosoJV commented on #509
Nice! Let's go boys!

[2021-01-16 00:43] anvega opened #510 "Secure Supply Chain Paper"
As a follow-up to #501, there is a renewed interest to organize and track community efforts concerning supply chain security-related efforts. Several SIG members have expressed interest to focus on this area. In order to discuss what we'd collectively like to achieve we want to start a  forum for discussion to scope possibilities.

Interested parties: @TheFoxAtWork @justincormack @jonmuk @joshuagl

[2021-01-16 05:50] achetal01 commented on #510
Please add me to this effort. I will specially like to participate in the threat modeling effort around software factory.

[2021-01-16 08:58] jonmuk commented on #510
I'll start writing a formal proposal tonight and suggest an informal catch up next week with interested parties to define the scope ahead of presentation to SIG chairs. I'm collecting a list of interested parties but also feel free to add offers of support to this ticket.

Potential goals of working group for discussion (scope far too large here but food for thought):
* Define supply chain best pr

[2021-01-16 15:00] sublimino commented on #510
+1 looking forward to contributing

[2021-01-18 00:06] jonmuk commented on #510
As discussed, here are some initial thoughts on a proposal. Happy to discuss this on an initial informal call along with a deeper dive into signing the initial meta data from the pipeline.

**Proposal**

**Problem Statement**
Whilst there are relatively few software supply chain attacks each year, the impact of these events is often significant. The sig-security group has provided a detailed catal

[2021-01-18 05:02] alok-raj commented on #498
I'd like to contribute to this.

[2021-01-18 05:03] alok-raj commented on #510
I'd like to contribute to this.

[2021-01-18 11:08] joshuagl commented on #510
Minor nit: we don't know that there aren't more of them happening, we only know that relatively few are disclosed.

---

I may struggle to make a call this week, depending on what timezone it's scheduled in (GMT here), but I am definitely interested.

[2021-01-18 11:36] justincormack commented on #501
See #510 for followup working group proposal.

[2021-01-18 11:36] #501 closed

[2021-01-18 14:34] jonmuk commented on #510
Good point, @joshuagl I've updated the text.

[2021-01-18 15:03] jonmuk commented on #510
I have availability at 16:30 GMT on 20th or 22nd January, @joshuagl also able to make that time.
Would that work for others?

[2021-01-18 15:19] colek42 commented on #510
@jonmuk I have both blocked our right now

[2021-01-19 00:35] JustinCappos commented on #510
The [in-toto](https://in-toto.io) project is a CNCF project focused on this and already has a design with threat model, etc.  It also has quite a bit of traction.  I'd suggest looking here as a starting point instead of trying to come up with a design from scratch.

@SantiagoTorres

[2021-01-19 08:38] jonmuk commented on #510
@JustinCappos in-toto is front and centre in those discussions

[2021-01-19 08:40] jonmuk commented on #510
I have had a couple of people reach out requesting 22nd January at 16:30 GMT. I appreciate not everyone can join the initial session but lets start with that and see how we get on. Any objections let me know

[2021-01-19 14:37] nishakm commented on #510
I'm also interested :)

[2021-01-19 14:50] ncdc commented on #510
Count me in!

[2021-01-19 14:56] garrying commented on #510
I'm interested in participating and contributing where I can!

[2021-01-19 15:12] SantiagoTorres commented on #510
+1, definitely interested, and definitely participating in figuring out how in-toto can contribute and/or adapt to the findings on this WG!

[2021-01-19 15:13] magnologan commented on #510
i++ 😉

[2021-01-20 17:11] TheFoxAtWork opened #512 "[Presentation] LF/CNCF Security Scanning"
Title: LF/CNCF Security Scanning

Speakers: Shubhra Kar

Description: Describe in a short paragraph what the presentation is about.

Time: How long will the presentation take? (estimate)

Availability: February 3rd.

TO DO
- [x] SIG Representative
- [x] Shubhra Kar

[2021-01-20 18:17] jonmuk commented on #510
Here are the details for supply chain working group meeting tomorrow:

CNCF SIG Security is inviting you to a scheduled Zoom meeting.
Topic: Supply Chain Security
Time: Jan 22, 2021 11:30 AM Eastern Time (US and Canada)

Join Zoom Meeting
https://zoom.us/j/92812532864?pwd=NmZRMDlrNXEvUjU2UktGanRuZnl1dz09

**Meeting ID: 928 1253 2864
Passcode: 734638**

Find your local number: https://zoom.us/u/acb

[2021-01-20 18:23] magnologan commented on #510
@jonmuk Is that tomorrow or Friday? Date says Jan 22nd which is Friday. Could you please double check? Thanks!

[2021-01-20 18:52] lumjjb commented on #467
@lukehinds @bobcallaway @dlorenc Can we add a link to the slides/slack here? Thanks!

[2021-01-20 19:32] lukehinds commented on #467
slack: https://join.slack.com/t/projectrekor/shared_invite/zt-kw84i368-cclDHDUrqBr97oOree_kog

slides (apologies for the unruly url): https://docs.google.com/presentation/d/e/2PACX-1vSrZbZNPy946Z8tXMJrSUBL87zXm2bP6ISMxZnS_DuA3PS3TRxTctLMTBpMZeXT2fWVBfqV4KTxQ6Z2/pub?start=false&loop=false&delayms=5000

[2021-01-20 19:54] anvega commented on #467
@lukehinds I can't seem to access the slides. Is the deck shared as public?

[2021-01-20 20:21] lukehinds commented on #467
sorry about this @anvega , can you try this one https://docs.google.com/presentation/d/e/2PACX-1vRbK6ywcihdclXWphk4wHsByUpc4IRy8JG8Af2F3CfutbTRV22xZ0K0fbSe6zy8np8FkvXY19lzP6TA/pub?start=false&loop=false&delayms=3000

[2021-01-21 00:13] jonmuk commented on #510
Meeting is Friday the 22nd

[2021-01-21 15:30] magnologan opened #513 "[Presentation] Jen Burns to speak about MITRE ATT&CK for Containers"
Title: [MITRE ATT&CK for Containers](https://medium.com/mitre-engenuity/help-shape-att-ck-for-containers-7fe4905623c5)

Speakers: [Jen Burns, Lead Cybersecurity Engineer, ATT&CK for Cloud Lead at MITRE](https://www.linkedin.com/in/burnsjennifere/)

Description: The MITRE ATT&CK team is investigating adversarial behavior in containers for potential inclusion in ATT&CK. If they find that there’s eno

[2021-01-23 23:32] jonmuk commented on #510
Here are the high level notes from the 22nd Jan meeting.

[sig-security-whitepaper-wg-notes-220121.pdf](https://github.com/cncf/sig-security/files/5861322/sig-security-whitepaper-wg-notes-220121.pdf)

[2021-01-23 23:40] jonmuk commented on #510
Also here is a google doc for the Draft Supply Chain White Paper. I've added the headlines discussed during the meeting. Please feel free to contribute sections:

https://docs.google.com/document/d/1VURD9rdEhiuqPdixhEozkHw01Tk6e2AaJVjBK3pK6Zc/edit?usp=sharing

[2021-01-25 16:16] TheFoxAtWork opened #514 "[Suggestion] SIG-App-Delivery Help. operator paper needs security input"
Description: Colleagues in SIG-App-Delivery have asked for security focused assistance in writing an operator paper.

[Current Draft](https://docs.google.com/document/d/1daXHyR2yG5ArjO1PO83v4a0fmLCLo2kYNT3TwGZksng/edit#)

a slack channel #sig-app-delivery-operator-wg
POCs: Omer Kahani, Jennifer Strejevitch, Thomas Schuetz

[2021-01-25 21:12] lumjjb commented on #513
Hi @magnologan, assuming you can help coordinate with the speaker. :) Looking forward to this topic!

[2021-01-25 22:33] magnologan commented on #513
@lumjjb Yes, I've coordinated with Jen and she has agreed to speak on this date and time. I'll keep you posted if anything changes. Thanks!

[2021-01-26 20:13] thschue commented on #514
The corresponding issue in sig-app-delivery would be https://github.com/cncf/sig-app-delivery/issues/39. Thank you!

[2021-01-27 04:45] aspanner commented on #501
Thanks for the presentation.
Can I please clarify slide 10: What is the purpose of tcb-1 which was described as a Kubernetes cluster running on someone's laptop?
What I'd like to understand is:
1) Wouldn't that make it inherently insecure as the laptop might be compromised
2) Couldn't the Makefile / IaC build the needed environments directly?
Thanks,
Andreas

[2021-01-27 17:03] lumjjb commented on #348
@JonZeolla join the #sig-security-geography channel on slack to join in the discussion

[2021-01-27 18:12] magnologan commented on #509
Thanks to everyone who showed interest. I'll start drafting a document by next week to start off this project and how we'll tackle this and will share with everyone listed here. Please feel free to invite other people that may be interested!  Thanks! 😉

[2021-01-27 18:16] cpanato commented on #509
Yep count on me :)

On Wed 27. Jan 2021 at 19:13 Magno Logan <notifications@github.com> wrote:

--
Typed slowly with one finger on my phone. Please forgive any interesting
auto-corrections or misunderstanding typos.

[2021-01-27 18:16] TheFoxAtWork commented on #422
Should be more language agnostic, recommend inclusion into our security assessments. @JustinCappos @lumjjb

[2021-01-27 18:20] cseader commented on #514
I will contribute here

[2021-01-27 18:24] jlk commented on #514
Happy to help out as well!

[2021-01-27 18:49] sublimino commented on #501
Hi @aspanner, thanks for the questions. Very briefly:

1. yes, any component might be compromised, and controls are required around any trusted/DR/bootstrap infrastructure. A laptop that can be locked in a safe may be slightly easier to secure, but this could be any trusted device

2. the TCB-1 is essentially building the software factory directly, except instead of re-implementing the pipelines u

[2021-01-27 19:11] shibumi commented on #422
Hey @TheFoxAtWork sorry for the late reply. I am a very shy person, so take the issue more as an anonymous input/idea/suggestion for future discussions. It was meant as an idea for future binary distribution and as a possible way how to achieve this via having a look on how Arch Linux is doing this right now. Sorry :S

[2021-01-27 20:17] jlk commented on #422
@shibumi  - no reason to be sorry at all!! :) And thanks for the submission.

As this sits in my mind after the sig-security call, the idea's growing on me. If we could maybe do a guidelines doc for the top 3-4 CNCF languages (eg do these 10 things for golang), I bet that'd be super helpful to people...

[2021-01-28 07:59] aspanner commented on #501
Hi @sublimino, thank you for your quick response.

I am quite new here so apologies if you are working off a premise that I am not aware of.
1. I was checking out https://keylime.dev/ - perhaps that could be part of the bootstrap attestation
2. I am still not clear on the raison d'etre for tcb-1. My thinking is along the lines of runtime environments are harder to secure than code and code repos (

[2021-01-28 16:55] apmarshall opened #521 "[CNSWP v2] Different Framing to the Cloud Native Security Whitepaper"
## Description: What's your idea?

I would describe myself as a relative novice to the actual implementation of cloud-native security, but I have a strong background in writing, editing, and communications. I read the whitepaper with great interest, and I am wondering if there is a better way to frame it so as to draw out more clearly  what distinguishes Cloud Native security from "traditional" se

[2021-01-28 17:53] AevaOnline commented on #306
Apologies, I just found this Issue.

I work closely with @Stephenrwalli within the [CCC](https://confidentialcomputing.io), and was invited to give a presentation in late 2020 on this topic to the SIG. Any SIG member is welcome to follow up with me for coordination, and if I can't answer questions, I'm happy to forward to Stephen or other members of the CCC in our weekly meetings.

@justincormack

[2021-01-28 19:45] P0ssuidao commented on #509
Nicee ! Count on me

[2021-01-31 19:52] PushkarJ commented on #480
@TheFoxAtWork going through some crazy times last few weeks but I am back now. I will bring this up in next SIG meeting and will setup a time to discuss this with interested participants.

[2021-01-31 20:28] PushkarJ commented on #480
For everyone who have graciously offered to contribute, hop on to #sig-security-whitepaper slack channel under CNCF slack workspace for further discussions and meeting logistics

[2021-01-31 20:31] PushkarJ commented on #480
Agree on first point, for which I think the surveys will help. For second point, we have a chance to cross reference work being done by supply chain security wg: https://github.com/cncf/sig-security/issues/510

[2021-01-31 20:38] PushkarJ commented on #521
@apmarshall thank you for the detailed suggestion :) We plan to incorporate and discuss all kinds of feedback from members like you in future versions of whitepaper. It is currently being tracked as a larger retrospective effort here: #480 . Personally, I will take an in depth look at your proposal soon and look forward to discussing this you as well as the whitepaper authors.

[2021-01-31 20:42] PushkarJ commented on #451
@vinayvenkat came across one of the articles from you about the whitepaper: https://thenewstack.io/how-to-implement-security-recommendations-from-the-cloud-native-computing-foundation/ Just curious on whether, it is a deliverable of this effort or a separate one ?

[2021-02-01 01:33] aspanner commented on #510
Hi @jonmuk, Is there a recording of the last meeting?

[2021-02-01 19:24] ShubhraKar commented on #512
Title: LF/CNCF Security Scanning

Speakers: Shubhra Kar

Description: Security is a top challenge for open source projects. The Linux Foundation engineering team has been working on a toolkit called LFX Security that provides automated scanning to detect vulnerabilities and weaknesses in the native and upstream packages, proposing fixes, and to help projects address top security concerns. LFX is f

[2021-02-03 07:43] aspanner commented on #510
I've added notes in the Prior Art section of the above supply chain whitepaper draft, there's a Software Factory Operator or Trusted Software Supply Chain Operator being built:
https://github.com/ploigos/ploigos-software-factory-operator

[2021-02-04 01:22] TheFoxAtWork opened #526 "Use cases and Personas"
Description: update the use cases and personas, create a separate folder for them, update the CNSWP with the link to the use cases and persons.

Impact: The existing use cases and persons are from 2018-2019 and much as changed in our ecosystem.  Further, much of the content is linked to google docs that should remain references, rather than direct content.

Scope: small group of folx should get to

[2021-02-04 01:35] TheFoxAtWork opened #528 "[Suggestion] should document the process for CNSWP"
Description: As we create more papers, the process used to create the CNSWP seemed useful.  We should document that process, refine it as necessary and share it.  We've had one SIG reach out for this information which was shared out of band but was very useful

Impact: Streamline future papers

Scope: capture existing process from docs and write it up to commit to the repo.

Additional info:
- Org

[2021-02-04 01:37] TheFoxAtWork commented on #528
@vinayvenkat would you take care of this?

[2021-02-04 19:10] lumjjb commented on #512
Hi @ShubhraKar, thanks for the great presentation and great discussions! Are there any links to slides that you can share?

[2021-02-04 20:57] ShubhraKar commented on #512
Thanks for inviting me. Looking forward to collaborating. Link to presentation: https://docs.google.com/presentation/d/1nTkeYi3TRDEb1uklFM5-f0BSJ4Yu7f1H-Xc4JHx2lrY/edit?usp=sharing

[2021-02-09 01:39] sunstonesecure-robert commented on #423
just FYI I think newer oscal has modified this to be:
https://pages.nist.gov/OSCAL/documentation/schema/implementation-layer/ssp/json-schema/#global_system-user

and now user type is an annotation:

so I think the specific task here would be to define the type values for system-user

The [PolicyReport CRD](https://htmlpreview.github.io/?https://github.com/kubernetes-sigs/wg-policy-prototypes/blob/

[2021-02-10 17:46] magnologan commented on #513
This has been cancelled for today as Jen won't be able to  attend or send a replacement. We'll coordinate the rescheduling with her next week and update the ticket with a future date. Thank you!

[2021-02-10 22:10] lumjjb commented on #348
Updated notes: https://docs.google.com/document/d/1HZPpzTc-OMDPbWu5PDPto5kym5ngPgQiwgk5My5X-GI/edit

[2021-02-11 22:04] vinayvenkat commented on #451
@PushkarJ This was a separate effort to amplify the reach of the Cloud Native Security Whitepaper

[2021-02-12 14:20] knowlengr commented on #513
Looking forward to this event - a lead time of at least a meeting or two would be helpful.

[2021-02-12 15:59] apmarshall commented on #480
Brainstorming some questions for survey:

## Identifying Who the Actual Audience of the Paper Was:

1. What job title best fits your role? (CSO/CISO, CTO, C-Suite, Engineering Manager, SRE, Developer, Security Architect, etc)
2. How many years of experience do you have with cloud computing, programming, or engineering? (give tiers, something like 1-2, 3-5, 5-10, 10-15, 15+)
3. How often do you wor

[2021-02-12 18:57] anvega commented on #510
Given the goals formulated here and that the group has sufficiently self-organized over the past few weeks and made significant progress with the outline of a paper, I'd like to request for this workgroup to be sanctioned by a SIG co-chair representative. @TheFoxAtWork @ultrasaurus @pragashj

The approval is time-sensitive as the group would like to secure a maintainer track session during the upc

[2021-02-12 19:15] vinayvenkat commented on #528
@TheFoxAtWork Can you pls assign this to me? Thanks!

[2021-02-12 21:26] david-waltermire-nist commented on #423
I am the Technical Director for the OSCAL project. I would be happy to talk with you about this use case if you have any questions. We can chat on the [OSCAL Gitter](https://gitter.im/usnistgov-OSCAL/Lobby). There is also a bi-weekly [OSCAL Lunch with the Devs](https://pages.nist.gov/OSCAL/contribute/dev-lunch/) where we talk about use of models. Perhaps we could touch base there? The next one is

[2021-02-13 13:11] ultrasaurus commented on #445
this looks like it was addressed by https://github.com/cncf/sig-security/pull/459 -- closing

[2021-02-13 13:12] ultrasaurus commented on #445
oops -- noticed there's an open checkbox "Requirements for a SECURITY.md, what is required, and mapping from assessment documents (@itaysk)"

should that be opened as a separate issue?

[2021-02-13 17:02] itaysk commented on #445
it attempted to address it in https://github.com/cncf/sig-security/pull/494 but that wasn't merged. since the entire doc was rewritten since, I can assume it's no longer relevant (haven't got time to catch up since I didn't have much availability past couple of months for personal reasons). I'm going check that checkbox and if needed we can open a new one.

[2021-02-14 02:39] IAXES commented on #311
I have a code snippet for the linting part, if that helps (i.e. uses a tool called `mdl`, which is installed via `npm`).

https://www.npmjs.com/package/markdownlint

I can throw together the Docker container if someone else with the ability to modify the github actions to test/run it can very for me. Do we have a location where the Dockerfile for the testing image (and the container itself, i.e. "

[2021-02-14 04:47] JohnHillegass commented on #311
@IAXES there was a PR for this from about a month back you could possibly base some of the work off of https://github.com/cncf/sig-security/pull/497

[2021-02-15 15:24] lumjjb commented on #445
Yea i think a lot of the work there is still very good contributions, just need to see where they fit in the restructured doc.

[2021-02-16 23:01] pragashj commented on #312
Monday/Tuesday Feb, 15/16 2021 -- first kick-off meeting happened and the meeting times are updated on the readme. Closing this issue for now if @lumjjb @ultrasaurus and @TheFoxAtWork are good with this.

[2021-02-16 23:03] ultrasaurus commented on #312
pls link in the PR -- which I think is already merge, I think it addresses this issue

[2021-02-16 23:07] pragashj commented on #312
This https://github.com/cncf/sig-security/pull/529 addresses this issue, closing the issue.

[2021-02-16 23:07] #312 closed

[2021-02-17 14:03] #512 closed

[2021-02-17 14:13] TheFoxAtWork commented on #510
All - I'm going to spend some time today going through the existing documents, notes, proposal and outline.  The work of the group is very much needed however i do have some scoping and 'deliverable'/outcome questions.  We are good to move forward.

[2021-02-17 17:47] lumjjb commented on #513
Needs a new date for this - @magnologan let us know when we can reschedule this to!

[2021-02-17 18:20] sunstonesecure-robert opened #536 "Logistics: How does a Workgroup/subgroup archive or get access to its archived Zoom videos?"
For example the Policy WG uses the sig-security Zoom every other Wed 8AM Pacific, so how can we get a link to those videos for posting/slack distribution, etc.

Should we get a separate CNCF zoom account?  Should we continue to use this same sig-security zoom but assign a user to be admin and do some process? other?

[2021-02-17 18:21] sunstonesecure-robert commented on #536
@lumjjb I don't seem to have assignment rights so can't assign to you

[2021-02-17 18:51] TheFoxAtWork commented on #528
More notes for a write-up:

1. Identify intended whitepaper audience
2. Define whitepaper scope
4. Create schedule for whitepaper
5. Establish outline of whitepaper

- Outline
- Section author commitment
- Draft content
- Internal group review of draft
- Second round of content/editing
- Second group review of refined draft
- Single voice review
- SIG presentation on paper
- Community review
- Fin

[2021-02-18 01:09] ultrasaurus opened #538 "Review Security Vulnerability/Communication response policy for CNCF incubated/graduated projects"
Description: as discussed in Feb 16 TOC meeting (TBD toc issue), take a look at incubated/graduated projects and check to what degree projects have documented policies for users to report security vulnerabilities and how known vulnerabilities are communicated

Impact: support TOC in evaluating proposed criteria to validate requirement which is already part of CII badge requirement

Scope: take a l

[2021-02-18 10:57] joshuagl commented on #538
#183 is a related issue proposing we create a template security reporting policy for projects to use

[2021-02-19 00:54] ultrasaurus opened #543 "Better explain how we set up github permissions wrt SIG roles"
When we have a new chair or TL, what do we do?  how do we use github settings.yml and CODEOWNERS file.

[2021-02-19 18:49] ultrasaurus commented on #543
I'm working on refactoring a short paragraph in roles.md, into a separate file just about github permissions that explains Github access permissions. Including branch protection rules:

As an admin, I can see this UI:
![image](https://user-images.githubusercontent.com/41906/108547804-d0993480-729f-11eb-8956-71d741cc924f.png)

![image](https://user-images.githubusercontent.com/41906/108547866-e60e5

[2021-02-19 20:31] magnologan commented on #513
New date scheduled for March 17th @ 1pm ET. @lumjjb

[2021-02-19 20:53] lumjjb commented on #470
Hi @rootsongjc, do you think this is in a ready state for merging in?

[2021-02-19 21:42] TheFoxAtWork commented on #348
This project needs at least 1 non SIG leadership lead to help guide this forward!

[2021-02-19 21:47] #476 closed

[2021-02-19 21:57] anvega commented on #510
Tentative Schedule (due by dates)

Feb 26  - Initial content draft in the document for all sections
Mar 5  - Reviews of all draft content and clearing out commentary
Mar 12 - Content finesse
Mar 19 - Single voice narrative review
Mar 26 - Community review (2 weeks)
Apr 9 - Adjudication of community review (2 weeks) and final group review

[2021-02-20 07:24] rootsongjc commented on #470
This PR is almost ready, https://github.com/cncf/sig-security/pull/471 @magnologan Could you check it?

[2021-02-20 12:34] magnologan commented on #470
Me? I think you meant @lumjjb right? My Chinese skills are not that good! =)

[2021-02-22 00:42] achetal01 opened #546 "Serverless Security White Paper - Cloud Native Security Best Practices"
Description: Develop a White Paper specifically focussed on **Serverless Security Best Practices** for Cloud Native technologies. The paper will enumerate security best practices & Security Controls to be implemented in build and runtime for Serverless Microservices.

Impact: It will help enterprises secure their serverless deployments, specifically app dev teams and security teams.

Scope: In dev

[2021-02-22 14:57] TheFoxAtWork opened #547 "Cloud Native Security Day EU blog draft"
Description: We'd like a member of SIG-Security to draft a blog post to promote and discussion cloud native security day EU adhering to the [CNCF Blog Guidelines](https://github.com/cncf/foundation/blob/master/blog-guidelines.md) .

- [ ] blog draft is created as a comment on this issue.
- [ ] tag @anvega and the chairs (@TheFoxAtWork , @ultrasaurus , @pragashj ) for review & LGTM
- [ ] once LGTM,

[2021-02-22 15:23] magnologan commented on #547
@TheFoxAtWork  I can start working on it!

[2021-02-22 16:21] lumjjb commented on #124
Closing in favor of #348

[2021-02-22 16:21] #124 closed

[2021-02-22 18:51] lumjjb commented on #467
Presented - closing

[2021-02-22 18:51] #467 closed

[2021-02-22 19:03] lumjjb commented on #395
Closing this issue in favor of https://github.com/cncf/sig-security/issues/444, which should capture the items from here.

[2021-02-22 19:03] #395 closed

[2021-02-22 19:04] lumjjb commented on #303
Completed

[2021-02-22 19:04] #303 closed

[2021-02-22 19:29] lumjjb commented on #377
doing a friendly triage ping while going through issues, last mention was to reconvene in 2021.

[2021-02-22 19:35] lumjjb commented on #115
Reviving this issue, i think there is a ton of value in this, we could use certain tags and incorporate it into the new member process.

[2021-02-22 19:40] lumjjb opened #548 "[Suggestion] Additional improvements to the new member process for matching contributors"
Description: Make a more interactive new members process, making it easier for both new members to start working on issues and projects and also make it easier for members of the SIG to find contributors for projects. '

From the triage team + chairs/TLs, there could be a more emphasis about tagging issues, triaging them.
From the new members side, there could be an easier process, i.e. filling up

[2021-02-24 20:29] apmarshall commented on #538
To clarify the project here, two pieces:

1. Identify which CNCF incubated/graduated projects have documented vulnerability reporting procedures.
2. Create a list of links to those documents for the ones that exist.

Procedures we are looking for from projects:
1. How to report discovered vulnerabilities to the project.
2. How project leaders communicate vulnerabilities to their users.

Is that an

[2021-02-24 22:08] apmarshall commented on #538
Started this, here's what I have so far: [CNCF Security Procedures](https://docs.google.com/spreadsheets/d/1EuI5SOTJSYAClgvz0QGPXi8FC6EhsH9h1fzfs8kDPfM/edit?usp=sharing)

After the information is collected, happy to convert this into some sort of markdown or html format to include within the SIG-Security repo, just starting out with a Google Sheet to make info collection easier.

[2021-02-25 16:21] lumjjb opened #551 "CNCF Cloud Native Security Map Vanilla"
# CNCF Cloud Native Security Map Vanilla

For a much more detailed guide on this project and how to start contributing, please comment on the issue and take a look at https://docs.google.com/document/d/1ytshTEnoKqP0m0JFKO4IB2qEFaIAZc9jDet6VdeT3sE/

## Description:

We have discussed the vision of the cloud native security map (#348), the ideas and discussions are available in this [google doc](htt

[2021-02-25 17:11] ashutosh-narkar commented on #551
@lumjjb I'm happy to volunteer to be one of the project leaders.

[2021-02-27 00:48] magnologan commented on #509
Hi guys, really sorry for delay here, but here's the document I've created so that we can kickstart this project: https://docs.google.com/document/d/1PZfeNRGjvHLWrIpJwHE4q400q0S5Dq5HQQ73YrC7n9k/edit

Basically what you have to do is assign a specific topic or paragraph under your name and make the translation as a comment so that we can review it later, makes sense? We can schedule a quick call ne

[2021-02-27 05:59] cardosoJV commented on #509
Let's go boys!

Obter o Outlook para Android<https://aka.ms/ghei36>

________________________________
From: Magno Logan <notifications@github.com>
Sent: Friday, February 26, 2021 9:48:52 PM
To: cncf/sig-security <sig-security@noreply.github.com>
Cc: João Victor Cardoso Baptista <joaocardoso_si@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [cncf/sig-security] [Proposal] Cloud Nati

[2021-02-27 12:23] filipi86 commented on #509
Let’s go guys 🤘🏻

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Magno Logan <notifications@github.com>
Sent: Friday, February 26, 2021 9:48:52 PM
To: cncf/sig-security <sig-security@noreply.github.com>
Cc: Filipi Pires <filipi86@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [cncf/sig-security] [Proposal] Cloud Native Security White Paper Brazil

[2021-03-02 02:19] freddyfernando commented on #551
I'm glad to help in this effort too.

[2021-03-02 02:23] matthewflannery commented on #551
As discussed on our early call @lumjjb put me down~

[2021-03-02 02:24] 0x646e78 commented on #551
Just posted in Slack, but also interested. Been reading through the content as it currently is.

[2021-03-02 14:20] cpanato commented on #509
Let's not use `guys/boys` and be more inclusive, also we don't have only male persons contributing.

[2021-03-02 21:31] magnologan commented on #509
Hi @cpanato, thanks for raising this concern. I totally understand your point, and I'm really concerned about being more inclusive. I'm sorry if I offended you or anyone else here, it's just force of habit. But as far as I know, in this specific situation I think that everyone here involved in this project are males or go by the pronouns he/him, please correct me if I'm wrong. Anyways, let's avoid

[2021-03-03 16:42] mattj-io commented on #551
I am happy to volunteer to help with this effort.

[2021-03-03 17:05] rsff commented on #551
I'm happy to help.

[2021-03-03 17:06] ricard0ff commented on #551
I'm happy to help with this effort!

[2021-03-03 17:15] willurbanski commented on #551
I'd love to support this effort!

[2021-03-03 18:47] TheFoxAtWork opened #554 "Security Pal for Self-Assessments Pilot"
Description: Execute a pilot that introduces and encourages one or two projects to complete a [self-assessment](https://github.com/cncf/sig-security/blob/master/assessments/guide/self-assessment.md) with a CNCF SIG-Security person assigned to walk them through and guide them on completing the self-assessment.
It is not intended to be a joint-evaluation, more to be as a touch point with security in

[2021-03-03 18:54] jlk commented on #554
I'm a fan of getting security stuffs outside our bubble to non-infosec peeps, so count me in. :)

[2021-03-03 19:00] apmarshall commented on #554
Likewise, happy to help out however I can with this.

[2021-03-03 19:05] magnologan commented on #554
Same here, but my vote still goes to Security Champions for the name of this program! =)

[2021-03-03 19:33] jlk commented on #554
Breaking things down in more detail, I guess what we need to cover...

1. Research what ContainerD has learned (all of us)
1. Pick say 3-4 projects from https://www.cncf.io/sandbox-projects/ (looking for 23 but we'll get blowoffs) (all)
1. Each reach out to 1-2 projects to see if we can get their interest
1. Once we have projects, do an intro chat, work with them through the self-assessment

I thi

[2021-03-03 19:45] apmarshall commented on #554
From ContainerD (emphasis mine): https://github.com/containerd/project/blob/master/GOVERNANCE.md#security-advisors

So there's a slightly different focus here than what I think we're doing (which is helping sandbox projects start thinking through security and perform their own security self-assessments), but similar structure for the role (outside advisor, not necessarily a code contributor/review

[2021-03-03 23:21] jlk commented on #554
@apmarshall concur - not quite the same thing. This to me is almost more of a welcoming committee -

I sorta like the term "security buddy" as it sounds less formal, more friendly. This will probably be a new projects first interaction with this SIG, so important to start on the right foot, but get them to realize we care about appsec...

[2021-03-03 23:50] magnologan commented on #547
Sorry for the delay here, I should have the draft done by this weekend, the document that I've created to work on this is here: https://docs.google.com/document/d/1hKEgBrrvcPtCW72B1ZsF3CfDiYNkRQa_OUBBet7WmZc/edit

[2021-03-04 01:25] TheFoxAtWork commented on #377
Wanted to check in on how this is progressing? CC @JustinCappos

[2021-03-04 01:52] ultrasaurus commented on #167
First five are complete -- closing this issue!

[2021-03-04 01:52] #167 closed

[2021-03-04 16:16] chasemp commented on #554
Security Champion - Pretty common descriptor for an embedded security aware member of an existing team usually supported by an external security office or program.  Not typically an outside advisor but rather an 'in-group' confidant and ...champion.  Seems potentially clash-y with the use case here.

Security Advisor - Generic enough to take on whatever role.  Advisor typically does infer hands ab

[2021-03-04 16:54] lumjjb commented on #551
Hi all and welcome to the issue/channel (#sig-security-whitepaper-map)! We are starting the content contribution phase. The idea is that over the next 2 weeks we will be working on writing in the content in the google doc, and we will have an optional meeting occasionally to track our progress and answer any questions.

The next meeting is going to be next Wednesday 10 March at 9:30AM PST / 12:30

[2021-03-05 13:53] andreacavagna01 opened #556 "[Presentation] Securing Cloud credentials on DevOps machines"
Title: Securing Cloud credentials on DevOps machines

Speakers: @andreacavagna01, @pethron

Description: One of the hardest challenges in a dev-life is to stay productive and confident as the Cloud environment complexity grows. We know that feel. That’s why we count on [Leapp](https://github.com/Noovolari/leapp), our open-source project for the generation and management of secure short-lived crede