[2021-09-23 19:37] TheFoxAtWork commented on #797
YES. Please do and link to the issue!

[2021-09-24 19:40] randomvariable commented on #603
(CAPI project contributor here)

On 2:
There was a kick off meeting a few weeks ago.

We're ( @ankitasw and me) working on creating the documentation and data flow diagrams such that reviewers can be useful for an initial review in October.

[2021-09-24 19:41] randomvariable commented on #603
On 1: I don't have any particular comments. It seems good to have that conflict of interest declaration. I think the only potential one is that @PushkarJ  would count as:

[2021-09-24 19:47] PushkarJ commented on #603
My point of view on conflict of interest, is to classify this type of exercise that is done within the confines of a CNCF project, to be a **self-assessment** where reviewers/assessors _partner_ with maintainers instead of two separate parties, the key word being "self".

A third party assessment like the one we do for Kubernetes project would be a logical next step for sub-projects after that, wh

[2021-09-24 19:48] PushkarJ commented on #603
@rficcaglia and @randomvariable: Thank you for covering the current state already!!

[2021-09-25 21:10] PushkarJ commented on #734
@TheFoxAtWork Done!

[2021-09-27 15:11] lumjjb commented on #509
@KoelhoSec Home stretch!! I'll check in with you again next week to see if we are ready to share the PR with others for open to comments, and something we can share during Kubecon as well.

[2021-09-27 17:20] TheFoxAtWork opened #799 "[Suggestion] Scrub Security TAG project resources against OpenSSF disclosure guide"
Description: OpenSSD released an Open SSF vulnerability disclosure guide for OSS projects.  We want to review our existing project resources and information and ensure it is alignment with the OpenSSF guide.

Impact: discrepancies between these may be confusing for projects.

Scope:
- [ ] Review the [OpenSSF guide](https://openssf.org/blog/2021/09/27/announcing-the-openssf-vulnerability-disclosure

[2021-09-29 18:21] #794 closed

[2021-09-29 18:22] lumjjb commented on #788
@IAXES can you look into this issue since you're looking at making some PRs to assessment process.

[2021-09-29 18:23] lumjjb commented on #784
ping @IAXES CC: @ashutosh-narkar

[2021-10-02 14:14] #797 closed

[2021-10-04 20:12] TheFoxAtWork opened #807 "[Suggestion] Cloud Native Security Stacks"
Description: Software Development has development stacks (MEAN, Spring, Metero, LAMP) which make getting up and running quick and easy.  This suggestion is to curate a series of Cloud Native Security stacks.

Impact: By developing or documenting Cloud Native Security Stacks, organizations and endusers can be confident in their implementations as interoperable, more secure, and easier it adopt

Sco

[2021-10-05 07:24] jetzlstorfer commented on #784
Is there any ETA when the review will be done for Keptn? (cc @thisthat)

[2021-10-05 13:51] TheFoxAtWork commented on #307
Checking in here on a status, would someone update the issue and resolve the outstanding items on #786?

[2021-10-05 13:51] TheFoxAtWork commented on #377
I believe this to be completed, closing.

[2021-10-05 13:51] #377 closed

[2021-10-05 13:53] TheFoxAtWork commented on #784
👋🏻 Our current pipeline shows a wrap up of Cloud Custodian (very nearly complete) then we begin Argo, Keptn would be next.
CC: @IAXES @lumjjb @ashutosh-narkar

Provided we can have volunteers for Argo and get it started soon, i would anticipate this (Keptn) beginning in Dec/Jan

[2021-10-05 15:32] TheFoxAtWork commented on #603
@PushkarJ  your call out on the self-assessment versus joint is a great one.

[2021-10-05 15:44] castrojo commented on #307
We (c7n) owe Robert some updates to the assessment, we've prioritized getting this to him as soon as we can.

[2021-10-05 23:58] IAXES commented on #784
Sounds about right to me. Looks like we'll have volunteers ready for Argo (it's just being pushed back a few weeks due to Kubecon).

[2021-10-06 18:32] siforster commented on #759
The slides are located here:

https://docs.google.com/presentation/d/180ZcX9KxQSUlQo5cDCJn8zN8oawi6x9DQ8xg1GLDkpA/edit

Slack is the best way to get hold of The Cartografos Working Group.  We are on CNCF Slack as `cartografos-wg`:
https://cloud-native.slack.com/archives/C026EQ8LU2Z

The spreadsheet we presented is located here.  It contains summarised baseline information that went into the model.

[2021-10-06 18:37] TheFoxAtWork commented on #759
Fabulous!

I would strongly recommend putting out a [call to action ](https://github.com/cncf/tag-security/blob/main/governance/communications/call-to-action.md) on this topic to our [mailing list](https://lists.cncf.io/g/cncf-tag-security/topics) with:
* a [link to the recording](https://www.youtube.com/watch?v=28NTegKt6yg)
* a link to the slack channel
* one or two SPECIFIC areas that need atten

[2021-10-06 18:37] #759 closed

[2021-10-06 19:30] chasemp commented on #606
This slid to the back for a few of us.  @apmarshall has indicated he is swamped under but still working on editing.  I have been similarly heads down in $job things.  I can't directly edit the description here but am looking to touch base with alex and will update the doc attached for timeline.

The wheel still turns my friends.

[2021-10-12 18:36] lumjjb commented on #307
I sign off on conflicts declaration statements (for co-chair sign-off), with updated participants from the one initially done couple months ago.

[2021-10-15 19:36] anvega opened #811 "SecurityCon at KubeCon+CloudNativeCon EU 2022"
Now that SecurityCon events for 2021 are wrap its time to prepare and plan for next year. This issue will track activities related to TAG Security events for upcoming year.

SecurityCon is designed to create a focus space to foster collaboration, discussion, and knowledge sharing of OSS Security.

Program committee
The responsibilities of the program committee include but are not limited to:
* Act

[2021-10-27 16:03] ksatchit opened #813 "[Presentation] Self Assessment for LitmusChaos"
Title: What is the title of your presentation?
Run through of the Self Assessment for LitmusChaos Project

Speakers: Who will be presenting this? List names/github IDs of presenters.
Karthik Satchitanand (@ksatchit) , maintainer, LitmusChaos

Description: Describe in a short paragraph what the presentation is about.
This presentation will introduce the CNCF sandbox project LitmusChaos, which provi

[2021-10-28 15:15] DavidKorczynski opened #814 "[Proposal] Enabling efficient fuzzing process of CNCF projects"
Description: what's your idea?

In short, this proposal is about making it easier to fuzz CNCF projects from a management perspective.

In the last year we (Ada Logics) have been doing a fair amount of work related to fuzzing CNCF projects. The goal is most often to integrate fuzzers into a given project and then have these fuzzers run by way of [OSS-Fuzz](https://github.com/google/oss-fuzz), in o

[2021-10-31 13:27] lumjjb commented on #758
Hi @jdorfman, shall we pick this up?

[2021-10-31 13:28] lumjjb commented on #576
Hi! Just checking in here again!

[2021-10-31 13:29] lumjjb commented on #509
@KoelhoSec how are looking!

[2021-10-31 13:30] lumjjb commented on #766
Hi @JasonKeirstead, how's it going on this issue!

[2021-10-31 18:04] lumjjb commented on #762
RFC closed

[2021-10-31 18:04] #762 closed

[2021-10-31 19:41] lumjjb commented on #667
@anvega shall we close out this issue

Posting available publicly accessible data, and creating a PR to update the events page, and let's get a new issue created for EU 2022!

[2021-11-02 02:47] IAXES commented on #739
Good day,

Here's the dedicated Slack channel for the assessment: `#sec-assessment-argo` (https://cloud-native.slack.com/archives/C029KLSQBD2). Could everyone that plans to take part in the assessment (i.e. security assessors, security assessment lead, etc.) please register with Slack (if not already registered) and join this channel?

- Have conflict of interest disclosure and added to Slack chan

[2021-11-02 14:04] lumjjb commented on #758
Closing out this issue for now

[2021-11-02 14:04] #758 closed

[2021-11-02 15:38] IAXES commented on #788
Assigning (to self).

[2021-11-02 19:24] PushkarJ commented on #747
Our friendly bot, reminded me that it is time to start working on version 2!!

I will bring this up in our weekly call tomorrow (11/03) and we can get started on this :) Excited 🎉

[2021-11-02 19:25] lumjjb commented on #747
Perfect, please remind me to bring up some of the discussions we had with NIST around ideas to augment the whitepaper !

[2021-11-03 17:12] nadgowdas commented on #739
Hard conflicts:
Reviewer is a maintainer of the project - NO
Reviewer is a direct report of/to a maintainer of the project - NO
Reviewer is paid to work on the project -NO
Reviewer has significant financial interest directly tied to success of the project - NO

Soft conflicts:
Reviewer belongs to the same company/organization of the project, but does not work on the project - NO
Reviewer uses the

[2021-11-03 17:26] captainarcher commented on #747
I am interested in helping on this

[2021-11-03 17:27] faisalrazzak commented on #747
For the NIST SSDF mapping work, I would like to contribute as well.

[2021-11-03 17:29] moswil commented on #739
Hard conflicts:
Reviewer is a maintainer of the project - NO
Reviewer is a direct report of/to a maintainer of the project - NO
Reviewer is paid to work on the project -NO
Reviewer has significant financial interest directly tied to success of the project - NO

Soft conflicts:
Reviewer belongs to the same company/organization of the project, but does not work on the project - NO
Reviewer uses the

[2021-11-04 08:05] jetzlstorfer commented on #784
thanks for the updates. Can we plan to have our security review in Dec/Jan?
Are there any more resources needed from our end to start the process?
CC: @thisthat @oleg-nenashev

[2021-11-04 11:09] JonZeolla commented on #747
@PushkarJ I'm interested in helping with v2

[2021-11-04 22:14] jedsalazar commented on #747
I am interested in helping with this!

[2021-11-04 23:41] savitharaghunathan commented on #747
@PushkarJ I am late to the party. Interested in helping out if you haven't maxed out on volunteers.

[2021-11-04 23:52] PushkarJ commented on #747
No hard limit on contributors. So everyone is welcome!!

[2021-11-05 05:14] sayantani11 commented on #747
Interested to help!

[2021-11-05 05:16] sayantani11 commented on #799
@TheFoxAtWork Can I help with this?

[2021-11-05 10:34] sachinkumarsingh092 commented on #747
Hi @PushkarJ, I'm interested in helping out with this. Just one suggestion: Can we use LaTeX for the paper instead of google docs? IMO it will produce a much better-looking and version-controlled whitepaper. WDYT?

[2021-11-05 12:03] freddyfernando commented on #747
Happy to contribute. This is my favourite project of late. 🚀

[2021-11-05 13:49] idcrosby commented on #747
I'm interested in contributing!

[2021-11-05 16:10] balasu commented on #747
I think below is 2022 nt 2021.
 - First draft is ready: Jan 2022

[2021-11-05 17:07] PushkarJ commented on #747
@balasu yes thank you! Updated now 😊

[2021-11-05 20:14] devadvocado commented on #747
Would like to help as well, put me to work

[2021-11-06 03:20] balasu commented on #747
Thnks happy to contribute if anything needs to be added

[2021-11-07 15:37] cavdarturgay commented on #747
Hi  @PushkarJ
I am also interested to help.

Best regards.

[2021-11-08 01:07] IAXES commented on #739
Thanks everyone! Updating the list:

- Have conflict of interest disclosure and added to Slack channel:
   - @jlk @apmarshall @nadgowdas
- Have conflict of interest disclosure; still needs to join Slack channel:
  - @moswil
- Need the conflict of interest disclosure and to join the Slack channel:
  - @hyakuhei

@moswil When time permits, could you please join the [#sec-assessment-argo](https://clo

[2021-11-08 02:25] hyakuhei commented on #739
Hard conflicts:
Reviewer is a maintainer of the project - NO
Reviewer is a direct report of/to a maintainer of the project - NO
Reviewer is paid to work on the project -NO
Reviewer has significant financial interest directly tied to success of the project - NO

Soft conflicts:
Reviewer belongs to the same company/organization of the project, but does not work on the project - NO
Reviewer uses the

[2021-11-08 06:51] moswil commented on #739
I haven't been invited to the Slack [channel](https://cloud-native.slack.com/)  yet, here is my email address moseswillfred1@gmail.com, please, send me an invite. Thank you.

[2021-11-08 07:47] oxeye-ron commented on #747
Count me in :)

[2021-11-08 14:00] akashkaveti commented on #747
Interested to contribute :)

[2021-11-09 17:32] IAXES commented on #747
Likewise: count me in :)

[2021-11-10 16:55] ak-secops commented on #747
I'm interested in contributing!

[2021-11-10 19:59] lumjjb commented on #739
Chair approval for @jlk to co-lead with @IAXES :+1:

[2021-11-11 19:59] anandg112 commented on #671
@TheFoxAtWork  I would like to contribute to this issue and come up with  actionable guidelines, relevant links for busy devs to make the checklist more robust. Please let me know how to proceed as this will be my first PR for this group.

[2021-11-11 20:07] mlieberman85 commented on #671
@anandg112 We have been working #679 which a first draft of is now getting finalized. See WG notes: https://docs.google.com/document/d/1MTM782nluFl4_ybG-fXHmRT2k4bPN18ifdzpUltQQCw/edit#heading=h.1tv8gumsrtbf

We will be looking for feedback soon on the draft. As far as next steps, we are still discussing those in the Thursday WG meetings which if you're interested we would love additional contribu

[2021-11-11 22:36] PushkarJ commented on #747
Thank you all so much for your interest. I will share a meeting invite for Wed Nov. 17 9 AM PT, to make introduction, finalize the scope and decide next steps soon.

Please find me on https://cloud-native.slack.com/archives/CDJ7MLT8S (slack handle: PJ) if you want to reach out to me 1:1.

[2021-11-12 06:21] ragashreeshekar commented on #811
Im interested to join. Please add me

[2021-11-12 08:25] mateuszpruchniak commented on #747
I have been working as an architect IT/cloud architect in the financial industry (highly regulated environments) for several years I would like to contribute, count me in! Thanks!

[2021-11-12 11:29] sublimino commented on #811
Happy to join CTF and CFP review 🙏 /cc @denhamparry

Will also be there on the day 🎉

[2021-11-12 19:34] fkautz commented on #811
I would like to be involved.

[2021-11-12 22:10] ashutosh-narkar commented on #811
I'm happy to be a CFP reviewer.

[2021-11-12 23:38] ak-secops commented on #811
I would like to be involved.

[2021-11-14 08:35] oxeye-ron commented on #811
I'd be happy to participate

[2021-11-14 14:35] lumjjb commented on #811
Happy to participate as cfp reviewer

On Sun, Nov 14, 2021, 3:35 AM Ron ***@***.***> wrote:

[2021-11-15 21:34] PushkarJ commented on #747
Hi All, here is the agenda and the meeting details for our first meeting: https://docs.google.com/document/d/1nJvDNhZedYxAhk1zKDjqgGaw0OKHtAnPFNs-MO23ELk/edit#heading=h.sxcjkdwxafg4 (link should be accessible for all)

To reiterate, we will meet **Wed., Nov. 17, 9 AM to 10 AM PST**. (This will be followed by our regularly scheduled TAG Security meeting).

We will record the meeting in case the tim

[2021-11-15 23:09] jlk commented on #739
For those not watching Slack - we're doing the first call for the group this Thursday at 7AM Pacific Time.

[2021-11-16 20:55] PushkarJ commented on #747
Just reminder, we are meeting tomorrow (Wed, 11/17/21) 9AM PST !! Here's the link with details on how to join: https://docs.google.com/document/d/1nJvDNhZedYxAhk1zKDjqgGaw0OKHtAnPFNs-MO23ELk/edit#heading=h.sxcjkdwxafg4

[2021-11-17 17:42] fkautz commented on #747
I joined the first meeting and intend to participate.

[2021-11-17 18:00] savitharaghunathan opened #818 "TAG-security calendar for meeting invites"
Short version: Is there a tag-security calendar subscription available, asking mainly for automated invites.

We had a discussion in the Cloud Native Security White Paper version 2 meeting regarding calendar invites. As of now there are few ways to get the TAG-security/related initiatives meeting invitations
1. Subscribe to CNCF calendar, that comes with every TAG meeting invites making it super n

[2021-11-19 01:08] ashutosh-narkar commented on #737
We will pick up this task and ask for volunteers early next year.

[2021-11-22 21:06] lumjjb commented on #818
This is something that would be SUPER useful! If someone wants to take the lead on this, we could pair up a TL for help provide access.

[2021-11-23 15:45] mlieberman85 opened #821 "[Suggestion] Collaborate with broader community on supply chain security attack catalog"
Description: The Security TAG has done some work based on work by @SantiagoTorres. OpenSSF is looking at potentially starting their own catalog or want to contribute to existing catalogs. There is also a lot of other work in the community outside of CNCF and OpenSSF working on this as well that we should figure out how to collaborate with.

This issue is here to track that collaboration.

@Santiag

[2021-11-23 16:12] SantiagoTorres commented on #821
I'm more than happy to discuss this. Ideally I think having a one-stop-shop for this catalog and such would be ideal, we could perhaps join forces with the OpenSSF and make it a joint effort. Part of what at some point I was hoping to see derived from the catalog was:

1. A more formal description of the attacks
2. perhaps a web site/queryable interface for people to more interactively explore the

[2021-11-23 16:39] lumjjb commented on #821
Thanks for opening this @mlieberman85 ! Yea this is a great opportunity to get together to work towards the common goal! What do you think the best way to engage would be? A couple of us can drop by an OpenSSF meeting or vice versa, and/or we could talk on the issue.

[2021-11-25 07:20] maorkuriel commented on #747
Thanks for the detailed info, @PushkarJ
I'm interested in contributing.

[2021-11-26 20:22] krol3 commented on #576
Hi @lumjjb the status is almost a 65% of translations.

[2021-11-27 13:58] maltfield opened #822 "Add Monero to Supply Chain Compromises"
This curated list of Supply Chain Compromises is awesome, thanks for maintaining it!

 * https://github.com/cncf/tag-security/tree/main/supply-chain-security/compromises

I noticed that the Monero wallet's compromised release from 2019-11-18 is not listed in this repo.

 * https://github.com/monero-project/monero/issues/6151

Considering that Monero is widely considered to be the most popular/secu

[2021-12-01 15:37] lumjjb commented on #609
@TheFoxAtWork is this issue closed with https://github.com/cncf/tag-security/commit/a2b1131348646f64476e9732010a4acb513c198f#diff-786d2899dd9c5edc902945f769f76a1194eebeccc1a8c017a9647bd72654ff0c, or do you think there are more specific things we need to address?

[2021-12-01 15:38] lumjjb commented on #612
commenting to remove first stale label

[2021-12-01 15:38] lumjjb commented on #665
removing stale label, still needs lead discussion on this governance process.

[2021-12-01 15:40] lumjjb commented on #666
Hi @sayantani11 ! Would you like to help out with this issue?

[2021-12-01 15:40] TheFoxAtWork commented on #609
concur this can be closed.

[2021-12-01 15:41] lumjjb commented on #678
@achetal01 is this something that you're tracking, any update on this? if the paper is completed we can close this issue

[2021-12-01 18:16] nadgowdas commented on #811
I am happy to participate

[2021-12-01 19:36] TheFoxAtWork opened #824 "Formalize Cloud Native Security Con with the repo"
Description: We need a PR in the repo (maybe under an Events folder) that covers Cloud Native Security Con information from the perspective of the STAG running/coordinating it and defining specific roles and expectations.
Potentially update and move: https://github.com/cncf/tag-security/blob/main/cloud_native_security.md

Impact: Reduce tribal knowledge loss as folks move on.

Scope: Talk to previ

[2021-12-01 20:41] jlk opened #826 "[Proposal] "landing page" for new visitors"
Description: Currently if someone browses to the [TAG GH page](https://github.com/cncf/tag-security/), it's sort of a confusing thing. The top-level readme talks about meetings, membership, leadership, objective, and vision...but not really what we do. I guess there's an "ongoing projects" section, but it sorta gets lost in the noise...

e.g. there's no list of how we can help projects, how we eng

[2021-12-01 21:04] jlk commented on #554
Just had another good conversation on this with the TAG - I'd attach slides but it's all [above](https://github.com/cncf/tag-security/issues/554#issuecomment-905693791). Notes from today's conversation below:

* At the core, the question I was trying to figure out is where do we go with this, and how to make the Pals project a sustainable thing.
* It was agreed that we can't leave it totally open-

[2021-12-01 21:07] jlk commented on #811
Love to help out as needed - hoping to be there in person! Small chance I'll dream up a talk proposal, will bow out of CFP review if I do.

[2021-12-01 22:56] lumjjb commented on #826
+ @ragashreeshekar who is looking into community manager type role for the TAG, which could be relevant to helping to maintain some of these

[2021-12-02 03:05] sayantani11 commented on #666
@lumjjb Guess I already made a PR for it!!!

[2021-12-02 03:05] sayantani11 commented on #666
https://github.com/cncf/tag-security/pull/798
cc @lumjjb

[2021-12-04 20:52] ultrasaurus commented on #807
I suggest we take issues like this and add them to a doc of inactive suggestions at the root of the repo (or somewhere) then if someone wants to take them on, they can make an issue (which means they will be able to edit the description).

[2021-12-04 23:37] PushkarJ opened #827 "[CNSWP v2] Landing page for all relevant TAG material"
**Description**: Create a publicly accessible page which references all the whitepapers and relevant supplementary TAG material:
    - #737
    - #510
    - #564
    - #635
    - #546
    - #679
    - #606
    - #471

(Please suggest anything we missed)

**Impact**: This will allow us to decouple new relevant material from the whitepaper versioning lifecycle by just adding the link to this page in

[2021-12-04 23:46] PushkarJ opened #828 "[CNSWP v2] Add new content on ransomware threats and mitigations"
Description: Current version of whitepaper is missing content on how ransomware threats affects cloud native ecosystem and projects. Any corresponding mitigations real world or recommended are also missing.

Impact: Adding this content, with recent high visibility into ransomware threats and known attacks, will make the CNSWP v2 richer than its predecessor.

Scope: Following tasks are involved:
-

[2021-12-04 23:55] PushkarJ opened #829 "[CNSWP v2] Add new content related to Threat Matrix for Containers"
Description: Threat matrix for containers did not exist when CNSWP v1 was published. With its publication, it makes sense to understand and evaluate how we include this matrix in the CNSWP v2

Impact: This will allow folks coming to the CNSWP v2 after having read the threat matrix to get a better footing on the content described in the paper. In the same vein, folks who have not come across threat

[2021-12-05 00:02] PushkarJ opened #830 "[CNSWP v2] Revisit references / citations"
Description: Revisit references in the whitepaper v1 and add / edit them as needed

Impact: This will ensure we are referencing to the latest content outside of TAG's scope and allows us an opportunity to fix any broken links and add new references based on the new content added

Scope: Following tasks are involved:
- [x] Copy references from v1 to a google doc / hackmd doc
- [ ] Fix any broken li

[2021-12-05 00:09] PushkarJ opened #831 "[CNSWP v2] Add new content about securing financial institutions in EU"
**Description**: Add new content about things to consider when securing cloud native environment in a strictly regulated financial institution in European Union

**Impact**: This was missing in the v1 and adding this will give visibility and build awareness into this very important but niche user story / scenario for cloud native security

**Scope**: Mateusz Pruchniak has already written this blur

[2021-12-05 00:20] PushkarJ opened #832 "[CNSWP v2] Apply feedback from Retrospective + Micro-survey"
Description: We did a retrospective on the whitepaper and found some really great ideas on how to improve. The v2 whitepaper should reflect these improvements

Impact: Gives a clear signal to readers that we listen to their feedback and improve our deliverables by letting them shape what we deliver

Scope: Following tasks are involved:

- [x] Add a link to a permanent survey or page  (could be a g

[2021-12-05 00:27] PushkarJ opened #833 "[CNSWP v2] Verify and update references of SIG Security with Security TAG"
Description: #613 happened after v1 was published. So v1 needs an update to refer us as Security TAG instead of CNCF SIG Security

Impact: To keep up to date with now established convention of referring CNCF level groups as TAGs

Scope: Find references of SIG Security and replace them with Security TAG

Additional info:
In scope of #747

[2021-12-05 00:33] PushkarJ opened #834 "[CNSWP v2] NIST SSDF (Secure Software Development Framework) Draft Guide mapping"
**Description**: Create a high level loosely coupled mapping of NIST SSDF with CNSWP v2

**Impact**: Allows folks who find both the guides/papers relevant to get a better understanding of the intersections and complementary aspects of each of them.

**Scope**: Unclear, but would be ideal to get someone from NIST SSDF team to collaborate on this.

Additional info:

In scope of #747 . Links to NIST

[2021-12-05 00:41] PushkarJ commented on #747
Hi All, Just added new dedicated [issues](https://github.com/cncf/tag-security/issues?q=is%3Aissue+is%3Aopen+%5BCNSWP+v2%5D) that represent the deliverables for v2.

Please check the description of this parent issue for more context. The issues with "Need Owner" prefix are the ones up for grabs. If you want to work on them, please add a comment on that particular issue so one of the Tech Leads / C

[2021-12-05 00:47] savitharaghunathan commented on #830
I can take this one

[2021-12-05 01:12] bredamatt commented on #747
Interested in helping out as well!

Best,
Mattia

[2021-12-05 07:31] mateuszpruchniak commented on #831
Please assign me to this issue.

[2021-12-05 15:04] faisalrazzak commented on #834
I'm interested in Ownership of this piece.

[2021-12-07 14:25] JonZeolla commented on #635
@achetal01 / @TheFoxAtWork can you please update the Meeting Hangouts Link to https://meet.google.com/gqv-hfuw-von and meeting time to Wednesdays at 6pm Eastern please? Thanks!

[2021-12-07 19:43] pabloopez commented on #811
I would like to get involved in the CTF side of it and learn more about it.

[2021-12-10 07:04] captainarcher commented on #827
@PushkarJ I am volunteering to be the owner for this

[2021-12-10 07:06] captainarcher commented on #833
I am volunteering to be the owner for this

[2021-12-10 07:07] captainarcher commented on #834
I can help with this as well

[2021-12-10 07:08] captainarcher commented on #831
I'm happy to help with this as well

[2021-12-10 17:32] TheFoxAtWork commented on #635
From discussion with CSA 12/10/2021 - we'd like to share the existing controls we've been working on with CSA to potentially  assist in CCM v.x but also provide implementation specific information unique to the cloud native space.

Further - this working group should document the decisions and intent behind how we are reasoning the controls and implementation to better assist users of the controls

[2021-12-10 18:22] TheFoxAtWork opened #835 "[Proposal] Global Security Vulnerability Summit"
Description: Propose a two day virtual/hybrid/in-person summit to hack at the backlog and disconnect of CVEs, misconfigurations, software/hardware/cloud/services. Recommended minimums for representation: MITRE, GitHub, GitLab, OpenSSF, CSA, Security TAG, Linux Foundation, CISA. Requested attendee potentials: Security Researchers and Defenders

Impact: There is a very large backlog of CVEs and some

[2021-12-10 19:14] mlieberman85 commented on #835
I think folks from my end would like to attend. This is a big problem we're running into particularly in two spots:

1. How can we parse vulnerability information in an automated way to trigger automation or provide easier to understand insight, e.g. this vuln is interactive/non-interactive, uses this attack vector, etc.
2. How do we apply this to the supply chain such that we can build a graph of

[2021-12-10 19:25] marco-lancini commented on #835
I'm going to circulate this within Gitlab to identify the most relevant people which should attend

[2021-12-10 20:09] naveensrinivasan commented on #835
@oliverchang @inferno-chromium FYI...

[2021-12-10 22:35] inferno-chromium commented on #835
Would love to attend from the Google Open Source Security team side (and OSV project in general, + @oliverchang)

[2021-12-10 22:59] idawson-gl commented on #835
Isaac from the GitLab Vulnerability Research Team here (handling CNA work), we would definitely be interested in attending this.

[2021-12-10 23:01] lumjjb opened #836 "[Proposal] Auditing Cloud Native Security"
**Description:** Feedback from the Cloud Native Microsurvey has shown that there is a gap in the area of auditing cloud native systems and the use of cloud native technology and security. There are several efforts ongoing that are looking at controls in the group such as the security controls working group, however there is still a gap of widespread knowledge about methodology and techniques of au

[2021-12-11 05:10] kurtseifried commented on #835
CSA checking in, we'll definitely be attending.

A good example of this problem and the kind of data we need is https://github.com/cloudsecurityalliance/gsd-database/blob/main/2021/1002xxx/GSD-2021-1002352.json aka cve-2021-44228 The GSD (GlobalSecurityDatabase) is our attempt to solve part of this problem (the security identifier/discoverability/publishing issue). As you can see from he GSD entry

[2021-12-12 18:53] hectorj2f commented on #835
As part of the VMware Secure Supply Chain Team, I'd love to attend and I am sure some of my teammates would join too.

[2021-12-12 22:56] achetal01 commented on #835
I will like to attend.

[2021-12-12 23:01] achetal01 commented on #635
Jon  and Security Controls WG Members

Hello

I will schedule a Joint meeting with CSA CCM team for Security controls WG to have an initial discussion in January...We can have an exchange of ideas and then define goals for this joint effort as well and logistics etc.

Hopefully we will have the MOU in place by then.

Thank You.

CC @JonZeolla @johnyeoh @TheFoxAtWork  @lumjjb

[2021-12-12 23:46] TheFoxAtWork commented on #835
Wanted to provide everyone with a quick update.  We will be pulling together a group to work thru logistics and planning around the middle of January to get this going.  If there are specific goals and asks you want to get out of this please be sure you have them in your comment so they can be discussed as part of the planning for this event.

[2021-12-13 00:10] coderpatros commented on #835
I'm interested in attending.

[2021-12-13 01:41] naveensrinivasan commented on #835
I would be interested in attending.

[2021-12-13 08:48] ycaihua commented on #835
i am interested in attending the great work! thank you

[2021-12-14 16:08] cory-at-confluent commented on #835
A great idea - we would be interested in attending.

[2021-12-15 11:10] maorkuriel commented on #835
I would be interested in attending.

[2021-12-15 20:36] xcorail commented on #835
Hey, great idea. The GitHub Security Lab is definitely interested!
We are in charge of
* GitHub AdvisoryDB curation and CNA
* Security research

And our Incident Response team is also interested.

I will also circulate this within OpenSSF

[2021-12-15 21:03] lumjjb commented on #807
This sounds like an idea to add on to the current planned microsite (#110). Microsite is going to be a priority for us upcoming next year.

[2021-12-20 16:30] TheFoxAtWork commented on #835
Reference: https://github.com/oasis-tcs/csaf/blob/master/csaf_2.0/prose/csaf-v2-editor-draft.md per @fkautz as possible discussion point during this.

[2021-12-23 22:21] fkautz commented on #835
@TheFoxAtWork: I'm happy to help here; just let me know what you need from me.

[2021-12-23 23:11] fkautz commented on #835
Since not everyone may be aware of what VEX is, I wrote about "Profile 5: VEX" at https://zt.dev/posts/what-is-vex/

There are also some efforts at NTIA and CISA on SBOMs, which include VEX in scope:

* https://ntia.gov/sbom (I believe future work is transitioning to CISA)
* https://cisa.gov/sbom
* One-Page Summary from NTIA: https://ntia.gov/files/ntia/publications/vex_one-page_summary.pdf
* Heal

[2021-12-31 07:44] lumjjb commented on #509
@KoelhoSec Hey Bruno, how are things coming along, last time we synced up we were almost there! How are things

[2021-12-31 07:48] lumjjb commented on #692
@ragashreeshekar can you give a quick update on this!

[2021-12-31 10:26] KoelhoSec commented on #509
Hi @lumjjb, about two pages left, had a period that had to stop working on it but now I am catching up and will be ready to convert to markup soon 😉

[2022-01-04 16:38] jetzlstorfer commented on #784
Is there any update on this?
cc @thisthat @oleg-nenashev

[2022-01-04 16:42] IAXES commented on #784
Good day,

We're currently going through the Argo assessment, and then will be re-visiting this review.

[2022-01-05 13:51] JasonKeirstead commented on #835
I would like to be kept in the loop on this / would like to attend.

[2022-01-05 16:56] dengy2016 commented on #835
Hi, this is Yu from IBM T.J. Watson Research Center. I am interested in attending this.

[2022-01-05 18:38] PushkarJ commented on #734
From today's meeting: Add a call out to https://web.mit.edu/Saltzer/www/publications/protection/ . Also add a note in whitepaper that it is assumed that the reader is already familiar with the terms mentioned in the paper, unless explicitly called out in the paper or CN Lexicon.

[2022-01-05 21:12] IAXES commented on #739
Setting up a sync-up meeting for 07:00 - 08:00 PST, Thursday Jan. 13th. We can wrap up the naive question ("NQ") phase rapidly (i.e. if there's anything not already covered in the GitHub comments on the review), and then slice up the 4x sub-reviews and get those done.

[2022-01-06 10:40] ragashreeshekar commented on #836
I would like to contribute

[2022-01-06 10:41] ragashreeshekar commented on #835
Sounds very interesting. I am interested to attend this event.

[2022-01-06 13:57] adammontville commented on #835
I am also interested in this.

[2022-01-06 15:02] nadgowdas commented on #835
I am interested in this as well

[2022-01-06 16:53] zmanion commented on #835
Interested and will attend.

[2022-01-06 19:39] devadvocado commented on #832
@PushkarJ happy to take ownership for this issue

[2022-01-07 09:41] sayantani11 commented on #829
Would like to help with this issue!!!

[2022-01-07 09:57] lumjjb commented on #836
Awesome - will be jumpstarting this when I get back from vacation in a couple weeks!

[2022-01-07 15:45] TheFoxAtWork commented on #835
Another post about this problem space: https://blog.wiz.io/security-industry-call-to-action-we-need-a-cloud-vulnerability-database/

[2022-01-07 15:51] TheFoxAtWork commented on #835
Folks - wanted to provide a quick update here.   Over the next two weeks we are giving everyone time to catch up after the holiday break.  After which Jan 24th @lumjjb is going to begin running point.  Some initial first steps already discussed:
1. Identify additional co-chairs for this project
2. Identify program committee members (some of these are already selected due to their area of responsib

[2022-01-07 16:56] PushkarJ commented on #521
@apmarshall do you have bandwidth to pick this up as part of whitepaper v2 effort? Parent issue is : #747

[2022-01-07 17:36] PushkarJ commented on #747
Thank you @sayantani11 , @savitharaghunathan , @devadvocado , @faisalrazzak , @captainarcher , @mateuszpruchniak for raising your hand up to take ownership of the deliverable issues.

Let's meet up in the upcoming week **Jan 12, Wed, 9-9:45 AM PT** to get together and discuss your progress and plans for completing these deliverables. Bring your questions and let's have some fun at work :) . If you

[2022-01-11 22:46] sparrell commented on #835
I am interested in attending. What ss the proper way to make sure I don't miss it? Will following this issue be sufficient?

[2022-01-12 00:18] sparrell commented on #835
If you are interested in this #835 summit, then you may also be interested in CISA #SBOM Cloud and online applications work-stream: https://www.linkedin.com/posts/allanafriedman_sbom-activity-6886338388639653888-TAXw

[2022-01-12 00:26] captainarcher commented on #835
The VMware Tanzu Trust team has representatives interested in this

[2022-01-12 00:49] KateCatlin commented on #835
I see @xcorail from our team already commented here, but I'll chime in that I'm also interested in attending ✋. I'm the PM for Security Advisories at GitHub.

[2022-01-12 18:59] jlk commented on #554
I'm still waiting for feedback from the projects we reached out to in the pilot. My fault, as I was late in getting feedback requests out.

Here's my thoughts for what a TAG Security Pal Program should look like:
* We come up with a selection of 5 topics we can help with - just to box things. Over time, that list can/will change/grow. An initial set may be...
  * Assistance with self-assessments

[2022-01-12 20:07] joshbressers commented on #835
I would like to point out the Cloud Security Alliance has a kickoff meeting for their GSD vulnerability project next week
https://twitter.com/cloudsa/status/1481296477188145153

I suspect anyone watching this issue will have an interest in what the CSA is doing

[2022-01-13 00:11] PushkarJ commented on #747
Thank you all for meeting today ❤️!!

Please hop on over to slack and check out the [next steps] (https://cloud-native.slack.com/archives/C017K5AN70T/p1642032270020200)

[2022-01-13 01:01] pyotam commented on #835
Rezilion Would love to contribute to this effort.
I would love to attend.

[2022-01-13 13:17] ThormaehlenFred commented on #835
[Gardener security team](https://github.com/gardener/documentation/blob/master/security-release-process.md#gardener-security-team) has representatives interested in this.

[2022-01-13 14:36] IAXES commented on #739
Good day,

Pinging to confirm who will still be able to join in the review (i.e. in case Slack notifications emails end up being spam-filtered).

Cheers.

[2022-01-13 20:54] franksec42 commented on #835
Love the idea AppSec Phoenix would love to attend and contribute

[2022-01-15 10:39] sand339 commented on #836
I will be interested in contributing

[2022-01-18 10:35] johnyeoh commented on #835
Looking forward to joining the conversation today with @joshbressers @kurtseifried

January 18, 10am Pacific Time

https://cloudsecurityalliance.org/research/working-groups/global-security-database/

Meeting details are towards the bottom of the page.

[2022-01-19 18:13] TheFoxAtWork commented on #554
@jlk This looks good, open a PR with the formal process. and we'll need to create a new template just for these kinds of engagements. ( i think you can include the template as part of the PR though i'm not sure)

[2022-01-19 18:42] pratiklotia commented on #739
I'd like to help as a shadow reviewer.

Hard conflicts:
Reviewer is a maintainer of the project - NO
Reviewer is a direct report of/to a maintainer of the project - NO
Reviewer is paid to work on the project -NO
Reviewer has significant financial interest directly tied to success of the project - NO

Soft conflicts:
Reviewer belongs to the same company/organization of the project, but does not wor

[2022-01-19 19:01] TheFoxAtWork commented on #667
@anvega

[2022-01-19 19:20] #667 closed

[2022-01-19 19:28] TheFoxAtWork commented on #440
pinging this for action.

[2022-01-19 19:30] TheFoxAtWork commented on #450
closing this issue as inactive

[2022-01-19 19:30] #450 closed

[2022-01-19 21:15] PushkarJ commented on #832
Thanks @devadvocado

I need to do some work on https://github.com/cncf/tag-security/issues/734. But you can start working on other items. I tagged you in the google doc for a placeholder location where we can add details.

[2022-01-19 21:16] PushkarJ commented on #833
@captainarcher I have not found a mention of SIG Security on the working google doc  but please do a review from your side too. If you don't find anything too, let's close this one out

[2022-01-19 21:17] hyakuhei commented on #739
Hey team,

Unfortunately I'm not going to be able to contribute to this effort.

-Rob

[2022-01-19 21:19] ashutosh-narkar commented on #348
Closing this in favor of https://github.com/cncf/tag-security/issues/737.

[2022-01-19 21:19] #348 closed

[2022-01-19 21:24] PushkarJ commented on #834
Just sent out an email to our NIST SSDF contact person, to see if we can directly collaborate with them on this.

[2022-01-19 21:33] faisalrazzak commented on #834
Yes, that's good news. It can help us streamline the final output. Can you
CC: me on the communication please ?

Thanks,

Faisal

*E-MAIL CONFIDENTIALITY CLAUSE:*
This e-mail and the information contained in it is confidential, may be
privileged and is intended for the exclusive use of the addressee(s). Any
other person is strictly prohibited from using, disclosing, distributing or
reproducing it.

[2022-01-19 21:35] jlk commented on #739
no worries, @hyakuhei. Next time!

[2022-01-19 21:58] PushkarJ opened #844 "[CNSWP v2] Add a new section for Supply Chain Security"
Description: Add a new section describing at high level the why, what, how of supply chain security

Impact: While we have a dedicated resources for supply chain security here: https://github.com/cncf/tag-security/tree/main/supply-chain-security, for completeness sake it would really help to add a short summary of supply chain security

Scope:

- Write quick blurb on why it is needed, with one exa

[2022-01-19 22:16] pratiklotia commented on #844
I'd like to help on this, thanks.

[2022-01-20 01:35] ashutosh-narkar commented on #737
This work will be prioritized in Q1 while current focus is to move ahead some of the other in-progress projects.

[2022-01-20 02:27] achetal01 opened #845 "Cloud Native Security Controls Mapping to NIST ( Phase II for #635)"
This project is Phase II for Issue #635 Cloud Native Security controls. This will be completed in collaboration with CCM from CSA.

Scope -

Mapping to existing frameworks and regulations (CSA, NIST, FedRamp, SOX, GDPR, etc.)
Conversion to machine readable format (OSCAL, JSON, etc.)
Inclusion of tests to validate/verify (both process and technical tests as appropriate)
Application to security revi

[2022-01-20 05:11] achetal01 commented on #635
The New Issue for Phase II is #845

[2022-01-20 05:17] achetal01 commented on #834
I am interested in contributing to this initiative. I think we can reference controls mentioned in SSDF and include the feedback we had provided for SSDF. But I m not sure we can do justice to SSDF in the Cloud Native white paper and will like to discuss that during the next meeting.

I think mapping Cloud Native controls to SSDF should be a separate Initiative in addition.
Happy to Discuss.
Thank

[2022-01-20 17:03] devadvocado commented on #832
Thanks @PushkarJ, I'll take a look on it this by EOW and start working on it.

[2022-01-21 22:53] lumjjb opened #847 "TL Transition Checklist"
As with the [Chair Transition Checklist](https://github.com/cncf/tag-security/blob/main/governance/chair-transition.md), it would be useful to have one for TLs as well.

Populating this as things come up:

## Nomination

(refer to https://github.com/cncf/tag-security/blob/main/governance/tech-lead-proposal-process.md)

## Transfer

* [ ] Transfer Logistics
  * [ ] #tag-security-chairs-and-tech-lea

[2022-01-21 22:53] lumjjb commented on #847
@cncf/tag-security

[2022-01-22 09:44] lumjjb commented on #818
Still relevant! Commenting to remove stale tag!

[2022-01-23 19:32] faisalrazzak commented on #834
I'm thinking about 2 different ways of presenting this information.

1) If we can put numbering to different sections of v1 of whitepaper & then in each section or sub-section point to SSDF v1.1 Practice and/or Task number, it could help us link both initiatives.

2) Add an Appendix showing SSDF practice/Task mapping to CNCF Security Whitepaper mapping.

[2022-01-23 19:56] mateuszpruchniak commented on #844
I will be happy to help with that too.

[2022-01-23 21:17] fkautz commented on #844
I've written some initial material for this available at:

https://hackmd.io/m_7BWODDQKCOfkoqPzXl1w

If you log into hack.md you can edit it. Comments are globally open for everyone as well.

[2022-01-24 17:39] PushkarJ commented on #844
@mnm678 I am unable to do a look up your github handle to assign the issue to you. Can you please add a comment here?

That has resolved this issue in the past.

[2022-01-24 18:18] PushkarJ commented on #847
I like this idea and can help create a PR for all of us to review / collaborate on :) But, this sounds like a good first issue, which I would be happy to help a new contributor on.

[2022-01-24 18:33] mnm678 commented on #844
Sure!

[2022-01-25 05:10] ragashreeshekar commented on #811
Hello @jlk @nadgowdas @oxeye-ron @ak-secops @ashutosh-narkar @fkautz @chasemp
Please share your email IDs 1-1 to @anvega or me over slack, and we will add you to the contributors for the SecurityCon mailing list. Thanks

[2022-01-25 18:20] mateuszpruchniak commented on #844
Hi Folks, I have an idea that maybe we should explicitly mention the supply chain of infrastructure as code and GitOps practice because it need to be secured and reliable as the software and it becomes very popular. I have added the last paragraph as a suggestion for what I think about. Please feel free to leave feedback or edit.

[2022-01-25 21:23] fkautz commented on #844
That's a fantastic point, infra as code and gitops style approaches are very important for this space. The system must be automated and changes observable.

[2022-01-25 21:25] fkautz commented on #844
@PushkarJ, I think we're approaching a point where this paragraph would make sense to include. The current co-authors are at the bottom of the hackmd doc for inclusion in the paper. Let us know what you need from us to progress. :)

[2022-01-25 23:42] PushkarJ commented on #844
Awesome !!! Let's add the content in the working doc here: https://docs.google.com/document/d/1fftLBt3XjDzyYQisEKH3TZXL1QnT_cHIbBnFtW98UOs/edit# I will be happy to review it along with all the other additions once we have it in place :) If you don't have access to the doc, shoot me a DM on CNCF slack

[2022-01-25 23:43] PushkarJ commented on #844
use this link with the bookmark that will take you to the supply chain security section: https://docs.google.com/document/d/1fftLBt3XjDzyYQisEKH3TZXL1QnT_cHIbBnFtW98UOs/edit#bookmark=id.319y80a

[2022-01-26 18:28] nadgowdas opened #850 "[Presentation] Trestle/OSCAL Presentation"
Title: Deep-dive on trestle and oscal mapping

Speakers: Who will be presenting this? List names/github IDs of presenters.
@nadgowdas to reach out to trestle developers

Description: Describe in a short paragraph what the presentation is about.

Time: How long will the presentation take? (estimate) 40 mins

Availability: What is the availability times of the speakers to present the topic? Meeting

[2022-01-27 02:44] fkautz commented on #844
I've cleaned up the prose a bit and added it as a suggestion.

[2022-01-27 15:27] PushkarJ commented on #844
Thank you @fkautz . If either of you have not had a chance to contribute to that section, please update directly in the working google doc under the supply chain security section here: https://docs.google.com/document/d/1fftLBt3XjDzyYQisEKH3TZXL1QnT_cHIbBnFtW98UOs/edit#bookmark=id.qmih3evwedgl

[2022-01-27 17:48] weideng1 commented on #847
happy to tackle this one as my first issue.

[2022-01-27 18:06] PushkarJ commented on #847
Thank you for working on this @weideng1 Here's my suggestion on how to proceed:

1. Fork the tag-security repo
2. Add a new file here https://github.com/cncf/tag-security/blob/main/governance/tech-lead-transition.md in your fork
3. Copy the following content in the new file

[code]

4. Commit and push your changes. Example of good commit message: https://github.com/cncf/tag-security/pull/846/commi

[2022-01-28 00:39] #847 closed

[2022-01-31 17:44] vikas-agarwal76 commented on #850
@nadgowdas requested me to give a presentation on OSCAL/Trestle. Due to timezone differences and the current meeting time, it would be around midnight my time. Hence, we decided to schedule this presentation later next month once the time difference is less (due to daylight savings time). Meanwhile, here are some references for Trestle project that one can explore -

- Github repo - https://github

[2022-01-31 18:41] vikas-agarwal76 commented on #850
As discussed with @nadgowdas, the presentation will be scheduled sometime late March.

[2022-01-31 18:44] lumjjb commented on #850
Ah okay - it's 31 Jan here still, so I thought that you were referring to Feb :). @nadgowdas ill leave you to putting out a date then.

[2022-01-31 20:36] nadgowdas commented on #850
Yes, It's only because of the time zone, Vikas is in India Time Zone. And attending 1PM ET would be too late for him. So I suggested he can present in March once day-light time changes

[2022-01-31 20:37] nadgowdas commented on #850
@vikas-agarwal76 @lumjjb How about march 16th ?

[2022-02-01 23:43] AnshumanTripathi commented on #739
I wanted to sign up to be a shadow reviewer.

Hard conflicts:
Reviewer is a maintainer of the project - NO
Reviewer is a direct report of/to a maintainer of the project - NO
Reviewer is paid to work on the project -NO
Reviewer has significant financial interest directly tied to success of the project - NO

Soft conflicts:
Reviewer belongs to the same company/organization of the project, but does n

[2022-02-02 00:02] evan2645 opened #853 "Help with an extra set of eyes on some security critical (windows) code?"
Hello everybody! I'm one of the maintainers on the SPIFFE/SPIRE projects, and we are currently working on support for Windows. As part of this work, we have ~500 lines of extra sensitive security critical code. We'd really like to get some "external" review of this code, particularly from folks with deep knowledge of the Windows APIs. I asked @anvega if the Security TAG would be interested/willing

[2022-02-02 12:58] Magier commented on #739
Hi team,
I've never performed a security review before but I'd like to help as a shadow reviewer

Hard conflicts:
Reviewer is a maintainer of the project - NO
Reviewer is a direct report of/to a maintainer of the project - NO
Reviewer is paid to work on the project -NO
Reviewer has significant financial interest directly tied to success of the project - NO

Soft conflicts:
Reviewer belongs to the

[2022-02-02 13:34] dims commented on #853
@evan2645 @anvega there are some folks over in k8s sig-windows who may be able to help please see:
https://kubernetes.slack.com/archives/C0SJ4AFB7/p1643762569114879

[2022-02-02 13:46] saldistefano commented on #739
Hi team,
I've never performed a security review before but I'd like to help

Hard conflicts:
Reviewer is a maintainer of the project - NO
Reviewer is a direct report of/to a maintainer of the project - NO
Reviewer is paid to work on the project - NO
Reviewer has significant financial interest directly tied to success of the project - NO

Soft conflicts:
Reviewer belongs to the same company/organiz

[2022-02-02 18:59] PushkarJ opened #855 "Create guidance on triaging build time dependency vulnerabilities"
Description: Vulnerability scanners detect CVEs in build time dependencies. But, Best practices to triage these vulnerabilities are unclear

Impact: Adding docs based on experiences and anecdotes, that many projects can follow would be useful

Scope: Write best practices with examples like:
- Focus on highest severity CVEs first
- Document if not exploitable as a security advisory or github issue

[2022-02-02 20:00] lumjjb opened #856 "[Suggestion] Badging for contributor recognition"
Description: Create a badging system to recognize contributions in the TAG.

Impact:

Help provide recognition for work done by community members, by providing a badge (like credly badge) that can be displayed on github/linkedin. This will help provide professional recognition for members, and spread awareness of TAG efforts throughout platforms.

This will also help incentivize participation

Sco

[2022-02-02 20:01] lumjjb commented on #856
As part of effort to streamline membership recognition in place of member list https://github.com/cncf/tag-security/pull/854

[2022-02-02 20:41] fkautz commented on #855
Also make sure the time of the attestation is present. New information may change outcomes of the process.

[2022-02-02 20:54] pratiklotia commented on #811
I would like to be involved with the CTF and CFP review.

[2022-02-03 01:22] JonZeolla commented on #635
@TheFoxAtWork We moved to biweekly Wednesday meetings; next meeting is Feb 16.  Can you please update the original post, including the below new Google meet link?  Thanks!

https://meet.google.com/kae-zxdz-nom

[2022-02-03 12:03] ionut-arm commented on #855
I'll try to write-up my notes and thoughts on this, I'm currently digging a bit deeper in the Rust ecosystem for this.

[2022-02-04 15:19] TheFoxAtWork opened #857 "[Transition] Stepping-down as co-chair"
This issue is to document the tasks completed in order to step-down as co-chair.

Why? - I've been elected to the Technical Oversight Committee and in accordance with [6.d.i of the Charter](https://github.com/cncf/foundation/blob/main/charter.md) will not be able to sustain the bandwidth of Co-Chair and TOC member. As my term is expected to end in September, this provides room for our growing comm

[2022-02-06 03:37] JustinCappos commented on #853
We might also write this up as an academic paper or a blog and try to get
relevant folks at Microsoft to take a look...

On Wed, Feb 2, 2022 at 8:02 AM Evan Gilman ***@***.***> wrote:

[2022-02-06 03:37] IAXES commented on #739
Sounds great. Look forward to catching up with you in the [Slack channel for the assessment](https://cloud-native.slack.com/archives/C029KLSQBD2). Thanks for joining, and please feel free to reach out to me if you have any questions.

[2022-02-06 03:39] IAXES commented on #739
Excellent: welcome aboard.

You can find us in the [assessment's Slack channel](https://cloud-native.slack.com/archives/C029KLSQBD2).

[2022-02-06 03:40] IAXES commented on #739
Excellent: welcome aboard!

You can find us in the [assessment's Slack channel](https://cloud-native.slack.com/archives/C029KLSQBD2). Please feel free to reach out to me on Slack or via the assessment channel with any questions.

[2022-02-06 03:41] IAXES commented on #739
Excellent: welcome aboard!

You can find us in the [assessment's Slack channel](https://cloud-native.slack.com/archives/C029KLSQBD2). Please feel free to reach out to me on Slack or via the assessment channel with any questions.

[2022-02-06 03:52] IAXES commented on #739
Excellent: welcome aboard!

You can find us in the [assessment's Slack channel](https://cloud-native.slack.com/archives/C029KLSQBD2). Please feel free to reach out to me on Slack or via the assessment channel with any questions.

[2022-02-06 03:54] IAXES commented on #739
Great: 2 additional reviewers + 2 additional shadow reviewers. In addition to the assessment channel link I've noted above, you can also find me via "Matthew Giassa" in the CNCF Slack if you have any 1:1 questions.

Cheers!

[2022-02-07 01:22] krol3 commented on #576
@raelga thanks! we are in 70% of translations.

[2022-02-07 15:17] lumjjb commented on #576
almost there!!!!

[2022-02-07 15:21] lumjjb commented on #855
This could become a document to put under https://github.com/cncf/tag-security/tree/main/project-resources!

[2022-02-07 15:44] fkautz commented on #855
Would love to see what you come up with. As the ecosystem evolves, I’ll add
guidance on SBOM integration with CVEs and VEX.

On Mon, Feb 7, 2022 at 7:21 AM Brandon Lum ***@***.***> wrote:

--
--
Frederick F. Kautz IV

[2022-02-09 11:09] dutchshark opened #860 "[Suggestion] Clean-up 47 branches"
Description: tag-security maintains a very large list of branches of which 47 older then 2 months old and they all have been merged into the main branch.

Impact:
- Removing of old now current branches the only one that make sense currently are: main.

Perhaps also put in some style guide for 'different' branches - Purpose oriented branching (like: [chair-removal](https://github.com/cncf/tag-secur

[2022-02-09 15:00] lumjjb commented on #860
Agreed! That's something good to do! I've cleared up the branches leaving the ones with open PRs.

[2022-02-09 15:01] lumjjb commented on #860
wait i realized there are more branches that are not classified active or inactive. will have to go through them

[2022-02-09 15:03] lumjjb commented on #860
@dutchshark would you like to open a PR into `governance/github.md` to add something there about PRs should be done by forked branches, or deleted after merged?

[2022-02-09 15:54] dutchshark commented on #860
I consider this a housekeeper chore hence the way how I address it.

[2022-02-09 15:54] #860 closed

[2022-02-09 16:29] dutchshark commented on #856
good idea.

[2022-02-09 16:31] dutchshark commented on #818
I would say very good idea (I hate the noisy CNCF ical subscription).

[2022-02-09 16:37] dutchshark commented on #799
This appears to be a good initiative? what's the current status with the fact that @TheFoxAtWork left and there has been no activity since November 5th past year?

[2022-02-09 16:43] lumjjb commented on #739
chair sign off on conflict statements

[2022-02-09 17:23] TheFoxAtWork commented on #857
yes! [see note from the mailing list](https://lists.cncf.io/g/cncf-tag-security/topic/stepping_down_as_co_chair_to/88910427)

[2022-02-09 18:09] amye commented on #818
(3) option: We have a Tockify link on http://calendar.cncf.io/, use that? That's just the calendar invite for TAG Security, not all of the CNCF calendar.

[2022-02-09 19:08] PushkarJ commented on #799
Chairs/TLs are meeting with NIST SSDF folks soon. Please remind me to update this issue with more info in a couple of weeks or so.

[2022-02-10 09:09] dutchshark commented on #678
The paper still appears to be a WIP as of today the current version is 1.0 and in status Draft and can be found [here](https://docs.google.com/document/d/10l262yuX_Zj8ht1pqKlSZAk4-KxY1tc-PaVmbqIsoDw/edit).

[2022-02-10 16:42] dutchshark commented on #739
@lumjjb - After our chat - just about an hour ago:

Hard conflicts:
Reviewer is a maintainer of the project - NO
Reviewer is a direct report of/to a maintainer of the project - NO
Reviewer is paid to work on the project - NO
Reviewer has significant financial interest directly tied to success of the project - NO

Soft conflicts:
Reviewer belongs to the same company/organization of the project, but

[2022-02-10 16:54] #857 closed

[2022-02-10 19:39] evan2645 commented on #853
😍 What can I do to help?

Thank you for this @dims, I dropped a message on that thread but we haven't heard much back just yet. I'll drop another message there today ... it sounds like we're almost to the end of our internal review process. Thanks again for your help everyone ❤️

[2022-02-11 18:01] knowlengr commented on #856
Good idea.

Helps with (1) supporting continuing education hours submissions (a related
thought?); and (2) socializing within our large enterprises.

There is probably a LinkedIn "sidecar."

Mark

On Wed, Feb 2, 2022 at 3:01 PM Brandon Lum ***@***.***> wrote:

--

Mark Underwood
knowlengr.com <http://www.knowlengr.com> @knowlengr
<https://twitter.com/knowlengr> @darkviolin <https://twitter.com/dar

[2022-02-11 18:17] knowlengr commented on #850
Hi Travis et al.,

Meet Brandon & the CNCF Security TAG <https://github.com/cncf/tag-security>
.

We meet at 1p eastern Wednesdays, roughly weekly.

I am unavailable Feb 23 and March 2 (air travel), so for selfish reasons, I
would hope for a later-in-March presentation.

FYI Elsewhere in this thread is scheduling chat for
https://github.com/IBM/compliance-trestle.

Protocol:
S

*peakers: Who will

[2022-02-11 18:25] knowlengr commented on #850
Pleasure to virtually meet you!  We have a freemium compliance automation product that we have discussed with the Synchrony team over the last several months.  We recently finished an ATARC open research project to show continuous automation using NIST OSCAL and the free version of RegScale.  We were able to demonstrate ingesting a SSP with OSCAL, generating a SAP, executing a scan with a MITRE ST

[2022-02-11 19:34] lumjjb commented on #850
@nadgowdas @vikas-agarwal76 16 March seems fine. How early would you be able to make it? How about 2 hours earlier? Does that work?

[2022-02-11 19:37] lumjjb commented on #850
Thanks @knowlengr for the introduction! I think that we'll start with the presentation from @vikas-agarwal76 and see where we are..

However, maybe it would be beneficial to have a meeting between Travis, @achetal01 and I on possible focus areas and insights on where we are going with security controls/audit work. I can't seem to find this email in my box but I'll ping you on slack

[2022-02-11 20:38] ashutosh-narkar commented on #307
Can we close this issue ? cc @sunstonesecure-robert @lumjjb

[2022-02-14 18:41] #307 closed

[2022-02-15 20:10] evan2645 commented on #853
Small and tangential update for anyone who may be following along here:

Unfortunately, we learned recently that Envoy requires TLS on non-UDS based SDS sessions, which means that SPIRE will likely not be able to support Envoy on Windows unless we can find a way to use UDS instead of TCP. We're looking at potential workarounds etc.

[2022-02-16 18:16] lumjjb commented on #824
Some of this is now documented in https://github.com/cncf/tag-security/blob/main/cloud_native_security.md

However, still requires tribal knowledge preservation to be documented. @danpopnyc @anvega @lumjjb

[2022-02-16 18:18] lumjjb commented on #821
@mlieberman85 which working group should this be discussed in with the OpenSSF? Can we put it on one of the upcoming agenda?

[2022-02-16 18:28] lumjjb commented on #822
@maltfield thanks for opening the issue - would you be willing to make a PR for this?

[2022-02-16 18:32] lumjjb commented on #845
@achetal01 @JonZeolla Can you update the issue with the details of the group

[2022-02-16 18:41] lumjjb commented on #814
We are planning to discuss this issue on the March 2nd meeting if you can be there, that would be helpful! @DavidKorczynski

[2022-02-16 18:42] #768 closed

[2022-02-16 18:43] lumjjb commented on #713
Time for a revisit? @fkautz

[2022-02-16 18:49] lumjjb commented on #807
@PushkarJ is this something that is of interest in adding to the CNSWPv2?

[2022-02-16 18:53] #613 closed

[2022-02-16 18:54] lumjjb commented on #277
Adressed by PR, closing

[2022-02-16 18:54] #277 closed

[2022-02-16 21:32] PushkarJ commented on #807
@lumjjb IMO, We could do it as a follow up to #737

[2022-02-16 21:54] JonZeolla commented on #635
Project update: We have an initial listing of controls [here](https://docs.google.com/spreadsheets/d/1H9J0phBbg47fsyiLNG1-5NXms46KKxTH9ZjcU07no6A/edit#gid=1938257679) from v1 of the Software Supply Chain Security Paper and v1 of the Cloud Native Security Whitepaper, including a partial NIST SP800-53r5 mapping, and implementation details.

We are working through the final implementation details/con

[2022-02-17 01:09] ashutosh-narkar opened #863 "[Assessment] LitmusChaos"
Project Name: LitmusChaos

Github URL: https://github.com/litmuschaos/litmus

CNCF project stage and issue (NA if not applicable): NA

Self Assessments:  https://bit.ly/3nwADqp

Security Provider: No

- [ ] Identify team
   - [ ] Project security lead
   - [ ] Lead security reviewer
   - [ ] 1 or more additional reviewer(s)
   - [ ] Every reviewer has read [security reviewer guidelines](https://gi

[2022-02-17 01:10] ashutosh-narkar commented on #813
LitmusChaos is an incubated project. See https://github.com/cncf/tag-security/issues/863 to track a future security assessment.

[2022-02-17 01:10] #813 closed

[2022-02-17 16:25] ksatchit commented on #863
Thanks for creating this issue @ashutosh-narkar !

[2022-02-17 17:48] knowlengr commented on #850
Brandon,

Just following back up to see if we might connect on an OSCAL presentation for the CNCF.  Also, we were just informed that we were selected for an invited talk and demo at the upcoming NIST OSCAL Conference in March.

Hope you are well and look forward to connecting soon.

J. Travis Howerton
Co-Founder and CTO, RegScale
Shift Left Compliance via our Regulatory Operations (RegOps) platfor

[2022-02-17 22:52] KoelhoSec commented on #509
@lumjjb here is the markdown file of the translated version. Please take a look and let me know if you need anything else.

[Cloud Native Security White Paper Brazilian Portuguese Translation.md](https://github.com/cncf/tag-security/files/8092741/Cloud.Native.Security.White.Paper.Brazilian.Portuguese.Translation.md)

[2022-02-18 02:40] lumjjb commented on #509
Awesome - can you create a PR with this? I think we would need to just
clean up some of the HTML tags - and make the header more markdown friendly
and we should be good!

On Thu, Feb 17, 2022 at 5:52 PM Bruno Coelho ***@***.***>
wrote:

[2022-02-18 17:50] joelerbork commented on #828
I will be working on this.

[2022-02-18 19:43] PushkarJ commented on #828
Thank you Joel!!

[2022-02-18 23:10] PushkarJ commented on #509
Thank you @KoelhoSec for working on this!! Btw, v2 of the paper will be published around May 2022. We are tracking it here #747 in case you are curious

[2022-02-21 15:57] ionut-arm commented on #855
Hi all, apologies for the long delay. I've made a markdown version with some guidance on build-time dependency vulnerabilities available [here](https://hackmd.io/@VOkN52x7RbeXS-3vr4XOgg/BJBDNYK0F). Feel free to comment/modify as you please. It's fairly short, I wasn't sure just how much to go into detail and where.

[2022-02-21 21:10] lumjjb commented on #855
This is awesome @ionut-arm! Would you like to create a PR for this to the repo? This is definitely something the community at large can benefit from! Would be easier to get comments too!

[2022-02-21 21:59] lumjjb commented on #766
Hey @JasonKeirstead! How's it going - just pinging back on this.

[2022-02-21 22:00] lumjjb commented on #692
Last time we spoke. @ragashreeshekar was working on a post-mort doc to share with group. She is out for a while and will share it when she's back!

[2022-02-22 18:53] #734 closed

[2022-02-23 04:48] jnswindle opened #867 "[Presentation] Presentation Title"
Title: What is the title of your presentation?

Speakers: Who will be presenting this? List names/github IDs of presenters.

Description: Describe in a short paragraph what the presentation is about.

Time: How long will the presentation take? (estimate)

Availability: What is the availability times of the speakers to present the topic? Meeting times are listed on the landing page.

TO DO
- [x] TA

[2022-02-23 14:52] lumjjb commented on #867
??

[2022-02-23 14:52] #867 closed

[2022-02-23 19:42] lumjjb commented on #498
Already being worked on by policy working group

[2022-02-23 19:42] #498 closed

[2022-02-28 21:50] PushkarJ commented on #110
K8s SIGs have something similar as a service for sub-projects: https://github.com/kubernetes/community/blob/master/github-management/subproject-site-requests.md

[2022-02-28 23:05] ashutosh-narkar opened #869 "Update CNS Map with details from Whitepaper v2"
The CN Whitepaper is being updated and a newer version will be released soon. More info on that in [this](https://github.com/cncf/tag-security/issues/747) issue. Following that release we should update the CN Security Map with the relevant findings and updates from the paper.

[2022-02-28 23:24] IAXES commented on #110
Following up on a discussion w/ @lumjjb on this ticket: I've helped a few friends + colleagues use ReadTheDocs/sphinx/`rST` for sites. Works quite nicely for developer-driven documents, easy to setup a build + publish pipeline in Concourse and/or GitHub Actions. Also supports citations, cross-referencing, "code as documentation", etc.

**Examples:**
- https://iaxes.github.io/pronk8s/sections/build

[2022-03-02 19:33] d-lanm commented on #836
I would be interested in assisting with this as well.

[2022-03-03 00:08] PushkarJ commented on #845
@achetal01 should we include SSDF mapping to TAG Security papers, in scope for this proposal too?

[2022-03-08 20:00] TheFoxAtWork commented on #835
https://events.linuxfoundation.org/open-source-summit-north-america/about/global-security-vulnerability-summit/

[2022-03-16 12:15] fdegir commented on #747
I made a comment on [SSF RFC doc](https://docs.google.com/document/d/15M_Mzfqy634E_sqoslmOXsZJl4TedpbXpBjOfz-hnXk/edit#) regarding the potential benefits of generating some kind of delta report in addition to SBOM itself in order to ease the effort to identify issues as they happen and components that cause them. The reason for this is that if one has a delta report, it would limit the no of compo

[2022-03-18 02:31] evan2645 commented on #853
Hello again - we've been unable to get any non-maintainer review of this code so far. It was merged some weeks ago already, and will probably be officially released sometime in the next couple months.

We'd still really like to get a review .. but are not sure how to proceed. Happy to close this out since it seems to just be hanging around, but wondering if there is somewhere else I can/should dir

[2022-03-23 15:26] jahrlin opened #877 "[Presentation] cert-manager"
Title: cert-manager

Speakers:

- SgtCodFish (Ashley Davis)
- jakexks (Jake Sanders)
- jahrlin (Joakim Ahrlin)

Description: Present [cert-manager](https://github.com/cert-manager/cert-manager) for recommendation for incubation, https://github.com/cncf/toc/pull/786

Time: 5-10m

Availability: April 27th preferred

TO DO
- [x] TAG Representative @lumjjb  (Need someone else to facilitate the meeting

[2022-03-23 19:18] lumjjb commented on #818
Pinning this issue, this is going to be a great QOL feature

[2022-03-23 19:21] lumjjb commented on #818
@savitharaghunathan I think it wouldn't be too far-fetched to maintain our own copy of the calendar, since most of our meetings are recurring. Would you be able to create one as a sample - and we can figure out permissions. Is this something that you'd be willing to help out with?

[2022-03-24 03:44] jnswindle opened #878 "Title: What is the title of your presentation?"
Title: What is the title of your presentation?

Speakers: Who will be presenting this? List names/github IDs of presenters.

Description: Describe in a short paragraph what the presentation is about.

Time: How long will the presentation take? (estimate)

Availability: What is the availability times of the speakers to present the topic? Meeting times are listed on the landing page.

TO DO
- [x] TA

[2022-03-24 13:25] #878 closed

[2022-03-24 18:48] PushkarJ commented on #833
No references were found. So closing this

[2022-03-24 18:48] #833 closed

[2022-03-24 18:50] PushkarJ commented on #440
@lumjjb with https://github.com/cncf/tag-security/issues/307 complete, are we ready to revisit this ?

[2022-03-24 18:50] PushkarJ commented on #829
New content was added so closing this now

[2022-03-24 18:50] #829 closed

[2022-03-24 18:51] #831 closed

[2022-03-25 21:29] PushkarJ commented on #828
Section has been added. So closing as no pending action exists

[2022-03-25 21:29] #828 closed

[2022-03-25 21:50] PushkarJ commented on #832
Closing as relevant updates are in place

[2022-03-25 21:50] #832 closed

[2022-03-27 02:44] sayantani11 commented on #827
hey @PushkarJ
Is this issue open?

[2022-03-27 04:00] lumjjb commented on #827
Hi Sayantani, We have a microsite issue related to this that will be a
priority for the tag, would this be something you'd be interested in? We
can chat more to share a bit about what ideas have been going around
several issues

On Sat, Mar 26, 2022, 10:45 PM Sayantani Saha ***@***.***>
wrote:

[2022-03-28 17:16] lumjjb opened #879 "Chair Transition Checklist - Andrew Martin"
Checklist for @sublimino

## Nomination

This serves to augment the [Security TAG Chair proposal
process](chair-proposal-process.md) with specific items that must be completed.

* [x] Nomination
* [x] Vote - official count recorded and posted - https://lists.cncf.io/g/cncf-toc/message/6764

## Transfer

* [x] Transfer Logistics
  * [x] #tag-chairs slack channel - add new chair(s)
  * [x] tag-chair

[2022-03-30 01:46] IAXES commented on #739
+CC: @raesene

Hi Rory,

When time permits, could you please also fill out one of the conflict-of-interest sign-offs (examples above).

Thank you.

[2022-03-30 05:53] sergiomarotco opened #880 "800 new npm with backdoor"
Check news: https://checkmarx.com/blog/a-beautiful-factory-for-malicious-packages/

[full list of the related packages](https://gist.github.com/Aviadg/3e640afe6dcbc651958c270ff9e57c8d)

[2022-03-30 17:53] raesene opened #881 "[Suggestion] Guidance on Container breakout vulnerabilities"
Description: As there have beena set of container breakout vulnerbiities in 2022, in a variety of parts of the stack, it's attracting more attention to this part of cloud native security. It could be good if the CNCF can provide some awareness about the risks of container breakout and possible mitigations that users of containerization technology can use to reduce the risks of this happening.

The

[2022-03-30 20:41] adamberman commented on #835
Adam from the Semgrep team here, very interested in this! I'll attend!

[2022-03-30 21:01] lumjjb commented on #881
Tagging other folks that may be interested to chime in! @lizrice @sublimino @mhausenblas @antitree
@raravena80

[2022-03-30 21:09] lumjjb commented on #881
Another thought that was brought up during the discussion was bug bounties as an incentive for these container escapes which may or may not be kernel bugs.

[2022-04-01 17:50] PushkarJ commented on #834
I think the work in scope of NIST SSDF is completed with drafted content in appendix. We should continue this more under: https://github.com/cncf/tag-security/issues/845

[2022-04-01 17:50] #834 closed

[2022-04-01 17:53] PushkarJ commented on #827
@sayantani11: This is the issue that @lumjjb mentioned: https://github.com/cncf/tag-security/issues/110 This is significantly more effort though but would be of incredible value to the group!

[2022-04-04 07:36] lirantal opened #882 "[Suggestion] update supply chain security doc with new PEAR issue"
PHP's PEAR package manager found vulnerable: https://blog.sonarsource.com/php-supply-chain-attack-on-pear

[2022-04-04 15:01] sublimino commented on #881
This is a great idea, and touches on the difficulty of workload-specific container controls that is worthy of deeper discussion.

[2022-04-04 17:08] lumjjb commented on #881
Let's develop a scope and then I think this is a good item to work on while it's topical, has attention of folks.

I think a series of blog posts may be good as well! Maybe having a 2/3 part series:
- What are container breakouts, why should I care?
- What can i do to mitigate / protect against them
- (Stretch goal?) What are some future directions to make breakouts less impactful

Tagging @ashuto

[2022-04-04 22:51] lumjjb opened #886 "[Suggestion] Provide guidance on starting a region-specific subgroup"
Description: What's your idea?

Impact:

With the removal of APAC timezone meeting, recommend providing a way for folks interested in setting up a region specific meeting to do so with the leadership team so we can support them.

https://github.com/cncf/tag-security/pull/883#pullrequestreview-930720144

Scope: Writing up a page in `governance/` to describe reaching out to the mailing list. Mention

[2022-04-05 17:36] sayantani11 commented on #827
@lumjjb I would love to know more!!! Let me know when you'll be free to do so
@PushkarJ Let me see if I can add something to it!!

[2022-04-05 17:38] sayantani11 commented on #886
@lumjjb I can try helping with that!!

[2022-04-05 18:24] lumjjb commented on #886
Awesome @sayantani11 ! Let me know if you have any questions!

[2022-04-05 20:00] PushkarJ commented on #747
@fdegir go ahead and make your updates. Correct page number though would be 34-35 under supply chain security

[2022-04-06 08:53] fdegir commented on #747
Thanks @PushkarJ. Added a new paragraph on page 35.

[2022-04-06 10:27] ionut-arm commented on #855
Alright, I have finally opened that PR, many apologies for the delay

[2022-04-06 18:34] PushkarJ commented on #827
This will be removed from scope of #747 in favor or adding it in scope of #110

[2022-04-06 18:34] #827 closed

[2022-04-06 18:36] PushkarJ commented on #521
I have tried my best to take the essence of this suggestion into v2 of the paper. You can view it here: https://docs.google.com/document/d/1fftLBt3XjDzyYQisEKH3TZXL1QnT_cHIbBnFtW98UOs/edit

Any and all feedback is welcome. Since the review process can be tracked via #747, closing this issue.

[2022-04-06 18:36] #521 closed

[2022-04-06 18:38] PushkarJ commented on #844
Thank you all for the contributions. Closing this now as #747 is now in public comment stage

[2022-04-06 18:38] #844 closed

[2022-04-06 21:39] PushkarJ commented on #747
Whitepaper v2 is now open for Public comment. RFC stage ends April 27 2022. You can find the paper for review here: https://docs.google.com/document/d/1fftLBt3XjDzyYQisEKH3TZXL1QnT_cHIbBnFtW98UOs/edit

[2022-04-07 22:16] JimBugwadia opened #889 "[Presentation] Kyverno"
Title: Kyverno

Speakers:
- @realshuting
- @chipzoller
- @samj1912
- @JimBugwadia

Description:

Discuss [Kyverno](https://kyverno.io/) for incubation ([PR](https://github.com/cncf/toc/pull/784), [doc](https://docs.google.com/document/d/18dWgOd2MUQz3RXI1R9vKntL3ULyZhOD1HEtijGOeaWg/edit#))

Time: 15-20 mins

Availability:
- Wed, Apr 13, 10:00 AM PDT
- Wed, Apr 20, 10:00 AM PDT

TO DO
- [ ] TAG Repr

[2022-04-08 13:03] lumjjb commented on #889
Hi @JimBugwadia @realshuting @chipzoller @samj1912

Thanks for opening this issue. April 13 already has some other agenda items, but we could squeeze it in.

Does the 15-20mins include Q&A time considered?

The 20 April meeting is a check-in meeting so we don't plan any agenda items.

[2022-04-08 13:22] JimBugwadia commented on #889
Thanks @lumjjb! Yes, the time includes Q&A.

[2022-04-08 13:58] lumjjb commented on #889
Awesome - i'll put this on the 13th April agenda!

[2022-04-09 07:35] jkowall commented on #747
Left comments, rewrote parts of it, and hopefully improved it after an extensive review. Sorry, I was not aware this was being revised, I should have tried to join some calls but not enough time.

[2022-04-10 19:44] mlieberman85 opened #890 "[Proposal] Apply Supply Chain Security WG Best Practices to new or existing CNCF Project"
Description: Apply best practices as defined by the Supply Chain Security WG's Best Practices guide as well as any additional practices as defined in the Secure Software Factory ref arch.

Impact: This will help both end users as well as the CNCF itself. One goal is to help end users better understand how to actually apply the best practices. Another goal is to help solve some of the supply chain

[2022-04-11 20:02] ultrasaurus commented on #110
There were plenty of people willing to do the technical work, include CNCF staff who are available to help.  What this project has always lacked is someone who is willing to curate content and, as needed, write/edit overview text for sections of the site.

[2022-04-12 00:22] achetal01 commented on #678
yes I am tracking this, let me follow up with the group and will update the
issue.

Thank you

On Wed, Dec 1, 2021 at 7:41 AM Brandon Lum ***@***.***> wrote:

[2022-04-12 14:02] JonZeolla commented on #635
@achetal01 @lumjjb @TheFoxAtWork this is nearly ready for review from the rest of Security TAG (expected this week).  I won't be able to attend the Security TAG meeting tomorrow, so I was wondering if there's a process to make that review request?   I am going to post in #tag-security-controls to see if any of the other team members will be at the meeting tomorrow and can provide a verbal update t

[2022-04-13 03:59] PushkarJ commented on #747
@jkowall thank you so much for your generous updates and exhaustive read!! The paper is in better shape because of it :)

[2022-04-13 13:23] lumjjb opened #891 "[Presentation] SECURITY-INSIGHTS"
Title: Security-insights project

Speakers: @luigigubello

Description:https://github.com/luigigubello/security-insights-spec

This specification provides a mechanism for projects to report information about their security in a machine-processable way. It is formatted as a YAML file to make it easy to read and edit directly by people. It is expected that a first draft of the file would be created

[2022-04-13 16:47] luigigubello commented on #891
Here is the public link to the presentation: https://pitch.com/v/openssf-security-insights-67a8mm

[2022-04-13 19:04] lumjjb opened #893 "[Suggestion] Curate persistent list of CNCF asks (which can be funded)"
Description:

Suggested by @ultrasaurus , we should keep track of the different activities that we think the CNCF can help with - i.e. design, website, development, help with uploading youtube videos, etc.

Examples of this today are:
- Help with uploading youtube videos
- Help with website development for microsite

Impact:

This will help provide a check-in with CNCF/TOC liaison so that we have

[2022-04-13 19:09] amye commented on #893
These examples are all servicedesk tickets, usually.
Is there something more to this?

[2022-04-13 19:56] lumjjb commented on #893
Yea - some of the motivations here are to keep track of things that are not possible, but that stance may chance in the future - e.g. new vendor, policy/direction change.

Came out of discussion around moving to the new social platform/streaming service, which initially was the direction of the group, but may have changed over time over from feedback. We want to capture some of the asks, that we m

[2022-04-13 21:27] ultrasaurus commented on #893
thanks for creating this issue @lumjjb -- great place to collect shared knowledge!

FYI -- on microsite development, we had someone assigned who even built a prototype site, but stalled on lacking volunteers who were willing to write/edit words!  (I added that note to the issue recently)

[2022-04-13 21:30] lumjjb commented on #891
Thanks for the presentation @luigigubello !

[2022-04-13 21:30] #891 closed

[2022-04-13 21:31] lumjjb commented on #889
would you be able to share a link to a presentation?

[2022-04-13 21:44] samj1912 commented on #889
https://docs.google.com/presentation/d/1CDgQKnGGb0Rck88CrqURYvNWIT3dUdx_/edit?usp=drivesdk&ouid=115728401848917330834&rtpof=true&sd=true

[2022-04-14 00:44] amye commented on #893
Ah! Take a look at https://github.com/cncf/servicedesk, in that this applies to TAGs as well - and if there's certain things that we should add for TAGs that don't apply for Projects.

[2022-04-14 12:21] lumjjb commented on #893
Ahh this looks useful! Thanks!

On Wed, Apr 13, 2022, 8:44 PM Amye Scavarda Perrin ***@***.***>
wrote:

[2022-04-14 14:02] nadgowdas opened #894 "[Proposal] Application Build Monitors and Attester"
# Description:

## Background:
Application builds (especially cloud-native microservice applications) today are operated as a "black-box". In a typical setting they are build using toolkits like `docker build`, `kaniko` or `buidkit` through CI pipelines (Jenkins or Tekton). The build process is input with source artifacts (e.g. *.go or *.py), dependency manifests (go.mod, requirements.txt) and a b

[2022-04-14 14:38] pxp928 opened #895 "[Proposal] SBOM Guidance for Cloud Native"
# Description:

### SBOM Guidance for Cloud Native

The goal of this proposal is to figure out the who, what, when, where and why for how SBOMs will be used in the cloud native space. Analyze the current SBOM formats to see if there are any gaps that need to be addressed.

# Proposal:

* Who is our target audience (cloud vendors and end users) and what are their requirements and needs?
* Who, Wher

[2022-04-14 14:53] jkowall commented on #747
@PushkarJ my pleasure, feel free to move me to author or reviewer. I am happy to take another look anytime or add sections as needed.

[2022-04-14 15:20] sudo-bmitch commented on #895
I'd be interested in including the lifecycle of the SBOM too. Few things I'm thinking of:

- when and how should we generate the SBOM (before compile or after image build)
- what should be included in the SBOM (code only, runtime environment, compiler environment, SaaS/cloud environment)
- how do we ship the SBOM (on an image registry? do we need to support non-container use cases)
- how do we use

[2022-04-14 15:28] pxp928 commented on #895
Agreed @sudo-bmitch . I will update the proposal to reflect this.

Other updates based on the meeting -

@nadgowdas - Determine how we can aggregate when multiple SBOMs are created. How can they be linked together for analysis and verification?

Apply this to a real project like Tekton which would create multiple SBOMs. Currently we have no method to aggregate them together for the project.

Hecto

[2022-04-14 15:40] hectorj2f commented on #895
@pxp928 I am sharing a link to the current public repo https://github.com/sclevine/cnb-sbom. We have another internal version but it does not differ much from this implementation.

[2022-04-14 17:42] stevespringett commented on #895
Untrue statement
* The [CycloneDX CLI](https://github.com/CycloneDX/cyclonedx-cli) can aggregate via a merge command
* CycloneDX BOMs can link to each other via [BOM-Link](https://cyclonedx.org/capabilities/bomlink/)

Possible of interest to the group is ["SBOM" should not exist! Long live the SBOM](https://medium.com/@steve_springett/sbom-should-not-exist-long-live-the-sbom-4554d5c31ff9) where I

[2022-04-14 19:45] PushkarJ commented on #747
@jkowall already added you as reviewer :) We are bit late in terms of timeline to add new content/section though but please open an issue (suggestion) with what you have in mind, so we don't lose track of it and can figure out which artifact (perhaps v3 of this paper) we could incorporate it in.

[2022-04-14 22:56] anners commented on #845
Hopefully I am not too late to the party. I would like to contribute to this work.

[2022-04-15 06:42] achetal01 commented on #845
yes Pushkar we should add SSDF mappings to the Scope.
Thanks

On Wed, Mar 2, 2022 at 4:08 PM Pushkar Joglekar ***@***.***>
wrote:

[2022-04-15 06:43] achetal01 commented on #845
Ann yes please comment on the issue as well so you can be added to the
working group.

Thanks
Aradhna

On Thu, Apr 14, 2022 at 3:56 PM ann wallace ***@***.***>
wrote:

[2022-04-15 15:32] anners commented on #845
@achetal01 is this not the correct issue to comment on? If not can you let know the correct id and I will comment. TIA

[2022-04-16 13:12] JonZeolla commented on #845
@PushkarJ @achetal01 I agree; we have been using SSDF behind the scenes in the first phase (#635) and it has been great to help crosswalk frameworks, and provide illustrative examples.

[2022-04-16 13:15] JonZeolla commented on #845
Hi @anners this is the right issue to comment on for phase 2.  We are wrapping up phase 1 in #635 in the next few weeks and should be moving over to this issue soon thereafter

[2022-04-19 13:54] lumjjb commented on #889
Thanks for the presentation and sharing the slides!

[2022-04-21 15:19] oleg-nenashev commented on #784
Not stale but stuck

[2022-04-21 15:20] oleg-nenashev commented on #784
FTR ongoing discussion with @TheFoxAtWork and @lumjjb : https://cloud-native.slack.com/archives/CDJ7MLT8S/p1650549287843639

[2022-04-22 12:00] lumjjb commented on #784
we had a chat yesterday, the current plan is to get the self-assessment PR in, we will review it and give a DD recommendation based on that if no red flags.

[2022-04-25 12:54] raelga commented on #576
The work is still in progress. :)

[2022-04-26 06:31] pjbgf opened #896 "[Security Pals] Flux multi-tenancy proposal"
Project Name: Flux

Github URL: https://github.com/fluxcd
Key sub-projects:

- https://github.com/fluxcd/flux2
- https://github.com/fluxcd/source-controller
- https://github.com/fluxcd/helm-controller
- https://github.com/fluxcd/kustomize-controller
- https://github.com/fluxcd/notification-controller
- https://github.com/fluxcd/image-automation-controller
- https://github.com/fluxcd/image-reflecto

[2022-04-26 17:41] lumjjb commented on #818
First try: https://calendar.google.com/calendar/u/0?cid=MGI4dTVlbDh0YTRzOTN0MmNtNzJ0dXZoaGtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ

[2022-04-26 18:11] lumjjb commented on #896
@IAXES

[2022-04-26 19:28] lumjjb commented on #811
@anvega can we update the issue notes - would it help to create a separate issue for NA as well?

[2022-04-27 22:16] pratiklotia commented on #845
+1, continuing from phase1

[2022-04-27 22:32] JonZeolla commented on #845
If you're interested in participating, please vote for what meeting time works best for you!

https://doodle.com/meeting/participate/id/b82gO95e/vote

[2022-05-02 13:17] JonZeolla commented on #845
Voting will be open until May 11th

[2022-05-03 13:11] JonZeolla opened #897 "[Presentation] IBOM"
Title: IBOM

Speakers: @schosterbarak

Description: Infrastructure Bill of Materials

Time: 40 minutes

Availability: July 13, 1pm ET

TO DO
- [x] TAG Representative: @PushkarJ
- [x] Schedule date: July 13
- [X] By opening this issue, I, (@JonZeolla) acknowledge that the presentation topic and speaker will follow the [presentation guidelines](https://github.com/cncf/tag-security/blob/main/governan

[2022-05-03 15:52] flavio opened #899 "[Presentation] Introducing Kubewarden: a policy engine for Kubernetes"
Title: Introducing Kubewarden

Speakers: @flavio, @ereslibre

Description:
The presentation will be an introduction to [Kubewarden](https://kubewarden.io/). Kubewarden is a Kubernetes Dynamic Admission Controller that leverages WebAssembly to write policies.
The project has been submitted for CNCF sandbox consideration.

Time: How long will the presentation take? 40 minutes

Availability: we are f

[2022-05-04 17:37] lumjjb commented on #899
Hi @flavio @ereslibre, would the June 8th meeting time be good for you?

[2022-05-04 17:38] lumjjb commented on #897
On the schedule! Thanks @JonZeolla

[2022-05-04 17:42] lumjjb commented on #896
TODO: @cncf/tag-security need to discuss with TOC @TheFoxAtWork @justincormack on next steps.

[2022-05-04 17:45] lumjjb commented on #895
Next steps here @pxp928 is to fill in details of project (as follows) and discuss with STAG rep before sharing with community and getting next steps.

[code]

[2022-05-04 17:46] lumjjb commented on #894
@nadgowdas to present to SSF to get feedback.

[2022-05-04 17:48] lumjjb commented on #886
@sayantani11 how is this going? Just checking in.

[2022-05-04 17:49] lumjjb commented on #881
@ashutosh-narkar can you follow-up on getting this in progress

[2022-05-04 17:51] pxp928 commented on #890
There has been discussion with that cert-manager might be interested in going down this route. They were looking for help with a security audit and how they can meet the SLSA levels. Need to have more discussions with the cert-manager team. Also might require some prep work as they are currently using bazel to build.

[2022-05-04 17:55] sayantani11 commented on #886
Hey Brandon!!!
Sorry I was a bit caught up with my academics 😓 I made plans about it,
will update as soon as possible... Sorry for the delay

On Wed, May 4, 2022, 11:18 PM Brandon Lum ***@***.***> wrote:

[2022-05-09 13:54] JustinCappos commented on #890
We'd be happy to help in a few different ways.

1. Support efforts to adopt tools from communities we're engaged with like in-toto, TUF, reproducible builds, etc.
2. Pilot this ourselves in some of our projects that aren't going through all the steps.
3. Gather data on experiences from other groups and write up some community guidelines, etc. so that people understand the likely costs and stumblin

[2022-05-12 14:15] JonZeolla commented on #845
@achetal01 can you please update the initial comment in this issue with the following:
- Project Members: @pratiklotia @faisalrazzak @anners
- Slack Channel: #tag-security-controls
- Meeting Time & Day: Every other Tuesday at 2pm ET, starting 2022-05-31
- [Meeting Notes](https://docs.google.com/document/d/1ARLHrZ4SKIEwnSKgDaa39vS19dVIH45RjfERBaJ1vlg/edit?usp=sharing)
- [Meeting Hangouts Link](http

[2022-05-12 15:01] lumjjb commented on #896
Notes from our meeting to discuss next steps:

- [@pjbgf/Hidde] Will be helpful to have a matrix of resource vs deployment model matrix (table visualization of threat model)
- [@pjbgf/Hidde] Create a [presentation issue ](https://github.com/cncf/tag-security/issues/new?assignees=&labels=usecase-presentation%2C+triage-required&template=presentation.md&title=%5BPresentation%5D+Presentation+Title)wit

[2022-05-12 18:01] aaguiarz opened #902 "[Presentation] Open Fine-Grained Authorization (OpenFGA)"
Title: Open Fine-Grained Authorization (OpenFGA)

Speakers:  @aaguiarz, @jon-whit, @elbuo8

Description: Auth0 has been building a fine grained authorization service inspired by [Google Zanzibar](https://research.google/pubs/pub48190/), and it’s now available in preview at [https://fga.dev/](https://fga.dev). We plan a generally available version by early 2023.

We’ll be open sourcing it in a few

[2022-05-12 18:49] TheFoxAtWork commented on #896
Requested access to the multi tenancy doc

[2022-05-16 09:11] puerco commented on #895
[SPDX can reference documents externally](https://spdx.github.io/spdx-spec/document-creation-information/#66-external-document-references-field), Kubernetes Release Engineering SBOM tool has a beta feature in development to piece micro SBOMs together.

As @hectorj2f  already mentioned, a lot of the answers to the questions regarding SBOM distribution and signing are being discussed in the sigstore

[2022-05-17 08:24] #635 closed

[2022-05-17 08:38] sublimino opened #903 "Lightweight Threat Modelling Guidance for CNCF Projects"
Description: A lightweight threat modelling framework can help to increase the STAG's security review velocity. Also provides maintainers with an effective mechanism to drive secure feature development.

Impact: Reduce the time investment for STAG reviewers, lower the barrier to entry for new contributors, and widen the pool of individuals that can participate in the threat modelling process.

Sco

[2022-05-17 17:16] raesene commented on #881
Another possibly useful resource on this one is  this [list of container breakout vulns](https://www.container-security.site/attackers/container_breakout_vulnerabilities.html)

[2022-05-19 07:12] raesene commented on #881
I've started a Hackmd [note](https://hackmd.io/viQwq28URseBDb7b0YC6Rw) that I thought could be a good venue to gather ideas on this one.

In terms of content style any thoughts on what would work? I don't *think* this warrants an entire whitepaper style approach, perhaps a long blog, or whatever we'd call a short whitepaper?

[2022-05-19 07:37] mythi opened #906 "[Suggestion] CNSWPv2+: Add new content on confidential computing"
Description: During the public CNSWPv2 RFC, a proposal was made to add a section about confidential computing and use cases it enables for cloud native. The comment was made too late and the conclusion was to plan it for post CNSWPv2.

Impact: Typical data protection ensures data is encrypted while in transit and at rest. Confidential computing (CC) adds data protection while data is in use, in me

[2022-05-19 08:40] lumjjb commented on #881
I think a long blog would be appropriate. Ash is currently working on how
we can get these blogs up and the best way to publish them.

My thoughts is that there can be a long blog, attribution can be direct to
authors, or if the authors don't want to have direct attribution (for
approvals reasons) we can proxy the tag authorship. I guess we could call
it something else as well like technical doc a

[2022-05-19 13:32] TheFoxAtWork commented on #890
I just had a great conversation with @puerco about the Kubernetes SIG-Release process.  An excellent way we can get started in this is by applying the supply chain best practices to the Kubernetes Build Systems.  They’ve done a lot of work applying best practices to K8s itself, but the build processes don’t have the same love (this is a lot of work).  I’ve talked about this as well with a few folk

[2022-05-19 14:02] PushkarJ commented on #890
With my both hats on from TAG Security and SIG Security -- let's do this and let me know where I can help !! 🎉

[2022-05-19 14:09] lumjjb commented on #890
+10000! Exciting!

[2022-05-19 14:25] lumjjb opened #909 "Fix up CI for translated portugese whitepaper"
Because of language, several CI fails, change the markdown to include comments to disable certain checks, and resolve any existing errors

[2022-05-19 15:32] mlieberman85 commented on #890
@TheFoxAtWork I think it would be worthwhile to chat this over with everyone once folks are back from Kubecon EU. We initially avoided Kubernetes specific work because of how large Kubernetes' project is compared to let's say cert-manager.

My worry is we take on a lot of heavy work while still sorting out some of the solutions compared with starting small and moving up. With that said if there's

[2022-05-19 15:37] TheFoxAtWork commented on #890
+1 to the discussion.  Based on what was shared today, we may have a good starting point.

[2022-05-19 18:02] jralmaraz commented on #909
Hey @lumjjb , can I reach you in slack directly to pick this one up?

Cheers!

[2022-05-20 13:18] sameo opened #912 "[Presentation] Confidential Containers"
Title: Introduction to Confidential Containers

Speakers: Samuel Ortiz @sameo and James Magowan @magowan

Description:
[Confidential Containers](https://github.com/confidential-containers/) aims at providing and integrating all the software components to orchestrate and run cloud native workloads on top of Confidential Computing hardware (e.g. AMD SEV, Intel TDX, etc). By doing so, the project ful

[2022-05-20 13:19] sameo commented on #912
@lumjjb Can I please add you as the TAG representative?

[2022-05-21 07:55] #909 closed

[2022-05-21 10:14] hbrueckner commented on #912
/cc @hbrueckner

[2022-05-23 11:09] krol3 commented on #576
@lumjjb 90% translation, in the review part !!

[2022-05-23 12:54] GuyBarGil opened #913 "[Suggestion] Add Content on Maintaining Up-To-Date Dependencies"
Description: Currently, the Cloud Native Security WhitePaper does not mention the risk involved in not maintaining up-to-date (or close to up-to-date) dependencies in cloud-native applications, as well as the benefits of doing so.

Impact: With time, dependencies in cloud-native applications tend to fall further and further behind from the latest versions as the dependencies are not properly manag

[2022-05-24 02:46] JustinCappos commented on #913
I'm supportive of this mention too.  A lot of other tools in the space depend-a-bot, scala steward, github's new dependency bot, etc. should also get mentioned.

[2022-05-24 10:30] 06kellyjac opened #914 "compromises: ctx & phpass"
https://twitter.com/s0md3v/status/1529005758540808192

phpass package taken over due to original owner's account being deleted and a new one taking over

ctx potentially taken over with leaked credentials?

quite a lot of downloads for each

[2022-05-24 11:18] schosterbarak commented on #897
Hey @lumjjb @JonZeolla something came up. Can we reschedule for July?

[2022-05-25 12:36] JonZeolla commented on #897
@schosterbarak yup, here are the July openings:
- July 8, 1pm ET
- July 13, 1pm ET
- July 20, 1pm ET
- July 27, 1pm ET

[2022-05-25 17:00] aaguiarz commented on #902
Yes, let's do it!

[2022-05-25 17:28] JonZeolla commented on #914
Related: https://sockpuppets.medium.com/how-i-hacked-ctx-and-phpass-modules-656638c6ec5e

[2022-05-25 17:30] JonZeolla commented on #897
Related: https://github.com/cncf/tag-security/issues/713 and https://github.com/cncf/tag-security/issues/895

[2022-05-25 17:43] ragashreeshekar commented on #890
I'd be interested to contribute here.

[2022-05-25 17:45] ragashreeshekar commented on #903
I'm interested to join.

[2022-05-25 19:47] izar-sqsp commented on #903
Another quick, lightweight framework: https://github.com/Autodesk/continuous-threat-modeling

[2022-05-25 21:17] lumjjb commented on #912
Is June 29th ok for you?

[2022-05-25 21:19] lumjjb commented on #902
got you scheduled!! can you check the acknowledgement box in the issue for speaker guidelines?

[2022-05-25 21:19] lumjjb commented on #899
@flavio can you check acknowledge the presentation guidelines? Thanks!

[2022-05-26 08:29] sameo commented on #912
Yes, it should work. Thanks.

[2022-05-26 10:07] magowan commented on #912
Yes works for me.
Are we looking at 10am PT? (18:00 UK time)

[2022-05-26 13:30] flavio commented on #899
Done! :heavy_check_mark:

[2022-05-26 14:39] lumjjb commented on #899
Awesome! All set!

On Thu, May 26, 2022, 9:30 AM Flavio Castelli ***@***.***>
wrote:

[2022-05-26 14:42] TheFoxAtWork opened #915 "[Suggestion] Update "Create Tracking issue" link in assessments"
Description: The "create tracking issue" link on the [/assessments/guide for growing projects](https://github.com/cncf/tag-security/tree/main/assessments/guide#growing-projects) is out of date, it needs changed to https://github.com/cncf/tag-security/issues/new?assignees=&labels=triage-required&template=joint-review.md&title=%5BSecurity+Review%5D+Project+Name

[2022-05-26 14:48] mlieberman85 commented on #890
@TheFoxAtWork Now with folks back from Valencia, when might people want to have a chat about some details. We still have the meetings weekly at 11AM Eastern time for the supply chain working group. I am also down to talk through some of the work that is being done and logistic and whatnot outside of that as well.

[2022-05-26 16:21] mlieberman85 commented on #890
Cool. As part of the analysis around this, I created a few graph visualizations (difficult to read I know, took overnight to render) to just show how complicated the supply chain graph is when taking into account all the things involved in both the runtime and build process. There are approximately 650 packages involved

In fact the images are so large they won't fit in this issue (the pngs are 50

[2022-05-26 18:02] mlieberman85 commented on #890
![slsa-graph-big gv](https://user-images.githubusercontent.com/622577/170547400-ef9e2ef8-e35b-46df-adee-057cbce847d1.svg)

Here is a 7-ish mb SVG of the graph. It struggles to render.... It also is a graph PURELY of the non-go dependencies. The idea here is not to be actually a good representation of the supply chain problem outside of just being a shock. With some of the tooling in OpenSSF (Sigst

[2022-05-26 18:25] mlieberman85 commented on #890
To also provide some context. Whatever project(s) we end up working with as part of this proposal the idea would be to apply best practices and other guidance from CNCF as well as other community guidance to help secure supply chain. Examples include:

- CNCF Supply Chain Security Best Practices White Paper - https://github.com/cncf/tag-security/blob/main/supply-chain-security/supply-chain-securit

[2022-05-26 21:33] JonZeolla commented on #890
@mlieberman85 I'd like to contribute to this but the first supply chain security meeting I can join is 6/23.  I will stay in touch via #tag-security-supply-chain-wg.  Does it make sense to update the [original post](https://github.com/cncf/tag-security/issues/890#issue-1199153357) with the collaboration details yet?

[2022-05-27 14:04] lumjjb commented on #912
Yep 10am pt! Awesome. Thanks!

On Thu, May 26, 2022, 6:07 AM James Magowan ***@***.***>
wrote:

[2022-05-27 15:56] mlieberman85 commented on #890
I will edit. There will be a short discussion about the possibility of collaboration at the next sig-release meeting.

[2022-05-31 16:00] JonZeolla commented on #897
Going with July 13, 1pm ET

[2022-05-31 21:49] anvega commented on #890
It's encouraging to hear conversations taking place between the workgroup crew and the different project stakeholders. One aspect of this proposed collaboration that isn't immediately clear is 'who 'is actually on the hook to carry out the work.

One motion here might be to incubate/facilitate discussions for supply chain security features/problems that don't have clear ownership.  The initial dis

[2022-05-31 21:56] lumjjb commented on #890
We need to setup an in-person chat about this... I think we need to take a step back and understand what the motivations are from each side and what aligned goals there can be...

I want to just point out in this thread, since more people are getting tagged in... that the nature of the thread is discussion and not a commitment to anything yet.

[2022-05-31 21:58] mlieberman85 commented on #890
This makes sense. My intention for this proposal is to focus more on taking stuff and refining it, rather than wholesale building something new like a whole CI/CD pipeline for them. For example, cert-manager has some builds already and with a few tweaks could be following many more of the best practices with minimal additional overhead.

In the case of Kubernetes, it probably makes sense to just r

[2022-05-31 22:01] lumjjb commented on #890
I will take this action item.

[2022-05-31 23:14] anvega commented on #890
I find the title of this issue to be descriptive enough. The goal is clear, the tactics not so much.

With a recurring meeting in place is probably a good use of time to make use of that existing space for this discussion. Not sure the chat warrants a separate meeting.

And just as important as the chat, we need to be able to turn around and capture down succinctly and with precision what it is th

[2022-06-01 00:06] nighttree opened #920 "[Presentation] OpenZeroTrust Container Security Platform"
Title: A Full Lifecycle Container Security Platform: SUSE OpenZeroTrust

Speakers: Fei Huang, Glen Kosaka

Description: SUSE NeuVector is a enterprise grade container security platform, it is open sourced and is also contributing to CNCF as Sandbox project. We believe our cloud native security solution aligned with open source Kubernetes community very well, and we would like to discuss some detai

[2022-06-01 19:05] #915 closed

[2022-06-02 15:35] lumjjb commented on #890
Actions items:
- Brainstorm in issue on what incentives there are
- Brainstorm some parts of the ref architecture and best practices
- Create a survey for how important is supply chain - what is the level of commitment to this if given some advice

[2022-06-02 15:41] lumjjb commented on #894
@nadgowdas any updates on this?

[2022-06-02 15:46] pxp928 commented on #890
I will take the action item to create a short survey that we can distribute to maintainers to determine  how important is supply chain to them and their projects.

[2022-06-02 15:49] nadgowdas commented on #894
yes, @lumjjb as presented in last time, in this project we were using eBPF to capture the build activity. So I briefly discussed with Liz Rice at the SecurityCon couple of weeks back and tried exploring their new project tetragon (https://github.com/cilium/tetragon). I had some good findings and would like to present in next meetup.

[2022-06-04 15:40] lumjjb commented on #853
Hi @evan2645 -  should i close this issue or is this still an ongoing ask?

[2022-06-06 20:16] #877 closed

[2022-06-06 22:25] PushkarJ commented on #882
@lirantal is this covered one or more of the PRs you created recently? If not would it make sense to create a PR to include this as well?

[2022-06-06 22:25] PushkarJ commented on #830
References, Citations were added to v2. Thanks @savitharaghunathan for excellent work here!

[2022-06-06 22:25] #830 closed

[2022-06-07 13:10] pxp928 commented on #890
CNCF Supply Chain Security Best Practices Survey to Maintainers

1. From a scale of 1 to 10, how important is software supply chain security to the projects you are maintaining? (SCALE: 1 to 10)
2. Are you currently actively looking to improve your supply chain security? (YES/NO)
3. Would you be interested in joining a pilot program for the CNCF Supply Chain Security WG to provide you recommendati

[2022-06-07 20:42] lirantal commented on #882
It's not included. I need to set some time to shoot a new PR to document this one :-)

[2022-06-08 19:32] lumjjb commented on #920
From the abstract... this sounds like a bit of a vendor product, can you share slides?

[2022-06-09 13:38] lumjjb commented on #899
presentation link: https://drive.google.com/file/d/1JeC0GsDHP0X5dnTjhZTAL_Ruc1y12PJt/view?usp=sharing

[2022-06-09 13:38] #899 closed

[2022-06-09 13:46] flavio commented on #899
Link to the recording of the meeting: https://www.youtube.com/watch?v=K-8Nepk7Zyc

Thanks again for the slot! :heart: :pray:

[2022-06-09 15:33] JonZeolla commented on #895
https://github.com/cncf/tag-security/issues/845 may also come into play regarding assessing whether or not an environment has/uses a SBOM, and how to present that information to the right people asking compliance questions (such as auditors or assessors)

[2022-06-09 15:46] nadgowdas commented on #890
Anchore 2022 Software Supply Chain Security Report -- https://anchore.com/software-supply-chain-security-report-2022/

[2022-06-10 14:43] lumjjb commented on #920
Hmm - i dont see an attachment, i don't think github email reply supports attachments. Can you send it to me on slack or via my email (available on my github profile)

[2022-06-10 14:44] apmarshall commented on #890
Draft of the "have you been impacted question":

"In the past year, how often have supply chain security incidents impacted your project/organization? Incidents may include disclosure of supply chain attacks/vulnerabilities in your dependencies, suspected or actual supply chain attacks on your project, or compromises of your organization resulting from a supply chain attack."
- Never
- Infrequentl

[2022-06-10 16:38] nighttree commented on #920
Sure I just emailed it over to you. Hope it works now.

[2022-06-10 16:57] lumjjb commented on #920
Awesome - yea just looked through looks fine, assuming the demos and UI of what you're showing is that belonging to an open source project and not a product interface, that is fine. thanks.

[2022-06-10 16:58] lumjjb commented on #920
do you have another time you can find? We are having a working session on 6/15, how about July 8 meeting?

[2022-06-10 20:03] nighttree commented on #920
Yes it's all open source. The UI everything will be following the CNCF standard as needed.
For the meeting, can we do the week of 6/22 or 6/29? Otherwise, the week of 7/20 will work for me better. Thank you!

[2022-06-11 01:13] sudo-bmitch commented on #890
The first question covers frequency, but I'd want to include severity too. There's a big difference between "dependabot notifies me once a month to merge a PR" and "there was this one incident with solarwinds".

[2022-06-11 02:43] apmarshall commented on #890
Agreed. How about:

What impact have supply chain incidents (including vulnerabilities or compromises of your dependencies, attacks on your development/build/delivery processes, or compromises of your org through supply chain attacks) had on your organization?
- Routine/Chore tasks (ie, dependency updates) only
- Low Impact
- Medium Impact
- High Impact
- Critical/Severe Impacts

Or some sort of s

[2022-06-11 12:09] JonZeolla commented on #845
Hi @Keeifer we meet every other week, meaning we have a meeting this Tuesday but I won't be there for this one.  We also work asynchronously in #tag-security-controls in the CNCF slack.

[2022-06-11 14:02] krol3 commented on #822
@lumjjb I would like to help to do this PR

[2022-06-11 15:50] lumjjb opened #931 "TL Onboarding - Raga"
## Transfer

* [ ] Transfer Logistics
  * [x] #tag-security-chairs-and-tech-leads channel - add new TL(s)
  * [x] tag-leadership mailing list - add new TL(s)
  * [x] add TL to chairs/leads meeting
  * [x] tag-security repo PR:
    * [ ] Update codeowners, github settings, README (TOC Liaisons and chairs
      have admin access, tech leads have push access). - PRs created https://github.com/cncf/ta

[2022-06-14 16:45] #882 closed

[2022-06-14 20:07] chadmcrowell commented on #551
I would like to contribute.

[2022-06-14 21:37] lumjjb commented on #551
Awesome @chadmcrowell , we are planning to start work on the v2! I would encourage to take a look at https://github.com/cncf/tag-security/issues/737

[2022-06-14 21:56] nighttree commented on #920
Hi @lumjjb, if we could schedule this meeting before end of June, that will be nice. Otherwise, we can try make the July 8 work on our side. So please feel free to schedule it and let us know? thanks!

[2022-06-15 15:27] sayantani11 commented on #886
@lumjjb I have come up with a few ideas for it!!

[2022-06-15 15:43] lumjjb commented on #920
We can do June 22nd, I won't be able to facilitate, @JonZeolla are you able to facilitate this TAG meeting?

[2022-06-15 16:04] sayantani11 commented on #886
Under the `governance/` folder we can add a file:
1. That mentions how to reach out to the mailing list.
2. We can also have active contributors of different timezones as representatives of a specific region
3. We can have monthly meetings for every region, and the representatives can report things discuss.
I guess contributors can volunteer to be representatives.
The documents should mention the

[2022-06-15 16:28] nadgowdas commented on #890
Draft of "From a scale of 1-10 how secure do you think your software supply chain is? "

What are the most immediate concerns you want to address (say by end of year 2022)?
- SBOM Management (generation, storage, applications)
- CICD Pipeline Hardening
- Integrity assurance with signing and verification
- Provenance Collection
- Any other, please specify --

How much you rely on open-source toolin

[2022-06-15 16:53] lumjjb commented on #869
@chadmcrowell this will a be a good starting project!!

[2022-06-15 16:53] marcindulak opened #938 "[Formatting] Misformatted section security-whitepaper/v2/cloud-native-security-whitepaper.md#secrets-encryption"
The "Secrets encryption" section appears misformatted https://github.com/cncf/tag-security/blob/7074a07ea79b894f611c553b5d6a52a77650ea27/security-whitepaper/v2/cloud-native-security-whitepaper.md#secrets-encryption. The "Encryption fully managed by the orchestrator" and "No encryption" items should not appear as list items, but be placed on the same level as "Encryption with an external KMS".

![S

[2022-06-15 16:58] lumjjb opened #939 "SecurityCon at KubeCon+CloudNativeCon NA 2022"
Now that SecurityCon events for EU 2022 are wrap its time to prepare and plan for NA! This issue will track activities related to TAG Security events for upcoming year.

SecurityCon is designed to create a focus space to foster collaboration, discussion, and knowledge sharing of OSS Security.

Program committee
The responsibilities of the program committee include but are not limited to:
* Active

[2022-06-15 16:59] lumjjb commented on #811
Created new tracking issue for NA https://github.com/cncf/tag-security/issues/939

[2022-06-15 16:59] PushkarJ commented on #938
@marcindulak this is great feedback! Would you mind opening a PR to fix this?

[2022-06-15 17:33] ragashreeshekar commented on #939
I'd like to join. CFP reviewer/Event organizing, especially interested to join and learn the CTF efforts, please count me in!

[2022-06-15 17:35] szh commented on #939
I'd like to participate as well.

[2022-06-15 17:37] ragashreeshekar commented on #692
Here is a post-mortel doc, please review and share your inputs/feedback :)
[Community manager experience](https://docs.google.com/document/d/1rPOWyXfog461l97LBGbx9nGKqWFMaZhUapQTDVaghUw/edit?usp=sharing
)

[2022-06-15 17:37] vicenteherrera commented on #737
I will be happy to help here also! ;-)

[2022-06-15 17:51] vicenteherrera commented on #110
I'll help you, will build a first alpha prototype that we can use to discuss the information, content and appearance. ;-)

[2022-06-15 18:01] mythi commented on #939
me too

[2022-06-15 19:00] mlieberman85 commented on #890
Based on the feedback and input from @apmarshall @pxp928, @nadgowdas, and @lumjjb  to summarize I think this is the set of questions, will refine formatting and turn into an actual survey more as we go through:

For your project:
* What are most immediate concerns you want to address in software supply chain security?
* How much do you rely on external open-source tooling vs. licensed or proprieta

[2022-06-15 20:02] brandtkeller commented on #845
Leaving a comment to annotate my interest in supporting this activity. Some background in OSCAL leaves me interested in seeing how I can assist.

[2022-06-16 00:59] JustinCappos commented on #939
Do we respond to this email or is there a better way to express interest?

Justin

On Thu, Jun 16, 2022 at 2:01 AM Mikko Ylinen ***@***.***>
wrote:

[2022-06-16 06:04] PushkarJ commented on #938
Thank you for fixing this with a PR @marcindulak

[2022-06-16 06:04] #938 closed

[2022-06-16 12:45] krol3 commented on #576
@lumjjb we are in the process of review!

[2022-06-16 14:29] pxp928 commented on #895
Comments based on 06/15 Meeting:
- Note distribution of OCI work, to be considered in the work
- NTIA minimum elements: have been expressed that this will increase in scope in the future. Min requirements for fedRAMP
- SBOMs is not linkable to what they are describing (i.e. hashes missing  - make sure that its there - linking to the image in oci for example)
- SPDX discussing content chunks as fir

[2022-06-16 17:08] nighttree commented on #920
Thanks team! Assume this meeting was scheduled on 6/22 10am PT with: the Meeting Link: zoom.us/my/cncftagsecurity
Please confirm or feel free to correct me. Thank you!

[2022-06-16 18:13] lumjjb commented on #920
Yup it is. Looking forward to it!

On Thu, Jun 16, 2022, 1:08 PM nighttree ***@***.***> wrote:

[2022-06-16 19:06] ggebel opened #941 "Hexa Policy Orchestration overview"
Title: Hexa Policy Orchestration overview (referred to Security TAG by TOC after sandbox review)

Speakers: Gerry Gebel/@ggebel and Mark Callahan/@MDCinMT

Description: Hexa Policy Orchestration seeks to make managing distributed identity and access across multiple clouds and across the stack consistent, secure and scalable. Hexa Policy Orchestration is open-source software that manages access pol

[2022-06-16 21:54] nighttree commented on #920
Great! Look forward to meeting your team next Wed. !

[2022-06-17 17:37] brandtkeller commented on #895
I would be interested in participating in this discussion.

To (maybe) add a new perspective i was thinking about the intersection of these items:

With something like the [VEX](https://www.ntia.gov/files/ntia/publications/vex_one-page_summary.pdf) format - which has already been shown to have the ability to be included inside or colocated with SBOM's.

[2022-06-20 11:27] knowlengr opened #942 "[Suggestion] Best Practices for Namespace"
Consideration of best or suggested practices for namespace management.

**Possible Impact**
- Additional layer of control for zero trust inspection / enforcement
- Improved granularity for telemetry / observability for cloud workloads
- Connect namespace to broader metadata objectives, including designations for PII, confidential computing, cost, semantic dependencies within applications
- Resilie

[2022-06-21 04:49] svenkata9 commented on #912
Will the session be recorded? 10 a.m. Pacific is late for us in GAR/APAC.

[2022-06-21 17:20] anvega commented on #931
Completed onboarding with a meeting to cover expectations and responsibilities on 6/21.

[2022-06-21 17:20] #931 closed

[2022-06-22 12:38] lojikil commented on #903
We used a modified RRA process when we did the threat model for Kubernetes itself; [you can see my notes in the repo](https://github.com/trailofbits/audit-kubernetes/tree/master/notes/stefan.edwards/rra). We modified these to include the controls we had agreed upon with the k8s audit team at the time, and it worked quite well.

I'd definitely be interested in helping as well!

[2022-06-23 12:56] JonZeolla commented on #920
Thanks @nighttree; is it possible to get a link to the slides that were used?  Then we can add that into the notes from yesterday and also store it in this ticket.  I saw some slides may have been shared via email but they weren't attached to this issue for posterity.  Thanks

[2022-06-27 07:38] ragashreeshekar commented on #110
@ultrasaurus I can help on the curation.
Here is a first draft of the content that I think we can cover
`
# Who we are

-   Our Charter - [https://github.com/cncf/tag-security/blob/main/governance/charter.md#sig-security-charter](https://github.com/cncf/tag-security/blob/main/governance/charter.md#sig-security-charter)
-   History
	-   TAG-Security - renamed STAG ([TOC Issue 549](https://github.co

[2022-06-27 22:18] vicenteherrera commented on #110
Thanks for the proposed structure, I'll try to incorporate that to my test!

I've been preparing a test website, you can see it at: https://vicenteherrera.com/stag-web/
Code lives at the repo here: https://github.com/vicenteherrera/stag-web

Some interesting characteristics about it for this group:
* Based on Jekyll (an open source ruby tool) and an [open source theme](https://github.com/kitian616

[2022-06-27 22:45] ultrasaurus commented on #110
this is great to see!   Thought I would chime in with some historical notes, in case it's helpful..

When we were looking at this long ago, we were thinking of having it be a view of the main repo (with slight changes to structure if needed), so that new content would also appear in the repo itself.  It has been a long time since I used Jekyll, but I think most static site generators have flexibil

[2022-06-28 00:01] D-Squared70 opened #946 "Minor corrections to V2 of "CLOUD NATIVE SECURITY WHITEPAPER""
On Pg. 38 and 39 there's a subsection labelled "Containment, Eradicate & Recovery", which seems to be almost identical outside of the last paragraph. I recommend deleting one, so they're not duplicates.

Pg. 47 under "Finance" there are two decimals after the word "detection". Recommend removing the duplicate.

I hope this is useful. :smile:

[2022-06-28 17:26] ragashreeshekar commented on #110
@ultrasaurus Thanks, @vicenteherrera, and I will surely get connected to you.
Hope the initial approach is ok, and we will reach out with some progress

[2022-06-28 20:09] PushkarJ commented on #946
HI @D-Squared70 this is excellent feedback! Would you mind opening a PR to edit the relevant sections in the markdown file here: https://github.com/cncf/tag-security/blob/main/security-whitepaper/v2/cloud-native-security-whitepaper.md

[2022-06-28 20:41] D-Squared70 commented on #946
Happy to. It looks like someone has already removed the duplicate section from the first point (see screenshot), but I'll adjust the two decimals.

![Screenshot 2022-06-28 at 4 39 35 pm](https://user-images.githubusercontent.com/48914889/176282995-7054d14d-2476-475d-81fb-68ca771bd925.png)

[2022-06-29 14:50] lumjjb opened #947 "Provide a way for non-leadership to be CODEOWNERS"
We have a ton of great contributors that should be reviewers for PRs, but CODEOWNERS has a restriction around this. Let's figure out a way that we can do this in way without providing too many privs

[2022-06-29 17:59] lumjjb commented on #912
Yes it will be recorded, we will be doing a part 2 due to many questions asked. How does July 20th work? @sameo @magowan ?

[2022-06-29 21:18] anners commented on #845
Should I be attending the policy-wg our tag-security-controls meeting to contribute to this?

[2022-06-30 05:28] sameo commented on #912
It is fine by me, thanks @lumjjb

[2022-06-30 05:31] svenkata9 commented on #912
Thanks @lumjjb. Do you mean to say July 20 APAC time?

[2022-06-30 08:29] magowan commented on #912
Yes July 20th works for me too, thanks

[2022-06-30 18:46] lumjjb commented on #912
@svenkata9 unfortunately we don't have APAC timezone run meetings right now. We had tried them in the past but they have fizzled out. We are though planning to create an EU timezone meeting which should alleviate the horrible timezone difference.

The recordings are on youtube though https://www.youtube.com/watch?v=_yvtk3IU1o8

[2022-07-01 02:12] svenkata9 commented on #912
Thanks @lumjjb. Yes, I believe EU timezone that will work out better for everyone.

[2022-07-04 09:43] jahrlin opened #949 "[Security Review] cert-manager"
Project Name: cert-manager

Github URL: https://github.com/cert-manager/cert-manager

CNCF project stage and issue (NA if not applicable): sandbox, working towards incubation

Security Provider: yes

- [ ] Identify team
   - [ ] Project security lead
   - [ ] Lead security reviewer
   - [ ] 1 or more additional reviewer(s)
   - [ ] Every reviewer has read [security reviewer guidelines](https://git

[2022-07-04 18:05] vicenteherrera commented on #110
@ultrasaurus You are right. There are several options for a GitHub page: root folder, specific folder, different branch, and of course, different repository.
I believe same repository and using a specific directory (like "website") may be the better approach. That way you have the website content version linked to the rest of the content of the repository very easily, and the same review process t

[2022-07-05 17:23] ashutosh-narkar commented on #941
@ggebel just confirming that y'all will be presenting tomorrow at the Security TAG meeting.

[2022-07-05 17:30] ggebel commented on #941
@ashutosh-narkar confirmed, see you on the call

[2022-07-06 17:04] nadgowdas commented on #939
I would like to participate as well

[2022-07-06 17:49] achetal01 opened #950 "Zero Trust Paper"
Description:

“Traditional perimeter-based network defenses with multiple layers of disjointed security technologies have proven themselves to be unable to meet the cybersecurity needs due to the current threat environment. Contemporary threat actors, from cyber criminals to nation-state actors, have become more persistent, more stealthy, and more subtle; thus, they demonstrate an ability to penet

[2022-07-06 19:12] chasemp commented on #606
Recently came across a tool that may lend itself well to a second iterations of this process with https://www.descript.com.  Thanks @ragashreeshekar

[2022-07-06 19:13] chasemp commented on #939
Please count me in :)

[2022-07-10 18:09] lumjjb commented on #950
@achetal01 can you give an overview of this at an upcoming meeting? Can you put the agenda item into the meeting notes schedule?

[2022-07-10 18:10] lumjjb commented on #949
Hi @jahrlin , can you link the TOC issue for the incubation - i believe there is one? Just to clarify that this is not currently blocking incubation - we have given a recommendation for incubation DD already. Is that right?

[2022-07-10 18:11] lumjjb commented on #946
Hi just checking back here if there is already a PR opened that addressed this?

[2022-07-10 18:14] lumjjb commented on #942
Sorry a bit of a lag here, but i think a few things i mentioned during the call were [openshift projects](https://docs.openshift.com/online/pro/architecture/core_concepts/projects_and_users.html) that tried to implement more defined security boundaries around k8s.

Also the Flux multitenancy proposal may be a good data point as well - not sure if this is the best link: https://github.com/fluxcd/fl

[2022-07-10 21:54] D-Squared70 commented on #946
https://github.com/cncf/tag-security/pull/952

Indeed there is :point_up: - Sorry for the delay. I thought I merged my changes into the main branch, but I suppose I missed a step.

[2022-07-11 01:14] JimBugwadia commented on #942
Relatively new entry in the K8s docs that discusses various isolation levels from a multi-tenancy perspective:

https://kubernetes.io/docs/concepts/security/multi-tenancy/

[2022-07-12 04:36] ragashreeshekar opened #953 "[Proposal] CNS WP Audio Recording v2"
Description: CNS WP Audio Recording v2

Impact: Support and extend our community while staying up to date across our deliverables.
* We would like our information to be welcoming to the visually impaired. In other circumstances, providing critical content in written form only maybe exclude a community of security and cloud native professionals. While screen readers and text-to-software can assist

[2022-07-12 05:10] p0bailey commented on #747
Hi @PushkarJ,

Thanks for the great work, just wanted to highlight an error inside the PDF https://github.com/cncf/tag-security/blob/main/security-whitepaper/v2/CNCF_cloud-native-security-whitepaper-May2022-v2.pdf

In the PDF figure 4 is a duplication of [distribute](https://github.com/cncf/tag-security/blob/main/security-whitepaper/v2/cnswp-images/cnswp-v2-security-structural-model-distribute.png

[2022-07-12 08:01] jahrlin commented on #949
Hi @lumjjb

Here's the TOC issue for incubation: https://github.com/cncf/toc/pull/786

That's great!

Yes, that's correct. I think the recommendation is awaiting review by two others though? as per: https://docs.google.com/document/d/1HCh3Q4LR6LFq1yHX2JIdGjp9_n82L22aEQDCMwCV5M0/edit?disco=AAAAcQ4O9LM

[2022-07-12 18:19] ggebel opened #954 "Hexa Policy Orchestration self assessment"
Initiating process to start a security self assessment

[2022-07-12 18:26] JonZeolla commented on #845
Hi @anners we chat in the #tag-security-controls channel in the CNCF slack and we have a biweekly meeting, next meeting is 7/26.  Right now we aren't affiliated with the policy-wg but open to collaboration

[2022-07-12 18:30] JonZeolla commented on #845
We are going to start working on this and managing our backlog in a repository - https://github.com/cloud-native-security-controls/controls-catalog

[2022-07-12 21:13] ggebel commented on #954
hi @lumjjb , it's quite early for a joint review and we were just going for a self assessment at this stage. Is there a form for that?

[2022-07-13 14:25] chasemp commented on #953
Not affiliated in any way with this tool, but after going through the process of the first iteration I think this is worth looking at to coordinate the second https://www.descript.com

[2022-07-13 22:28] ggebel opened #955 "[Security Review] Hexa Policy Orchestration"
Project Name: Hexa Policy Orchestration

Github URL: https://github.com/hexa-org

CNCF project stage and issue (NA if not applicable): NA, pre-sandbox submission

Security Provider: yes/no (e.g. Is the primary function of the project to support the security of an integrating system?) Yes

- [ ] Identify team
   - [x] Project security lead @ggebel
   - [x] Lead security reviewer @JustinCappos
   -

[2022-07-14 15:05] chasemp commented on #950
Is this targeting a whitepaper as output?

[2022-07-15 15:45] Caze121 opened #956 "Software Supply Chain Best Practices document control breakdown example (Excel)"
Warning - Excel file from an untrusted source (me).  Happy to convert this into a more useful and safe format for the group.
[Software Supply Chain Control List.xlsx](https://github.com/cncf/tag-security/files/9122161/Software.Supply.Chain.Control.List.xlsx)

### Description
The Secure Software Supply Chain Control List spreadsheet is a worked example on how to separate the Security Best Practices

[2022-07-15 18:23] ggebel commented on #941
Hi @dims  - In case you haven't seen it already, here is the recording of our presentation/demo/Q&A

https://youtu.be/N3rYDZNvipo

[2022-07-15 19:06] #946 closed

[2022-07-15 21:14] PushkarJ opened #957 "Retrospective of the Security Self-Assessment Subproject Pilot"
**Description**: With https://github.com/kubernetes/sig-security/issues/8 completed it is a good idea to perform a retrospective on what we learnt from the the pilot and how the lessons learnt could improve the overall security assessments process for CNCF TAG Security. This is also one of the pending tasks from #603

**Impact**: Idea would be to meet and document lessons learnt from participants

[2022-07-15 21:15] PushkarJ commented on #603
Added a new issue #957 for retrospective as the pilot security self-assessment is now complete.

[2022-07-15 22:12] aladewberry commented on #957
I volunteer to do this! Sounds like a perfect learning opportunity as I get up to speed. Assign me at your leisure!

[2022-07-18 10:28] Dentrax opened #958 "[Suggestion] CI: compile papers to PDF and commit the repository after each commit"
Description: After each commit and changes to papers, PDF should be automatically generated and pushed to repo

Impact:

I was reading the [CNCF_cloud-native-security-whitepaper-May2022-v2.pdf](https://raw.githubusercontent.com/cncf/tag-security/main/security-whitepaper/v2/CNCF_cloud-native-security-whitepaper-May2022-v2.pdf) and noticed some sections are wrong and does not sync'ed to latest `.md`

[2022-07-18 11:34] pjbgf opened #959 "[Presentation] Flux Multi-tenancy"
Title: Flux Multi-tenancy

Speakers: @pjbgf @aryan9600 @hiddeco

Description: An overview of Flux support for Multi-tenancy, covering existing and upcoming features, alongside its security-sensitive settings.

This is a follow-up from https://github.com/cncf/tag-security/issues/896#issuecomment-1125104744.

Time: 30-45 minutes

Availability: We are currently working within British Summer Time, wit

[2022-07-18 11:50] pjbgf commented on #896
Following-up from our meeting back in May, I have updated the Self-Assessment documents with further information about Multi-Tenancy models (inc. an initial thread model) and the Flux Security Best Practices (for users).

We have also submitted an issue to present Multi-tenancy. Please let us know whether anything else is required ahead of the presentation.

[2022-07-18 14:31] lumjjb opened #960 "[Suggestion] Analysis of SSCP on SLSA"
**Description:**

Understand the coverage of Secure Supply Chain Best Practices Paper (SSCP) in SLSA, and make recommendations on improvements to either SSCP or SLSA, or provide guidance on coverage of controls outside SLSA.

**Impact:** Understand gaps in today's tools in Software Supply Chain and provide recommendations to bolster supply chain security efforts.

**Scope:** Probably a month of an

[2022-07-18 19:48] sublimino commented on #956
Thank you for the contribution @Caze121!

A public Google Sheet might be a more consumable format for most folks if you can upload it there and enable access to the world.

The approach sounds perfectly reasonable, I look forward to digging through it 🙏

[2022-07-19 01:48] kurtseifried opened #961 "Proposed additions to supply chain security compromises list"
for https://github.com/cncf/tag-security/blob/main/supply-chain-security/compromises/README.md

pypi ctx:
https://python-security.readthedocs.io/pypi-vuln/index-2022-05-24-ctx-domain-takeover.html
https://blog.sonatype.com/pypi-package-ctx-compromised-are-you-at-risk

left-pad:
https://www.theregister.com/2016/03/23/npm_left_pad_chaos/

[2022-07-20 16:05] lumjjb commented on #956
This is awesome @Caze121 ! Was looking forward to this!

[2022-07-20 17:03] sudo-bmitch commented on #912
The link in the description should be updated to https://github.com/confidential-containers/

[2022-07-20 20:09] lumjjb commented on #912
Updated, thanks @sudo-bmitch

[2022-07-21 15:09] mlieberman85 commented on #960
There is the SLSA positioning working group/stream that is spinning up.

[2022-07-21 15:32] lumjjb commented on #956
@JonZeolla @nadgowdas will work with @Caze121 on discussing how we can make this available to the community! Would be a good opportunity to write a collaborative blog post about this as well.

@mnm678 will be the STAG rep

[2022-07-21 22:54] ggebel commented on #955
First draft of self assessment
[Hexa self assessment.pdf](https://github.com/cncf/tag-security/files/9163228/Hexa.self.assessment.pdf)

[2022-07-27 08:32] slashben opened #962 "[Presentation] Introducing Kubescape project to TAG Security"
Title: Introducing Kubescape project to TAG Security

Speakers: Ben Hirschberg (@slashben)

Description: We are the Kubescape project (https://github.com/armosec/kubescape). We want to become part of the CNCF familiy and contribute the project to CNCF. We have applied for sandboxing and we are looking to build close cooperation with TAG Security. In this presentation we would like to introduce the

[2022-07-27 17:22] sublimino commented on #956
@Caze121 I've uploaded this as [a Google Sheet](https://docs.google.com/spreadsheets/d/11URBxbz4m1FW9-W9Thtn9N779x4PVYdARdMhj7fv9HU/edit#gid=190696719) 🙏

[2022-07-27 17:39] elinesterov commented on #950
Happy to participate and contribute.

[2022-07-27 17:40] pratiklotia commented on #950
interested to contribute.

[2022-07-27 17:43] pxp928 commented on #950
Interested to contribute also.

[2022-07-28 03:04] Caze121 commented on #956
Thank you!  On vacation and mostly offline for a bit so really appreciate the help.

Best,

[2022-07-28 10:31] romdalf opened #963 "[Presentation] Trousseau - Kubernetes KMS Provider Plugin"
Title: [Trousseau](https://github.com/ondat/trousseau) - Kubernetes KMS Provider Plugin

Speakers: @romdalf

Description:
Following the Sandbox Inclusion Meeting feedback, we would like to share with you an overview of why, what, and how Trousseau addresses the Kubernetes Secret Management the native way.
The session will be a walkthrough demo about the design, current status, roadmap and getting

[2022-07-28 15:36] mnm678 commented on #960
I started a spreadsheet to map the SSCP to SLSA and other tooling to lay out which pieces of the supply chain are addressed by different pieces of tooling: https://docs.google.com/spreadsheets/d/1LfAgoYesySfg7bkiUgihNWGDpyKsMNt6xTBi303IAcg/edit?usp=sharing

Feedback and collaboration is welcome!

[2022-07-28 15:38] mnm678 commented on #845
I'm working on a related effort to map the supply chain security white paper to tooling: https://docs.google.com/spreadsheets/d/1LfAgoYesySfg7bkiUgihNWGDpyKsMNt6xTBi303IAcg/edit#gid=0, related to #960

[2022-07-28 16:23] nyrahul commented on #903
We had used STRIDE analysis for threat modelling a CNCF Sandbox project - [Kubearmor](https://github.com/kubearmor/kubearmor) (i am one of the maintainer) and built a [generic k8s threat modelling tool](https://github.com/accuknox/k8sthreatmodeling). Few points to note,
1. the tool used in the context was Microsoft TMT
2. We created a k8s template for the tool (available in public).
3. Here is the

[2022-07-29 22:43] PushkarJ commented on #961
@kurtseifried : Would you mind opening a PR to add these to the list? Apologies if you already did and I missed it

[2022-07-29 22:47] PushkarJ commented on #747
@p0bailey sorry for the delayed response. You are absolutely right. The markdown seems to not have this discrepancy (anymore). So we will fix this in the next update to the PDF

[2022-07-29 22:51] PushkarJ commented on #958
@Dentrax I agree in theory with the idea. Unfortunately, the PDF generation magic is handled by our excellent CNCF Design team who spend a lot of time and effort that needs manual work and limited automation.

So for minor changes we will continue to follow the guidelines on updating the papers mentioned here: https://github.com/cncf/tag-security/tree/main/security-whitepaper#versioning-and-publis

[2022-07-29 22:51] #958 closed

[2022-07-29 23:22] PushkarJ commented on #818
Closing as #951 is merged! @savitharaghunathan feel free to reopen if you have suggestions to make it better or if the proposed update does not suffice :)

[2022-07-29 23:22] #818 closed

[2022-07-31 16:42] JonZeolla commented on #914
Related to eea8acf246beff421e4fd222459afebbd93a63f5

[2022-08-01 20:57] halcyondude opened #965 "[Proposal] Collab w/ TAG Observability"
## Description: what's your idea?

Solicit input, feedback, and collaboration on https://github.com/cncf/landscape-graph, specifically on Sub-Graph Modules related to software packages and threats (details below)

## Impact: Describe the customer impact of the problem. Who will this help?  How will it help them?

This data model and graph will serve useful to a variety of Personas, from those resp

[2022-08-02 03:23] lumjjb commented on #906
added whitepaper label so it will be picked up next update

[2022-08-03 12:14] raesene commented on #881
I'm still happy to work on this one once we've got a suitable venue/format :)

[2022-08-03 16:55] xee5ch commented on #845
Howdy, I read up on #635 to get current on a long hiatus and wanted to know how I and/or other members of the oscal.club community can pitch in to help with OSCAL bootstrapping (if that is in fact part of this issue and not scoped elsewhere). If I should direct my interest and attention somewhere else, such as [cloud-native-security-controls/controls-catalog](https://github.com/cloud-native-securi

[2022-08-03 17:07] JonZeolla commented on #845
@xee5ch we're tracking our granular tasks on https://github.com/cloud-native-security-controls/controls-catalog and have a biweekly 45m meeting - next meeting 2pm Eastern on 8/9 (meeting notes and details links in the first post are still valid).  We also chat in the CNCF slack in #tag-security-controls.  Now would be a great time to get involved!  I'm on vacation this week but looking forward to

[2022-08-03 17:13] xee5ch commented on #845
Sounds good, I will try to follow up before that next meeting and/or try to attend. :-)

[2022-08-03 18:55] aks-secops commented on #939
I'd like to join.

[2022-08-05 17:16] lumjjb opened #969 "[Proposal] Tighten collaboration between CNCF TAG-Security and OpenSSF"
Description: There is a lot of overlap in terms of the goals of CNCF TAG-Security and OpenSSF. This results in quite a few overlapping deliverables and member participation. The goal of this issue is to figure out a way to consolidate efforts when appropriate.

Impact: This will help result in deduplication of efforts between groups and concentrate efforts to produce deliverables more quickly and

[2022-08-09 18:03] lumjjb commented on #962
Hi @slashben How does 24 august work for you?

[2022-08-09 18:07] slashben commented on #962
Sounds good!

[2022-08-10 16:51] halcyondude commented on #965
Prior art: https://lyft.github.io/cartography/modules/cve/schema.html

[2022-08-10 17:22] PushkarJ commented on #963
Hi @romdalf would 09/07 work for you?

[2022-08-10 17:25] PushkarJ commented on #959
Hi @pjbgf would 08/31 1pm BST would work for you? We have started an EMEA timezone friendly meeting so this time may work better

[2022-08-10 17:26] romdalf commented on #963
Perfect day. Will put that in our agenda. Thanks @PushkarJ

[2022-08-10 17:58] pjbgf commented on #959
@PushkarJ yes, please.

[2022-08-11 16:46] TheFoxAtWork commented on #969
Related: https://github.com/cncf/toc/issues/889

[2022-08-11 20:35] lumjjb opened #972 "[Suggestion] Review NPM supply chain proposal and make recommendations"
Description: Review [NPM supply chain proposal](https://github.com/npm/rfcs/blob/link-packages-to-source-and-build/accepted/0000-link-packages-to-source-and-build.md) and make recommendations

Impact: Review the proposal and ensure that it is in line with CNCF supply chain whitepaper and software factory reference architecture.

Scope: A couple hours from a community member

Additional info:
- NPM

[2022-08-11 22:14] mlieberman85 commented on #972
I have been providing feedback myself. I think by and large it's good as a first step. Also, will be setting up some conversations with the leads.

[2022-08-12 12:51] raesene commented on #881
Hi @ashutosh-narkar sure. For the CNCF blog, do you know if they have any writing style guides that we should be following when drafting things up?

[2022-08-12 13:05] lumjjb commented on #881
AFAIK it's only style guidelines around logo and certain cloud native
terminology and code of conduct guidelines

Otherwise I believe it's pretty flexible.

On Fri, Aug 12, 2022, 8:51 AM Rory McCune ***@***.***> wrote:

[2022-08-12 16:39] evan2645 commented on #853
Hi @lumjjb sorry for the delay, I've been out on leave

We were never able to get a review of the code in question, but it's never too late and we'd still love someone to look at it. At the same time, I don't know that keeping this issue open any longer is going to improve the odds of that, so if we want to call it quits and close it out, I think that's ok. And apologies for the oddball issue 😅 I'

[2022-08-12 19:37] lumjjb commented on #853
yea i think we'll keep it open for now, seems worthwhile just in case someone stumbles upon it. We are starting something around zero knowledge (#950) so may have some new members come in!

[2022-08-14 12:20] maltfield commented on #822
@lumjjb can the PR be reviewed so this can be closed?

[2022-08-14 14:23] lumjjb commented on #822
sorry that i missed this - i added a comment and updated the branch.

Once we address the comments and CI passes ill merge it!

[2022-08-15 15:43] oleg-nenashev commented on #784
Hi! Quick update on Keptn security review. The previous self-assessment doc needs some updates based on the roadmap changes we had in the project (Keptn 1.0 discussions, etc.). I plan top provide the new version by Wednesday. I have not touched this topic since May due to other discussions, my apologies for that. At least we can now schedule the security review for the real scope.

[2022-08-15 16:36] lumjjb commented on #784
@IAXES fyi - just assigned the issue

[2022-08-16 08:16] sublimino commented on #939
Additionally, I'll be on the CTF efforts along with a few CP folks

[2022-08-16 15:56] pratiklotia commented on #939
+1 CTF

[2022-08-16 16:12] mlieberman85 commented on #939
@sublimino I can help out with CTF too

[2022-08-17 12:36] slashben commented on #939
+ review panel
+ CTF
:)

[2022-08-17 14:13] fidencio commented on #881
Hey!  I'm from the Kata Containers side and I'd be interested to help on whatever may be needed.

Noted, I've been working on Kata Containers + SELinux support (which touched CRI-O and containerd) and I'm very much interested in the outcome of these articles.

[2022-08-20 20:00] lumjjb commented on #962
all set! looking forward to the presentation this week!

[2022-08-20 20:01] lumjjb commented on #959
Added to the schedule, FYIA @sublimino

[2022-08-20 20:02] lumjjb commented on #959
@pjbgf can you help acknowledge and check the last box in the issue

[2022-08-20 20:13] lumjjb commented on #913
@ashutosh-narkar would this be another option to get into the blog series? thoughts

[2022-08-22 08:34] pjbgf commented on #959
@lumjjb confirmed and checked the last box in the issue.

[2022-08-22 16:55] #902 closed

[2022-08-22 17:35] ashutosh-narkar commented on #881
Hello @raesene do you have any update on this? Please let us know if you need any help. Thanks!

[2022-08-22 17:39] PushkarJ commented on #913
Somewhat related PR to this topic: #887

[2022-08-22 18:37] ashutosh-narkar commented on #913
@GuyBarGil this seems to an interesting blog topic! I think folks would be interested in learning about dependency management, keeping them up-to-date, available tools, practical tips etc. Let us know if you're interested and we can help out as well.

[2022-08-24 06:24] raesene commented on #881
hi, no update at this precise moment in time, I've hit a busy patch so have less availability for this, I do plan to return to it though.

[2022-08-24 15:27] GuyBarGil commented on #913
@ashutosh-narkar sure I'd be happy to put together a blog on this :)

[2022-08-24 15:45] ashutosh-narkar commented on #881
Sounds good. Thanks @raesene.

[2022-08-24 15:52] ashutosh-narkar commented on #913
Awesome @GuyBarGil ! Please do share a draft via Google docs so we can collaborate. We are looking to start a blog series with few interesting topics like this one and have it published on the CNCF blog or the STAG site (which we're looking to create). We are hoping to get these blogs out by KubeCon NA. We appreciate the contribution and please let us know if we can help.

[2022-08-24 17:22] JonZeolla commented on #845
@achetal01 / @lumjjb this is actively being worked on, should we update the labels from proposal to project?

[2022-08-24 17:56] slashben commented on #962
Here is the link to the project: https://github.com/kubescape/kubescape
Here are the presentation slides: https://docs.google.com/presentation/d/1QvCD2XLB03OWdCuVCnXHmn_fkHyz95HowiHMljtKHb8/edit?usp=sharing

[2022-08-24 20:26] lumjjb commented on #962
Awesome - thanks for the presentation!

[2022-08-24 20:26] #962 closed

[2022-08-25 03:59] achetal01 commented on #845
Yes that makes sense Jon   Let’s change this to in work

On Wednesday, August 24, 2022, JonZeolla ***@***.***> wrote:

[2022-08-25 11:54] lumjjb commented on #845
Sgtm.

Process wise, we should also do a presentation to the group on the proposed
work and get feedback from the broader group.

On Thu, Aug 25, 2022, 12:00 AM Aradhna ***@***.***> wrote:

[2022-08-25 12:05] JonZeolla commented on #845
We already have a task to create a roadmap.  Once we have that it would be a good point to present

https://github.com/cloud-native-security-controls/controls-catalog/issues/16

[2022-08-25 12:39] lumjjb commented on #845
sounds good, let's get that done, present and we can toggle to a project.

[2022-08-29 17:18] #947 closed

[2022-08-31 12:15] JonZeolla commented on #845
We have a draft roadmap being worked out in #tag-security-controls and https://github.com/cloud-native-security-controls/controls-catalog/issues/16

[2022-08-31 12:50] pjbgf commented on #959
For anyone that could not make it, here are the slides used during the presentation: https://docs.google.com/presentation/d/1Yh2JSBeExfzoT7eids1gNQHkstAB9WyJW00HiM08YGQ/edit#slide=id.g149011df06e_0_81

[2022-08-31 12:59] pjbgf commented on #959
@achetal01 do you mind sharing what are the next steps for #896 now that the presentation is done?

[2022-08-31 15:17] JonZeolla commented on #956
This was contributed under a CC license in https://github.com/cloud-native-security-controls/controls-catalog/pull/19

[2022-08-31 15:17] JonZeolla commented on #956
@lumjjb good to close this one

[2022-09-06 06:42] romdalf commented on #963
@PushkarJ We will not be able to present due to an unforeseen change of schedule - last minute recording of our Open Source Summit 20222 sessions due to travel conflict.
Thank you for your understanding.

[2022-09-06 13:24] kevin-wangzefeng opened #974 "[Security Review] KubeEdge"
Project Name: KubeEdge

Github URL: https://github.com/kubeedge/kubeedge

CNCF project stage and issue (NA if not applicable): Incubation and preparing for graduation

- Sandbox Proposal: https://github.com/cncf/toc/pull/205
- Incubation Proposal: https://github.com/cncf/toc/pull/461
- Graduation Proposal: TBD

We are now preparing for graduation and need to do a security assessment before we star

[2022-09-07 16:29] PushkarJ opened #975 "Cloud Native Security Whitepaper v3"
## Description
Original security whitepaper (#138) was published in Nov 2020, followed by version 2 (#747) in May 2022. Since then we have received a lot of community feedback for improvements and new topic addition. So this issue is an attempt to carve out everything in one place and let a contributor take up the Project Leader role for this next version.

## Scope

- https://github.com/cncf/tag-

[2022-09-07 16:32] PushkarJ commented on #747
Closing this issue now with creation of #975 . Thank you all for the wonderful collaboration, contributions and camaraderie.

Great opportunity to lead creation and publication of the next version for existing and new contributors. More details in the linked issue and I will be happy to chat more if anyone has more questions :)

[2022-09-07 16:32] #747 closed

[2022-09-07 18:39] baiyungao commented on #845
I would love to contribute.  please advise how to proceed.

[2022-09-07 21:58] JonZeolla commented on #845
Hi @baiyungao you can start by joining us in the CNCF slack in #tag-security-controls or via the biweekly meetings in https://meet.google.com/gra-vpip-uvu every other Tuesday at 2pm ET (next meeting is 9/20).  Looking forward to it!

[2022-09-07 22:07] baiyungao commented on #845
Great!  Thank you very much.

-Ben

On Wed, Sep 7, 2022 at 5:58 PM JonZeolla ***@***.***> wrote:

[2022-09-08 08:42] wonderflow opened #976 "[Security Review] KubeVela"
Project Name: KubeVela

Github URL:  https://github.com/kubevela/kubevela

CNCF project stage and issue: https://github.com/cncf/toc/pull/890 (incubation)

Security Provider: no

- [ ] Identify team
   - [ ] Project security lead  @wonderflow
   - [ ] Lead security reviewer
   - [ ] 1 or more additional reviewer(s)
   - [ ] Every reviewer has read [security reviewer guidelines](https://github.com/

[2022-09-09 12:52] lumjjb commented on #976
@IAXES for your action!

[2022-09-12 05:10] sayantani11 commented on #975
Hey @PushkarJ interested to work on the version 3 as well.

[2022-09-13 10:38] p0bailey commented on #747
@PushkarJ thanks for the heads up. Looking forward to downloading the updated PDF. Great work!

Phillip

[2022-09-14 15:05] mythi commented on #975
I'm planning to cover #906 but I can help with other activities too.

[2022-09-14 15:21] szh commented on #975
I'd be interested to help on the subject of Secrets Management.

[2022-09-14 16:24] PushkarJ commented on #975
Great to hear about all the interest from @sayantani11 @mythi @szh 🎉

@savitharaghunathan in terms of pre-requisites, being a part of the process of prior whitepaper version publication, is definitely going to help. Apart from that you would need to make calls on what topics would be in scope and be able to review, edit and fact check content from other contributors. For that some experience in cl

[2022-09-14 22:51] savitharaghunathan commented on #975
Thanks, @PushkarJ. Sign me up to lead. I will look at the deliverables and if I need anything will reach out to you.

[2022-09-15 15:41] lumjjb commented on #956
Awesome Thanks @JonZeolla !!

[2022-09-15 15:45] lumjjb commented on #956
@JonZeolla i think we still need to figure out the governance around https://github.com/cloud-native-security-controls/controls-catalog - let's have a chat about this.

[2022-09-19 14:55] IAXES commented on #976
@lumjjb Acknowledged.

[2022-09-19 14:55] IAXES commented on #974
@lumjjb Acknowledged.

re: https://github.com/cncf/tag-security/pull/977

[2022-09-20 22:25] JonZeolla commented on #845
@achetal01 can you please update the meeting location to use Zoom?

Migrate to Zoom:

CNCF TAG Security is inviting you to a scheduled Zoom meeting.

Topic: TAG-Security Controls Working Group
Time: This is a recurring meeting Meet anytime

Join Zoom Meeting
https://zoom.us/j/95131392155

Meeting ID: 951 3139 2155
One tap mobile
+16469313860,,95131392155# US
+16465588656,,95131392155# US (New York

[2022-09-21 14:30] raelga commented on #576
Still in review. 🙂

[2022-09-21 15:54] stevespringett commented on #895
For reference, the attached deck was presented at the CISA SBOM Cloud meeting last week. I believe that group is going to be defining SBOM use cases and guidance for cloud.

[OWASP CycloneDX - SBOM Cloud.pdf](https://github.com/cncf/tag-security/files/9618303/OWASP.CycloneDX.-.SBOM.Cloud.pdf)

[2022-09-21 17:26] lumjjb commented on #897
@schosterbarak just a reminder - can you post the slides here?

[2022-09-21 17:32] PushkarJ commented on #972
@mlieberman85 any updates on this?

(Just doing this as part of triage in working session)

[2022-09-21 17:36] mkbhanda commented on #969
In this context   Mikko Yilen (Intel) is reaching out to CRob (OSSF/Intel) to jump start this effort. Shall update.

[2022-09-21 17:40] PushkarJ commented on #965
@mlieberman85 any updates on this after our initial triage?

[2022-09-21 17:45] PushkarJ commented on #960
@mnm678 anything else we can help with Marina? Shared this in the working session today with group, fyi.

[2022-09-22 05:11] ragashreemc commented on #975
I'm interested to contribute :)

[2022-09-25 07:35] lirantal opened #980 "New supply chain security compromise issue that we should add to the list"
RubyGems security flaw allow overriding gems: https://www.bleepingcomputer.com/news/security/check-your-gems-rubygems-fixes-unauthorized-package-takeover-bug/

[2022-09-26 19:25] ragashreemc opened #982 "[Proposal] Curate resources to supplement reviewers in security assessment"
Description:
Build resources to supplement up-and-coming reviewers in the security assessment working group. P.S: Thanks to @achetal01 for the idea

Impact:
We have fantastic resources for the end-to-end process of both self-assessment and joint-review (Ref: https://github.com/cncf/tag-security/tree/main/assessments/guide).

However, it seems there are not enough resources currently to guide the s

[2022-09-26 19:25] #982 closed

[2022-09-26 19:46] ragashreeshekar opened #983 "[Proposal] Resources for reviewers in security assessment working group"
Description:
Build resources to supplement up-and-coming reviewers in the security assessment working group. P.S: Thanks to @achetal01 for the idea

Impact:
We have fantastic resources for the end-to-end process of both self-assessment and joint review (Ref: https://github.com/cncf/tag-security/tree/main/assessments/guide).

However, it seems there are not enough resources currently to guide the s

[2022-09-27 18:24] pratiklotia commented on #975
[Suggestion] for scope:

Add 'assurance level' and 'risk categories' to the best practices mentioned in the whitepaper. This will help achieve parity with the format in [SSCP](https://github.com/cncf/tag-security/blob/main/supply-chain-security/supply-chain-security-paper/CNCF_SSCP_v1.pdf) (Software Supply Chain Best Practices) and the [CNS Controls document](https://docs.google.com/spreadsheets/d

[2022-09-27 19:00] mrsabath commented on #950
Intrested

[2022-09-27 19:03] mrsabath commented on #950
Here is the link to the CNCF Slack channel: https://cloud-native.slack.com/archives/C0444N0KYQJ

[2022-09-27 19:21] mnm678 opened #984 "[Proposal] CNCF Supply Chain Security Tools Mappings"
Description: Create a mapping from various open source tools to the supply chain security whitepaper. I have an initial draft of a spreadsheet available [here] (https://docs.google.com/spreadsheets/d/1CzvnInT7QOmTOz20W5TiX8tJiG9XZvdqYA3TivLx-PI/edit#gid=0). This mapping can be translated to be part of the [controls catalog](https://github.com/cloud-native-security-controls/controls-catalog), or a

[2022-09-27 19:22] mnm678 commented on #960
Thanks! I opened #984 to extend the scope of this project a bit to cover not just SLSA, but other open source tools. If anyone would like to contribute to the spreadsheet based on knowledge of any supply chain security open source project, that would be very helpful!

[2022-09-27 19:51] ragashreeshekar commented on #561
Possible related scope - https://github.com/cncf/tag-security/issues/984

[2022-09-27 19:52] ragashreeshekar commented on #984
Possible related scope - https://github.com/cncf/tag-security/issues/561

[2022-09-28 01:08] achetal01 commented on #950
Kishore and Mariusz are going to reach out for a Kickoff meeting for next week

We r starting this off...

[2022-09-28 09:09] pjbgf commented on #896
I was away for a couple of weeks and just got back now. Is there anything that the Flux team can do to help on progressing this issue?

[2022-09-28 16:44] sublimino commented on #903
Thanks to everybody for contributing, we've put together a lightweight questionnaire based on the template @lojikil shared that was used for the Kubenretes assessment, along with some extra wording to encourage diagrams — the main difference being reviewers in TAG Security won't have the wealth of documentation Kubernetes provides — and reduce the scope to "less classified systems at runtime". The

[2022-09-28 16:49] lumjjb commented on #983
I think @IAXES @JustinCappos may be able to chime in on some background here! There are also quite a few new members in the EMEA meeting that are interested that may be interested to collaborate - i can bring it up in the next EMEA meeting.

[2022-09-28 18:25] JustinCappos commented on #983
I've been out of the loop for a few years, but I seem to recall we have a template and a list of steps, etc.  Can you be clearer about where there are gaps that need to be filled?

[2022-09-28 18:55] sublimino commented on #983
@ragashreeshekar we've made some progress on a set of lightweight threat modelling questions in https://github.com/cncf/tag-security/issues/903 that might play into this too

[2022-09-29 01:01] ragashreeshekar commented on #983
@JustinCappos, we definitely have great resources on the process flow of reviews - both self-assessments, and joint-review, as well as templates to assist the project teams. I was looking more from the security reviewer point of view, as to what we need to review in the project. Currently, this section is the only guideline I see for the reviewer - https://github.com/cncf/tag-security/tree/main/as

[2022-09-30 15:56] m1ghtym0 opened #985 "[Presentation] Constellation - Confidential Kubernetes"
Title: [Constellation](https://github.com/edgelesssys/constellation) - Confidential Kubernetes

Speakers: @m1ghtym0

Description: We've recently released the first Confidential Kubernetes platform called [Constellation](https://github.com/edgelesssys/constellation).

We use the term Confidential Kubernetes to refer to the concept of using confidential-computing technology to shield entire Kubernet

[2022-09-30 16:59] lumjjb commented on #985
This is a pretty cool project related to the confidential containers project @sameo ++.

You would mind sharing some of the open source plans the project has (e.g. are you thinking about joining CNCF, license changes, etc.)

[2022-10-01 17:49] achetal01 commented on #975
Please include me in this initiative. Also Lets incorporate Serverless Sections and use the content created by Serverless Team

[2022-10-03 09:59] m1ghtym0 commented on #985
Thanks! It's related to confidential containers but with a slightly different approach on how it applies CC to Kubernetes.
Confidential Containers => On a Pod-level
Constellation => On a Node-level

Regarding your questions:
Currently, we are not planning to join the CNCF with that project or change the licenses.
We are very much interested to integrate with CNCF projects and find synergies to pro

[2022-10-03 17:33] lumjjb commented on #985
Ahh thanks for the context @m1ghtym0 , and @ragashreeshekar had filled me in with more information as well! As project presentations are more for CNCF projects (or projects aiming to be part of the CNCF), we can't have a dedicated presentation slot for you. However, if there is enough discussion around the issue on discussing the issue of confidential container implementations, then we can schedul

[2022-10-03 19:31] mrsabath commented on #950
The initial meeting will take place on Friday, Oct. 7th at 11am EST. For more details, please reach out to the organizers via CNCF Slack `#tag-security-zero-trust` channel: https://cloud-native.slack.com/archives/C0444N0KYQJ

[2022-10-04 21:54] JonZeolla commented on #845
@achetal01 when you get a chance can you make the meeting location update from above?  Thanks!

[2022-10-04 21:58] JonZeolla commented on #845
Slides for our 2022-09-05 TAG-Security presentation: https://docs.google.com/presentation/d/1h-tep3EDNw6WME1f-29ZELiIr4GxV31lrYprUwx_Xks/edit

[2022-10-04 23:54] matthewflannery commented on #975
Hi guys,

I'm more than happy to be included. Is there a Slack channel up already? I've been quiet lately due to having 3 kids, and this will be great as a way to start contributing again.

[2022-10-05 07:18] m1ghtym0 commented on #985
Alright, thanks @lumjjb for the update!
Looking forward to some comments on the concept:-)

[2022-10-05 11:24] savitharaghunathan commented on #975
Hi all, thanks for expressing interest to be part of this v3 white paper initiative. We will be using slack channel for collaboration - https://cloud-native.slack.com/archives/C017K5AN70T. Please join if you are not a part of it already. I will set up a kick off meeting doodle poll for the timing and post it to the channel and here. I just got back from my vacation and catching up on the work. Ple

[2022-10-05 17:55] mlieberman85 commented on #890
Survey has gone out. Here is a copy of the announcement:

[2022-10-05 19:47] mrsabath commented on #950
The kickoff meeting is this Friday Oct. 7th at 11am EST
CNCF TAG Security is inviting you to a scheduled Zoom meeting.
Topic: TAG-Zero Trust Working Group
Time: This is a recurring meeting Meet anytime
Join Zoom Meeting
https://zoom.us/j/94806970233
Meeting ID: 948 0697 0233
One tap mobile
+16469313860,,94806970233# US
+16465588656,,94806970233# US (New York)
Dial by your location
        +1 646 9

[2022-10-07 15:22] JonZeolla commented on #950
I'm interested in helping

[2022-10-07 15:42] JonZeolla commented on #845
@lumjjb presentation occurred earlier this week and is linked above.  Once I see the recording on YouTube I will link it here, we should be good to toggle this one to a project and also make sure it's added to the [CNCF calendar](https://www.cncf.io/calendar/)?

[2022-10-07 20:15] lumjjb opened #987 "Supply chains security Expectations vs Reality"
Description: We ask for supply chain best practices, SLSA, SBOMs, all that information.. so as to ask the question - does my software have a secure supply chain? But is that question just a pipe dream? Or can we break it down to tangible questions that we can tackle.

Impact: Being able to provide direction on what policies we want to create will help inform the data we need to produce and inform

[2022-10-09 09:27] lirantal opened #988 "[Supply Chain Security incident] Sonar's PHP Packagist compromise"
Add this to our incidents list: https://blog.sonarsource.com/securing-developer-tools-a-new-supply-chain-attack-on-php/

[2022-10-10 12:38] sublimino commented on #961
@kurtseifried any chance you have a moment to raise a PR or two here? No problem if not :pray:

[2022-10-10 12:38] #879 closed

[2022-10-10 13:16] savitharaghunathan commented on #975
Hi Folks, here's the link to doodle poll - https://doodle.com/meeting/participate/id/dwmWgYwa. It will close this Friday, Oct 14th, 2022 at 12 PM EST. Please add your availability at your earliest convenience :)

[2022-10-11 06:56] achetal01 commented on #845
https://github.com/cncf/tag-security/issues/845

This is the correct issue

On Fri, Apr 15, 2022 at 8:32 AM ann wallace ***@***.***>
wrote:

[2022-10-11 07:43] achetal01 commented on #896
Paulo

I had reviewed the threat model and provided some comments on additional
mitigations .Not sure you received those.

Aradhna

On Wed, Sep 28, 2022 at 2:09 AM Paulo Gomes ***@***.***>
wrote:

[2022-10-11 14:07] JustinCappos commented on #987
Happy to contribute here.

[2022-10-11 14:26] sublimino commented on #896
@pjbgf @stefanprodan are either of you and/or any of the team free at 1300 BST tomorrow for the EMEA TAG Security meeting? We have space to run through an initial threat modelling session for this proposal with our new lightweight framework.

[2022-10-11 16:06] Caze121 commented on #987
Happy to contribute here as well.  We are currently doing this for our organisation as with capability milestones and deliverables along the secure supply chain best practices path.

[2022-10-11 16:14] achetal01 commented on #896
Andrew I m not unfortunately. But Paulo has already conducted  a threat
model for that. I just added a couple more... LEt me find my comments and
Ic an email those to you.

Thank you

On Tue, Oct 11, 2022 at 7:26 AM Andrew Martin ***@***.***>
wrote:

[2022-10-12 04:05] PushkarJ commented on #987
+1

[2022-10-12 04:11] PushkarJ commented on #561
With #984 focussing on similar subject matter which possibly would end up in #551 it is probably safe to close this in favor of continuing work on those issues.

Feel free to reopen for any other reasons that I may have missed.

[2022-10-12 04:11] #561 closed

[2022-10-12 12:00] pjbgf commented on #896
@achetal01 I will take a look on the comments you left and come back to you.

[2022-10-12 13:48] Caze121 commented on #961
This seems to be publishing infrastructure, similar to SolarWinds, does that sound about right?

Comm100:
https://www.securityweek.com/supply-chain-attack-targets-customer-engagement-firm-comm100?utm_medium=email&utm_source=Eloqua&ref=GBSNewsletterEmail

[2022-10-12 14:18] mlieberman85 commented on #987
+1

[2022-10-14 14:31] savitharaghunathan commented on #975
@PushkarJ @sayantani11 @mythi @matthewflannery @ragashreemc and folks who expressed interest in contributing/participating, we will be meeting on Oct 18th 3-4 PM Eastern time. Can you all share your email privately with me via CNCF slack dm or [here](https://cloud-native.slack.com/archives/C017K5AN70T/p1665757673080349?thread_ts=1665407978.748269&cid=C017K5AN70T), I can send out the invite.

[2022-10-14 15:32] #822 closed

[2022-10-20 18:04] aladewberry commented on #957
In progress! Rounding up folks [in Slack](https://kubernetes.slack.com/archives/C022K4F2W4W/p1666284970468489) to see what we can get done at Kubecon

[2022-10-25 01:45] PushkarJ opened #994 "Auto Request Review Action is failing"
Unrelated to changes in the PR, but looks like auto-request-review job fails in this PR: https://github.com/cncf/tag-security/pull/993

Best guess for the reason is that we missed adding @lirantal in this file as a person in "triage" or "read" role: https://github.com/cncf/tag-security/blob/main/.github/settings.yml

If we add them as a collaborator, this should most likely be fixed. More info on

[2022-10-25 12:59] szh commented on #953
I'd like to help out with this. I have a US midwestern accent (or as we like to say, I have no accent 😜).

[2022-10-25 18:03] apmarshall commented on #606
I promised this ages ago and then life happened. Here's an overview of the editing process:

Starting with the raw recordings uploaded by speakers:
1. Using Audacity, I ran the recordings through a pre-processing script that included (a) a high-pass filter (cutting out extreme low frequency sound, which is almost always noise), (b) a low-pass filter (doing the same for extreme high frequency sound

[2022-10-25 18:36] ragashreeshekar commented on #606
Many thanks @apmarshall for all your efforts towards the v1 of the audio recording project.
This is very much useful for the v2 - https://github.com/cncf/tag-security/issues/953 and as a tribe knowledge for the projects to come. Would you mind adding this as a document within what could be the security-audio folder?

[2022-10-26 03:27] slashben opened #996 "[Presentation] Security prioritization based on Kubescape controls"
Title: Security prioritization based on Kubescape controls

Speakers: Ben Hirschberg @slashben
Description: How to prioritize different potential security issues? Is a `privileged` container a security issue? Kubescape team has a new approach to tackle these questions. We implemented a category graph-driven approach to construct potential attack chains based on data from Kubernetes API and vulnera

[2022-10-26 20:13] apmarshall commented on #950
If it's not too late to join, I'd be interested in helping with this!

[2022-10-26 20:31] mrsabath commented on #950
It's never too late @apmarshall to join :) Please see the links above to find the current documentation. Please join the CNCF slack channel to get further information: https://cloud-native.slack.com/archives/C0444N0KYQJ
Due to Kubecon, we are not meeting this Friday, Oct. 28th, so the next meeting is Nov. 4th at 11am EST.

[2022-10-28 17:58] szh opened #998 ""Past Events" and "Cloud native security day" pages are out of date"
The [past-events.md](https://github.com/szh/tag-security/blob/main/past-events.md) page which is linked to from [README.md](https://github.com/cncf/tag-security/blob/main/README.md?plain=1#L132)  doesn't list any events after 2019. We should either update this or remove it from the repository.

Additionally, the [cloud_native_security.md](https://github.com/cncf/tag-security/blob/main/cloud_native

[2022-10-29 15:21] JustinCappos opened #999 "[Suggestion] Should we write a Linux Foundation guide / course on how to do a security assessment?"
Description: I think it could be helpful to outline our thoughts about how to do a security assessment in a form others can review.  This could also include what the assessments are and are not good for, how it differs from an audit, how to use a security assessment, and so on.

Impact: I think this could help us to train new security assessors and also help projects understand how to do a self as

[2022-10-29 20:11] PushkarJ commented on #999
+1 this was one of the feedback items, I received that for folks who want to get started how can they learn more about threat modeling. Such course would be exactly what the doctor ordered :)

[2022-10-29 20:31] ragashreeshekar commented on #999
Absolutely!
In fact, @sublimino and I raised similar issues in the past to help with our security assessments, and this being the underlying gap will surely help formalise the process for us and for the community as well.

[2022-10-29 20:49] JustinCappos opened #1000 "[Supply Chain Security Incident]"
Comm100 was compromised.  Let's add information about this to the Supply Chain Security Doc...  https://www.securityweek.com/supply-chain-attack-targets-customer-engagement-firm-comm100?utm_medium=email&utm_source=Eloqua&ref=GBSNewsletterEmail

[2022-10-30 03:57] sublimino commented on #999
Agreed, great call. It could be instructive to run a short retrospective with projects that have been through the process for an external consumer perspective.

[2022-10-31 16:23] #998 closed

[2022-10-31 17:30] lumjjb commented on #999
Tagging this current open issue: https://github.com/cncf/tag-security/issues/983

Should we pick one and go with it so we don't duplicate?

[2022-10-31 19:02] szh commented on #961
Ctx is also mentioned in #914

[2022-10-31 19:04] szh commented on #799
@PushkarJ any update? I'd be interested in helping out.

[2022-10-31 20:52] JustinCappos commented on #999
My sense is that #983 is a subset of what we're trying to do here.  So, I'd
prefer we keep #999.

I'd also like to encourage Raga to participate so she can help to ensure we
do fully close #983 with this effort.

On Mon, Oct 31, 2022 at 1:30 PM Brandon Lum ***@***.***>
wrote:

[2022-10-31 22:41] ragashreeshekar commented on #999
I'm interested to join hands with this effort.

[2022-11-01 00:06] lumjjb commented on #999
Ok - let's weave #983 into this and since it looks like we have momentum of this now, let's try and flesh out a project plan and present it and get folks on board. @JustinCappos @ragashreeshekar maybe you can work together on a schedule and present it at the next TAG meeting - we should have an influx of new members from Kubecon!

[2022-11-01 18:25] asadfaizi-github commented on #950
Hello, I am interested in participating and contributing. Should I start attending weekly Zoom meetings?

[2022-11-02 12:11] Caze121 commented on #1000
Yes, good idea.  Will add this with another issue that I will push later today

[2022-11-02 17:10] rowan-baker commented on #999
I'd be interested in helping this effort as well

[2022-11-02 17:57] JonZeolla commented on #999
I'm interested in joining in here as well

[2022-11-02 18:00] JustinCappos commented on #999
My plan is to add the initial content and framing in the next 2 months or so.  Then I will loop in others to give suggestions, add perspectives on how they think about different issues that arise, etc.  We would have a more regular schedule after this.

[2022-11-02 18:19] callen-raft commented on #999
I would be interested in joining too!

[2022-11-02 18:22] brandtkeller commented on #999
Interested in being involved. Training was identified as an action-item for cyber by multiple CISO's within regulated spaces.

I understand this may or may not be directly applicable- but establishing training and process against cloud native projects will translate well to those who deploy/operate/validate environments leveraging those technologies.

[2022-11-02 18:36] lumjjb commented on #950
It would be helpful to have the project have a timeline of events (see https://github.com/cncf/tag-security/issues/975), we've found success in projects that do this!

[2022-11-02 18:37] lumjjb commented on #999
It would be helpful to have the project have a timeline of events (see https://github.com/cncf/tag-security/issues/975), we've found success in projects that do this!

[2022-11-02 18:48] szh commented on #999
I don't think I'm qualified to write much of this, but I can definitely review from a consumer perspective.

[2022-11-02 19:23] JustinCappos commented on #999
We need to loop in tim@serewicz.com as well as he will handle from the LF side.

[2022-11-02 19:41] knadendla commented on #950
Thank you @lumjjb , will discuss on next meeting and follow similar approach.

[2022-11-02 21:17] #724 closed

[2022-11-02 23:58] mrsabath commented on #950
Hi @asadfaizi-github please join us on Friday

[2022-11-03 16:03] szh commented on #996
@slashben This sounds really interesting. Can you please suggest a couple of dates (Wednesdays) that would work for you and we can try and get this on the schedule?

[2022-11-03 21:21] tahirraza commented on #961
Don't seem like @kurtseifried seeing your response.

[2022-11-03 21:51] JustinCappos commented on #999
Timeline:

I'm expecting around Jan 1st, 2023 to have an initial draft.  I may or may not have text for all sections, but will at least have some of it down.  I will start soliciting feedback at this point.

Following this, those who are contributing extensive viewpoints / perspectives should have the structure they need to do so.  I would expect 5-10 hours of writing effort from them to draft the

[2022-11-04 01:53] szh commented on #939
I think this can probably be closed now.

[2022-11-04 02:09] tahirraza commented on #999
I'd be interested to partner. We have been building our own little assessment playbook for 5 areas:
- source
- materials
- build-systems
- software factory
- runtime env

**Optional:** I would love to see is how the assessments can tie to various assurances driven by [SLSA](https://slsa.dev/spec/v0.1/levels) levels.

[2022-11-04 17:53] tahirraza opened #1003 "[Suggestion] Runbook examples for ZERO-day vulnerabilities (tools agnostic)"
**Description**: We often start from scratch when defining runbooks within security response teams. CloudNative landscape is ever expanding and while we have put together exhaustive list of risk-assements within software flow, it would nice to see how these controls help in the event of a security CVE.

**Impact**: Describe your hopes for how this would reduce risk for the cloud native ecosystem.

[2022-11-04 19:59] aladewberry commented on #957
Retro done! https://kubernetes.slack.com/archives/C022K4F2W4W/p1667582978251009

Now to present at a TAG meeting!

[2022-11-05 20:09] slashben commented on #996
16, 23 and 30 all good!

[2022-11-06 01:50] szh commented on #996
FWIW I can't do the 16th but don't hold it up because of me - I can watch the recording

[2022-11-06 12:29] slashben commented on #996
So is it 16?

[2022-11-08 21:05] alanssitis opened #1004 "[Suggestion] Reported Supply Chain Security Incident"
Description: New supply chain security incident that affected a media outlet.

Scope: Update the "compromises" list.

Additional info:
- https://twitter.com/threatinsight/status/1587865920130752515
- https://www.darkreading.com/application-security/supply-chain-attack-pushes-out-malware-to-more-than-250-media-websites

[2022-11-09 09:40] rowan-baker commented on #896
Responding on behalf of @sublimino, next available slot is December 7th 1PM GMT. Does that work for you?

[2022-11-09 16:26] pjbgf commented on #896
@rowan-baker yes, that would be awesome, please book us in.

[2022-11-09 18:50] sunstonesecure-robert commented on #903
[we](https://github.com/kubernetes/sig-security/tree/main/sig-security-external-audit) recently finished the K8s external audit - awaiting release of report for community review - and are folding methodological lessons learned into a threat modeling HOWTO for K8s sub-projects [with the goal of in-person intensive sub-project support at KKs and ongoing security support for ongoing triage](https://g

[2022-11-13 23:44] ragashreeshekar commented on #1003
@tahirraza Thanks for raising this topic.
TAG Security has a starter for this, a template to aid the incident response runbook creation which can be adapted for Zero day vulnerabilities as well - https://github.com/cncf/tag-security/blob/main/project-resources/templates/incident-response.md. and https://github.com/cncf/tag-security/blob/main/project-resources/templates/SECURITY.md

Would this help

[2022-11-14 14:42] slashben commented on #996
@lumjjb , could we do this on the 23rd? This week is chaotic :(

[2022-11-15 14:30] rowan-baker commented on #896
Booked in for 7th December 1pm GMT.

[2022-11-16 19:29] tahirraza commented on #1003
Thanks. I'll go over and get back.

[2022-11-16 21:09] krol3 commented on #576
We're with expectation of finish at the end of this year, and before the Kubecon Amsterdan. cc @lumjjb

[2022-11-18 13:42] baiyungao commented on #975
Not sure where to report a problem in the v2 White paper. the PDF document figure 4 (Page 18) is wrong, the diagram is duplicated with figure 3.

[2022-11-23 08:30] mkbhanda commented on #969
They did chat, but other priorities on Mikko plate, in particular Confidential containers V0.1 and V0.2. Thank you for checking.

From: Andrew Martin ***@***.***>
Sent: Wednesday, November 23, 2022 12:18 AM
To: cncf/tag-security ***@***.***>
Cc: Bhandaru, Malini ***@***.***>; Mention ***@***.***>
Subject: Re: [cncf/tag-security] [Proposal] Tighten collaboration between CNCF TAG-Security and OpenSS

[2022-11-29 00:42] ragashreeshekar opened #1012 "[Proposal] KubeCon EU 2023 - Security Village"
**Description**: TAG Security fostered Cloud Native SecurityCon which was designed to create a focus space to foster collaboration, discussion, and knowledge sharing of OSS Security. With it's evolution as a standalone event, we are following a slightly different model with Security Village hosted in KubeCon as opposed to the previous KubeCon co-located event.  This issue will track activities rel

[2022-11-30 17:58] szh commented on #996
23rd meeting was cancelled to do US holidays. Probably too late for this week. How about next week, Dec.  7?

[2022-11-30 19:53] slashben commented on #996
Should work. Confirmed?

On Wed, 30 Nov 2022, 19:58 Shlomo Zalman Heigh, ***@***.***>
wrote:

[2022-11-30 21:26] szh commented on #1012
I would be interested in helping out with this, although I do not plan to attend in person.

[2022-11-30 21:26] szh commented on #1004
Hey @alanssitis,

Thank you for the issue! Do you want to submit a PR for this?

[2022-11-30 21:31] szh commented on #835
Should this be closed now that the event has passed?

[2022-11-30 21:32] szh commented on #811
Should this be closed now that the event has passed?

[2022-11-30 21:34] szh commented on #824
It seems from the discussions we've had at meetings that now that CloudNativeSecurityCon is being spun out as it's own event, the LF is taking more control over the planning. I wonder if in that case the way we planned in the past is less important to record. Perhaps this should be closed?

[2022-11-30 21:37] szh commented on #565
I can also contribute to this if it's still relevant, but I'm thinking at this point it may make more sense to roll this into the next version of the whitepaper since that's going to be kicked off soon (#975).