[2021-03-05 21:52] ultrasaurus commented on #543
resolved with https://github.com/cncf/sig-security/pull/544

[2021-03-05 21:52] #543 closed

[2021-03-08 12:01] fdicarlo commented on #551
Hi @lumjjb @ashutosh-narkar and @dcomas I am happy to contribute on the Zero Trust part

[2021-03-08 12:17] dcomas commented on #551
@fdicarlo thanks I will add your name in the table. You can join the discussion in the Slack channel where you can share with us your email to give you access to the doc . cloud-native.slack.com #sig-security-whitepaper-map

[2021-03-09 06:27] ragashreeshekar commented on #454
I'm very delayed to the party, would love to collaborate as well. Pls let me know if there is anything I can work on.

[2021-03-09 19:08] whaber commented on #551
I'm going to try to make the time to help with this.

[2021-03-10 05:42] lumjjb commented on #551
Hi All! We are going to be meeting an hour before the SIG meeting, not compulsory, but if you have any questions on contributing or like to get a bit more background on the project, do join in! Meeting link

[2021-03-10 05:44] lumjjb commented on #551
Hi All! We are going to be meeting an hour before the SIG meeting, not compulsory, but if you have any questions on contributing or like to get a bit more background on the project, do join in!

Time: 12pm-1pm EST, 9am-10am PST (This is 1 hour before regular SIG meeting)
Meeting link: meet.google.com/goe-ehpx-ucy

[2021-03-10 10:16] binchenX commented on #551
Would love to help. Have requested write access the doc.

[2021-03-10 11:17] dcomas commented on #551
You should have access now. Thanks

[2021-03-10 11:41] joshuagl opened #558 "[Suggestion] Develop guidance for code signing of binary releases"
**Description**: I propose that CNCF/SIG Security develop guidance around code signing of binary releases, then work with the CNCF/TOC to encourage projects to follow the guidance.

Increasingly many CNCF projects provide binaries for releases which are intended to be run on Windows and macOS hosts. Both Windows and macOS have security features which authenticate a binary's code signature on first

[2021-03-10 15:29] tomoveu commented on #551
@dcomas , I would like to contribute as well. I know there are some effort around adding hardware-based security using HSM/TPM. I think having configuration protection using a TPM is a great feature for Cloud based technologies. This just one of the solutions I have seen in Datacenters that I would love to see in Cloud environments. I will try to join for at least part of the call today.

[2021-03-11 08:21] mtverraen commented on #551
I'd like to help as well. Have requested write access to the doc now.

[2021-03-12 22:49] anvega commented on #377
We are long overdue here. I'll kick this off Monday by starting the first pass of naive questions myself, and we'll go from there.

[2021-03-13 01:03] danpopSD commented on #377
@anvega glad to tag-team on this if you want to share a google doc

[2021-03-13 07:55] mattj-io commented on #377
Same

[2021-03-15 04:15] ragashreeshekar commented on #348
Please add me to this initiative as well

[2021-03-15 16:01] lumjjb commented on #551
Hi All, the doc looks awesome and is really shaping up! Love all the content so far! There's a couple topics that folks have signed up but haven't filled up yet, with that done,  we should be on track to reaching our 70% content goal by Wednesday!

No meeting for this week, the next one will be on 24th March! But be sure to keep your calendars up to date with daylight savings in effect now!

[2021-03-15 16:46] TheFoxAtWork commented on #444
@lumjjb is this considered complete?

[2021-03-15 17:27] fdicarlo commented on #551
Hi, working on my part between this evening and tomorrow (so before deadline)

[2021-03-15 17:49] tomoveu commented on #551
I will add my first contributions tomorrow. Also before the deadline :) Thanks for the summary @lumjjb

[2021-03-15 18:39] ashutosh-narkar commented on #348
@ragashreeshekar please join the #sig-security-whitepaper-map  channel on slack to join other folks working on this.

[2021-03-15 19:24] ragashreeshekar commented on #348
Thanks @ashutosh-narkar. I've joined the channel :)

[2021-03-15 23:39] ultrasaurus commented on #146
closing cuz it is now 2021 and work will be folded into https://github.com/cncf/sig-security/issues/414

[2021-03-15 23:39] #146 closed

[2021-03-16 02:51] aspanner opened #561 "Create a map of open source Supply Chain Security tools and projects"
Description: Create a map of open-source Supply Chain Security tools and projects

Impact: To provide an overview and quick orientation for all software supply chain practitioners of existing open-source tools and projects in support of securing the software supply chain.

Scope: Significant effort across all supply chain security whitepaper contributors - authors, initial reviewers and public rev

[2021-03-17 16:15] jlk commented on #514
@TheFoxAtWork just an update for ya - draft PR for the security chapter went over last night. There's a little more work to be done, will send out a link when they cut a draft for review.

[2021-03-17 17:12] TheFoxAtWork opened #564 "Cloud Native Security Lexicon"
Description: The TOC has requested a cloud native security lexicon that provides simple definitions, terms, and initial organizational use of those items.  As the Cloud Native Ecosystem continues to grow we want to ensure all community members are have the same terms and definitions as well as an understanding about where they fit in their software development lifecycle as well as their operationa

[2021-03-17 17:20] TheFoxAtWork opened #565 "Identity, Access, Credentials, Secrets, Certificates Paper"
Description: The Cloud Native Security Whitepaper did not go into detail about Identity, Access, Credentials, Secrets, Certificates and these concepts are still new and somewhat confusing to the community.  There is a lack of understanding in how each of these should work, how they are used, and what tools in the ecosystem support each of these concepts and how they interrelate.  It is requested t

[2021-03-17 17:47] MVrachev commented on #564
Hi, I would like to help with this.
Should we use this issue to discuss the meaning behind each of the terms or slack channel?

[2021-03-17 18:17] TheFoxAtWork commented on #564
@MVrachev I'd like to get a small group of folks to work on this.  Once we have them confirmed we'll move the discussion into the Cloud Native Security Whitepaper Channel or another new Channel to tackle this.  Thanks!

[2021-03-17 18:17] #513 closed

[2021-03-17 18:25] qnetter commented on #564
I’d like to rejoin the SIG and collaborate on this.

[2021-03-17 18:31] ragashreeshekar commented on #564
I'd like to collaborate on this

[2021-03-17 18:49] Adam88morris commented on #564
I would be happy to be involved with this 👍

[2021-03-17 19:09] apmarshall commented on #564
I’m game.

[2021-03-17 20:06] ultrasaurus commented on #564
I think this came up at TOC meeting this week?  Can someone who was there verify that and, if so, would be great to link to notes/video so whoever works on this can review the context and we can refer back if questions come up about the direction this ends up taking.

[2021-03-17 20:36] TheFoxAtWork commented on #564
@ultrasaurus yep this came up in the TOC meeting this week!  Updating.

[2021-03-17 21:29] anvega commented on #377
I've completed the pass of naive questions.

The document is succinct and thorough. The project security lead has done a great job answering and resolving most of my questions.

Reminder for all other reviewers that the google doc for the assessment is linked on the first comment of this issue.

[2021-03-17 23:25] matthewflannery commented on #564
I'm up for this too @TheFoxAtWork

[2021-03-17 23:38] gadinaor-r7 commented on #565
@TheFoxAtWork // happy to engage on this front

[2021-03-17 23:40] PushkarJ commented on #480
### Update

We have finalized top 10 questions for the survey. The list can be found here: https://docs.google.com/document/d/15I1Yg-Qy6LCCipYZMB-vFaobMtn7TMQQERzRZXQy_6k/edit

Next step: To identify audience and send the survey out!

[2021-03-18 00:53] bradmccoydev commented on #564
Happy to help also @matthewflannery

[2021-03-18 07:53] sublimino commented on #565
+1 I can contribute some content too 👍

[2021-03-18 09:14] bradmccoydev commented on #565
I can contribute also

[2021-03-18 09:37] bradmccoydev commented on #548
Hi @lumjjb can you please tell me what the "meeting facilitator script" is, thanks.  I'm happy to help with this

[2021-03-18 10:09] andreacavagna01 commented on #565
+1 to contribute with some content too

[2021-03-18 12:28] aspanner commented on #564
I am keen, too.

[2021-03-18 13:17] TheFoxAtWork commented on #551
Related #348

[2021-03-18 16:43] TheFoxAtWork commented on #564
Awesome!!  I'll need someone to volunteer Project Lead,  note this group spans multiple timezones so please take that into consideration.

[2021-03-18 17:19] TheFoxAtWork commented on #564
@ragashreeshekar is working as project lead on this.  Expect updates and to hear from her on next steps, schedule, collab space, etc.

[2021-03-18 17:24] TheFoxAtWork commented on #502
Notes from planning session  [fox]  related to #413 possible.  recommend pulling them together?
1/20 - [chairs]  finance group did threat analysis on k8s (stuck in notes somewhere)

[2021-03-18 17:52] TheFoxAtWork commented on #546
need call to action - draft was sent to chairs/tls, @TheFoxAtWork provided feedback

[2021-03-19 15:36] MVrachev commented on #394
I like the idea, but there are a couple of questions that should be clarified.
@JustinCappos hinted some of them.

If we want to have a standardized process for a security assessment then we should discuss: _is this possible to be included
in all assessments_?
I suspect not, but does this mean we shouldn't do it for those projects where there are volunteers?

Is there a place for additional inform

[2021-03-19 16:42] MVrachev commented on #256
I didn't have the opportunity to join the meeting where you had discussed this issue.

To be clear: when I say `inexperienced` in my comments, I mean specifically `inexperienced` in security meaning the focus is not on the age or job position, but instead experience.

When thinking for security assessments some of the assumptions I make are:
1. The depth and scope of the security expertise for eac

[2021-03-19 16:47] MVrachev commented on #256
Having said the above, how we should define a role like this is another question.

As we had discussed above, one requirement to become a `Trainee` is to find a `mentor` who is willing to help you find answers to your questions and if needed give you guidance.

Probably,  it will be best if this mentor is another reviewer/lead reviewer from the same assessment where the trainee wants to join.  Tha

[2021-03-19 16:52] MVrachev commented on #447
Plus learn new stuff during the assessment.

I think one question we want to answer do we consider the assessments as a learning opportunity too?
There is an old issue I created before https://github.com/cncf/sig-security/issues/256 about the need for a lower entry-level position in the assessments which will allow an inexperienced developer to learn during security assessments and eventually
volu

[2021-03-19 20:45] liz-acosta commented on #307
Hello! I am Liz! I have taken over this much belabored, long-awaited, breathlessly anticipated project!

I have addressed the comments in the [assessment first draft in Google Docs](https://docs.google.com/document/d/12Ym5CHhgViRK8mLBcpZ3TH9BTPbcBKj9kOFVn-orreM/edit?usp=sharing) and have a final draft ready to go.

Will look into what the rest of the process is -- just wanted to revive this issue

[2021-03-19 22:09] TheFoxAtWork commented on #307
SIG and Project participants to this Security Review.  Please comment if you are still available to conduct this review by 28 MAR 2021.

[2021-03-19 22:12] rficcaglia commented on #307
Hi Liz!  Great to hear!

I will connect with Brandon and Ash on next steps. Since we started this a
long time ago, the assessment process has been revised.

Also we had assembled a team of volunteers back then but since things went
quiet we will need to engage the group anew and see if anyone is available.

Luckily I have been here since the beginning I can certainly “page in” some
historical cont

[2021-03-19 22:15] rficcaglia commented on #307
Emily, our comments crossed in the ether...l have reviewed the c7n google
doc many times before,  but I’m not sure how many additional reviewers we
can get by 3/28. Just out of curiosity what is driving that particular date?

On Fri, Mar 19, 2021 at 3:10 PM Emily Fox ***@***.***> wrote:

[2021-03-19 22:18] TheFoxAtWork commented on #307
Just wanting to confirm if folx are still available that previously volunteered with a deadline so we can move this forward, if we don't have enough, we can likely source more after said date once others have confirmed.  :smile:

[2021-03-19 22:33] liz-acosta commented on #307
Hello hello!

Thank y'all for your swift response! 3/28 due date does seem a little tight!

Just wanna confirm: First step is to submit the self-assessment and next step is a presentation?

What do I need to do right away?

Again -- thank you for your assistance and patience! This is all brand new territory for me and I am so excited to learn all the things!

[2021-03-20 00:11] ashutosh-narkar opened #568 "[Proposal] Sig-Security participation in the TOC meetings"
It would be great if one or more members of Sig-Security would be able to join the TOC meetings and then provide an update to the group during the regular Sig-Security call. TOC meetings often contain discussions around security-related topics which may be of interest to our group.

The TOC meets on the [1st and 3rd Tuesday of every month](https://github.com/cncf/toc#meeting-time).

We could ask f

[2021-03-20 00:25] knowlengr commented on #568
+1

On Fri, Mar 19, 2021 at 8:11 PM Ashutosh Narkar ***@***.***>
wrote:

--

Mark Underwood
knowlengr.com <http://www.knowlengr.com> @knowlengr
<https://twitter.com/knowlengr> @darkviolin <https://twitter.com/darkviolin>

[2021-03-21 11:36] ragashreeshekar commented on #564
Hello folks, I request all the contributors to join the CNCF #sig-security-whitepaper [](https://cloud-native.slack.com/archives/C017K5AN70T) channel. Here is the documentation [](https://docs.google.com/document/d/1n9wvEE6_lg3oFWMQGI7Pz0eRS05avMckNfuWctoQOkI/) - this covers initial plan and tentative timelines. DM over slack with your mail address so I could add you as editors to the document. Fe

[2021-03-21 16:54] JustinCappos commented on #394
Right now, we do track other information like security audits done by other
parties or supplemental documents about security, so this seems like it
could be added as well.

[2021-03-22 13:12] tomoveu commented on #551
@lumjjb, I am getting confused over here.

I added my contributions about "Signing, Integrity and Trust" to this document https://docs.google.com/document/d/1HZPpzTc-OMDPbWu5PDPto5kym5ngPgQiwgk5My5X-GI/edit#heading=h.lzd2ob2mrbjp

 Afterwards, I saw that this topic is mentioned as missing in https://docs.google.com/document/d/1ytshTEnoKqP0m0JFKO4IB2qEFaIAZc9jDet6VdeT3sE/edit#heading=h.6ir79kvwirrt

[2021-03-22 13:22] tomoveu commented on #551
@lumjjb , I also saw some overlap between "Image Trust and Content integrity" and "Signing, Trust and Integrity". Maybe some parts of them could be merged?

I added information about sigstore as one more solution. It is a new LinuxFoundation project. It offers what RedHat Simple Signing can do plus transparent log. Extra info: It does not yet have a TPM-backend. I added this info to the second doc

[2021-03-22 14:23] kapilt commented on #307
@liz-acosta fwiw, this was presented to sig security pre-covid in 2019, not sure if we need to do that again. i'll defer to sig folks, afaik the whole TOC presentation thing is part of a different process then whats current.

[2021-03-22 14:55] rficcaglia commented on #307
AFAIK there is no connection between the SIG review (assessment is no
longer the correct term) and the TOC processes.  The new review process
readme notes that the TOC may request a review, but I don’t see anywhere
that a review is *required* for any step in the CNCF project phases. (Emily
or Brandon may have more recent info, though.)

There is however - and was always part of the v1 assessment p

[2021-03-22 15:10] amye commented on #307
@kapilt Probably best to update the SIG on what's changed, and where your roadmap is heading!
@rficcaglia: The SIG Review is a requirement for incubation and graduation, see https://github.com/cncf/toc/tree/main/process -- https://github.com/cncf/toc/tree/main/process#project-graduation-process-sandbox-to-incubating shows where this exists in the process. SIG Review comes in with a recommendation

[2021-03-22 15:22] rficcaglia commented on #307
Thanks Amye! Is that the box in the image “SIG Presentation”?
Also in the detailed TOC guide I see only:
“Have achieved and maintained a Core Infrastructure Initiative Best
Practices Badge.”
Which, in my experience, covers most if not all of the security topics I
like to review with projects, but I don’t see an explicit reference to SIG
Security or a link to the new review (or older assessment) pr

[2021-03-22 15:26] amye commented on #307
The flowchart referenced in the doc is the process. SIG Presentation also means a recommendation from the SIG about what things the TOC should know about the project.

The CII requirement is set by the TOC.

[2021-03-22 18:34] sublimino commented on #502
@TheFoxAtWork for the FSUG work on k8s at https://github.com/cncf/financial-user-group/blob/master/projects/k8s-threat-model/README.md we collaborated on that and I'm happy to help bootstrap this work, timetable dependant! /cc @jonmuk @rowan-baker

[2021-03-22 20:21] TheFoxAtWork commented on #502
Please hold on.  We have a roadmap discussion coming up at the end of the month where this and many other projects are up for discussion.  We (as a SIG) have some planning to do.

[2021-03-23 00:36] jralmaraz commented on #564
Keen to help on this as well, will ping you @ragashreeshekar , cheers!

[2021-03-23 18:19] liz-acosta commented on #307
Hi everyone!

Thank you for all this clarification!

Just wanted to acknowledge that I've seen your comments and will probably have some followup Qs. Stay tuned!

[2021-03-24 01:05] philpennock commented on #538
Please clarify "defined" and where this needs to be defined to meet the requirements?

NATS: we use https://advisories.nats.io/ as a repository of known security advisories.  At our discretion, we also email oss-security, where "discretion" means "don't spam them with trivialities" but in practice so far all issues have been mailed there.

The procedure for fixing them is to triage the report, fix

[2021-03-24 01:45] caniszczyk commented on #538
ah interest @philpennock, has NATS considered just using the built in github security advisory mechanism now? https://github.com/containerd/containerd/security/advisories?state=published

[2021-03-24 01:53] philpennock commented on #538
Not really, but we could do so in addition.  We think that the canonical results should be easy for any search engine to find and so put them on a hostname under our control, with clean content which renders without javascript etc.  Security researchers are cautious like that.

I will add to my ToDo list to populate the advisories sections and update our process docs to do so.

[2021-03-24 01:54] caniszczyk commented on #538
@philpennock I only ask as the github one you can programmatically check for easily via their API (you can also request CVEs via their system which as an added bonus)

anyways, thank you!

[2021-03-24 16:05] apmarshall commented on #538
@philpennock There are a few ways that projects "define" and make available their disclosure policies. One way is to put a `SECURITY` file in either the project home directory or the `.github` directory (if you use that) and describe the policy there. Another way, which is particularly useful if you have multiple repositories you want the same policy to apply to, is to create a `community` or `pol

[2021-03-24 16:07] lumjjb commented on #551
Hi All! We are in the last stretch of content creation, there are just a couple more topics which need additional information. Some of these only require examples to be added (with the -examples tag). Would be awesome if we can get a couple more contributions to round up this work!

Below is a copy of the table in the document: https://docs.google.com/document/d/1ytshTEnoKqP0m0JFKO4IB2qEFaIAZc9jDe

[2021-03-24 16:27] philpennock commented on #538
Re NATS <https://github.com/nats-io>:

@caniszczyk I've backfilled GitHub with GHSAs for all existing advisories in the NATS project and cross-linked appropriately.

@apmarshall  We'll discuss structure of layout of .github vs extra-repo in our upcoming planning meeting.  Thanks.  I should have remembered that flow existed, my head was juggling other stuff yesterday.  Duh.  Well, this is why we do

[2021-03-24 17:12] sunstonesecure-robert commented on #307
on the agenda for today's sig-security call.

[2021-03-24 17:46] amye commented on #307
Hey @liz-acosta: I don't have a PR in with the TOC for moving to Incubation: https://github.com/cncf/toc/pulls

This is a requirement to get a TOC sponsor, and we've had trouble in the past with SIG Reviews that weren't tied to the incubating process -- if that's the goal here.

[2021-03-24 18:37] liz-acosta commented on #307
Hello!

@amye -- Yes! That is the goal! I can go ahead and create that PR.

@sunstonesecure-robert -- Does someone from Cloud Custodian need to be at today's meeting? I don't think I'll be able to attend.

Thank you all for your assistance and patience!

[2021-03-24 21:15] chasemp commented on #307
@rficcaglia saw the shout out for non-lead reviewers :)  I'm interested and able.  Let me know how you want to coordinate.  Cheers :)

Hard conflicts:
Reviewer is a maintainer of the project - No
Reviewer is a direct report of/to a maintainer of the project - No
Reviewer is paid to work on the project - No
Reviewer has significant financial interest directly tied to success of the project - No

So

[2021-03-25 12:17] ragashreeshekar commented on #564
Hello Folks, please join the slack channel and drop me a note so I could provide access to the document so you could join the initiative and start contributing

[2021-03-25 21:03] liz-acosta commented on #307
Hello wonderful helpful humans!

Finally got a chance to review the [TOC process documentation](https://github.com/cncf/toc/tree/main/process) and I have some clarifying questions!

1. [This is the document](https://github.com/cncf/toc/blob/51c35359e7c8f76ea11c9c5211e8ef110b24f0c1/reviews/incubation-crossplane.md) I "inherited" that, as I understand, needed to be submitted for review.
2. However,

[2021-03-26 00:50] rficcaglia commented on #307
Hi @liz-acosta <https://github.com/liz-acosta>, yes I think the Crossplane
PR looks like a good example. Once you have created a new incubation PR for
custodian, link it here and I'm happy to review it.

c7n mave have most of the criteria covered but I'm not certain on:

   - A clear versioning scheme. - eg semantic versioning? probably but just
   not sure off hand
   - Specifications must have a

[2021-03-29 10:45] RichiH commented on #538
With my Prometheus hat on: Revamping our reporting and disclosure policies etc is on the backlog and should be discussed in one of the next few dev summits.

While I can't make hard promises on speed without wider discussion within -team, we would most certainly be interested in following, potentially shaping, a security BCP which can be used as a default across CNCF or even LF.

[2021-03-29 15:58] achetal01 opened #571 "Role of Security Operations center in Cloud Native Technologies."
This is more of developing prescriptive guidance for Enterprises on what the role of SOC teams is in the Cloud Native technology world, where Dev-Sec-OPS should be in place already but yet the teams in dev and ops are still not security experts ....SOC teams traditionally sit outside of the Dev-Sec-OPS.

Maybe we can have a discussion in one of our weekly meetings and get different perspectives on

[2021-03-29 16:02] achetal01 opened #572 "Forensics and Investigations in Cloud Native Ecosystem"
Description: Develop a White paper to share guidance on Forensics and Investigations in the Cloud Native Ecosystem. Tools, technologies, best practices that might provide greater insight into issues around the same in a multi cloud hybrid container platforms and Microservices.

Impact: Breaches will happen and there will be need to do forensics and gather info with chain of custody in place for in

[2021-03-29 16:52] anthraxx commented on #422
Annoyingly this bot forces us to bump threads yet again :cat:

[2021-03-30 00:23] achetal01 commented on #568
Add me please, will be happy to attend

[2021-03-30 14:48] lumjjb commented on #551
@tomoveu I saw your additions to the doc, there's some overlap with content because of the way the whitepaper is structured... so there is bound to be some overlap.. there are plans to help address this overlaps by linking the topics in the future. But saw you additions on sigstore! Thanks for contributing!

[2021-03-31 17:35] PushkarJ commented on #480
Survey is out: https://www.surveymonkey.com/r/CNCF-SIG-Security-EndUser-2021 :)

[2021-03-31 17:44] elinesterov commented on #565
I can help with that as well if you need another +1.

[2021-03-31 17:46] PushkarJ commented on #440
✋🏼 can work on this.

[2021-03-31 17:51] sunstonesecure-robert commented on #126
This is no longer an active effort in the policy WG, now under the [Kubernetes SIG hierarchy](https://github.com/kubernetes-sigs/wg-policy-prototypes). It is still worthy of effort, but the pointer should be reassigned.

[2021-03-31 18:24] magnologan commented on #450
Happy to help here! o/

[2021-03-31 19:20] elinesterov commented on #496
@sunstonesecure-robert

I would argue they do it in the **Checks** section where they explain what the check is and pointing to a guideline on how to enable it.
https://github.com/ossf/scorecard/blob/main/README.md#checks
I would add CNCF specific projects ( I guess the easiest way to pull it from the CNCF landscape project) and do a PR to the repo.
Any ideas on tools that could be used easily to

[2021-04-01 00:52] apmarshall commented on #450
Also happy to help with this.

[2021-04-01 00:53] apmarshall commented on #110
Happy to help with this.

[2021-04-01 03:53] Harrysk commented on #450
@vinayvenkat I am late to this discussion, but wondering if we are still working on this issue - planning to have this webinar sometime soon? I am happy to support and contribute to planning and organising this webinar.
- Cheers, Hari.

[2021-04-01 04:19] Harrysk commented on #502
I would like to contribute to this project!

[2021-04-01 17:41] elinesterov commented on #496
It seems it is better to join forces with OSSF on this one. They already started working on the dashboard: https://github.com/ossf/Project-Security-Metrics. Our part will be to bring and update over time CNCF related data and create corresponding dashboards. I'll follow up with them.

[2021-04-01 21:21] amye commented on #551
@lumjjb - Ping me when you're ready for design help and I'll get you in the queues.

[2021-04-01 22:02] lumjjb commented on #551
@amye We are ready for design help! This is what we have today: https://cnsmap.vercel.app/ courtesy of @mtverraen  :)

[2021-04-01 22:19] amye commented on #551
LP-7305 is in with the design team

[2021-04-02 19:51] IAXES commented on #551
@lumjjb I added a "special considerations" piece under the "Develop" ==> "Security Checks in Development" ==> "Examples" section. Is that OK, or is the section frozen? If so, I can yank it out.

Other than that, populating the "Zero Trust Architecture" section plus examples (topic I like to research in personal time).

Cheers!

[2021-04-02 21:10] PushkarJ commented on #521
@apmarshall sorry for the delay. Just reviewed your proposal attached. It seems like we may be able to refactor some content of the paper to explain how cloud native security can be looked at for organizations moving from traditional -> cloud native security model.

If memory server right, @achetal01 and @TheFoxAtWork did the most work on the executive summary and this clarity although can be spri

[2021-04-02 21:16] PushkarJ commented on #440
I went through this proposal again today. Couple of comments or requests for pointers:

1. Do we have any prior art in the form of a document that describes a process that works well for this SIG or others?
2. Do we have examples of deliverables that can be considered "due diligence documents" that we have we written in the past for one or more projects ?

[2021-04-06 12:47] lumjjb commented on #551
Thanks @IAXES , all good we are still in content review!

[2021-04-06 12:54] IAXES commented on #551
No prob!

By the way, are we removing the "least access principle" section? I see some related pieces with a strikethrough/crossed-out format applied to it.

Lastly, will the final document be a Google doc, or is it being converted to an ODT, or some markup based format (i.e. LaTeX, rST, MD, etc.)? If the latter, I've done a lot of work with these formats and can volunteer to "chop wood, carry wat

[2021-04-07 09:53] krol3 commented on #509
I'd like to contribute @magnologan . By the way I'm she/her. 😉

[2021-04-07 10:04] magnologan commented on #509
Welcome Carol! Thanks for letting us know your preferred pronouns! That's really helpful! =)

Please let us know if you have any questions.

[2021-04-07 23:48] elinesterov commented on #496
To follow up o today's conversation I had a question if there is a source that we can parse and the source would contain URLs to the repository of all CNCF projects. My initial thought was to figure out if we can get the data from l.cncf.io and here you go! The repo actually has a YAML file with the content https://github.com/cncf/landscape/blob/master/landscape.yml.

So it seems we have all the p

[2021-04-08 00:09] sunstonesecure-robert commented on #496
wouldn't that be done via github action in the project repo(s)?

there is an enroll button on Insights but do you mean how do we modify Insights to add the Kibana visualizations into its dashboard?

Of note - the LF Security tool itself lists OSSF in its scans... but... nothing seems to be scanning currently: https://security.lfx.linuxfoundation.org/#/a0941000002wBz9AAE/foundation-details

I also

[2021-04-08 02:41] elinesterov commented on #496
I don't have any preferences here. I guess any way would work.

I mean we'll need to figure out how to add the dashboard we create there and how it can ingest the data.

It seems it is done by Snyk which scans for vulnerabilities. Have no idea who manages it and what is the purpose. I don't think we need to put another dashboard here like one we discuss here unless we understand:
  * what is the v

[2021-04-08 13:57] magnologan commented on #509
Hi @lumjjb, at this time I don't think so. I'll take a look at the doc next week and see how we are doing on the translation piece and start reviewing those so that we can have at least a draft version to announce during KubeCon/CNSD.

[2021-04-08 17:25] achetal01 opened #575 "Atlasity- C2 Labs"
Atlasity - A continuous compliance and security solution that is API based and provides complete OSCAL integration for different cloud and on premises platforms, can be deployed as a container.

Title: Atlasity

Speakers: Anil Karmel, C2 Labs

Description: Describe in a short paragraph what the presentation is about.

Time: How long will the presentation take? (45mins)

Availability: What is the a

[2021-04-09 19:08] krol3 opened #576 "[Proposal] Cloud Native Security White Paper Spanish translation v1"
Description: Cloud Native Security White Paper Spanish translation
Similar to https://github.com/cncf/sig-security/issues/470, https://github.com/cncf/sig-security/issues/509

Impact: This would help the Spanish community with the understanding and adoption of best practices for Cloud Native Security. This would also help the promotion of the white paper inside governmental organizations where onl

[2021-04-09 19:31] lumjjb commented on #576
Awesome @krol3 ! Looking forward to making this the whitepaper more accessible to a larger audience! :). Let us assign a TL/chair to this so that we can keep track of the effort and make sure it gets the right attention.

[2021-04-09 20:01] raelga commented on #576
Awesome++

[2021-04-12 17:09] ragashreeshekar commented on #502
Pls count me in!

[2021-04-15 01:23] ultrasaurus commented on #307
FYI -- moved this to backlog in the project board (https://github.com/cncf/sig-security/projects/2) until a team is assembled

[2021-04-15 01:25] ultrasaurus commented on #307
@liz-acosta  please take a look at docs here: https://github.com/cncf/sig-security/tree/master/assessments  -- this is separate from TOC process (though often used as reference in that process)

[2021-04-15 17:06] ultrasaurus commented on #307
removed `question` label, since it looks like the questions were answered :)

[2021-04-16 14:14] TheFoxAtWork commented on #547
@magnologan checking to see fi this was done and submitted?

[2021-04-16 14:15] TheFoxAtWork commented on #478
I'd like to reinvigorate this.  the TOC has made the change, we need to as well.

[2021-04-16 14:40] magnologan commented on #547
yes it was: https://www.cncf.io/blog/2021/03/24/cloud-native-security-day-protecting-our-cloud-native-world-one-container-at-a-time/

Closing this! Thanks for reminding me!

[2021-04-16 14:42] magnologan commented on #547
It seems I can't close the issue even though I'm the one assigned to?

[2021-04-16 19:04] sladyn98 commented on #256
@MVrachev Is there any progress on this, I would like to learn as a `Trainee`

[2021-04-16 20:10] #575 closed

[2021-04-17 21:13] lumjjb opened #584 "[CNSMAP] Contribute content for "Availability" section"
### Purpose:

To contribute content to the [Cloud Native Security Map Vanilla](#551).

### Scope:

We are looking contribution to the topic: "Availability"

We are looking for the content:
- **projects** relevant to the topic. Any projects, mainly focused on open source related to the topic, anything that a practitioner may find useful or relevant.
- **examples** of controls related to the topic -

[2021-04-17 21:14] lumjjb opened #585 "[CNSMAP] Contribute content to "Code Review" section"
### Purpose:

To contribute content to the [Cloud Native Security Map Vanilla](#551).

### Scope:

We are looking contribution to the topic: "Code Review"

We are looking for the content:
- **projects** relevant to the topic. Any projects, mainly focused on open source related to the topic, anything that a practitioner may find useful or relevant.
- **examples** of controls related to the topic -

[2021-04-17 21:17] lumjjb opened #586 "[CNSMAP] Contribute content for "Control Plane Authentication and Certificate Root of Trust" section"
### Purpose:

To contribute content to the [Cloud Native Security Map Vanilla](#551).

### Scope:

We are looking contribution to the topic: "Control Plane Authentication and Certificate Root of Trust"

We are looking for the content:
- **projects** relevant to the topic. Any projects, mainly focused on open source related to the topic, anything that a practitioner may find useful or relevant.
- *

[2021-04-17 21:18] lumjjb opened #587 "[CNSMAP] Contribute content for "Development of Tests" section"
### Purpose:

To contribute content to the [Cloud Native Security Map Vanilla](#551).

### Scope:

We are looking contribution to the topic: "Development of Tests"

We are looking for the content:
- **projects** relevant to the topic. Any projects, mainly focused on open source related to the topic, anything that a practitioner may find useful or relevant.
- **examples** of controls related to the

[2021-04-17 21:19] lumjjb opened #588 "[CNSMAP] Contribute content for "Persistent Volume Protection" section"
### Purpose:

To contribute content to the [Cloud Native Security Map Vanilla](#551).

### Scope:

We are looking contribution to the topic: "Persistent Volume Protection"

We are looking for the content:
- **projects** relevant to the topic. Any projects, mainly focused on open source related to the topic, anything that a practitioner may find useful or relevant.
- **examples** of controls relate

[2021-04-17 21:20] lumjjb opened #589 "[CNSMAP] Contribute content for "Resource Requests and Limits" section"
### Purpose:

To contribute content to the [Cloud Native Security Map Vanilla](#551).

### Scope:

We are looking contribution to the topic: "Resource Requests and Limits"

We are looking for the content:
- **projects** relevant to the topic. Any projects, mainly focused on open source related to the topic, anything that a practitioner may find useful or relevant.
- **examples** of controls relate

[2021-04-17 21:22] lumjjb opened #590 "[CNSMAP] Contribute content for "Roles & Responsibilities" section"
### Purpose:

To contribute content to the [Cloud Native Security Map Vanilla](#551).

### Scope:

We are looking contribution to the topic: "Roles & Responsibilities"

We are looking for the content:
- **projects** relevant to the topic. Any projects, mainly focused on open source related to the topic, anything that a practitioner may find useful or relevant.
- **examples** of controls related to

[2021-04-17 21:23] lumjjb opened #591 "[CNSMAP] Contribute content for "Storage Encryption" section"
### Purpose:

To contribute content to the [Cloud Native Security Map Vanilla](#551).

### Scope:

We are looking contribution to the topic: "Storage Encryption"

We are looking for the content:
- **projects** relevant to the topic. Any projects, mainly focused on open source related to the topic, anything that a practitioner may find useful or relevant.
- **examples** of controls related to the t

[2021-04-17 21:24] lumjjb opened #592 "[CNSMAP] Contribute content for "Storage Stack" section"
### Purpose:

To contribute content to the [Cloud Native Security Map Vanilla](#551).

### Scope:

We are looking contribution to the topic: "Storage Stack"

We are looking for the content:
- **projects** relevant to the topic. Any projects, mainly focused on open source related to the topic, anything that a practitioner may find useful or relevant.
- **examples** of controls related to the topic

[2021-04-17 21:25] lumjjb opened #593 "[CNSMAP] Contribute content for "Threat Modeling" section"
### Purpose:

To contribute content to the [Cloud Native Security Map Vanilla](#551).

### Scope:

We are looking contribution to the topic: "Threat Modeling"

We are looking for the content:
- **projects** relevant to the topic. Any projects, mainly focused on open source related to the topic, anything that a practitioner may find useful or relevant.
- **examples** of controls related to the topi

[2021-04-18 22:15] rficcaglia commented on #256
I’d like to split this off as a separate SIG or WG for a few reasons. I
would prefer to decouple training in security assessments, code auditing,
and pen testing from the SIG review (previously “assessment”) process since
the scope has changed (or rather has now been defined more precisely).

Secondly, training the community deserves its own focus and resources. I
can speak from first hand experie

[2021-04-19 10:27] MVrachev commented on #256
I think it does make sense to be a separate SIG or WG, but the question is are there enough experienced security reviewers ready to start such an endeavor.
The suggestion to use a `Trainee` role in the already happening assessments was just to simplify things.
It seems easier to mentor someone on something you are already thinking about and analyzing.

[2021-04-19 14:49] rficcaglia commented on #256
Well to split the 2 ideas:

* experienced security assessors and pen testers and code auditors who can
volunteer time to train the community, not for any particular review or
assessment goal, but more generally - there are very few, especially with
CNCF project knowledge - but one can teach 2, each who can teach 4, etc.
 there are also volunteer organizations outside our community that may be
help

[2021-04-19 19:14] #547 closed

[2021-04-20 09:38] sladyn98 commented on #256
@rficcaglia This sounds like a good idea

[2021-04-21 09:57] CsatariGergely opened #596 "Missing documentation license"
The sig-security repo has only an Apache 2.0 License in the LICENSE file and there is no indication that all documentation is licensed under [CC BY 4.0](https://git.k8s.io/website/LICENSE) what should be the case according to the [CNCF charter](https://github.com/cncf/foundation/blob/master/charter.md).

[2021-04-21 17:30] TheFoxAtWork opened #598 "[Proposal] Create a markdown listing of cloud native security gaps"
Description: need to create an index or listing of gaps in tech or tooling for cloud native security so as we trip over them they are annotated but so we may also refer to the list as opportunities for discovery and inclusion into the CNCF

Impact: this transitions tribal knowledge from the SIG into public visibility as known areas for improvement without a current solution space

Scope: Initially

[2021-04-21 17:42] sublimino commented on #478
There are automation tools to support language that might be useful, one example is Vale (this example is [Google's naming guide](https://developers.google.com/style/word-list)): https://github.com/errata-ai/Google

[2021-04-21 22:56] annabellegoth2boss commented on #183
With regards to the template work, I recently published a [CVD guide for OSS and set of templates](https://github.com/google/oss-vulnerability-guide); there may be something here that's helpful. (Or all of it? Just fork and edit away?)

[2021-04-22 16:14] rficcaglia commented on #598
is this different from the CNSMAP effort?

[2021-04-22 16:16] rficcaglia commented on #561
@lumjjb can this be combined, deprecated by the CNSMAP effort?

[2021-04-22 16:18] TheFoxAtWork commented on #598
Yes!  while linked with the CNSMAP effort (much of those activities will drive this content) there are other areas (ideas, discoveries, community slack discussions) that reveal other gaps.  Not just in tech and tooling, but in community needs, understanding, etc.

[2021-04-22 18:08] TheFoxAtWork commented on #596
I've placed a ticket in with the CNCF service desk (# CNCFSD-770) Legal to help us get this resolve.  Thank you @CsatariGergely for bringing this to our attention!

[2021-04-22 23:17] apmarshall commented on #598
I am imagining this as something like a roadmap with upvoting: anyone can submit an idea for where there is a "gap"/pain-point, the community can vote/like/react to ideas to "second" that something is indeed a gap/pain-point, and there can be comments/discussions proposing possible solutions (whether those be existing products that weren't widely known or ideas for creating a new project to fill a

[2021-04-23 04:30] aspanner opened #600 "[Presentation] Software Factory - Setting up a Trusted Software Supply Chain with Ploigos"
Presenters: @aspanner @hatmarch

Description:
Inspired by the earlier presentation of #501 we have found that the open-source project Ploigos is implementing such an approach which is also based on the DoD DevSecOps ref arch.

The presentation gives a short overview and is then mostly a demo where the Ploigos Software Factory Operator is deployed onto OpenShift in order to build and execute a buil

[2021-04-23 04:33] matthewflannery commented on #600
Hi @TheFoxAtWork is this sufficient info? I understand this is a new process so want to make sure we are doing the right thing

@hatmarch and @aspanner from Red Hat are keen to present this at the upcoming APAC SIG Security meeting

[2021-04-23 09:44] lirantal opened #601 "[Suggestion] PHP repository compromise missing?"
Looks like we're missing out on the PHP supply chain incident?
Source: https://www.bleepingcomputer.com/news/security/phps-git-server-hacked-to-add-backdoors-to-php-source-code/

[2021-04-23 13:47] CsatariGergely commented on #596
Thanks @TheFoxAtWork

[2021-04-25 22:05] matthewflannery commented on #600
Have updated the meeting agenda.

[2021-04-27 19:36] PushkarJ opened #603 "[Pilot] Security Self-Assessment of a sub-project of a graduated CNCF project"
Description: Revisit security assessment process to include the assessment of sub-projects of graduated projects by using [Cluster API](https://github.com/kubernetes-sigs/cluster-api/) sub-project of [Kubernetes](github.com/kubernetes/kubernetes) as a pilot

Impact: This will create precedence on what role CNCF SIG Security can play to perform a security _evaluation_ of sub-projects of graduated p

[2021-04-27 19:59] rficcaglia commented on #603
I reread the conflict policy and while it may be somewhat moot for an api sub-project, I think the basic scheme still has merit even for this effort, ie to identify whether someone has a bias that would artificially influence the review positively or negatively. probably more an issue in a case where someone disputed the output or process. That said, If however anyone feels it is too onerous to as

[2021-04-28 20:53] rficcaglia commented on #603
this was discussed in the SIG call today April 28, 2021 - @pragashj noted that if we (CNCF sig-security) take this on, we may establish a precedent that any/all API sub-projects should/would/could want a similar review.  The concern discussed was whether the CNCF sig could handle that load, and also that the CNCF sig mission is more aligned to respond to TOC requests vs. direct requests from proje

[2021-04-28 21:50] neolit123 commented on #603
i personally have no right to object to such a decision where the CNCF SIG delegates the Cluster API audit work entirely to the K8s SIG. so as long as the k8s SIG Security leads are in favor of this change and they think their SIG can manage this, SGTM as well.

in k8s we have a API Review group and we try to get involvement from them to review the API parts of Cluster API, occasionally.
the proje

[2021-04-28 23:12] krol3 commented on #576
Here's the document that we've created (@raelga, @krol3, @electrocucaracha) so we can start with the Spanish translation. Basically what you have to do is assign a specific topic or paragraph under your name and make the translation.

https://docs.google.com/document/d/13fPbWlT7gZyX9rvWIbBUSJQUvwAXVlgpvQU0lG7tzNI/edit

[2021-04-28 23:21] TheFoxAtWork commented on #603
If CNCF SIG-Security has cycles to support our colleagues and family in K8s SIG-Security as they determine the best path for k8s Sub-projects i think that would be ideal for everyone.  If K8s SIG-Security would like to PR the results of their review/assessment to CNCF SIG-Security repo I don't see any issue with this.

Regarding more hands-on assessments - The current security review process listi

[2021-04-28 23:33] rficcaglia commented on #603
Thanks @neolit123 Learn something new every day!  https://github.com/kubernetes/community/blob/master/sig-architecture/api-review-process.md

[2021-04-29 18:23] PushkarJ commented on #603
It seems there are three topics to get consensus on but largely everyone seems excited about breaking new ground here:
- **Who participates in the security assessment?** It feels intuitive and natural that folks like @rficcaglia, myself and others who are common members of both SIGs can take that mantle as it will allow for active information sharing / updates, cross pollination and people with de

[2021-04-30 00:31] ultrasaurus commented on #538
@apmarshall sorry to be late responding -- would be awesome if you could convert into some kind of dashboard or markdown.  In my dreams would be auto-updated programmatically, but wouldn't be a big deal to update manually when projects move from incubation to graduation or annually or something.  Still up for that?  If so, wanna propose something specific or go ahead and prototype something?

[2021-04-30 10:05] apmarshall commented on #538
Sure! I am away for the next couple of months with limited internet access, but I would be glad to build something when I return. If projects use the GitHub "security policy" feature to point to their docs, should be fairly easy to use the GitHub API to keep track of that automatically.

[2021-04-30 13:54] TheFoxAtWork commented on #601
@lirantal feel free to submit a PR to the repo on this if it has not already been added (i don't believe so)

[2021-04-30 14:01] TheFoxAtWork opened #606 "Audio recordings of CNCF Security Papers"
Description: Many members of the cloud native community either cannot read through our papers or have trouble making time to read through them.  This is a proposal to initiate audio recordings for sections of CNCF Security Papers produced by this group and make them available to the community to increase accessibility.

Impact: Support and extend our community
* Some members of our community exper

[2021-04-30 14:04] chasemp commented on #606
What a great idea.  +1.  I would be willing to be recorded if that's a need.

[2021-04-30 14:26] apmarshall commented on #606
My first "real" job was as an audio engineer, and I still do a fair amount of audio editing on the side. Would be happy to engineer for these recordings if/as needed.

[2021-04-30 14:29] magnologan commented on #606
+1! Nice! I used to be a DJ in another life and now I'm helping @dcomas with the Cloud Native Security Talk Podcast. Happy to help here and also do the same with the pt-BR translation as well once that's done!

[2021-04-30 14:32] ultrasaurus commented on #538
Excellent!  thanks @apmarshall and API-driven approach would be awesome, as long as there's someway for people to link in their stuff (maybe via some standard text file or README link) if their stuff lives elsewhere.  We don't want to require the exact mechanism, but reasonable IMHO to require README reference!

With your taking on the issue, I suggest we formally stick this on the roadmap, and ma

[2021-04-30 14:55] apmarshall commented on #538
I'm back in July, so maybe let's say first draft targeted mid-Q3, aiming for presentation late Q3 or early Q4?

I believe (and I need to look at this in more detail, I've just surmised this by seeing how people seem to be using it) that the newish GitHub security policy feature for repos basically let's you populate a field with a link to your security policy, wherever that policy may live. Then I

[2021-04-30 15:18] ultrasaurus commented on #538
that makes sense to me, @philpennock do you think that would work for NATS

Separately, we'll want some kind of human review of the contents of the link, periodically and when projects seek to graduate.  @apmarshall you mentioned a spreadsheet -- if you have that somewhere with access in your travels, could you post a link to it so maybe there are some folks who would want to take a look in parall

[2021-04-30 17:07] rficcaglia opened #607 "[Proposal] Policy Team charter and mission review"
### Description:

~~The Policy WG was merged into the SAFE WG which then became sig-security.~~

EDIT: See below from @ultrasaurus (summarized here)

See PR #65

Separate Policy ~~WG~~ team meetings and projects continued on, which SHOULD have been under under the sig-security governance, but in fact were de facto governed under the Kubernetes Policy WG agenda.

Note - all this happened before the

[2021-04-30 17:08] rficcaglia commented on #607
@achetal01 @danpopSD @ultrasaurus @pragashj might have either more historical context to add - or forward looking comments to add! thank you in advance!

[2021-04-30 17:18] ultrasaurus commented on #606
I'm also part of the target audience, and would be delighted to test drive the content when it is ready!

[2021-04-30 17:21] ultrasaurus commented on #183
Thanks @annabellegoth2boss!  Would be great if another volunteer from the community could review that and suggest next steps and whether it would meet our needs to reference or adopt and if there are gaps that need to be filled in.

[2021-04-30 19:53] TheFoxAtWork opened #609 "[Suggestion] Provide better process around getting a proposal to project"
Description: Make this much more clear.  expand [this PR](https://github.com/cncf/sig-security/pull/545) to more clearly define the actual turn of a proposal to a project.

Impact: expedite corralling works in progress to be balanced with the workload of the TAG

Scope: Not much.

[2021-04-30 19:58] TheFoxAtWork commented on #554
@jlk can you list the pilot projects on the issue?

[2021-04-30 20:07] achetal01 commented on #554
I will like to be included in this as a security Pal for any upcoming projects...Please include me.

[2021-04-30 20:17] jlk commented on #554
Here's the projects we're working with at this time:
* Tinkerbell
* Kyverno
* Crossplane
* Artifact Hub

We've engaged with the four, and have initial positive interactions. As these teams are working on other things, it'll probably take a month or two to fully understand how things are working out. Will try to keep this updated along the way.

@achetal01 I've added you to the #sig-security-secpal

[2021-05-01 02:22] achetal01 commented on #554
Thank you. Sure Lets sync up next week...

[2021-05-03 20:30] philpennock commented on #538
If the question to me is around relying on GitHub to act as an index pointing to security policy docs elsewhere, then: seems reasonable for us.  NATS should have a vulnerability disclosure program sometime "soon", it's the second item on my (current) priority list.

[2021-05-04 12:54] ultrasaurus commented on #607
Thanks for writing up this issue and capturing some of the history!

Some historical context...

Before SAFE WG was formed, CNCF formalized WG process https://github.com/cncf/toc/pull/106 and some SAFE WG members joined with intention of becoming CNCF Security WG (others found the activities useful regardless of affiliation).  In parallel several folks involved in Kubernetes Policy SIG were intere

[2021-05-04 13:01] ultrasaurus commented on #607
A small step toward explaining the governance / charter of what we called the Policy Team (to avoid using the WG name, which at the time was confusing, and maybe still is, not sure)  https://github.com/cncf/sig-security/pull/268 -- ideally that PR would be reviewed by people active in Policy team meetings and evaluate what makes sense.

I always wondered if it was really sustainable to have K8s Po

[2021-05-04 13:49] rficcaglia commented on #607
My $.02 being one of those people :) It is possible - I hope I have done this - but it absolutely requires OTHER people who bring a strong voice from each perspective. I think it is good to have a link and liaison who can cross pollinate and build collaboration (I have tried to fill that role, for example adding some k8s specific ideas into the CNCF map project and CNCF cloud whitepaper) .  But I

[2021-05-04 13:58] rficcaglia commented on #607
@ultrasaurus just an aside - I think probably "policy" is the wrong term anyway.  I think there might be a benefit to having a "GRC" sig separate from sig-security.  security is often completely unrelated to compliance and vice versa, eg:.

* Getting your kubernetes cluster FISMA compliant: lots of non-security requirements
* securing your service mesh: I would definitely NOT start with FISMA docu

[2021-05-04 16:19] yuriolisa commented on #509
Great!! Count with me!!!

[2021-05-04 20:12] julianocosta89 commented on #509
Joining the team @magnologan!

[2021-05-04 20:32] julianocosta89 commented on #509
Hello all,
I went through the document and I saw that there are some terms that sometimes are being translated and sometimes not.
Maybe I've missed that, but do we have a pattern to follow or that will be defined at the end by one of the reviewers?

[2021-05-05 05:28] jlk opened #612 "[Proposal] Security "Nutrition" Labels"
Description: A security "nutrition label" and project badge offers a standardized way to communicate particulars related to the security of a project to potential users - if it requires administrative privileges, documentation, design...really the security maturity of the project.

The idea here is that nutrition labels or badges would be rendered from a machine-readable format, such as YAML. This

[2021-05-05 13:31] metahertz commented on #612
+1

Was speaking with @jlk on this via Slack, capturing here:

following research into the default security posture of public helm charts, scanning artifacthub and crunching some data. I keep coming back to the conclusion that we ideally need to signal a “persona” for re-usable objects such as Charts, as the persona changes the acceptable security posture for a given object, this could be included

[2021-05-05 19:05] TheFoxAtWork opened #613 "[Project] Convert sig-security to tag-security / Security TAG"
Description: In light of the TOCs approval to change SIGs to TAGs we need to update our naming convention in the repo

Impact: fairly large?  several of our  links are embedded as URLs not repo paths

Scope: figure out naming conventions, make a list of all the things we need to change outside of the repo, make the changes -- will take a bit of iteration from at least a few people who know the wor

[2021-05-05 20:24] amye commented on #551
I have the design team on deck for whenever we have a final draft of text, that's the gateway here to get design involved.

[2021-05-05 20:35] lumjjb commented on #551
Thanks @amye , we will clean up the content next week and ping back

In the meantime, if it's helpful, we have the current site that design can take a look at: https://cnsmap.vercel.app/

[2021-05-05 20:36] lumjjb commented on #613
+ Require design team to make a new logo
+ Slide templates for kubecon

[2021-05-05 21:46] amye commented on #613
Already in progress:)

Meeting Doc has been updated.

[2021-05-06 02:16] jlk commented on #514
Haven't updated for a while...we wrapped up our work on chapter 4, that can be reviewed at https://github.com/cncf/tag-app-delivery/blob/master/operator-wg/whitepaper/04_Security.md. I think Thomas and the tag-app-delivery team are working on getting the overall WP in shape before general release.

[2021-05-06 02:19] jlk commented on #612
One "real world" datapoint on this - I see Kubewarden's policy hub is using keyword tags to indicate what policies control privileged containers, PSPs, etc. Almost an inverse nutrition label/badge, but it does show a use case that being able to search on these things has value to people...

[2021-05-07 06:23] CsatariGergely commented on #596
@TheFoxAtWork is it possible for me to check the status of # CNCFSD-770? I would like to figure out an estimate for the resolution of this issue.

[2021-05-07 13:13] lumjjb commented on #596
The current resolution for this is to use Creative Commons 4.0 for all documents in the repo, like CNCF. If not it is on our current list and will get to it soon.

If you'd be willing to, would be more than happy if you can open a PR to add it!  :)

[2021-05-08 00:14] sunstonesecure-robert commented on #496
of relevance:

https://openssf.org/blog/2021/05/03/introducing-the-security-metrics-project/

[thanks to community for eyes open!](https://cloud-native.slack.com/archives/CDJ7MLT8S/p1620109544277200)

[2021-05-08 00:24] sunstonesecure-robert commented on #496
also see: https://github.com/cncf/tag-security/issues/612

[2021-05-09 04:12] rficcaglia commented on #307
@ultrasaurus I have put this on the agenda for Wed call to reassemble the team.  They completed the [TOC PR ](https://github.com/cncf/toc/pull/644)as requested, so I think we're ready to roll.

[2021-05-10 17:51] magnologan commented on #509
Hi, @julianocosta89 thanks for sharing and highlighting those terms. We are still deciding on the best approach for the translation so that it could also be used for the pt-PT speakers such as Portugal. After the 1st translation phase is completed we'll review these terms and choose whichever makes more sense for a broader community.

[2021-05-10 19:39] lumjjb commented on #593
Content contributed

[2021-05-10 19:40] lumjjb commented on #590
Content contributed

[2021-05-10 19:59] lumjjb opened #616 "[CNSMAP] Contribute content for "Compliance" section"
industries and regulatory audit.

[2021-05-12 17:28] TheFoxAtWork commented on #377
Wanted to check in on this.  We have [Cloud Custodian](https://github.com/cncf/tag-security/issues/307) in the backlog and it waiting to be moved forward.

[2021-05-12 18:47] TheFoxAtWork commented on #596
The repo license will be changed FROM Apache 2.0 to CC-BY-4.0 effective Wednesday May 19th 2021

[2021-05-13 00:10] TheFoxAtWork opened #621 "[Suggestion] Paper Governance"
Description: Need to establish some governance surrounding general health and maintenance of papers produced by this group

Impact: as authors rotate in and out, papers should have clear governance describing their maintenance.

Scope: write a governance doc that may be applied to all papers produced.

[2021-05-13 22:03] mikhailswift opened #625 "[Discussion] Secure timestamping in regards to short-lived keys & certificates."
Description: As discussed during the May 12 meeting, I'm currently working on using short lived keys to sign artifacts and now need to handle making sure the signature was generated during the key's validity window.  RFC3161 exists as a way to standardize this process but doesn't define any specifications for transport.  I'm appealing to the tag-security group as a whole for individuals who have e

[2021-05-13 22:11] trishankatdatadog commented on #625
Cc @mnm678

[2021-05-13 22:13] trishankatdatadog commented on #625
Cc @dlorenc @SantiagoTorres

[2021-05-13 22:14] lumjjb commented on #625
@lukehinds tagging in case this is relevant for fulcio

[2021-05-13 22:19] dlorenc commented on #625
Hey! Yes, we've taken this approach in sigstore. Let me know how I can help.

[2021-05-14 04:49] lukehinds commented on #625
This is exactly what sigstore stores (with in-toto integration underway). Any reason to not just use / contribute to sigstore , are we missing something?

[2021-05-14 16:45] mnm678 commented on #625
For shortlived keys like you describe, I agree that you should look into sigstore's approach.

More generally for ensuring timeliness of in-toto metadata, @trishankatdatadog has also had success using TUF as a transport mechanism for the in-toto metadata, which provides timeliness through TUF's timestamp and snapshot roles.

[2021-05-14 20:25] TheFoxAtWork commented on #600
I believe this has already occurred - could someone verify?

[2021-05-14 20:58] colek42 commented on #625
For our use case, we need to tie attestations to specific containers (file systems) and hardware (TPM AK) with an out-of-band process.  SPIFFE/SPIRE framework provides this for us.  I think [this](https://github.com/sigstore/rekor/pull/293) PR on Rekor will definitely be part of the solution.

in-toto additionally gives us the ability to make attestations with flat files.  This is great when we ne

[2021-05-14 21:22] trishankatdatadog commented on #625
So I hate to be that guy, but I think a quick meeting may be in order to try to understand the problem better and see when and where we may be able to apply each tool? 🙂 One person representing each tool mentioned here should do.

[2021-05-14 21:47] dlorenc commented on #625
I just opened https://github.com/tektoncd/chains/issues/87 over in Tekton to track other ideas on how to make some of this stuff easier directly in Tekton itself.

[2021-05-15 00:37] anvega commented on #510
Completed with https://github.com/cncf/tag-security/pull/627

[2021-05-15 00:37] #510 closed

[2021-05-15 00:40] anvega commented on #454
Post event debrief notes: https://docs.google.com/document/d/1uAptpj3zury9YEvuZB8-WcfCbUSooonoUsLlW23cRcA/edit

[2021-05-15 00:40] #454 closed

[2021-05-15 01:08] dlorenc commented on #625
Found this too: https://youtu.be/4lFbdkB62QI :)

[2021-05-15 01:22] anvega commented on #478
The master branch has been renamed to main.

[2021-05-15 06:21] lukehinds commented on #625
@anvega should be here too.

[2021-05-15 15:38] lumjjb opened #631 "[Suggestion] Repo change master-> main links and references for the tag repo"
Description: What's your idea?

 change master-> main links and references for the tag repo

Impact: Describe your hopes for how this would reduce risk for the cloud native ecosystem. Who will this help? How will it help them?

Part of inclusion effort.

Scope: How much effort will this take? ok to provide a range of options if or "not yet determined"

Probably about 15 minutes.

[2021-05-15 17:22] himanshu007-creator commented on #631
I would like to work on this issue😄

[2021-05-17 03:18] lumjjb commented on #631
Awesome! :D

Not any particular folder, I would start with these search results and work through them. Most likely it just warrants a repo wide `sed` script :)

https://github.com/cncf/tag-security/search?q=%22sig-security%2F%22

[2021-05-17 03:38] anvega commented on #625
Thanks, @colek42 and @lukehinds.

How is Tuesday 8 or 9 am US pacific time work for everyone to meet and discuss?

Tagging @azdagron and @evan2645 here whose perspective will be relevant and beneficial.

[2021-05-17 16:34] evan2645 commented on #625
👋

This week will be tough for me. I'd love to join a call if it's next week some time (Monday? Wednesday?), else I can review a recording or something to catch up and leave any relevant thoughts on this thread?

[2021-05-17 16:40] colek42 commented on #625
Next week will be better for Mikhail and myself as well.  I am good next
monday pretty much all day.

-Cole

On Mon, May 17, 2021 at 11:34 Evan Gilman ***@***.***> wrote:

[2021-05-17 16:41] trishankatdatadog commented on #625
Next Monday WFM too

[2021-05-17 16:50] azdagron commented on #625
Happy to join a call next monday.

[2021-05-17 18:13] lumjjb commented on #625
@mikhailswift @colek42 if you'd like to use the CNCF Security Tag zoom, that is always open, just note that the call is always recorded.

[2021-05-17 19:02] mnm678 commented on #625
Next Monday works for me as well.

[2021-05-18 12:52] TheFoxAtWork commented on #502
Folks i'd like to propose this as a topic for discussion at an upcoming TAG meeting.  @achetal01  thoughts?

[2021-05-18 15:36] TheFoxAtWork opened #635 "Cloud Native Security Controls Catalog (Phase I)"
Description: Creation of a granular cloud native security controls catalog that includes items from the [CNSWP](https://github.com/cncf/tag-security/blob/main/security-whitepaper/cloud-native-security-whitepaper.md) & [SSCSP](https://github.com/cncf/tag-security/blob/main/supply-chain-security/supply-chain-security-paper/sscsp.md). First effort for [Audit/GRC/reasoning Card](https://github.com/cnc

[2021-05-18 15:37] chasemp commented on #635
👍

This seems like some of the most practical output the group could create.  Small thought that maybe mapping to CSA CCM 4.0 is an option as it's meant to map to existing frameworks already.

[2021-05-18 15:46] lumjjb commented on #635
i'm not sure quite clear where this bullet fits in here..

Want to make a clarification on this, is this a catalog of resources that will assists in the mapping or is the scope to do the actual mapping itself? My concern is that a lot of the mapping is already done by companies and vendors, and really it is a full time job of multiple teams' so just want to make sure we appropriately scope this.

[2021-05-18 16:45] chughes29 commented on #635
That's a great idea, and presents a situation where organizations can attest to adhering to the best-practices guidance, tied to specific control identifiers.

I would be interested in helping with this activity, and I think it would make both the CNSWP & SSCSP more actionable and tangible to those within the security community, by tying it to frameworks they are both familiar with and regularly u

[2021-05-18 16:59] TheFoxAtWork commented on #635
Several existing commercial and non-commercial mappings to CSF/NIST/GDPR/SOX, etc. exist.  Many of the controls in those frameworks are high level.  And lack granularity to cloud native practices and models.  This is not an attempt to remap them.  But to establish a specific, granular catalog of cloud native security controls that relate to those existing mappings.

Example: NIST 800-53 SA-10 Deve

[2021-05-19 16:39] colek42 commented on #625
I have a meeting set for Monday 24 May at 11:00AM-12:00AM CST using Zoom.  Send me a message on Slack with your email if you would like and invite.  Otherwise meeting details will be in TAG-Secuirty meeting notes for 19May2021

[2021-05-19 18:24] ultrasaurus commented on #606
I volunteered to be SIG Leadership Representative and added in list of other helpers.  @magnologan said he could lead if no one volunteers before he finishes his current projects for the group.  This could get started sooner if there's someone else willing to take a leadership role in pulling this together.  I'm sure we could get CNCF staff help if there are logistical requirements or expenses --

[2021-05-19 18:34] TheFoxAtWork commented on #606
I'm reaching out to our APAC members to see if this is of interest.

[2021-05-19 19:35] anvega commented on #625
Thanks, @colek42. I've forwarded the invitation to everyone who has commented on this issue.

[2021-05-19 19:47] ultrasaurus commented on #625
Hi all -- Glad this discussion is moving forward!  I'd like to assign this issue to someone.  Who wants to volunteer to summarize whatever is learned from this in issue and either close it or turn it into a proposal/suggestion if it seems like some artifact in the repo or other action would be useful?  @colek42 @mikhailswift ?

[2021-05-19 20:20] ultrasaurus commented on #613
converted to a project, since it's already in progress and we def need to do it

[2021-05-19 21:49] colek42 commented on #625
Mikhail and I will take care of it.

On Wed, May 19, 2021 at 14:47 Sarah Allen ***@***.***> wrote:

[2021-05-19 23:48] danpopSD commented on #625
@anvega  -- i would like to join this call if at all possible.

[2021-05-20 01:14] lumjjb commented on #625
@danpopSD look in the #tag-security slack for the goodies :)

[2021-05-20 01:25] JustinCappos commented on #606
Good thought!  I will mention this in the next meeting!

[2021-05-20 01:40] JohnHillegass commented on #311
Closed by #497

[2021-05-20 10:37] magnologan commented on #606
As I've discussed with @ultrasaurus on Slack over DM, I'd love to take the lead on this, but I'm currently with too many projects that I'd like to finish, such as the Security Pals pilot program the translation of the CNSWP to pt-BR. So, if there are no leads by June, then I can probably take it. =)

[2021-05-20 12:09] #596 closed

[2021-05-20 13:43] alexbarbato commented on #635
Love this!

I'm curious for thoughts on how #496 ties in here. The traffic on #496 seems to imply that there are tools to do the security scanning for CNCF projects, but coupling that here with mappings to various control sets like NIST would be sooo huge.

I'd be very happy to help contribute to the automated mappings/outputs

[2021-05-20 14:01] ultrasaurus commented on #311
Looks from thread that it was checked in, but disabled

[2021-05-20 14:12] ultrasaurus commented on #311
Also, since there's continued work to get the repo in a state where these checks will pass.  I'd like to convert to a "project" if folks have appetite to keep working on it, hoping @lumjjb will represent the leadership team on this and be responsible for review/merge.   @kapilt has been not been active in the comments in over a year, so I'm going to make this assigned to no one for now.

Anyone wa

[2021-05-20 14:19] JohnHillegass commented on #311
Hey @ultrasaurus thats correct we could chose to not require the checks to pass on a PR via branch protection rules. The checks themselves are pass fail but when not required to pass it doesn't matter when they fail, if that makes sense.

[2021-05-20 14:39] ultrasaurus commented on #631
@himanshu007-creator @lumjjb  this looks like this was done?  (default branch is now "main") -- was there a PR associated with it that we should note before closing?

[2021-05-20 16:03] ultrasaurus commented on #311
Thanks @lumjjb for volunteering to do the admin stuff and @JohnHillegass for taking the lead on this.  Left the "help wanted" tag on, since there's lots of fixing up of current repo which could be done by anyone

[2021-05-21 13:34] TheFoxAtWork opened #638 "[Suggestion] Create listing of potential collaboration groups"
Description: There are a lot of security focused groups, communities, specs, standards that not everyone knows about.  These groups often look for additional contributors and collaborators to help drive robust documentation and design.  The Cloud Native community has a unique perspective and has the ability to positively impact the outcome of those groups.

We should maintain a listing in our repo

[2021-05-21 13:44] TheFoxAtWork commented on #414
this issue is completed

[2021-05-21 13:44] #414 closed

[2021-05-21 13:45] TheFoxAtWork commented on #224
Closing this issue.  Catalog is in repo and new paper also describes resources around this space.

[2021-05-21 13:45] #224 closed

[2021-05-21 13:51] TheFoxAtWork commented on #206
the [joint-review README](https://github.com/cncf/tag-security/blob/main/assessments/guide/joint-readme-template.md) template needs updated to specify:
* [ ] original issue for assessment,
* [ ] assessment date, and
* [ ] project status at time of assessment (pre-incubation, incubation, sandbox, etc

[2021-05-21 13:53] TheFoxAtWork commented on #105
This is reflected on the Roadmap & planning FY21-22, this issue is being closed

[2021-05-21 13:53] #105 closed

[2021-05-21 13:58] TheFoxAtWork commented on #21
closing issue in favor of linked #638

[2021-05-21 13:58] #21 closed

[2021-05-21 13:59] TheFoxAtWork commented on #130
closing - existing presentation template has been greatly reworked since this issue.

[2021-05-21 13:59] #130 closed

[2021-05-21 14:01] TheFoxAtWork commented on #106
closing - CNSWP exists and discusses modern security.  Additional books and docs exist in the community that reflect traditional v modern security.

[2021-05-21 14:01] #106 closed

[2021-05-21 14:04] TheFoxAtWork commented on #75
closing stale and likely OBE (overcome by events)

[2021-05-21 14:04] #75 closed

[2021-05-21 14:06] TheFoxAtWork commented on #142
Closing as overcome by events.  Recent Security Assessment process updates refined this a little and seems to work for now.  Can reopen/revisit later.

[2021-05-21 14:06] #142 closed

[2021-05-21 14:07] TheFoxAtWork commented on #160
closing as the recent security assessment process updates have likely changed/addressed this.  can be reopened if need be.

[2021-05-21 14:07] #160 closed

[2021-05-21 14:23] rficcaglia opened #639 "[Proposal] Skill "Tags" as code for easier search and mapping"
Description: what's your idea?

Derivative from #142 discussion:

We we discussing if assessment volunteers need certain skils, for example:

`

- crypto expertise
- distributed protocol expertise
- kernel implementation experience
- network protocol expertise
- mathematical proofs
- whitehat/blackhat experience
- secure code reviews
- etc

and allow volunteers to self-identify with those skills v

[2021-05-21 15:53] chasemp commented on #606
If I wanted to JDI and record the thing, does that raise objections? (this would be a first outing fraught with learning I imagine)  If not I'll have time next week.

[2021-05-21 15:54] #593 closed

[2021-05-21 15:55] #591 closed

[2021-05-21 15:55] #590 closed

[2021-05-21 15:55] #589 closed

[2021-05-21 15:55] #588 closed

[2021-05-21 15:55] #587 closed

[2021-05-21 15:55] #586 closed

[2021-05-21 15:56] #584 closed

[2021-05-21 15:56] #585 closed

[2021-05-21 17:17] TheFoxAtWork commented on #606
I thought about it as well.  The group should define how to break up the body of the papers into manageable chunks.  multiple voices with quality recording also engages listeners (so as to not fall asleep on variety)

[2021-05-21 17:43] achetal01 commented on #528
One Comment I have is- There may be situations where multiple Different views on the subject matter or controls implementation. How should those be resolved. How will we arbitrate those and make final decisions. This is specially true in new technology and tools ..

[2021-05-21 17:49] achetal01 commented on #528
Another comment is we have to be specially careful to include References section and add any links or references that are used to develop our content. This is best practice to avoid any legal issues...

[2021-05-21 18:34] chasemp commented on #606
@TheFoxAtWork that makes sense.  Maybe I'll take the summary section and just do that as a conversation piece / to get the ball rolling.

[2021-05-21 19:08] TheFoxAtWork commented on #528
@achetal01 see #599 [247c355](https://github.com/cncf/tag-security/pull/599/commits/247c3559ffd66ff1c12eb7e9b6530de0370f526e)

[2021-05-23 01:08] ultrasaurus commented on #606
@chasemp if you record the whole thing, I would listen to it!   Then the audio engineer can take whichever section they like best from yours (or multiple sections).

btw: @sarah-yo also volunteered to record!  I like the idea of having a diversity of voices from different English-speaking countries.

[2021-05-23 15:58] magnologan commented on #447
I've talked to @lumjjb before, and I'll submit a PR this week with the suggestions I've mentioned previously on this issue. Then, once they are accepted, we can close this one. Thanks!

[2021-05-23 19:19] justaugustus commented on #183
Happy to help review here from the lens of:
- smaller project maintainer (Dex)
- larger project Release Manager (Kubernetes)

[2021-05-23 20:23] lumjjb commented on #183
Sounds like this is relevant to: https://github.com/cncf/tag-security/issues/554, perhaps there's something that can be worked out here

[2021-05-24 07:39] pragashj opened #645 "[Issue] Fixing some formatting issues on readme.md"
readme.md has a couple of formatting issues on the TL listing.

[2021-05-24 07:45] pragashj opened #646 "[Issue] Change SIG -> TAG in "SIG-Security Chair proposal process" page"
The [page](https://github.com/cncf/tag-security/blob/main/governance/chair-proposal-process.md) that describes the chair proposal process still refers to the group as SIG and the link points to an outdated link back to CNCF governance page.

[2021-05-24 11:57] #645 closed

[2021-05-24 11:58] #646 closed

[2021-05-24 12:00] TheFoxAtWork commented on #183
@lumjjb it's related for sure.  Security pals increase awareness for Cncf projects and assist in completing the self assessment

[2021-05-24 13:58] ultrasaurus opened #649 "incorrect link (404) in whitepaper"
in `security-whitepaper/cloud-native-security-whitepaper-simplified-chinese.md`
I think the link to `usecases.md` should be `usecase-personas` (now a directory with old content in README)

[2021-05-24 14:00] ultrasaurus opened #650 "Security review instructions have bad link (404)"
in `.github/ISSUE_TEMPLATE/joint-review.md`

[code]

`assessments/guide/outline.md` is no longer a live link.

[2021-05-24 14:23] TheFoxAtWork commented on #650
here is the corrected link: https://github.com/cncf/tag-security/blob/main/assessments/guide/joint-review.md

[2021-05-24 14:58] ultrasaurus commented on #606
@chasemp has volunteered as project leader 🥇

According to our [governance process](https://github.com/cncf/tag-security/blob/main/governance/process.md#proposal-process), the next step to move this from a "proposal" to a "project" is to raise it for discussion at one of our meetings.

@chasemp can you put it on the agenda for an upcoming meeting?

[2021-05-24 15:01] chasemp commented on #606
@ultrasaurus  Sure can.

[2021-05-24 15:02] ultrasaurus commented on #606
Also, in the spirit of brainstorming possible solutions in the spirit of making something quickly available and iterating.  I thought it might be fun to have a live reading with multiple readers queued up and then @apmarshall could edit the audio recording after (with potentially re-recording bits as needed).

[2021-05-24 15:15] ultrasaurus opened #655 "update README with new leadership email lists"
* cncf-tag-security-chairs@lists.cncf.io - includes three chairs + a CNCF staff person for continuity
* cncf-tag-security-leads@lists.cncf.io - includes cncf-tag-security-chairs + tech leads

TODO
- [X] create lists -- thank you @amye and CNCF https://cncfservicedesk.atlassian.net/servicedesk/customer/portal/1/CNCFSD-691
- [X] test lists (@ultrasaurus tested before rename)
- [X] verify chair membe

[2021-05-24 19:12] #650 closed

[2021-05-24 19:14] #649 closed

[2021-05-24 21:00] sclevine commented on #377
@anvega I think I've addressed your feedback in the doc, and we've added CII best practices badges to relevant repos. What are next steps?

[2021-05-24 22:57] anvega commented on #377
Waiting on @lumjjb to give it a once over. I believe he was also going to include @IAXES in the process.

[2021-05-25 01:42] ashutosh-narkar commented on #606
Happy to volunteer !

[2021-05-25 02:20] aspanner commented on #600
Thanks for the opportunity to present.
I would love to get more inputs across different Kubernetes services into project ploigos.

[2021-05-25 02:20] #600 closed

[2021-05-25 14:36] TheFoxAtWork commented on #635
#496 definitely ties in here.

This is on the Agenda for discussion Wednesday May 26th.  if you can make it great!  I have an initial control catalog here: https://github.com/TheFoxAtWork/tag-security/tree/cns-control-catalog/cns-implementations

[2021-05-25 15:10] pragashj opened #659 "[Issue] Remove the leads for the policy team"
On readme, the names listed as the [policy team leads](https://github.com/cncf/tag-security#policy-team) are no longer active. This Issue proposes to remove them and leave that as TBD, until we find the right person to collaborate on this.

[2021-05-26 01:09] Boes-man commented on #606
@matthewflannery says we can blue steel, I am in.

[2021-05-26 01:42] TheFoxAtWork commented on #606
Also happy to voice.

[2021-05-26 15:57] chasemp commented on #606
I am getting my bearings for issues in github, as the assignee am I meant to be able to edit the description?

At the moment, I either cannot or don't understand how :D

[2021-05-26 16:12] #659 closed

[2021-05-26 16:16] ultrasaurus commented on #606
@chasemp it's a bit hard to find (or maybe I was incorrect about permissions).  Do you have a three-dot menu with edit option in top-right of description area?

![image](https://user-images.githubusercontent.com/41906/119695500-13205f00-be03-11eb-9b50-1764325ab66d.png)

[2021-05-26 17:07] achetal01 commented on #635
I would like to contribute to this effort.
Thank you

[2021-05-26 17:09] pratiklotia commented on #635
I would like to contribute as well. Thanks.

[2021-05-26 17:10] fkautz commented on #635
Please include me on these conversations. Thank you.

[2021-05-26 17:10] PushkarJ commented on #638
+1

[2021-05-26 17:15] TheFoxAtWork commented on #606
I'll be pushing this proposal to Project and placing in the Planned and Scheduled

[2021-05-26 17:15] raesene commented on #606
I'd be happy to try and contribute some voice reading, if that's helpful, I've got an accent I don't think we have yet (west coast Scotland)

[2021-05-26 17:17] TheFoxAtWork commented on #606
@chasemp I would recommend putting together a tentative schedule and creating a slack channel "#tag-security-audio" to begin coordination. Be sure to invite commenters on the issue.

[2021-05-26 17:40] chasemp commented on #606
Indeed, I see the menu but have no rights beyond a normal comment (quote & reply)

[2021-05-26 17:46] chasemp commented on #606
Channel is created.  Anyone here who I could find in slack I added.  I'll tinker with a schedule, and a potential breakdown.

FWIW there is a group that does audiobooks for works in the public domain and they have a good primer on beginning recording with free tools [here](https://wiki.librivox.org/index.php?title=Newbie_Guide_to_Recording)

[2021-05-26 17:58] TheFoxAtWork commented on #635
@alexbarbato please be sure to join the slack workspace so we can collab on this: https://cloud-native.slack.com/archives/CDJ7MLT8S
(didnt see you to tag you in the thread)

[2021-05-26 18:11] lumjjb opened #665 "[Proposal] Revamp triage team/system"
Description:

Change the way that triage is done for the repo today. Due to the increase in number of issues, PR and members, the usual ad-hoc triage system tends to result in some issues slipping through the cracks or not getting the sufficient follow-up.

Impact:

This will help the repository in general, and allow issues in the community to be given the appropriate attention and handling.

Scop

[2021-05-26 18:14] TheFoxAtWork commented on #665
We need to define when its okay to close stale issues versus backlog.

[2021-05-26 18:14] lumjjb opened #666 "[Suggestion] Improve new member experience, allow easier involvement/induction"
Description: What's your idea?

Improve new member experience to allow members to be able to contribute faster, or get more comfortable with the contribution process.

Impact:

This will help strengthen the community by getting more members engaged.

Scope:

"not yet determined"

Additional info:
- Current new members [page](https://github.com/cncf/tag-security/blob/main/NEWMEMBERS.md)

[2021-05-26 18:16] chasemp commented on #665
I've thinking of asking about a how-to triage  session with someone experienced to review expectations, policy, tooling and general flow.  The idea may be overwrought but for me I would welcome it.  Additionally, places I've been have only used github in a supplemental way my sophistication with the native tasking/workboards/flow is a work in progress.

[2021-05-26 18:16] TheFoxAtWork commented on #666
can we have a bot to message them when they join the channel with details about getting started "read this, create your first PR with us by tackling a good first issue"? and then in another post in a month to say "don't forget to introduce urself at a meeting and add urself to the repo"

[2021-05-26 18:17] lumjjb commented on #666
It would be awesome if new members themselves to be involved with this so we can get feedback on what your questions are first when you joined the TAG!

[2021-05-26 19:12] TheFoxAtWork commented on #603
Wanted to check in on where this was at/status

[2021-05-26 19:16] TheFoxAtWork commented on #665
Happy to walk thru how i've been triaging things. Maybe at a future meeting.  @lumjjb thoughts?

[2021-05-26 19:23] lumjjb commented on #665
Yea - agreed, we should definitely have a session on this. We can center around the discussion of the new proposal, which will provide good background context.

Triage till now has been more of an "art" if you could call it that, its based very loosely around https://github.com/cncf/tag-security/blob/main/governance/roles.md#triage-team.

[2021-05-26 20:04] anvega opened #667 "Cloud Native Security Con at KubeCon+CloudNativeCon NA 2021"
**Description**:
Planning and tracking for Cloud Native Security Con at the upcoming NA Kubecon/CloudNativeCon. Cloud Native Security Con is designed to foster collaboration, discussion, and knowledge sharing of discuss open source and cloud native security projects and how to best use these to address security challenges and opportunities.

### Program committee

The responsibilities of the progr

[2021-05-26 20:33] lumjjb opened #668 "[IGNORE] Test remind bot"
testing remind bot,  Ignore.

[2021-05-26 20:33] lumjjb commented on #668
/remind me in 10 minutes

[2021-05-26 20:35] lumjjb commented on #668
/reminders

[2021-05-26 20:37] lumjjb commented on #668
bot is no longer serviceable :(

[2021-05-26 20:37] #668 closed

[2021-05-26 21:33] PushkarJ commented on #603
@TheFoxAtWork glad you asked. We discussed briefly on the kubernetes sig-security call last week and are mostly in alignment with past discussions. Few key points:

- We will use kubernetes native mediums of collaboration i.e. slack (sig-security-assess-capi), github(kubernetes/community) repos. This is mainly for ease of use as majority participants are part of those mediums of communication and

[2021-05-26 22:07] PushkarJ commented on #480
Hi Team 👋🏼  As discussed in today's call, @amye shared that we have had close to 70 responses to our cloud native security survey after it went out late March.

As a next step, we will go with lazy consensus on closing the survey i.e. if anyone has any concerns or thoughts about closing the survey, please comment here by June 4th. After this period is over, on Monday June 7th we will close the sur

[2021-05-26 22:56] danpopSD commented on #667
/lgtm

[2021-05-26 22:59] ultrasaurus commented on #606
@chasemp I sent a note to #tag-security-triage slack channel about this.  Maybe things changed in github or I just got confused and forgot.  I'll try to keep the description up-to-date.  Free to ping me on slack if I fall behind and miss something!

[2021-05-26 23:05] ultrasaurus commented on #606
@Boes-man  sorry I don't understand the blue steel reference.  Perhaps https://www.dictionary.com/e/fictional-characters/blue-steel/ ?  If so, feel free to make whatever facial expression you like while doing audio recording!  I'll put you down as a voice volunteer.  Not sure what your real name is -- pls join the CNCF slack channel #tag-security-audio if you aren't already there

/cc @matthewflan

[2021-05-27 03:00] rficcaglia commented on #603
No concerns! We discussed briefly on the kubernetes external audit call
with Rey and Craig. Everyone excited to start!!

On Wed, May 26, 2021 at 2:34 PM Pushkar Joglekar ***@***.***>
wrote:

[2021-05-27 03:09] ragashreeshekar commented on #667
I’m interested to volunteer

[2021-05-27 12:49] magnologan commented on #667
I'd like to be involved as well.

[2021-05-27 13:38] TheFoxAtWork commented on #603
Fantastic!  Really looking forward to this!

[2021-05-27 18:28] TheFoxAtWork commented on #609
@ultrasaurus things in my head on this.
Want to talk about something?
1. Review existing issues, if not there  Create an issue,
2. add it to the planned meeting template,
3. bring it up in the meeting, determine interest.
4. If interest, have them comment on the issue and nominate a project lead.  No interest, close the issue
5. get a co-chair to sponsor it.
6. start planning and present the plan

[2021-05-27 18:31] magnologan commented on #509
Hi everyone! Just sharing a bit of a status update here. I've started to review and make the changes on the doc. If you haven't had time to contribute and translate your paragraph please try to do so until next week. Thank you!

[2021-05-27 22:53] TheFoxAtWork opened #671 "[Suggestion] Supply Chain Security feedback"
Description: from twitter: https://twitter.com/clintgibler/status/1398046293340037121?s=19

1. The paper lists assurance/risk for each task. Would that be useful to add to the checklist?

* [ ] Map assurance levels to the [checklist we provided](https://github.com/cncf/tag-security/blob/main/supply-chain-security/supply-chain-security-paper/secure-supply-chain-assessment.md)

-------original-----

[2021-05-28 00:11] clintgibler commented on #671
Thanks @TheFoxAtWork! I've got a few things currently on my plate, but hopefully over the next few months, or at latest a quarter or two, I should have more detailed feedback, or at least things I would find super helpful.

Thank you everyone for the awesome work! 🙏 🎉

[2021-05-28 16:03] ultrasaurus commented on #546
Regarding the existing [serverless whitepaper](https://github.com/cncf/wg-serverless/tree/master/whitepapers/serverless-overview), I don't recall that covered security, so I thought this would reference the definitions in that earlier whitepaper and cover different topics.  (As written the description doesn't make that clear.)

[2021-05-28 19:41] TheFoxAtWork commented on #666
i've also gotten questions about how to lead their first effort.  I've been sending them to the process page and linking the to paper process which has some details

[2021-05-28 20:16] TheFoxAtWork commented on #609
Before it becomes a project it needs a scope, a project lead, and a sponsor.

[2021-05-28 20:20] lumjjb commented on #609
For closing issues - wait a certain amount of time i.e. 90 days for stale bot to close it

[2021-05-28 20:21] lumjjb commented on #609
Interest should be issue based, meeting should be an optional but highly recommended step to accommodate for those who are not able to attend meetings.

[2021-05-28 21:02] magnologan commented on #638
+1

[2021-05-28 21:37] ultrasaurus commented on #546
Thx @achetal01 for updating description.  I think it better clarifies the scope and relationship to already existing (Serverless Overview) whitepaper -- I know they spent a long time hashing out definitions and articulating what-is-serverless, so good to use that info as a starting point and reference those definitions wherever that context is helpful.

[2021-05-29 10:00] ultrasaurus commented on #621
is this resolve by https://github.com/cncf/tag-security/pull/599?

[2021-05-29 22:10] pbaderia01 commented on #546
Hi @ultrasaurus @achetal01 Would like to help but might need a lot of guidance!

[2021-05-30 09:34] magnologan commented on #546
+1

[2021-05-30 11:24] hashishrajan commented on #546
+1 - I would be keen to help with this too!

[2021-05-30 13:48] JonZeolla commented on #546
I'm interested in helping with this

[2021-05-30 16:20] shibumi commented on #422
bump :)

[2021-05-30 18:28] alexbarbato commented on #635
Coordination convo tomorrow for anyone interested 😄

Details here: https://docs.google.com/document/d/10eY_ICglcI5HxYFwUNpEW9Zk_HLoVbYex7OCNraAKe0/edit?usp=sharing

[2021-05-30 18:51] Harrysk commented on #635
I would like to contribute to this. Please count me in.

Thanks.

Best Regards,
Hari.

On 30. May 2021, at 20:28, Alex Barbato ***@***.***> wrote:

﻿

Coordination convo tomorrow for anyone interested 😄

Details here: https://docs.google.com/document/d/10eY_ICglcI5HxYFwUNpEW9Zk_HLoVbYex7OCNraAKe0/edit?usp=sharing

—
You are receiving this because you are subscribed to this thread.
Reply to this em

[2021-05-31 04:00] achetal01 commented on #635
I will like to contribute to this effort as well. Also agree with Emily we need to provide granular guidance on controls and specific details are important. High Level , generic set of controls leave it for interpretation by individuals.

One thought is that we need to map controls to threats as well... to build defense in depth and correlate which controls will mitigate against what threats.... A

[2021-05-31 05:23] ragashreeshekar commented on #546
+1
I can facilitate if the position is still available

[2021-05-31 06:24] ak-secops commented on #667
I'd like to be involved.

[2021-05-31 06:25] ragashreeshekar commented on #606
I'm happy to collaborate as well, Indian accent :D

[2021-05-31 09:44] magnologan commented on #635
Just an FYI that today is a holiday in the US and UK (Memorial Day and Spring Bank Holiday respectively) so a lot of people interested may not be able to participate.

[2021-05-31 09:46] magnologan commented on #450
Any plans to do this webinar? I can host the session and ask questions on CNCF Twitch if others are willing to participate.

@dcomas maybe we can talk about it on our podcast?

[2021-05-31 11:46] alexbarbato commented on #635
No worries. There will be more opportunities for people to participate in the future!

[2021-05-31 15:17] achetal01 commented on #572
I think this is an important initiative...

[2021-05-31 15:38] ultrasaurus commented on #478
For this to be a "project" we need a project lead and some one from leadership team to sponsor it.  Alternately, we could just make it a governance issue and label it "help wanted."  Though I do think it would be ideal, if someone could step up an itemize the set of things that need to get done, so we can add a checklist to the top and have someone on deck who will review PRs and make a call as to

[2021-05-31 20:37] ultrasaurus commented on #666
regarding question of leading first effort, I would suggest that we direct them to our (hopefully well-groomed) backlog and to look for projects that already have a TL/chair sponsor but lack a project lead, and then chime in on issue that they are interested and willing to participate as project lead.

[2021-05-31 20:44] ultrasaurus commented on #665
Can we try to complete documentation of current process before revamping it?  I think there are some cases where the process isn't being followed and other cases where maybe the process is not good or just not well-defined.

I suggest we start by trying to finalize https://github.com/cncf/tag-security/pull/545 -- in trying to review that, I realized there's quite a bit that was never written down

[2021-06-01 00:21] alexbarbato commented on #635
Had a great meeting tonight with @chughes29, @pratiklotia, @fkautz, and myself where we spoke about scope and way forward. Meeting notes and most all async collaboration exists in this google doc until something is PR'able - https://docs.google.com/document/d/10eY_ICglcI5HxYFwUNpEW9Zk_HLoVbYex7OCNraAKe0/edit#

NOTE: Most of the wording below is heavily stolen from @TheFoxAtWork's initial pass - ht

[2021-06-01 05:04] pragashj commented on #635
This is an awesome effort team! Nice work pulling this in @alexbarbato!
Few suggestions:
As @lumjjb pointed out, keeping scope is going to be important. I would also recommend in this case  "maintainer(s)" for the artifact, as things around the mapping will get stale real fast and/or new controls come up. One other thing to reduce staleness and improve adoption of this effort is to map this to lan

[2021-06-01 12:22] ultrasaurus commented on #631
fixed by https://github.com/cncf/tag-security/pull/644 -- thanks @himanshu007-creator

[2021-06-01 12:22] #631 closed

[2021-06-01 13:59] #621 closed

[2021-06-01 15:25] andrewkrug commented on #546
Hey folx.  Happy to help author on this paper.

[2021-06-01 16:54] TheFoxAtWork commented on #514
All checking in here to see how this is progressing, when will it be up for public comment review?

[2021-06-01 17:55] ashutosh-narkar commented on #568
Any more volunteers for this ? We can round-robin on this between the chairs/TLs and any other interested folks. Happy to create a sign-up sheet as well.

[2021-06-01 18:47] autodidaddict commented on #546
This looks like something I'd be interested in helping out with as well. Let me know how I can help.

[2021-06-01 19:06] #478 closed

[2021-06-01 19:44] thschue commented on #514
This started today. The PR is available here -> https://github.com/cncf/tag-app-delivery/pull/114, the current version -> https://github.com/cncf/tag-app-delivery/blob/public-comment/operator-wg/whitepaper/Operator-WhitePaper_v1-0.md

Thanks for your help!

[2021-06-01 20:02] evankanderson commented on #546
Rereading the [Serverless Whitepaper](https://github.com/cncf/wg-serverless/tree/master/whitepapers/serverless-overview) referenced above, it seems to have missed the rise of build and edge serverless platforms like [GitHub Actions](https://github.com/features/actions) (build), Netlify ([build](https://www.netlify.com/products/build/) and [edge handlers](https://www.netlify.com/products/edge/edge-

[2021-06-01 20:09] achetal01 opened #678 "Chaos Engineering Paper - App Delivery TAG looking for Security Contributors"
Description: App delivery TAG is working on a Chaos Engineering White paper and will like to have contribution from tag Security. This will be exciting piece of work and integration with App Delivery TAG.

Initiative is just starting and details can be found at : https://docs.google.com/document/d/10l262yuX_Zj8ht1pqKlSZAk4-KxY1tc-PaVmbqIsoDw/edit

Impact: Chaos Engineering still needs to build sec

[2021-06-01 20:09] TheFoxAtWork commented on #514
@thschue Sent to a broader audience via lists: https://lists.cncf.io/g/cncf-tag-security/topic/tag_app_delivery_operator/83242460?p=,,,20,0,0,0::recentpostdate%2Fsticky,,,20,2,0,83242460

[2021-06-01 20:27] achetal01 commented on #546
Hey Folks, Great to see that you all want to contribute and help with this Initiative. Please Join the Slack Channel : #serverless-security. If you have not already.

[2021-06-01 20:40] lumjjb opened #679 "Supply chain secure software factory reference architecture (Supply Chain Working Group)"
**Communications/Meetings for this issue**

A group meets up to discuss this issue as part of the Supply Chain Working Group. To keep in the loop of conversations, please join the slack channel: https://cloud-native.slack.com/archives/C01KL0B4LKC

**Description:**

Create a working group around an effort to create a reference architecture (backed by an open source implementation) of a Secure Softw

[2021-06-01 20:45] lumjjb commented on #679
Next steps for this issue is nomination of project leads as well as presenting this at a TAG meeting.

Tagging relevant members who may be interested in discussions/project leading.

@jonmuk @dlorenc @lhinds @bobcallaway

[2021-06-01 20:48] jonmuk commented on #679
Thanks Brandon, I’m in!

I see the next architecture stage as pivotal in the success of this work.
There is a lot of work out there already but I have yet to see a
consolidated end to end architecture. I’d be happy to throw out initial
thoughts on it

On Tue, 1 Jun 2021 at 21:46, Brandon Lum ***@***.***> wrote:

--
Best Regards

Jon

[2021-06-01 20:54] TheFoxAtWork commented on #679
Does this consider https://github.com/cncf/tag-security/issues/671 ?
Is the intent to have this be the scope/discussion of the Friday meetings given [the notes from this Friday past](https://cloud-native.slack.com/archives/C01KL0B4LKC/p1622216773028600)?

[2021-06-01 21:17] lumjjb commented on #679
It should be considered! This came out of a separate set of discussions from the implementors (some of which are not part of the original paper group). I do agree that this is a natural continuation of the supply chain working group.

[2021-06-02 01:15] lumjjb commented on #422
Looks like this issue has a fleeting interest, we will keep it open for now, but I think the next stale cycle, we would have to put it into the suggestion archive.

[2021-06-02 07:26] shibumi commented on #422
@lumjjb  Good decision. I guess, nobody likes a wall of bump messages :)

[2021-06-02 09:31] axelsimon commented on #679
Hi @lumjjb, as discussed adding myself here as i'd be interested in helping out on this too.

[2021-06-02 12:49] lumjjb commented on #422
haha we also have too many issues and triaging becomes a bit of a pain so closing issues is becoming a bit more of a consideration now

[2021-06-02 14:34] lumjjb commented on #440
There were recent changes in the DD process of a project, where it is now guided by the TOC sponsor, so the general flow of what happens is not quite defined yet, I think cloud custodian is the first project that is going through this right now.

[2021-06-02 15:20] priyawadhwa commented on #679
Hi @lumjjb -- I've been working on tekton chains & sigstore recently and would be interested in helping out as well!

[2021-06-02 15:59] bobcallaway commented on #679
@lumjjb I’m happy to assist as well.

[2021-06-02 16:48] benlaurie commented on #679
@lumjjb Me too!

[2021-06-02 16:55] laurentsimon commented on #679
@lumjjb please keep me in the loop too.

[2021-06-02 16:55] anvega commented on #671
This is useful feedback.

There are a number of planned companion resources to the paper. Of those companion resources, the first already published is the  [secure supply chain assessment document ](https://github.com/cncf/tag-security/blob/main/supply-chain-security/supply-chain-security-paper/secure-supply-chain-assessment.md).

The end goal of the workgroup behind the paper is to produce a fram

[2021-06-02 17:07] anvega commented on #679
This is a grand ambitious goal but well worth it.

As its been pointed out, the supply chain workgroup did contemplate for this work to be the follow on to the white paper.

There is a considerable amount of work necessary in order to realize this and we'll need to come up with the right architecture and strategy to get the work done, in addition to all the help that we can get.

[2021-06-02 17:18] hyakuhei commented on #678
Hello, I'd like to offer to help in some capacity, whether it's writing on security impact/challenges or as a security editor later in the process, reading through the recommendations and looking for security challenges in described practices.

[2021-06-02 17:22] pratiklotia commented on #678
I'd like to help as well.

[2021-06-02 17:28] jlk commented on #546
happy to help as well!

[2021-06-02 21:17] PushkarJ commented on #440
@lumjjb thanks for the update. Should we wait until security assessment on cloud custodian goes through and then document the process in terms of roles and responsibilities as described in the issue after the assessment is completed?

[2021-06-02 22:01] lumjjb commented on #679
Let's discuss this during Friday's supply chain wg meeting, since there's already ongoing discussions there around this. This will be posted in this slack channel https://cloud-native.slack.com/archives/C01KL0B4LKC

[2021-06-02 22:23] lumjjb commented on #440
yea that sounds like a good course of action!

[2021-06-02 23:20] nadgowdas commented on #679
I am working on few technologies in this area and happy to help as well.

[2021-06-02 23:32] nadgowdas commented on #546
Few thoughts on this:
1. Security for serverless was perceived differently than typical micro-service application, primarily because their runtime is limited (typically few seconds to single digit minutes). But, the idempotent nature of functions exposes them for similar attack vectors.

2. Its important to consider application of DevSecOps to functions. The CICD pipeline for functions would be di

[2021-06-02 23:37] magnologan commented on #546
A member of my team wrote a paper last year about some topics related to Security Considerations in Serverless Cloud Architectures. I might be relevant for this group and can be used as a reference too: https://www.trendmicro.com/vinfo/us/security/news/virtualization-and-cloud/shedding-light-on-security-considerations-in-serverless-cloud-architectures

[2021-06-03 01:29] ultrasaurus commented on #546
Hi @evankanderson !  You are absolutely correct that the Serverless Whitepaper is missing some newer tech.  I can't find a date on it, but the PDF was commited on Aug 27, 2018 and timeline that it includes only covers as far as 2017...

![image](https://user-images.githubusercontent.com/41906/120571827-c5da5980-c3cf-11eb-9d9e-6129dc2145e1.png)

Nonetheless, I think the key question is which, if an

[2021-06-03 01:59] evankanderson commented on #546
As a non-functions serverless vulnerability, the [Codecov bash uploader vulnerability](https://about.codecov.io/security-update/) may provide interesting lessons in terms of supply chain security and secrets management.

The ability to run third-party build functionality as part of a serverless CI/CD platform like GitHub Actions is an interesting attack surface, but may introduce too much breadth

[2021-06-03 02:42] lumjjb opened #683 "[Suggestion] Fix design README when new artwork is available"
Description:

Due to change in artwork, we have updated the files in the repo (https://github.com/cncf/tag-security/pull/682). However, there is still some outstanding artwork that needs to be added to repo, thus there are current missing links, this needs to be fixed when artwork becomes available.

Impact:

Fix repo broken links.

Scope:'

Not much, just a simple PR once the artwork is ready.

[2021-06-03 13:06] ak-secops commented on #546
I'd like to contribute to this whitepaper.

[2021-06-03 15:11] TheFoxAtWork opened #684 "Chair Transition Checklist"
* [X] Nomination
  * [X] TOC-liaison slack discussion/approval
  * [X] Cochair-TL meeting announcement
  * [X] TAG Security meeting announcement (should be all meetings)
  * [X] TOC email list official nomination
  * [X] #tag-security slack message with link with email nomination
  * [X] TOC meeting presentation
* [X] Vote - official count recorded by @amye https://lists.cncf.io/g/cncf-toc/message

[2021-06-03 15:34] TheFoxAtWork commented on #684
Youtube permissions should be set as follows:
* Chairs are owner
* TLs are Manager
* Chair emeritus becomes Manager

[2021-06-03 15:48] TheFoxAtWork commented on #684
Chair Emeritus continues with Tech lead permissions @lumjjb will submit PR.

[2021-06-04 15:19] lumjjb opened #686 "Figure out TAG meeting streaming"
Each TAG now has a youtube account which can stream the meetings (either for live streaming or as a way to "upload" to youtube). This process needs to be figured out and tested. This will probably become an additional task of the meeting facilitator.

[2021-06-04 15:20] lumjjb commented on #684
PR for Chair Emeritus role: https://github.com/cncf/tag-security/pull/685

[2021-06-04 15:42] TheFoxAtWork commented on #671
Reference architecture issue: https://github.com/cncf/tag-security/issues/679

Updating description to focus on assurance alignment in the checklist

[2021-06-04 16:00] laurentsimon commented on #679
when do you meet and how to join the call? I tried joining the Supply [Chain WG](https://www.cncf.io/calendar/) with no luck.

[2021-06-04 16:02] lumjjb commented on #679
@laurentsimon Sorry there was a hick-up with the calendar, the "correct" zoom link was in the slack channel. But we will share the meeting notes about this in a bit.

@anvega is going to send out a doodle poll to find a better time for everyone to help define the scope of the reference architecture and the project management aspects (meeting cadences, SW mgmt, GH project board, etc.).

[2021-06-04 16:12] TheFoxAtWork commented on #679
The CNCF calendar has also been updated with the correct Zoom meeting.

[2021-06-04 22:11] jlk opened #687 "TAG Security logo with transparent background doesn't look great in dark browser"
When browsing the TAG Security repo and viewing the main README.md in a browser running in "dark mode," the background color is dark, resulting in the TAG's logo being hard to read (screenshot below).

@lumjjb mentioned GitHub's tracking a potential fix for this at https://github.community/t/support-theme-context-for-images-in-light-vs-dark-mode/147981/23. Doesn't seem to be making progress, thoug

[2021-06-05 17:49] lumjjb commented on #684
Checking off Update code owners, github settings, README  with #688 and #689

[2021-06-05 17:52] lumjjb commented on #684
Checking off "choose new chair representatives for Security TAG on-going projects if needed". I believe this was resolved during the meeting, reflected in #688

[2021-06-05 19:52] alexbarbato commented on #635
I've added a new "Controls Catalog" -> "Schema" section with an attempt to make a schema by which we can make the initial controls catalog and evolve.

It is heavily inspired from @TheFoxAtWork's initial pass and I've tried to be quite opinionated so as to give people something to react to!

Please leave feedback in the form of comments or suggestions in the Google Doc. In the case that I've botch

[2021-06-08 00:50] alexbarbato commented on #635
Had another meeting tonight, thanks those that attended! Updates -

- Draft control set targeted for 15 July
- Goals for next week:
    - Review any feedback on the schema (Please review if you're interested and haven't already checked them out in the [google doc](https://docs.google.com/document/d/10eY_ICglcI5HxYFwUNpEW9Zk_HLoVbYex7OCNraAKe0/edit#))
    - @chughes29, @alexbarbato, @fkautz, @prati

[2021-06-08 03:19] lumjjb commented on #684
checked "chairs should have moderator role"  - addressed by service ticket
checked  "Service Desk access" - addressed by service ticket

[2021-06-08 03:43] bradmccoydev commented on #546
I would like to contribute to this!

[2021-06-08 20:07] lumjjb commented on #684
We've been added to the tag chairs mailing list, added an item in the list

[2021-06-08 20:16] pbaderia01 opened #692 "Security TAG Communities (Community Representative/Manager)"
**Description:** Foster a security focused community.

**Impact:** This will help new members/contributors get started with TAG-Security and can be a good place for them to get induced in TAG-Security and the community. This will also help us reach out to the people outside the community and create a central place where everything relating to the new developments in the domain, introductory videos

[2021-06-09 02:13] lumjjb commented on #692
This is an awesome initiative, I think with the growth of the community, having a role/ongoing set of such activities is going to help a ton! I would be interested in working together to scope this as well as relate this to some of the ongoing efforts to improve the new member experience (https://github.com/cncf/tag-security/issues/666).

I've updated the issue to list the TODOs according to TAG p

[2021-06-09 16:16] lumjjb commented on #447
Hey @magnologan ! How is this going? Any way that we can help out with this?

[2021-06-09 16:52] ak-secops commented on #635
I would like to contribute to this.

[2021-06-09 17:06] nadgowdas commented on #546
I would like to contribute to this !

[2021-06-09 17:24] knowlengr commented on #635
I am interested and can help with use cases for support of audit, assurance (because it's also "continuous") and metadata flow.  Also potential parallel thread with OSCAL.

[2021-06-09 17:31] chasemp commented on #110
Yep, seems like a great idea for discoverability and lots of stated points.

[2021-06-09 18:34] lumjjb commented on #110
I would like to see if we can create some alignment with the work around #551 , I think there could be possibly be a part of the same site as the CNSmap, https://cnsmap.vercel.app/

So maybe we could have Cloud Native Security Map be one section and have "Presentations" or other subsections in which everyone can contribute to. The current templating we have for the CNSmap is based on markdown, so

[2021-06-09 19:31] lumjjb opened #695 "[Suggestion] Cloud Native Security day should be reflected in the repo"
Description:

Cloud Native Security day should be reflected in the repo with links to the respective events as well as those that were involved to help make it happen.

Impact:

Allow those that are new to the group to gain visibility to activities that the group has done, and to get context and reach out to others if they are interested in a certain activity. As a subgoal to preserve knowledge in

[2021-06-09 19:36] lumjjb commented on #110
Updating the issue comment for freshness of issue state

[2021-06-09 19:45] lumjjb commented on #667
i'd like to help out with the CFP.

[2021-06-09 19:52] lumjjb commented on #639
I think this is going to be helpful with governance as well, being able to better match members to projects. Would also help the new member experience (https://github.com/cncf/tag-security/issues/666). This used to be done early days when meetings were small and we spent a good 15-30 mins having kind of like an introduction round at the start of every meeting, this could help fill that gap as the

[2021-06-09 22:37] rficcaglia commented on #635
@knowlengr see [ongoing OSCAL alignment](https://github.com/kubernetes-sigs/wg-policy-prototypes/issues/50) (narrowly scoped to k8s)

[2021-06-10 09:56] JonZeolla commented on #635
Am I too late to join the project team? Looking to contribute and the existing meeting time works well for me

[2021-06-10 16:08] rficcaglia commented on #639
one thought was maybe just github API for user gists and users voluntarily add a gist for their skills in some agreed upon format rather than some file in the TAG repo that we have to manage and will change too frequently.

only downside I see is that I don't think you can label gists so it would have to be an agreed upon filename convention like:
cncf-tag-security-skills.json

so when we pull via

[2021-06-10 18:22] fkautz commented on #546
If any of these topics are in scope, please include me:

* SPIFFE integration
* Zero Trust
* Supply Chain Defense

[2021-06-10 19:34] alexbarbato commented on #635
@ak-secops @knowlengr @JonZeolla - Thanks for wanting to help!
You're definitely not too late and we meet Monday nights at 8PM EST

For now, we are reviewing the initial schema for generating the initial controls list. Can be found [here](https://docs.google.com/document/d/10eY_ICglcI5HxYFwUNpEW9Zk_HLoVbYex7OCNraAKe0/edit#)

Also, hopefully we aren't doing anything in parallel to OSCAL as it's not

[2021-06-11 00:15] pbaderia01 commented on #692
Hey @danpopSD

Regarding the co-located event, I meant format similar to Cloud native Security Day only. At the time of writing GitOpsCon came to mind so mentioned that for reference in the issue (somehow Cloud native security day slipped my mind).

Regional security days sound great too, do you mean something similar to [KCD](https://github.com/cncf/kubernetes-community-days)?

[2021-06-11 00:21] danpopSD commented on #692
yes.   localized CTF's and guest speakers etc.

[2021-06-11 00:31] pbaderia01 commented on #692
That sounds great! Added to the scope!

[2021-06-11 13:51] lumjjb commented on #692
Thanks @pbaderia01 and @danpopSD for all these great ideas. This is definitely a very big scope :), I am going to take a stab at breaking this down into a few sub categories, which we can translate to direct actionable items.

### Education (perhaps as part of microsite/youtube channel)

This would be awesome - and to be able to add that to our TAG youtube channel as a playlist would be great. I a

[2021-06-12 01:38] jnswindle opened #697 "[Presentation] Presentation Title"
Title: What is the title of your presentation?

Speakers: Who will be presenting this? List names/github IDs of presenters.

Description: Describe in a short paragraph what the presentation is about.

Time: How long will the presentation take? (estimate)

Availability: What is the availability times of the speakers to present the topic? Meeting times are listed on the landing page.

TO DO
- [ ] TA

[2021-06-12 01:41] jnswindle opened #698 "[Security Review] Project Name"
Project Name:

Github URL:

CNCF project stage and issue (NA if not applicable):

Security Provider: yes/no (e.g. Is the primary function of the project to support the security of an integrating system?)

- [ ] Identify team
   - [ ] Project security lead
   - [ ] Lead security reviewer
   - [ ] 1 or more additional reviewer(s)
   - [ ] Every reviewer has read [security reviewer guidelines](https:

[2021-06-12 14:16] lumjjb commented on #698
Empty issue template. closing...

[2021-06-12 14:16] #698 closed

[2021-06-12 14:16] lumjjb commented on #697
Empty issue template. closing...

[2021-06-12 14:16] #697 closed

[2021-06-12 14:18] lumjjb commented on #692
Next step for this issue is to present it to the community, current planning for this to be presented at the APAC and Wednesday weekly meeting on the 21st and 23rd respectively.

[2021-06-13 18:59] ragashreeshekar commented on #692
Sounds good to me.
I can volunteer to co-lead, may need a lot of help to begin with.

[2021-06-14 19:44] lumjjb commented on #311
Related

#706
#705
#704

[2021-06-15 00:23] alexbarbato commented on #635
**Another update:**
Schema finalized in the google doc. I'll make a Google Sheet for people to collaborate on the initial control set from (I'll port over Emily's existing work) - I plan to have this done tomorrow (June 15)

From there, people should feel free to review whichever STAG paper they'd like and start adding controls per the schema + comment/review as desired.

Goal is to have an initia

[2021-06-15 21:43] amye commented on #551
Hi all,
checking in on status here!

[2021-06-16 13:35] alexbarbato commented on #635
I've created the initial controls list port (very poorly done, but it's a start). I've got the Google Sheet set up and will send to the contributors that have hopped in so far.

DM me on Slack please if you'd like the link :)

[2021-06-16 15:42] magnologan commented on #447
Hi @lumjjb sorry, I missed this, since the isn't assigned to me I forgot to follow up here. I'll submit a PR this week with the suggestions above. Do you mind assigning this to me just to make sure I don't forget? Thank you!

[2021-06-16 16:58] tegrekara commented on #635
I'd like to contribute

[2021-06-16 19:47] tegrekara commented on #449
Interested

[2021-06-17 13:19] lumjjb commented on #551
Hey @amye , this is going to be wrapped up within a week! Will ping back once we are good to go.

[2021-06-19 13:31] ragashreeshekar commented on #546
Hello folks!
Thanks for your support @pbaderia01 @magnologan @JonZeolla @autodidaddict @jlk @nadgowdas @evankanderson
@ak-secops @bradmccoydev  @fkautz @damodar-anthem.

@hashishrajan @andrewkrug and I will be co-leading this paper. We will be reaching out to you shortly on the next steps in this regard. We will be collaborating on the CNCF Slack #tag-security-serverless, please join the same.

[2021-06-20 13:28] lumjjb commented on #413
Hi @knowlengr! Would you be able to share about this with the group sometime?

[2021-06-20 13:29] lumjjb commented on #447
Ok - assigned now :). Looking forward to the PR!

[2021-06-20 13:31] lumjjb commented on #445
Hey @itaysk and @RonVider ! How have you been? By any chance would you like to revive this issue? :)

[2021-06-21 17:36] lumjjb commented on #551
Hi @amye we are ready for the design team! The current version is running at https://cnsmap.vercel.app/

[2021-06-21 19:13] lumjjb commented on #307
@kapilt, @rficcaglia this is probably the next security assessment in the queue, what is the outlook like on this for availability for assessment as well as the current status of incubation recommendations?

CC: @IAXES @ashutosh-narkar

[2021-06-21 20:42] sunstonesecure-robert commented on #307
@lumjjb we had 2 sets of volunteers ready to go for the 2 prior attempts but most of these have dispersed.

Back in May on the TAG call the consensus was to hold based on incubation status and @TheFoxAtWork requested @kapilt to give a second presentation to the TAG.

 @chasemp might still be available?

Personally I can be available second week of July to pick up again if we do get the go.

If Cha

[2021-06-21 23:40] amye commented on #551
Excellent! I've updated the internal ticket on our end.

[2021-06-22 00:31] alexbarbato commented on #635
Meeting recap!

Next week (Jun 28) we will discuss how we might want to iterate on this initial controls list. (Mappings? More specificity? etc.)
This week, big item is to review the controls from both papers that @TheFoxAtWork has so graciously worked on and add/edit any that may have been missed.

[2021-06-22 08:36] ragashreeshekar commented on #546
Gentle reminder.
Please join the CNCF Slack #tag-security-serverless if you haven't already, and join the conversation!
Reach out to @hashishrajan @andrewkrug or me to proceed further.
We will reach out with possible slots for a syncup and take this topic further.

[2021-06-22 21:04] PushkarJ commented on #480
Since the survey is now closed, we compiled the initial results in this draft PR: https://github.com/cncf/surveys/pull/34

Suggestions, comments, edits are welcome!!

[2021-06-23 04:49] ragashreeshekar commented on #546
Greetings!

Thank you for your interest in contributing to the CNCF TAG-Security Serverless Security Whitepaper. We're scheduling sometime to connect with you folks and discuss the outline of the paper, the expected timelines, map contributors to the content sections and kickoff the whitepaper development. We look forward to working with you! Cheers.

Meeting details.
CNCF TAG-Security Serverless

[2021-06-23 05:46] bradmccoydev commented on #546
Hey @ragashreeshekar can you please specify the timezone for the meeting on Sunday above, Thanks Brad

[2021-06-23 05:53] ragashreeshekar commented on #546
Thanks @bradmccoydev for this, very helpful, the comment is now updated.

[2021-06-23 17:16] yannizhang2019 commented on #307
@lumjjb @sunstonesecure-robert I will be glad to help.

[2021-06-23 17:17] jlk commented on #307
I haven't done a tag-security review yet, but would love to help out. In a previous life I did this professionally...

[2021-06-23 17:20] kapilt commented on #307
@lumjjb we've got two folks on the project side to help out @castrojo @liz-acosta re assessment needs .. i'm happy to do a TAG presentation again.

@yannizhang2019 @jlk  thanks for volunteering :+1:

[2021-06-23 17:28] fkautz opened #713 "[Suggestion] SBOM Collaboration"
Description: it will be good to work with other organizations to build consensus on CNCF SBOM guidelines and support tooling.

Will fill out more details here soon. (Currently mobile)

[2021-06-23 17:56] ashutosh-narkar commented on #667
Happy to help review CFPs.

[2021-06-23 17:58] nadgowdas commented on #667
I'd like to be involved.

[2021-06-23 18:09] anvega commented on #667
We have several updates from CNCF Events to share with you that will impact the planning for Cloud Native Security Conference. Please see below for a health and safety update, sponsor sales launch, + confirmed event date & estimated room sizes.

1. Proof of full COVID-19 vaccination will be required to attend KubeCon + CloudNativeCon North America 2021 & co-located events in person in Los Angeles.

[2021-06-23 18:12] achetal01 commented on #679
I will like to contribute to the Architecture Effort for Supply chain security

[2021-06-23 18:13] lumjjb commented on #713
Great discussions on this today, I think a good next step is to have one of the weekly meetings be a presentation followed by a discussion, and we can advertise this discussion meeting a bit more broadly to other communities as well. If 1 or 2 folks want to volunteer to put together some slides that the discussion can be around, that would be perfect!

Tagging other participants on the call

@knew

[2021-06-23 18:18] lumjjb opened #714 "[Presentation] CurieFense Sandbox Project"
Title: What is the title of your presentation?

CurieFense

Speakers: TBD

Description:

Curiefense is a new CNCF Sandbox Security project.

Curiefense protects all forms of web traffic, services, and APIs. It includes bot management, WAF, application-layer DDoS protection, session profiling, advanced rate limiting, and much more.

Time: How long will the presentation take? (estimate)

Availabilit

[2021-06-23 18:20] lumjjb commented on #714
Hi @tzuryby @xavier-rbz @phil777! Would be great if you could share with the CNCF Security TAG about the sandbox project and have some discussions around it!

Would you be willing to spend some time and give a presentation during one of the weekly calls?

[2021-06-23 18:23] nadgowdas commented on #713
thanks @lumjjb that sounds good, I can volunteer to some slides together for discussion.

[2021-06-23 19:17] ak-secops commented on #307
I would like to be involved as a shadow resource as I have not been a part of any earlier assessments... I would to get involved and learn more about assessment processes.

[2021-06-23 19:38] fabolive opened #715 "[Presentation] Shift-left Automatic Generation of Network Policies"
Title:  Shift-left Automatic Generation of Network Policies

Speakers: Ziv Nevo (@zivnevo); Fabio Oliveira (@fabolive)

Description: This presentation looks at the problem of simplifying the experience of creating K8s NetworkPolicies for zero-trust environments. Recognizing how hard it is for users to create and manage K8s NetworkPolicies to enable just the right amount of connectivity (not more o

[2021-06-24 01:04] JimBugwadia opened #716 "[Presentation] Kyverno Overview and Demo"
Title: **Kyverno Overview and Demo** ([slides](https://docs.google.com/presentation/d/1-s7r13Ko33JZKQrFtSdgAwV1I2HFTLIs/edit#slide=id.p1))

Speakers: @JimBugwadia

Description:

An overview of Kyverno with a demonstration of key use cases it addresses.

Time: How long will the presentation take?

15-30 mins

Availability: What is the availability times of the speakers to present the topic? Meeting

[2021-06-24 05:22] achetal01 commented on #667
I will like to help as well.
Thanks

[2021-06-24 14:03] chasemp commented on #606
Getting the wheels turning here.  In the tag-security-audio channel is a document linked and a doodle poll for a kickoff meeting for those interested.

[2021-06-24 15:23] nadgowdas commented on #713
I recently published a blog around this topic: https://nadgowdas.github.io/blog/2021/trust-sbom/
Welcome everyone's feedback:)

[2021-06-24 18:11] redbmk commented on #546
Hi, I'm interested in learning more and seeing where I can contribute. I'm hoping to join the call this weekend and just hopped in the slack channel

[2021-06-25 01:48] jlk commented on #546
I won't be able to attend that meeting, pretty much ever.

From my experience working with India, us westerners tend to work less on weekends but save them for time with family. I'll sometimes do Monday morning IST meetings, but Friday/Saturday nights are personally no-go.

Will try to follow meeting notes and slack convos and help out where I can.

[2021-06-25 03:46] ragashreeshekar commented on #546
Thanks @jlk for your feedback.
Point well noted. We are very much flexible on the time zones and logistics, idea was to start at some point, improve continuously based on the feedback and inputs we receive. We we bring this point in the meeting and agree upon a suitable timeline considering this is a team efforts from folks across the globe. Also, the meeting minutes will be recorded and shared.

[2021-06-25 14:55] lumjjb commented on #716
Awesome Thanks @JimBugwadia , i've put you down for the 30th of June! Looking forward to this presentation!

[2021-06-25 15:06] lumjjb commented on #692
Awesome @ragashreeshekar ! We'll try and get 1 or 2 more on board , and we can kick start this!

[2021-06-25 18:17] #601 closed

[2021-06-25 20:07] achetal01 commented on #546
Project Leads for this effort are Ragashree, Andrew Krug and Ashish. Initial meeting has been setup for Saturday 6/26/21

[2021-06-25 20:08] TheFoxAtWork commented on #502
this should be checked against D3fend which was just launched with Mitre. https://d3fend.mitre.org/

[2021-06-25 20:25] TheFoxAtWork commented on #440
This should be placed on hold until we have the next one that comes to us.

[2021-06-26 00:13] achetal01 commented on #502
https://www.nsa.gov/news-features/press-room/Article/2665993/nsa-funds-development-release-of-d3fend/

[2021-06-26 10:32] bradmccoydev commented on #546
@achetal01 please use a timezone where referring to days and dates

[2021-06-26 14:53] IAXES commented on #695
Is there a specific pattern to the issues we should be looking for and adding to the collection in the resulting `.md` file (i.e. issues containing `[ASSESSMENT]`, `RFC`, `Event` or something like that in the title)?

[2021-06-26 15:18] lirantal commented on #561
Has this issue been superseded by another, or still relevant as its own to document all the tools and proejcts?

[2021-06-26 17:09] lumjjb commented on #561
There is a larger scoped effort ongoing for this at #551 which covers other areas as well. If you'd like to get involved, I'd take a look at that.

[2021-06-26 17:13] lumjjb commented on #695
Probably easiest way is to look for past closed issues as well as the slack
channel #tag-security-events . I'd start with those. And also looking at
past kubecon colo listings within the past 2 years.

On Sat, Jun 26, 2021, 10:53 AM Matthew Giassa ***@***.***>
wrote:

[2021-06-26 18:56] lirantal commented on #561
Thanks, will do

[2021-06-28 18:22] lumjjb commented on #576
Hi @krol3 , what is the current status on this work?

[2021-06-28 18:23] lumjjb commented on #509
Hi @magnologan , what is the status of this - how far into this are we?

[2021-06-28 18:24] lumjjb commented on #447
Checking back on this @magnologan

[2021-06-28 20:20] #638 closed

[2021-06-29 03:54] ejazr83 commented on #606
I am happy to voice as well or support in other ways. Is it worth doing some sample recordings so that we can choose who can do the recordings based on different criteria? I am available aligned to Sydney time.

[2021-06-29 04:25] krol3 commented on #576
Hi @lumjjb ! The status is almost a 9% of translations. I will put more effort with the contributors and I will return in 15 days to update the status. Is that ok?

[2021-06-29 13:57] lumjjb commented on #576
Sounds good! Looking forward to your update!

[2021-06-30 14:48] JimBugwadia commented on #716
@lumjjb apologies for the late notice, but can we please try for Jul 7th instead?

[2021-06-30 14:56] lumjjb commented on #716
Yes, certainly, moving this to July 7th

[2021-06-30 18:12] lumjjb commented on #362
@cseader Is there still interest in trying to pursue this?

[2021-06-30 18:16] TheFoxAtWork commented on #665
create a Roadmap label (for things on the roadmap) and a TOC label (for things that are TOC asks or reported to the TOC)

[2021-06-30 18:20] TheFoxAtWork commented on #715
@fabolive if you have some slides would you slack/link them to me so i can review prior to the presentation?

[2021-06-30 18:24] TheFoxAtWork commented on #683
@lumjjb are there specific links that are broken where the artwork should be?

[2021-06-30 18:25] TheFoxAtWork commented on #683
related #717

[2021-06-30 18:26] TheFoxAtWork commented on #678
@hyakuhei @pratiklotia Have you been hooked into this yet?  if so how is it going?

[2021-06-30 18:33] TheFoxAtWork commented on #609
related to this particular file: https://github.com/cncf/tag-security/blob/main/governance/process.md

[2021-06-30 18:40] TheFoxAtWork commented on #665
Proposal template should include a checkbox for the submitter to indicate their willingness to be the project lead.

If the checkbox is not completed when the proposal is submitted, then during Triage it is downgraded to a suggestion.

The proposal template should also be updated to include a checklist of the items called out in #609

[2021-06-30 18:45] TheFoxAtWork commented on #665
Triage meetings are to be bi-weekly.  We'd like a non-STAG leadership person lead this.  that lead gets push access to edit issues, etc. with an assigned STAG leader to assist initially.

[2021-06-30 19:39] ultrasaurus commented on #665
We ended up deciding to merge triage meeting into every-other-week working session, and @TheFoxAtWork edited [meeting template](https://docs.google.com/document/d/154LzGkwudCj413ZVwPfw96QZAHaptvTDopHGKCiQ8gw/edit#heading=h.xuyh3ba3raf4) with what was discussed in the meeting

[2021-06-30 19:42] ultrasaurus commented on #665
per conversation at the meeting, changed to suggestion, but maybe I should have asked first... anyone want to lead this effort?

[2021-06-30 20:12] TheFoxAtWork commented on #716
So excited to see a project from the Security Pals effort present!

[2021-06-30 20:38] lumjjb commented on #715
Swapping with @TheFoxAtWork for other presentation TAG rep because of conflict with Kyverno presentation (https://github.com/cncf/tag-security/issues/716)

[2021-06-30 20:39] lumjjb commented on #715
@fabolive due to scheduling, are you able to make the presentation on 21st July instead?

[2021-06-30 20:40] lumjjb commented on #715
@TheFoxAtWork , @fabolive sent me the slides and I have reviewed slides for the presentation.

[2021-06-30 22:55] ultrasaurus commented on #655
completed!

[2021-06-30 22:55] #655 closed

[2021-06-30 22:55] ultrasaurus commented on #684
this looks complete -- @TheFoxAtWork @lumjjb anything left to do?

[2021-06-30 22:56] TheFoxAtWork commented on #684
The TOC pr needs merged in unless the outstanding PR is good enough?

[2021-06-30 23:48] ultrasaurus commented on #311
https://github.com/cncf/tag-security/pull/720#issuecomment-871797352

Seems like spell-checker is having trouble with CamelCase acronyms and maybe a word inside a link?

[2021-07-01 00:14] JohnHillegass commented on #311
Resolved via https://github.com/cncf/tag-security/pull/721

[2021-07-01 01:02] ultrasaurus commented on #311
note: fixed https://github.com/cncf/tag-security/pull/720 with HTML-style comment in the markdown to tell cSpell to ignore those specific cases

thanks @JohnHillegass for pointing out:
https://github.com/streetsidesoftware/cspell/tree/main/packages/cspell#in-document-settings

we should add this trick to documentation somewhere

[2021-07-01 16:08] th3w4y commented on #679
@TheFoxAtWork

Attended today's TAG-Security Supply Chain -WG, thank you, I do appreciate all the work I see being done so far, and I would also like to contribute.

[2021-07-01 16:17] achetal01 commented on #678
Please Join the slack channel, so you can get the regular updates etc.

[2021-07-01 19:39] ultrasaurus commented on #311
Trying to fix it so README passes lint, I found spelling lint error that has no message (that I can see):

[code]
see pull request: https://github.com/cncf/tag-security/pull/723

[2021-07-01 21:29] ultrasaurus commented on #311
It looks like the issue may be with renaming a file:
[code]

maybe we should do this:
[code]

[2021-07-01 21:37] ultrasaurus commented on #311
That seems to have fixed it https://github.com/cncf/tag-security/pull/723 -- would be great if there were some way to spit out something more verbose in the case of an error like above

[2021-07-01 21:40] ultrasaurus commented on #311
added `- [ ] fix spelling errors in main branch`

there aren't that many and seems like it might require some advanced knowledge to address them

Also, I believe this is currently blocking PRs.  Should it still be warning till we fixup main?

[2021-07-01 21:50] ultrasaurus opened #724 "[Suggestion] provide suggested fix for cSpell errors"
Description: add helpful error message for spelling lint errors

Impact: speed up PR review/resolution by teaching contributors to fish!

Scope: I would expect it to take a few hours for someone with pretty good bash skills

Additional info:
- https://github.com/cncf/tag-security/issues/311

Suggestion:  suppose the linter caught "darkmode" and "foobar" then we could include a message like:

[code

[2021-07-02 03:00] ultrasaurus commented on #311
There's been a request for commenting the spell check config file.  I believe we can't do that in json, but could consider making a text file for the words to add to the dictionary that is converted to json in the script

see https://github.com/cncf/tag-security/pull/723#discussion_r662654525

[2021-07-02 14:40] #528 closed

[2021-07-02 14:42] TheFoxAtWork commented on #480
@PushkarJ What are the next steps for this?

[2021-07-02 16:54] ultrasaurus commented on #684
I just ping'd @amye via slack on the PR merge -- would be good to check all the boxes before closing this :)

[2021-07-02 16:54] PushkarJ commented on #480
I think the last two points in the original post, still seem valid next steps.

Discuss which insights could be used on improving next version of whitepaper
Identify a contributor who will take ownership to ensure the agreed upon insights are accounted for in next version of whitepaper

We have a chance to discuss this in our July 14th meeting and then based on that I can take ownership on the upd

[2021-07-02 16:56] ultrasaurus commented on #684
All items now checked off!

[2021-07-02 16:56] #684 closed

[2021-07-02 17:10] ultrasaurus opened #726 "[Suggestion] Improvements to CONTRIBUTING guide"
Description: there are a number of ideas/needs scattered across different issues, let's look at this holistically and see what's needed

Impact: increase contributions by reducing friction get started for new contributors and help experienced contributors follow new processes

Scope: 4-12 hours spread across a few people (creating PRs, reviewing) which should happen over at least a week for approp

[2021-07-02 19:34] jlk commented on #612
OSSF released v2 of their [security scorecard project](https://github.com/ossf/scorecard). Looks interesting, although the end user has to run a scan, vs the nutrition label idea that the project announce it's status.

[2021-07-02 22:55] ultrasaurus commented on #311
another Error 123 on different PR https://github.com/cncf/tag-security/pull/725

I rebased on top of my other fix to confirm it was in-fact a different error (as seemed to be the case from visual inspection of the PR contents).  Error still happened, as expected.

Running locally, I added `set -euo pipefail` so the script would error early, if applicable, which helped.  Then with `set -x` to echo

[2021-07-03 00:46] JohnHillegass commented on #311
So I think where this is messing up is we excluded that whole `.github` dir from cspell execution but grep is seeing markdown files changed there and passing forward to xargs. Since the first arg is not empty xargs is taking it and passing to cspell. Cspell since its been told to skip that path, returns a non-zero code and xargs throws the 123. Changing like above handles this case. To fix we will

[2021-07-03 00:47] JohnHillegass commented on #311
not so sure about the 128 output above, did you possibly change your ssh keys recently?

[2021-07-03 01:21] ultrasaurus commented on #311
Oh, I'll bet that the `set -euo pipefail` causes it to error, not just warn on the previously existing issue with my keys.  That's unfortunate.

Does cspell have any kind of verbose error reporting we could turn on?

[2021-07-07 12:34] fabolive commented on #715
Hi @lumjjb. Yes, July 21st works for us.

[2021-07-07 12:35] fabolive commented on #715
@TheFoxAtWork: I will send you the slides shortly.

[2021-07-07 16:03] TheFoxAtWork commented on #716
@JimBugwadia @jlk - reminder to post the link to the slides in the issue comments :)

[2021-07-07 16:19] JimBugwadia commented on #716
Here are the slides:

   https://docs.google.com/presentation/d/1-s7r13Ko33JZKQrFtSdgAwV1I2HFTLIs/edit#slide=id.p1

[2021-07-07 16:23] jlk commented on #716
Looks good. I think emily's looking for that link in the GH issue for the
talk. :)

On Wed, Jul 7, 2021 at 9:19 AM Jim Bugwadia ***@***.***>
wrote:

[2021-07-07 16:28] rficcaglia commented on #307
hi all! to those who have commented and want to be involved please email me at rficcaglia@gmail.com so I can add you to a Doodle where we can try to schedule a kick-off.  Also join the #sec-assessment-custodian CNCF slack channel if you haven't already and I'll post the calendar date(s) there! thanks!

[2021-07-07 17:11] TheFoxAtWork commented on #307
Dropping this _very late_ but just in case i am needed, it is here.

Hard conflicts:
Reviewer is a maintainer of the project - No
Reviewer is a direct report of/to a maintainer of the project - No
Reviewer is paid to work on the project - No
Reviewer has significant financial interest directly tied to success of the project - No

Soft conflicts:
Reviewer belongs to the same company/organization of

[2021-07-07 17:17] jlk commented on #307
one more -

as reviewer here is my conflict declaration:

Hard conflicts:
Reviewer is a maintainer of the project - NO
Reviewer is a direct report of/to a maintainer of the project - NO
Reviewer is paid to work on the project -NO
Reviewer has significant financial interest directly tied to success of the project - NO

Soft conflicts:
Reviewer belongs to the same company/organization of the project

[2021-07-07 18:00] raesene opened #731 "[Proposal] Kubernetes Admission Controller Threat Model"
---
name: Kubernetes Admission Controller Threat Model
about: A document which would look at the likely threats which apply to Kubernetes admission controllers
title: "[Proposal] Kubernetes Admission Controller Threat Model"
labels: "proposal, triage-required"
assignees: ''

---

Description: Kubernetes Admission Controller Threat Model. A document which would look at the likely threats which appl

[2021-07-07 18:21] PushkarJ commented on #731
+1 happy to help out here

[2021-07-07 19:39] savitharaghunathan commented on #731
I am interested in helping out. Are there any prerequisites in terms of knowledge and skills?

[2021-07-07 20:55] JimBugwadia commented on #731
+1 - me too! I am interested in contributing and helping out.

[2021-07-07 21:58] annabellegoth2boss commented on #183
@justaugustus Any questions about the guide or other things I can answer?

[2021-07-08 13:21] TheFoxAtWork commented on #183
@annabellegoth2boss this actually came up during a presentation in yesterday's meeting.  CC: @jlk

I'm going to try to spend some time on this in the next week or so.  See if i can drag another member into this as a small project.

[2021-07-08 13:33] TheFoxAtWork commented on #726
recommend linking to the copyright information from the CNCF:
https://github.com/cncf/foundation/blob/master/copyright-notices.md

[2021-07-08 13:43] lumjjb commented on #665
@chasemp i know you expressed some interest in this before, is this something that you'd like to be a lead on?

[2021-07-08 14:44] TheFoxAtWork commented on #240
@knowlengr
In an effort to refocus on work of the group, we are reviewing all open proposals to determine any existing constraints on the work.
As a reminder - proposals should be submitted when the author is intending to be the project lead.  Suggestions are ideal when the author does not intend to lead the project if accepted.

Do you intend to lead this as a project if accepted?

If no response

[2021-07-08 14:53] TheFoxAtWork commented on #292
This already exists on the CNCF TOC site.  I recommend closing this issue in favor of linking to the CNCF TOC listing.
https://github.com/cncf/toc/blob/main/docs/projects.md#project-security-audits

[2021-07-08 15:04] knowlengr commented on #240
Ack'd. I will contact that WG to see if a spokesperson can be made available for a short preso.  Was planning to do this myself, but that was awhile ago. OK to deactivate this if 30 days if no response in this thread, and/or I will do so myself.

[2021-07-08 17:02] TheFoxAtWork commented on #292
PR #732 resolves this issue

[2021-07-08 17:06] #470 closed

[2021-07-08 17:07] TheFoxAtWork commented on #470
Closing as resolved with #471

[2021-07-08 17:08] TheFoxAtWork commented on #495
@PushkarJ do you think this issue is overcome by the survey and the topic resolution from the survey? CC @lumjjb @achetal01

[2021-07-08 17:09] TheFoxAtWork commented on #568
@IAXES you're doing this as well correct?

[2021-07-08 17:58] PushkarJ commented on #495
@TheFoxAtWork yes agree. I think the last two pending action items on #480 and the ongoing work such as supply chain security, serverless security whitepapers and security map covers the intent and scope of the issue already.

[2021-07-08 18:54] achetal01 commented on #568
I will be happy to support the TOC meetings ...
Thanks

[2021-07-08 23:35] ashutosh-narkar commented on #568
I propose we add a topic to the meeting agenda template called `TOC meeting update` (or something else) and whoever attends the TOC call can fill-in that section and also provide a live update during the call if they're available.

[2021-07-09 01:57] IAXES commented on #568
Correct. :)

[2021-07-09 15:00] lumjjb commented on #716
Closing this! Thanks for the presentation @JimBugwadia

[2021-07-09 15:00] #716 closed

[2021-07-09 15:13] TheFoxAtWork commented on #568
@ashutosh-narkar Added!

Is it worthwhile to close this issue upon listing TOC attendees in the repo as a new role?  or do folks feel that isnt necessary?

[2021-07-09 15:45] lumjjb commented on #731
I'm wondering if this is more in scope for k8s SIG-Security. Could be treated as an collaborative effort with a [related group](https://github.com/cncf/tag-security/tree/main/governance/related-groups

Since this is very specific to Kubernetes. @PushkarJ @IanColdwater, @tabbysable

[2021-07-09 16:17] PushkarJ commented on #731
@lumjjb 100% agree. I know Rory, Savitha are also active contributors to k8s sig-security, so sounds like we already have the right people in the conversation :)

@raesene you probably know this already, but for context, we are doing a pilot exercise similar to what you are proposing but it is scoped only to cluster api. This is where we are tracking this effort: https://github.com/cncf/tag-securi

[2021-07-09 18:52] TheFoxAtWork commented on #495
closing as OBE in favor of #480

[2021-07-09 18:52] #495 closed

[2021-07-09 19:08] chasemp commented on #606
Kickoff meeting was today, if you're interested in taking part please get in the slack channel and see the [doc](https://docs.google.com/document/d/15wU_qKe-ifCIkICXbMmpGK3t8yE3zqYZIoROafZWBpA/edit?usp=sharing).

[2021-07-09 22:13] ashutosh-narkar commented on #568
Thanks for updating the template @TheFoxAtWork ! I like the idea of a `TOC attendee` role.

[2021-07-10 03:32] rficcaglia commented on #307
/assign @lumjjb

[2021-07-10 03:55] IAXES commented on #307
Hard conflicts:
Reviewer is a maintainer of the project - NO
Reviewer is a direct report of/to a maintainer of the project - NO
Reviewer is paid to work on the project -NO
Reviewer has significant financial interest directly tied to success of the project - NO

Soft conflicts:

Reviewer belongs to the same company/organization of the project, but does not work on the project - NO
Reviewer uses the

[2021-07-10 08:58] raesene commented on #731
@lumjjb @PushkarJ  yeah I think the exact location is an interesting point. Admission control applies to Kubernetes, but the projects involved are not part of core. Happy to have the conversation about where we feel it best fits :)

[2021-07-10 19:40] rficcaglia commented on #731
I had added a (very high level) section for threat modeling in the google doc posted here
https://github.com/kubernetes/community/issues/5814

so that it is included in all sub-project reviews/assessments in the future - very happy to cross-pollinate and make sure we incorporate examples from this effort (and vice versa)

[2021-07-10 19:41] rficcaglia commented on #603
latest activity - not sure if this gets automatically cross-tracked by github so this might be superfluous

https://github.com/kubernetes/community/issues/5814#issuecomment-877692924

[2021-07-12 17:52] sunstonesecure-robert commented on #307
Hi All! So the Doodle poll best option was tomorrow (Tues) Jul 13 7:00 AM- 7:30 AM Pacific...unfortunately not everyone could make it, but, the next best option was the 7:30AM-8AM Pacific slot so I will stay on the line for the full hour and merge in everyone's feedback.  [Join the usual TAG zoom](https://zoom.us/my/cncftagsecurity?pwd=VkxmTjJ6TDVHK29Qb2tQakE4SitWZz09)

[2021-07-13 00:55] ultrasaurus commented on #606
FYI -- we now have a [shared Google Drive folder](https://drive.google.com/drive/u/0/folders/1a7WT3KINTj0WbLof26yyLJnOQocqejCq) -- @chasemp will be sharing with people doing recording and production.

[2021-07-13 01:02] ashutosh-narkar commented on #616
This content is already in. See [this](https://cnsmap.vercel.app/compliance) more information.

[2021-07-13 01:02] #616 closed

[2021-07-13 09:53] justincormack commented on #606
Happy to help with recording.

[2021-07-14 13:51] lumjjb commented on #551
Hi @amye, any word from design team yet?

[2021-07-14 14:26] TheFoxAtWork commented on #635
Folks - due to time constraints and commitments, Chris and Alex will be taking a back seat and Jon has volunteered to step in as project lead to continue this.  Thanks everyone!

[2021-07-14 14:40] lumjjb commented on #20
Addressed by Cloud Native Security Whitepaper  https://github.com/cncf/tag-security/tree/main/security-whitepaper

[2021-07-14 14:40] #20 closed

[2021-07-14 14:43] lumjjb commented on #109
I believe there is a survey that is currently being drafted for cloud native security by CNCF from Katie Meinders.

[2021-07-14 14:45] lumjjb commented on #152
There is some text in https://github.com/cncf/tag-security/blob/main/assessments/intake-process.md for this, is this sufficient for now?

[2021-07-14 15:21] amye commented on #551
@lumjjb: I'll make sure they know that

[2021-07-14 17:33] raesene commented on #551
A couple of quick questions on this one. Is there a good way to add tools to sections? Also is there a focus on just Open source tools or are commercial tools being listed as well?

[2021-07-14 18:13] lumjjb commented on #724
Another instance to consider: https://github.com/cncf/tag-security/pull/717

[2021-07-14 18:29] lumjjb commented on #153
Relevant to https://github.com/cncf/tag-security/issues/635, closing if additional scope not required.

[2021-07-14 18:31] lumjjb commented on #152
Needs additional definition of scope.

[2021-07-14 18:33] lumjjb commented on #162
This is no longer relevant due to new revamped process: https://github.com/cncf/tag-security/pull/488

[2021-07-14 18:33] #162 closed

[2021-07-14 18:35] lumjjb commented on #168
Potential topic for #110 , closing issue in favor of microsite issue.

[2021-07-14 18:35] #168 closed

[2021-07-14 18:36] lumjjb commented on #170
@PushkarJ do you think that this is of relevance still today? Any comments on this from k8s security perspective? If not we will probably close due to scope.

[2021-07-14 18:37] TheFoxAtWork commented on #171
This is issue is completed initially with PR #349.

[2021-07-14 18:37] #171 closed

[2021-07-15 00:23] ashutosh-narkar commented on #551
@raesene we are focussing on just Open source tools at the moment. We are working on a criteria that will add clarity to the kind of open-source projects that can be added to the map. Expect a PR soon.

[2021-07-15 01:19] ultrasaurus commented on #726
FYI -- refactoring CONTRIBUTING.md into directory named CONTRIBUTING broke github auto-linking in Community page

![image](https://user-images.githubusercontent.com/41906/125712663-a4f91bc5-9182-4a48-b933-811baacb1e3c.png)

File naming options here: https://docs.github.com/en/communities/setting-up-your-project-for-healthy-contributions/setting-guidelines-for-repository-contributors

I'm inclined

[2021-07-15 16:32] raesene commented on #731
Hi all, so this got covered at k8s SIG-Security and looks like the consensus is that it'll fit best in SIG-Docs-Security over there, so I'll close this issue and if people are interested there should be some chat starting over there :)

[2021-07-15 16:32] #731 closed

[2021-07-15 16:52] TheFoxAtWork commented on #679
@lumjjb @anvega @danpopSD can you all provide an update to the issue with schedule, progress links etc?

[2021-07-15 21:00] PushkarJ commented on #170
@lumjjb Agree with you that the scope is too wide at the moment. We are experimenting with some ideas on triage, vulnerability resolution and transparency in kubernetes sig-security. Perhaps once we have a working model and process, we could do a presentation about our approach in CNCF TAG-Security meeting and then explore how this can be adopted across all the CNCF projects (maybe as graduation c

[2021-07-16 01:06] PushkarJ opened #734 "Guideline for Applying Secure Defaults"
Description: As part of #480 , a discussion sparked about what does _secure defaults_ and applying it to a project mean for us and for the community in general. This issue is an attempt to reasonably address that through community discussions

Impact: Identify state of the art and carve content to articulate this in a standalone doc, which could be adopted in other Security TAG deliverables

Some

[2021-07-16 18:15] lumjjb opened #736 "[Presentation] 'Security Differently'/'Selfish Security'."
Title: 'Security Differently' / 'Selfish Security'.

Speakers: Andrew Clay Shafer (@littleidea)

Description:

Change is hard. The future of security is here now, but isn't evenly distributed. What can we do to help organizations improve? This presentation will discuss software security as a socio-technical system recognizing the agency of the humans involved in addition to the technical advances

[2021-07-16 18:17] lumjjb commented on #736
Looking forward to the talk @littleidea! Please send some slides (or similar past talks), so that we can go through our presentation review process.

[2021-07-17 15:08] lumjjb commented on #734
If worthwhile, we can also dedicate a meeting session to have a discussion around this.. However, it would be good for a discussion to have presentation to level-set and bring folks up to speed, so if someone can do a short 15 mins presentation on this, we can schedule it..

[2021-07-17 15:09] lumjjb commented on #726
I like this!

[2021-07-18 22:18] gcblana commented on #635
Hello!  I'm Greg Blana, and I would like to participate and contribute in this activity.

[2021-07-20 00:27] ashutosh-narkar opened #737 "[Proposal] CNCF Cloud Native Security Map - v2"
Description: Earlier this year we started work on the Cloud Native Security Map with the goal to provide a practitioner's and learner's guide on navigating the Cloud Native security landscape. Thanks to great work by the STAG community, we are nearing completion of the phase-1 (aka `Vanilla` version) of the map. More details on that phase can be found in #551.

The `Vanilla` version of the map foc

[2021-07-20 21:04] JonZeolla commented on #635
Hi @gcblana, welcome!  Please jump into the #tag-security-controls channel on the CNCF slack (you can invite yourself [here](https://slack.cncf.io/) if needed); I am planning to send out a poll soon to revitalize this project.

@TheFoxAtWork can you please add @ak-secops, @knowlengr, and @gcblana to the project members?  Thanks!

[2021-07-21 06:13] hblixt opened #739 "[Assessment] Argo"
Project Name: Argo

Github URL: https://github.com/argoproj

https://github.com/cncf/toc/pull/299 (Incubation)
https://github.com/cncf/toc/pull/604 (Graduation - in process)

Self Assessments:
[Argo CD](https://docs.google.com/document/d/152YhKuBiWLWsKS6KcstmVRDSeCextkgH6zIpL7TNymw/edit?usp=sharing)
[Argo Rollouts](https://docs.google.com/document/d/1_jUZrw85BLaAcXd9Qw07IOrKB8rOgD30-5rnT-fclKU/edi

[2021-07-22 16:33] sbose78 commented on #739
👍 from Red Hat.

[2021-07-22 18:23] lumjjb commented on #739
Thanks for opening this issue up! We will process this when we have our intake prioritization review, which should be soon.. But looks likely to be scheduled after cloud custodian review, which will be about the Sep/Oct timeframe!

[2021-07-27 15:52] IAXES commented on #307
Good day,

I'll bring this up during tomorrow's general meeting, but in the meantime:

**Calling for reviewers** :)

We could especially use some eyes on the "Threat Model" section. Document link/bookmark: https://docs.google.com/document/d/1IbrFNz2lIICema0NfF27HflzsMcTQGxH22SubLUM47I/edit#bookmark=id.1ci93xb

Thank you!

[2021-07-28 02:40] IAXES commented on #739
Good day @hblixt , @sbose78 ;

If I have any questions with respect to the self-assessment (and associated documentation), should I reach out to both of you (i.e. via the CNCF Slack instance), or are there additional team members I should include?

I've gone ahead and created a dedicated channel, [`sec-assessment-argo`](https://cloud-native.slack.com/archives/C029KLSQBD2), although it won't be act

[2021-07-28 15:29] JonZeolla commented on #635
@TheFoxAtWork can you update the meeting link above to be https://meet.google.com/qyi-vmey-fvi and meeting time to Tuesdays, 6p ET/3p PT?  Thanks!

CC: @chasemp, @achetal01, @pratiklotia, @fkautz, @Harrysk, @alexbarbato, @chughes29, @ak-secops, @knowlengr, and @gcblana

[2021-07-28 17:37] jlk commented on #739
I'd be open to lead this one

[2021-07-28 17:38] nadgowdas commented on #739
Interested to help on this

[2021-07-28 17:42] apmarshall commented on #447
Adding myself to the project of turning Magno’s contributions here into a PR for the repo

[2021-07-28 17:42] apmarshall commented on #739
Interested in helping on this

[2021-07-28 17:45] lumjjb commented on #307
Hi @IAXES , @rficcaglia , trying to understand the ask for reviewers, is this an issue of too big a scope, and we need more reviewers, or do we need a reviewer with a specific expertise/skillset?

[2021-07-28 17:51] sunstonesecure-robert commented on #307
mostly more bodies :)  right now it is just Matthew and Chase and myself.
having another set of eyes, or two, especially from more kubernetes
operators or non-AWS operators would be ideal.

On Wed, Jul 28, 2021 at 10:45 AM Brandon Lum ***@***.***>
wrote:

[2021-07-28 17:55] lumjjb commented on #307
Hmm, based on the issue history, looks like a ton of reviewers expressed interest early in the year, lets reach out to them

[2021-07-28 18:00] TheFoxAtWork commented on #307
I'll schedule time to deep dive on it next week, apologies for my tardiness.  If there is a particular area requiring explicit attention please make me aware

[2021-07-28 18:01] IAXES commented on #307
The "Threat Model" section (IIRC) could use a broad perspective from multiple reviewers.

[2021-07-28 18:04] sunstonesecure-robert commented on #307
the recorded Zoom session from yesterday was a good start on the threat
model - but definitely AWS specific - would be nice to have Azure or GCP -
and ideally Kube.

On Wed, Jul 28, 2021 at 11:01 AM Matthew Giassa ***@***.***>
wrote:

[2021-07-28 18:26] ashutosh-narkar commented on #739
Thanks for your interest in being part of the review team. It would be great if y'all and any other folks interested to be part of the review team state their [conflict of interest](https://github.com/cncf/tag-security/blob/main/assessments/guide/security-reviewer.md#conflict-of-interest). Thanks!

[2021-07-28 21:24] apmarshall commented on #739
Here's me:

<h4>Conflict of interest statement template:</h4>

Hard Conflicts | Y/N
-- | --
Reviewer is a currently a maintainer of the project | N 
Reviewer is direct report of/to a current maintainer of the project | N 
Reviewer is paid to work on the project | N 
Reviewer has significant financial interest directly ties to the success of the project | N 

Soft Conflicts | Y/N
-- | --
Reviewer b

[2021-07-28 22:54] KoelhoSec commented on #509
Hi @magnologan ! I think we are almost there with this one. I am trying to fill some paragraphs I found in the introduction. Let me know if you need some help with revision after we finish the translation suggestions.

[2021-07-29 00:52] IAXES commented on #739
[code]

- Matthew

[2021-07-29 12:39] magnologan commented on #509
Hi, @KoelhoSec thanks for all the help and great effort so far! If you could please start reviewing and approving the changes from other people's translations, I'll work on reviewing yours next week. Sounds good? Thank you!

[2021-07-29 13:48] sunstonesecure-robert commented on #423
I also think [NICE Framework](https://www.nist.gov/itl/applied-cybersecurity/nice/nice-framework-resource-center) may be pertinent to this effort.

[2021-07-30 15:00] sbose78 commented on #739
@IAXES Greetings!

Could you please include @jannfis ( Jann Fischer, Red Hat ) in your list of primary folks to reach out to.

[2021-07-31 17:13] jannfis commented on #739
Hey, happy to support this from the Argo CD side :+1:

[2021-08-01 03:43] jlk commented on #514
This can be closed - the paper was released! https://www.cncf.io/blog/2021/07/16/learn-how-to-simplify-application-management-with-operators-with-the-cncf-operator-white-paper-from-tag-app-delivery/

[2021-08-01 13:20] lumjjb commented on #736
@littleidea can you please share some slides for review, it is required for the presentation. Thanks.

[2021-08-01 14:11] lumjjb commented on #514
Awesome! 🎉

[2021-08-01 14:11] #514 closed

[2021-08-02 21:00] lumjjb commented on #736
i've reviewed the slides, focuses on general security concepts, when solutions/technologies are presented, it contains both open source and includes some vendor related for the holistic picture, no focus on specific vendor product(s). Checking the review box.

[2021-08-03 08:56] ArielShup commented on #546
I'd be glad to contribute to this work, joined the slack channel...

[2021-08-03 14:39] raelga commented on #576
The white paper localisation is being discussed during the Kubernetes SIG-Docs ES weekly meetings, feel free to join them at

http://go.rael.dev/k8s-sig-docs-es-meetings

[2021-08-03 15:41] TheFoxAtWork opened #741 "[Proposal] Link Security Resources for projects from the contribute.cncf.io site"
Description: Contribute.cncf.io has a plethora of good information and templates for new projects this effort would allow us to provide security information and templates in a common location already familiar to new projects.

Impact: providing explanations and links to security templates on that site allows for projects to become more security mindful in addition to driving more discovery of the

[2021-08-03 22:41] KoelhoSec commented on #509
Sounds good @magnologan !

[2021-08-04 17:12] hyakuhei commented on #447
This is definitely something I can help with, I've also been working on a few (scrappy) tools that make threat modelling and security reviews code driven, git friendly and a bit more accessible. Will share more if there's interest.

[2021-08-05 10:35] sayantani11 commented on #695
@lumjjb Can I do this?
But I would require a bit of help of where to start?

[2021-08-05 18:15] lumjjb commented on #695
Hi @sayantani11 , a good starting point would be gathering together some of the issues and links to some of the past Cloud Native Security Days/Cons.
issue links: https://github.com/cncf/tag-security/issues/454, https://github.com/cncf/tag-security/issues/416, #305 , #209

event links: (this is just the first one, they should be available somewhere in the CNCF site past event archives)
https://eve

[2021-08-06 17:58] TheFoxAtWork commented on #741
https://github.com/cncf/tag-contributor-strategy/pull/124

[2021-08-06 18:06] TheFoxAtWork commented on #741
https://github.com/cncf/tag-security/pull/742

[2021-08-08 07:33] jnswindle opened #744 "[Presentation] Presentation Title"
Title: What is the title of your presentation?

Speakers: Who will be presenting this? List names/github IDs of presenters.

Description: Describe in a short paragraph what the presentation is about.

Time: How long will the presentation take? (estimate)

Availability: What is the availability times of the speakers to present the topic? Meeting times are listed on the landing page.

TO DO
- [ ] TA

[2021-08-08 07:33] jnswindle opened #745 "[Presentation] Presentation Title"
Title: What is the title of your presentation?

Speakers: Who will be presenting this? List names/github IDs of presenters.

Description: Describe in a short paragraph what the presentation is about.

Time: How long will the presentation take? (estimate)

Availability: What is the availability times of the speakers to present the topic? Meeting times are listed on the landing page.

TO DO
- [ ] TA

[2021-08-08 07:39] jnswindle opened #746 "[Presentation] Presentation Title"
Title: What is the title of your presentation?

Speakers: Who will be presenting this? List names/github IDs of presenters.

Description: Describe in a short paragraph what the presentation is about.

Time: How long will the presentation take? (estimate)

Availability: What is the availability times of the speakers to present the topic? Meeting times are listed on the landing page.

TO DO
- [ ] TA

[2021-08-08 16:55] sayantani11 commented on #695
@lumjjb I think this PR should do it

[2021-08-09 12:39] lumjjb commented on #744
Empty issue

[2021-08-09 12:39] #744 closed

[2021-08-09 12:39] lumjjb commented on #745
Empty issue

[2021-08-09 12:39] #745 closed

[2021-08-09 12:40] lumjjb commented on #746
Empty issue

[2021-08-09 12:40] #746 closed

[2021-08-10 17:13] MMerzinger commented on #737
I would be happy to support in this task.

[2021-08-10 21:58] PushkarJ opened #747 "Cloud Native Security Whitepaper v2"
Working draft (RFC ends April 27): https://docs.google.com/document/d/1fftLBt3XjDzyYQisEKH3TZXL1QnT_cHIbBnFtW98UOs/edit

## Description
Original security whitepaper (#138) was published in Nov 2020, about 9 months ago. It is now time to update the paper and publish v2 by Kubecon EU 2022 (by which time paper will be 18 months old) to ensure the content stays relevant and useful.

## Impact
Since pu

[2021-08-11 12:56] TheFoxAtWork commented on #734
@PushkarJ ?

[2021-08-11 17:07] chasemp commented on #747
Seems like a lot of great metadata and organization tie in.  What's the thinking on revising the content itself?  (not suggesting just asking)

Interested in helping potentially :)

[2021-08-11 17:16] pratiklotia commented on #747
thanks for detailed info, Pushkar. I'm interested in contributing.

[2021-08-11 17:17] axelsimon commented on #747
Tagging myself as i'm interested in participating in this!

[2021-08-11 17:25] PushkarJ commented on #747
Hey Chase, great to see you are interested to continue the work from v1. My thinking for revising the existing content itself is to update the content for brevity, remove mention of things that are deprecated in favor of new state of the art.

Additionally, would love to cross link sections in #737 to each section in the whitepaper so folks can jump to implementation details or recommendation from

[2021-08-11 17:31] PushkarJ commented on #480
Closing this issue as we have broken out the next steps in #734 and #747. The survey results and summary is here: https://github.com/cncf/surveys/tree/master/security (thanks @amye)

Thanks everyone but especially, @apmarshall @magnologan George Sedky and all the co-chairs and Tech leads, for helping out on this in the last few months. We will redo this next year for whitepaper v2 :)

[2021-08-11 20:13] lumjjb commented on #480
hey @PushkarJ, do you mind creating a PR to link to this in the whitepaper directory in this repo, just so we don't lose this information.

[2021-08-11 20:23] PushkarJ commented on #480
Oh good call. Doing it now.

[2021-08-12 04:03] lumjjb opened #751 "Fix spell/link in governance/related-groups/README.md"
There are some issues with the CI based which need to be fixed for the following file:

https://github.com/cncf/tag-security/blob/main/governance/related-groups/README.md

[2021-08-12 05:05] ragashreeshekar commented on #747
This sounds good @PushkarJ, I'm interested to join.

[2021-08-12 05:08] ragashreeshekar opened #752 "[Presentation] Cloud Native Security Lexicon"
Title: Cloud Native Security Lexicon

Speakers: Ragashree M C @ragashreeshekar

Description: Standardization of terminologies specific to Cloud Native Security to bring about clarity to Cloud native practitioners, Developers and Operators regarding the right set of security terminologies to be used in the right context throughout the SDLC as well as their operational environments

Time: 20 mins

A

[2021-08-13 16:08] PushkarJ opened #753 "CNCF Blog for CNSWP survey and cloud native micro-survey"
Description: Write a blog post to share results from CNSWP survey and cloud native micro-survey for end user audience

Impact: CNCF PR (Public Relations) team, is already working on this and this issue is intended to be used as a tracker

Scope: Unclear, but potentially may include reviewing / editing blog post content

Additional info:
- CNSWP survey results: https://github.com/cncf/surveys/blob/

[2021-08-13 18:39] ChetanVyas commented on #751
hey I am beginner, I want to work on this issue, but wont able to understand CI part can you please elaborate.

[2021-08-14 13:58] lumjjb commented on #751
Hey @ChetanVyas . Awesome - so to provide some context of this, there are several issues with the linker checker and spell checker with this file.. The errors were exposed (but not caused) by this PR https://github.com/cncf/tag-security/pull/750. The main part of this issue is to resolve those CI errors by editing the file / CI config (I elaborate a bit more below on the specific errors for this p

[2021-08-14 14:50] lumjjb commented on #480
Thanks @PushkarJ ! Closing this issue for real now :)

[2021-08-14 14:50] #480 closed

[2021-08-14 18:47] ChetanVyas commented on #751
Got it, need to make changes like the bellow so it will ignore IDs :
  * Security TAG members: @justincormack , @lizrice

and in spelling-config.json :
 "words": [
        "justincormack",
        "lizrice",

And about the link check error, I won't able to find the working URL on " https://standards.ieee.org/ "  for :
P1915.1 (COM/NetSoft-SC)
Standard for Software Defined Networking and Network Fu

[2021-08-14 19:58] lumjjb commented on #751
Yup exactly! For the link, you can just remove it for now.

[2021-08-16 13:03] lumjjb opened #755 "Ongoing Triage Tracker"
This issue details the current and upcoming issues to be triaged. This issue is ongoing and should not be closed unless triage process is changed.

Oid AIs.

Next to discuss:

https://github.com/cncf/tag-security/issues/176
https://github.com/cncf/tag-security/issues/177
https://github.com/cncf/tag-security/issues/206

[2021-08-16 19:52] lumjjb commented on #509
Following up with @KoelhoSec to regroup on this and figure out a schedule.

[2021-08-18 13:59] TheFoxAtWork commented on #625
Checking in here - is there any outstanding action/project for the STAG or is this being handled out-of-band?

[2021-08-18 13:59] TheFoxAtWork commented on #536
@sunstonesecure-robert I believe the policy WG videos are now being uploaded.  Can you determine if this issue is still needed?

[2021-08-18 14:21] trishankatdatadog commented on #625
Emily, I think the recommendations were:
1. TUF is not designed to do RFC-3161-style timestamping, despite the closely named `timestamp` role/metadata.
2. Best to use a RFC-3161 timestamping authority (TSA) like the one in SigStore.

[2021-08-18 14:28] TheFoxAtWork commented on #625
Closing issue with the above recommendation for resolution from @trishankatdatadog

[2021-08-18 14:28] #625 closed

[2021-08-18 14:59] lumjjb commented on #695
resolved - thanks @sayantani11 ! Be sure to add yourself to the members list with a PR to the README.md

[2021-08-18 14:59] #695 closed

[2021-08-18 16:35] sayantani11 commented on #695
@lumjjb Can you please tell me which README.md file I should make the PR to?

[2021-08-18 16:53] sayantani11 commented on #753
Can I work on this? I guess I will be able to do it

[2021-08-18 17:11] lumjjb opened #758 "[Presentation] Curiefense"
Title: What is the title of your presentation?

Curiefense

Speakers: Who will be presenting this? List names/github IDs of presenters.

Description: Describe in a short paragraph what the presentation is about.

Time: How long will the presentation take? (estimate)

Availability: What is the availability times of the speakers to present the topic? Meeting times are listed on the landing page.

TO

[2021-08-18 17:24] lumjjb commented on #60
Closing from triage review

[2021-08-18 17:24] #60 closed

[2021-08-18 17:24] lumjjb commented on #92
Closing from triage review

[2021-08-18 17:24] #92 closed

[2021-08-18 17:24] lumjjb commented on #109
Closing from triage review

[2021-08-18 17:24] #109 closed

[2021-08-18 17:38] jlk commented on #739
Hard conflicts:
Reviewer is a maintainer of the project - NO
Reviewer is a direct report of/to a maintainer of the project - NO
Reviewer is paid to work on the project -NO
Reviewer has significant financial interest directly tied to success of the project - NO

Soft conflicts:
Reviewer belongs to the same company/organization of the project, but does not work on the project - NO
Reviewer uses the

[2021-08-18 17:51] lumjjb commented on #153
Seems like we will defer this issue, revisit when staleness hits again

[2021-08-18 17:53] lumjjb commented on #758
hi @jdorfman , could you tag the folks here. Looking forward to the presentation on Curiefense!

[2021-08-18 18:31] lumjjb commented on #751
Addressed by https://github.com/cncf/tag-security/pull/754! Closing.

[2021-08-18 18:31] #751 closed

[2021-08-18 18:38] jdorfman commented on #758
@lumjjb I talked to @tzuryby and he can do it Wed Sept 1st. Is that open?

[2021-08-18 19:00] lumjjb commented on #758
Unfortunately we have another presentation scheduled for Sep 1st, will the following week work? Sep 8th?

As an aside, also can the presenter also acknowledge:

"I, (Insert Github Handle/Name) acknowledge that the presentation topic and speaker will follow the [presentation guidelines](https://github.com/cncf/tag-security/blob/main/governance/presentations.md)"

[2021-08-18 19:02] lumjjb commented on #753
@PushkarJ would you like to (and have bandwidth) to work with or mentor @sayantani11 on this issue?

[2021-08-18 19:16] jdorfman commented on #758
@lumjjb Ok I'll ask him. I will have an answer by tomorrow (since he's 10 hours ahead)

[2021-08-18 19:52] PushkarJ commented on #753
Yes I can help Sayantani. Just to be transparent, most of the blog post will be written by CNCF Public Relations team. We _may_ get a chance to review it and suggest feedback. I will update the issue here if and when I hear back from CNCF PR team. Hope that works :)

[2021-08-19 17:53] jdorfman commented on #758
@lumjjb lets put it down for the 8th and if we need to change it hopefully that won't be a problem.

[2021-08-19 18:40] lumjjb commented on #758
Awesome i'll put that down then.. just need your acknowledgment of the adherence to presentation guidelines, and will be good if some slides can be shared beforehand.

"I, (Insert Github Handle/Name) acknowledge that the presentation topic and speaker will follow the presentation guidelines"

[2021-08-22 18:41] sayantani11 commented on #747
Sounds good. Interested to join.

[2021-08-22 18:44] sayantani11 commented on #666
@lumjjb What can we do to contribute to this issue?

[2021-08-22 21:13] IAXES commented on #739
Good day,

Just a heads-up to the Argo team and their reps: I'm aiming to start assembling reviewers mid-September. I expect it to be a busy time with Kubecon approaching in October.

In case anyone hasn't already joined: I'll be using the Slack channel as the primary means of communication (https://cloud-native.slack.com/archives/C029KLSQBD2). I have also put together a private Google group (i.e.

[2021-08-23 20:57] lumjjb commented on #666
Hi @sayantani11 ! A perfect way for you to contribute to this is to provide some input about what you're experience is of a new member! And some suggestions, some problems you faced, what you think is lacking/we can do better. That would be super valuable!

And maybe from that feedback we can determine if we can create a PR on the current process or even create a project from it!

[2021-08-24 02:05] mayocream commented on #747
Sounds good. Interested in contributing.

[2021-08-25 12:09] MVrachev commented on #564
@TheFoxAtWork, @ragashreeshekar is there a to-do item left here or the issue could be issued?

[2021-08-25 12:58] TheFoxAtWork commented on #564
@MVrachev the last thing to close this out is a presentation to the larger STAG.  @ragashreeshekar has an issue submitted and it's on the calendar for Sept. 1st

[2021-08-25 13:32] siforster opened #759 "[Presentation] Cartografos Working Group Maturity Model"
Title: What is the title of your presentation? **Cartografos Working Group Maturity Model**

Speakers: Who will be presenting this?
Simon Forster (@siforster)
Danielle Cook (@daniellemcook)
John Forman (@Deep-Cyber)
Robert Glenn (@robertglenn)

Description: The [Cartografos Working Group](https://github.com/cncf/cartografos) has produced a five-level maturity model that includes four key areas of

[2021-08-25 13:49] TheFoxAtWork commented on #734
@PushkarJ is this something we can float for today's meeting topic to at least walk through what a scope would look like and see if folks are interested?

[2021-08-25 15:43] #683 closed

[2021-08-25 15:48] fabolive commented on #715
@TheFoxAtWork: Here is the presentation.
[netpol-cncf.pptx](https://github.com/cncf/tag-security/files/7048274/netpol-cncf.pptx)

Additionally, we added the following link to the corresponding CNCF Security TAG Google doc:https://github.com/shift-left-netconfig/shift-left-netconfig.github.io/blob/master/presentations/cncf-sec-tag-07-21-2021.pptx

[2021-08-25 15:51] TheFoxAtWork commented on #449
@tegrekara would you review the [resources in the repo](https://github.com/cncf/tag-security/tree/main/assessments) to determine if they are clear, easy to understand, etc?  There is the overview, the process, the templates, roles, etc.  If you find anything feel free to create a new issue or start a PR.

@lumjjb for the purposes of this issue is there enough to call this complete?

[2021-08-25 15:54] TheFoxAtWork commented on #521
@apmarshall @PushkarJ  is this issue still outstanding given the survey results?

[2021-08-25 15:59] TheFoxAtWork commented on #671
@anvega are there other items to be done to close this out or bring up at a weekly meeting to determine appetite for completion?

[2021-08-25 16:35] TheFoxAtWork commented on #521
@PushkarJ @apmarshall I recommend this issue be linked with the Cloud Native Security Whitepaper v2 issue. #747 and folded into the scoping/planning of that effort to better align.  Pushkar would you agree?

[2021-08-25 16:35] jlk commented on #554
(this started as a gist while I drafted thoughts over last month or so - moving here now as a thought Of Record)

This is meant as an overview of the Security Pals project to help get people up to speed.

### Goal
This is a TAG Security pilot to smoothe the security aspects of onboarding a new CNCF project. The "security pals"
act as a friendly initial point of contact, help projects understand wh

[2021-08-25 16:36] TheFoxAtWork commented on #715
yep thanks so much!!

[2021-08-25 16:36] #715 closed

[2021-08-25 16:41] TheFoxAtWork commented on #554
@jlk would you be able to talk through this in today's meeting if we don't have any other topics to cover?  i'd like to crowdsource some next steps.

[2021-08-25 16:43] PushkarJ commented on #521
Yes +1 Just linked it

[2021-08-25 16:44] jlk commented on #554
sure

[2021-08-25 16:45] PushkarJ commented on #734
We did brought it up last time. Happy to revisit today and then fold it into white paper, if there is not much interest to pursue this separately :)

[2021-08-25 16:50] TheFoxAtWork commented on #521
@apmarshall should this issue be closed as it will become in scope for Whitepaper v2? if so, @pushakr can we update the other issue with these?

[2021-08-25 18:49] lumjjb opened #760 "[Proposal] Provide findings of Cloud Native Security Map on Project landscape"
Description: Create a set of findings and recommendations to the TOC on the CNCF Security project landscape

Impact:

Will help inform the TOC and help further the ability to cover gaps in CNCF security with the help of the CNCF.

Scope:

This will probably be a set of 2-3 meetings where a group will go through the CNSMap and write down some interesting findings and recommendations based on the cu

[2021-08-27 13:41] lumjjb opened #762 "CNSMap Public Comment"
This thread is open for public comment on the Cloud Native Security Map public Request For Comments. Please put your comments here, the more specific the better!

If can also create direct PRs on the `cnsmap` branch. More details on how to do this are located here:
https://github.com/cncf/tag-security/blob/main/security-whitepaper/cnsmap/README.md#contributing-to-the-cnsmap

[2021-08-27 15:03] JasonKeirstead opened #766 "[Suggestion] Trying to understand the criterion for tools in Security Assurance"
I am trying to understand the criterion for the tools in these various pages.

I will focus on one example, Threat intelligence: ( https://github.com/cncf/tag-security/blob/cnsmap/content/threat-intelligence.md )

The page does not really describe in detail the threat intelligence space. The links are a bit of a grab bag of TIPs, sharing tools, and data feeds. Also,1 of the links is to something t

[2021-08-28 05:43] MMerzinger commented on #762
As it is quite a lot of content, I would suggest adding a search bar.

Content:
- I created a small PR that adds Open Service Mesh and removes Trivy from the “Service Mesh” section (see [here](https://github.com/cncf/tag-security/pull/767#issue-981738536)).
- Not really a security tool, but I think using Buildpacks would be helpful in implementing best practices for Dockerfiles (section Security C

[2021-08-30 04:26] nathanawmk opened #768 "How does Notary and TUF can deter a solarwinds equivalent future attack?"
This is a honest, sincere and genuine question.

I like to genuinely understand how does Notary and TUF can deter a solarwinds equivalent future attack? As no one caught the compromised code as  it was signed with a code signing certificate by SolarWinds themselves and sent straight to their clients as part of the routine update process.

I am looking to possible solutions that stop compromised co

[2021-08-30 11:29] sayantani11 commented on #724
Hey!! Can I be of any help?

[2021-08-30 14:15] apmarshall commented on #521
Sounds good to me.

[2021-08-30 14:52] mlieberman85 commented on #768
Have you taken a look at: https://github.com/cncf/tag-security/blob/main/supply-chain-security/supply-chain-security-paper/CNCF_SSCP_v1.pdf

That explains some of it. There are also different tools for different stages of the system development lifecycle. I'm personally not convince Notary/TUF itself can secure against these kinds of attacks directly.

If the information that has come out about th

[2021-08-30 16:11] lumjjb opened #769 "[Presentation] SPIFFE Tornjak: A control plane for workload identities"
Title:

SPIFFE Tornjak: A control plane for workload identities

Speakers: @lumjjb @mrsabath

Description:

Tornjak aims to provide a management plane and capabilities for SPIFFE identities managed by SPIRE. The goals are to provide global visibility, auditability, and configuration and policy management for identities. This can be thought about as a central management plane for identities across

[2021-08-31 00:46] ashutosh-narkar commented on #762
@MMerzinger can you please open an issue regarding the error you're getting and steps to repro it. Thanks!

[2021-08-31 02:33] JustinCappos commented on #768
This really isn't in scope for TUF and Notary.  They protect validly built
and signed software.

The in-toto project (https://in-toto.io) is geared toward this.  It's now
being used by the Solarwinds folks and a lot of other groups.

On Mon, Aug 30, 2021 at 10:52 PM Michael Lieberman ***@***.***>
wrote:

[2021-08-31 03:39] mlieberman85 commented on #768
Be careful. As it stands now in-toto helps in establishing provenance, but doesn't work to secure the build tools themselves. e.g. if you are compiling with gcc and someone replaced has hijacked your gcc, in-toto as it stands today will sign that without additional tooling.

[2021-08-31 16:26] MMerzinger opened #771 "Unexpected error on CNSMap in chapter Containers"
Hello everyone

Opening the [CNSMap](https://cnsmap.netlify.app/) and navigating to __Runtime -> Compute -> Containers__ I get an "An unexpected error has occurred." error:
<img width="1439" alt="Screenshot 2021-08-31 at 13 06 10" src="https://user-images.githubusercontent.com/18420443/131540095-343e9d61-2a5f-4ef7-a92a-b66797ffc9f1.png">

To reproduce checkout the cnsmap Branch and run via "npm ru

[2021-08-31 16:29] MMerzinger commented on #762
@ashutosh-narkar sure, opened issue #771 and a proposal in PR #772 to fix it.

[2021-08-31 17:06] jdorfman commented on #758
@lumjjb Tzury needs to reschedule to October and I don't have access to his calendly past September.

Do you want to close this issue or just keep it open until we can find a date?

Apologies for any inconvenience this has caused.

[2021-08-31 17:28] lumjjb commented on #771
Fixed by #772

[2021-08-31 17:28] #771 closed

[2021-08-31 17:30] lumjjb commented on #758
no worries we'll keep this open and schedule a date in october

[2021-08-31 17:31] jdorfman commented on #758
You rock thanks @lumjjb!

[2021-09-01 15:09] lumjjb commented on #769
We'd like to request the 22nd September meeting slot (looks like there's no planned agenda yet)

[2021-09-01 17:56] TheFoxAtWork commented on #564
[great presentation ](https://github.com/cncf/tag-security/issues/752)

[2021-09-01 17:56] #564 closed

[2021-09-01 18:11] TheFoxAtWork commented on #768
@nathanawmk has your question be adequately addressed?

[2021-09-03 12:39] moswil commented on #739
Interested to help. From IBM.

[2021-09-07 13:35] thisthat opened #784 "[Security Review] Keptn"
Project Name: Keptn

Github URL: https://github.com/keptn/lifecycle-toolkit

CNCF project stage and issue: https://github.com/cncf/toc/pull/670 (incubation)

Security Provider: no

- [ ] Identify team
   - [ ] Project security lead: @thisthat
   - [ ] Lead security reviewer
   - [ ] 1 or more additional reviewer(s)
   - [ ] Every reviewer has read [security reviewer guidelines](https://github.com/

[2021-09-07 15:57] krol3 commented on #576
Hi @lumjjb The status is almost a 45% of translations.

[2021-09-07 17:31] PushkarJ commented on #451
Looking at this for v2 whitepaper and v1 retrospective, I think one thing that is clear is that we did not create enough awareness about the whitepaper (40% found out about the whitepaper because of the survey). Having said that, I am not sure if creating a blog series would get us more eyeballs for the effort we would put in. So propose to close this issue in favor of #747 . For completeness, we

[2021-09-07 18:33] siforster commented on #759
@TheFoxAtWork Hi there, because one of our co-chairs and presenters is unable to make the 29th, we wanted to see if it would be possible to ove this to the 22nd of September.  Apologies for this late change.

[2021-09-07 18:38] TheFoxAtWork commented on #759
@siforster We have a presentation already schedule for the 22nd.  The 15th is open as is October 6th. the 13th is cancelled for KubeCon, but the 20th and 27th of October are free. Do any of those work?

[2021-09-07 19:09] siforster commented on #759
Thank you for the quick response Emily.  I have messaged the team with the dates and will confirm with you as soon as I can.

[2021-09-08 17:01] TheFoxAtWork commented on #784
@IAXES CC: @ashutosh-narkar

[2021-09-08 18:12] TheFoxAtWork opened #788 "[Suggestion] modify Security assessment process"
Description: Modify the Security Review process to:
* [ ] initiate a draft/WIP PR of the self-assessment and/or joint-review prior to the presentation to closeout the review
* [ ] clearly set the joint-readme and joint-review and/or self-assessment as required for the PR finalization in the process doc.
* [ ] Modify co-chair requirements to verify the above items are complete and presentation has

[2021-09-10 13:53] lumjjb commented on #509
Hi @KoelhoSec , just checking back on this. How is this going?

[2021-09-10 23:15] KoelhoSec commented on #509
Hi @lumjjb. I am on the final stretch of accepting changes/revision. But I just noticed there were about 5 pages (25-30) that were not translated yet so I will focus on those as well. I believe we should be good to go over to convert to markdown and create the PR over the next 3 weeks, hopefully begining of October.

[2021-09-14 18:20] siforster commented on #759
@TheFoxAtWork We would be very grateful if we could go with the 6th of October.  All four speakers are able to make this date.  Many thanks for your patience with this.

[2021-09-14 18:54] TheFoxAtWork commented on #759
Done.

[2021-09-14 19:40] siforster commented on #759
Thank you very much!

[2021-09-15 02:07] lumjjb commented on #170
Closing this issue for now, linked to tracking k8s sig-security issue and will re-open when ready to present to the TAG.

[2021-09-15 02:07] #170 closed

[2021-09-15 13:43] lumjjb commented on #509
Awesome! Looking forward to it. If we get this in by Kubecon we can socialize it during the event!

[2021-09-15 13:45] lumjjb commented on #447
Hi @hyakuhei , @apmarshall !

Just checking back on this!

[2021-09-15 13:48] lumjjb commented on #348
Status:
- Checking on design team
- Merged in https://github.com/cncf/tag-security/blob/main/security-whitepaper/cnsmap/README.md

[2021-09-15 13:49] lumjjb commented on #758
Hey @jdorfman, the next likely date available will be towards the last week of October (due to kubecon scheduling)

[2021-09-15 13:50] lumjjb commented on #692
@pbaderia01 @ragashreeshekar are discussing this on slack channel "#tag-security-comm"

[2021-09-15 13:53] lumjjb commented on #110
The plan is to have the CNSMap site evolve to become the microsite. The next usecase to expand on would be the Cloud native security lexicon #735 .

[2021-09-15 13:58] lumjjb commented on #183
bump @joshuagl , ^^^

[2021-09-15 17:02] TheFoxAtWork commented on #177
This is complete as of the PR to provide security resources.

[2021-09-15 17:02] #177 closed

[2021-09-15 17:10] lumjjb commented on #734
May be of relevance https://github.com/cncf/tag-security/issues/176

[2021-09-15 17:20] hyakuhei commented on #447
Still happy to help but a bit unclear on what the engagement model is; how do we arrange and conduct a review?

[2021-09-15 17:25] hyakuhei commented on #739
I'm super happy to help with the review

[2021-09-15 19:40] lumjjb commented on #206
This is a great first issue for folks that are new!

[2021-09-16 18:02] jdorfman commented on #758
@lumjjb sounds good, lets pick this up then.

[2021-09-16 20:32] PushkarJ commented on #734
Hi All, thanks for the interest in defining secure by default for cloud native community. To get things started today I documented some guiding principles for "secure by default" here: https://hackmd.io/byHwZ8WPTCaSHnXaosxVcQ

You will need to sign-in to hackmd to collaborate (edit, comment). Hope this triggers some ideas from you all. Happy to discuss this in one of our regular meetings as well e

[2021-09-19 18:25] maorkuriel commented on #737
I would be happy to support this task.

[2021-09-21 21:02] SteveLasker opened #794 "[Presentation] Artifact References - storing graphs of artifacts in distribution spec based registries"
Title: Artifact References - storing graphs of artifacts in distribution spec based registries

Speakers: @stevelasker, @sajayantony

Description: [OCI Artifacts](https://github.com/opencontainers/artifacts) generalized the ability to persist artifacts within an [OCI Distribution conformant](https://github.com/opencontainers/oci-conformance/tree/main/distribution-spec) registries enabling a wide r

[2021-09-21 21:12] anvega commented on #794
Thanks for expressing interest to share your work with the community, @SteveLasker!

There is currently a slot open for presentation Wednesday, September 29th, at 10 am pacific time. Do that time and date work for you?

If you're planning to use any slides during your presentation, please include the link to the content ahead of the presentation. You can add that here on this issue.

[2021-09-21 21:20] SteveLasker commented on #794
Thanks @anvega
Sept 29 @10 pacific will work just fine. For those that want to pre-read, I'll use [this deck](https://view.officeapps.live.com/op/view.aspx?src=https%3A%2F%2Fraw.githubusercontent.com%2FSteveLasker%2FPresentations%2Fmaster%2Foci-artifacts%2FArtifacts-SupplyChain.pptx&wdOrigin=BROWSELINK) as the baseline

I'll update as we get closer to next week.
Thanks,
Steve

[2021-09-21 21:48] achetal01 opened #796 "Cloud Native Security Policy Draft Whitepaper - Presentation"
Title: What is the title of your presentation?
Cloud Native Security Policy Whitepaper

Speakers: Who will be presenting this? List names/github IDs of presenters.
Jim Bugwadia, Robert, Jaya, Aradhna
Description: Describe in a short paragraph what the presentation is about.
It is about the Policy working group- They have been working on a policy whitepaper for cloud native technologies.

Time: How

[2021-09-21 22:19] achetal01 commented on #796
Thanks

[2021-09-22 17:25] TheFoxAtWork commented on #769
@lumjjb please remember to link your slides to the issue! :)

[2021-09-22 17:26] #752 closed

[2021-09-22 18:23] TheFoxAtWork commented on #679
This issue needs to be updated with a timeline, corresponding milestone deliverables, and list ALL the contributors thus far.  This needs updated before KubeCon+CloudNativeCon.

[2021-09-22 18:38] TheFoxAtWork commented on #377
Please update the joint-review in markdown with the issues opened with the project for tracking purposes regarding recommend changes from the Security Review.

[2021-09-22 18:38] TheFoxAtWork commented on #377
and these tasks need mark done.

[2021-09-22 20:53] lumjjb commented on #769
[SecurityTAG.2021-09-v2.pdf](https://github.com/cncf/tag-security/files/7213741/SecurityTAG.2021-09-v2.pdf)

[2021-09-23 14:28] TheFoxAtWork commented on #796
call to action sent: https://lists.cncf.io/g/cncf-tag-security/message/70

[2021-09-23 14:28] #796 closed

[2021-09-23 14:28] #769 closed

[2021-09-23 14:30] TheFoxAtWork commented on #734
Call to action sent out:  https://lists.cncf.io/g/cncf-tag-security/message/71

[2021-09-23 14:34] TheFoxAtWork commented on #734
@PushkarJ Could you provide an updated issue description and timeline given the call to action sent out?  I think resolution of the call to action is a good deliverable for this and we can then determine at final publication if/how we can integrate this with existing group processes (such as security reviews or security pals)

[2021-09-23 14:35] TheFoxAtWork commented on #607
@rficcaglia @achetal01  would you provide an updated issue description so that we can get this added to the related groups and close the issue?

[2021-09-23 14:48] TheFoxAtWork commented on #449
Closing issue as i believe this work is currently complete.

[2021-09-23 14:48] #449 closed

[2021-09-23 14:52] TheFoxAtWork commented on #603
Folx - wanted to checkin here to see if we need to update the issue details, i saw the soft date of Jan 2022.
Couple items
1. does k8s sig-security propose changes to the conflict of interest based on feedback from earlier?
1. are there any initial insights/recommendations?

[2021-09-23 14:56] TheFoxAtWork commented on #788
If anyone is interested in working on this lightweight PR i'm more than happy to coach/mentor/walkthrough/explain!

[2021-09-23 15:01] TheFoxAtWork opened #797 "[Suggestion] New Participant first contributions"
Description:
Based on feedback from issue #666 , we'd like to make changes to the information we provide new participants/members to ensure their contributions and engagement with the group is successful, positive, and enduring.

Scope:

- [ ] Create a new file in [CONTRIBUTING/](https://github.com/cncf/tag-security/tree/main/CONTRIBUTING) called "first-time-contributions"
- [ ] New file should in

[2021-09-23 15:04] TheFoxAtWork commented on #665
Recommend #672 be modified to place triage responsibilities on Security TAG Leadership as part of their regularly scheduled TL/Co-Chair meeting to expedite issue decisions and PR merging.

[2021-09-23 17:17] sayantani11 commented on #797
This is great 🎉

[2021-09-23 18:57] sayantani11 commented on #797
@TheFoxAtWork Can I make a PR for it?

[2021-09-23 19:31] sunstonesecure-robert commented on #603
we would need the chairs (@tabbysable) to weigh in on the conflict of interest declaration. since I added it into the original SAFE process way back when, I definitely like it :)  I think it's good to be transparent.

 re: 2 - nothing has kicked off as yet - unless you consider that we had a discussion today with a community member (mattias luft) @ Salesforce who presented their control plane audi