[2018-03-30 21:20] dshaw opened #3 "Use Case: Cloud Foundry with @sreetummidi"
@sreetummidi gave one of the first Use Case presentations, but it was early, most SAFE members have not seen the presentation and the session recording only had video with no audio.

At the 2018-03-30 SAFE Meeting, @sreetummidi agreed to share the presentation again. 🙏 Thank you.

[2018-04-02 12:54] izgeri opened #4 "Perspective of a security professional with @izgeri"
@izgeri is working with CyberArk to see if there are any security professionals within the org who perform security analysis as part of their job who could speak to their experience working within today's cloud platforms. Specifically, it would be interesting to find someone who could discuss what tools or resources would make their job easier.

[2018-04-06 14:31] izgeri opened #6 "Talk proposal: Application Identity in Cloud Foundry and Kubernetes, from the Perspective of an External Service"
CyberArk Conjur recently built two new integrations with Pivotal Cloud Foundry / Cloud Foundry and OpenShift (RedHat's implementation of Kubernetes). Through that process, we learned a lot about how applications are uniquely identified in these two systems, and how external services might leverage the internal app identities to reliably privilege appropriate applications to utilize their services.

[2018-04-06 17:29] duglin commented on #6
I assume this is related to OSB API right ?  Either way I’d be interested in hearing this.

-Doug

Sent from my iPhone

[2018-04-06 17:50] izgeri commented on #6
For one of these integrations we used the OSB API, but I wasn't actually thinking I'd talk much about that. I'm actually more interested in the emerging standards around certificate-based app identity, such as the [SPIFFE standard](https://spiffe.io/) and [CF instance identity](https://github.com/cloudfoundry/diego-release/blob/develop/docs/instance-identity.md).

[2018-04-11 14:32] jasonmelo opened #9 "ABAC Enterprise use-case discovery"
Connecting SAFE members with a real-world scenario of ABAC implemented on a graph database with a user friendly RBAC abstraction for users and operators.

- Jason Melo and Christian Kemper discussing a higher level conceptual, architectural and implementation overview on 12/4
- Jason Melo discussing a demo for the SAFE group with ADP Product Owner Michael Hirawady on 13/4, based on this discussion

[2018-04-13 18:12] ultrasaurus opened #19 "add Adminstrator Bill of Rights to the repo"
would be great to add [Adminstrator Bill of Rights doc](https://docs.google.com/document/d/19V_Vx0fdz2HOa31FpPswT9CsUphizfJcwvDJv05aWFs/edit#heading=h.ems5pk2exnlb) as markdown

[2018-04-13 18:17] jasonmelo commented on #9
@jasonmelo met with ADP this week to discuss the ABAC/RBAC models inherent in some existing authorization functionality in their platform. They are on-board to present the concept and how it expresses the SAFE use cases, targeting 4/27 however could do sooner if not needed for Friday's WG weekly session.

[2018-04-13 22:28] ultrasaurus opened #20 "Key Elements of a Trustworthy System"
The working group will outline the common problem of the fragmented and isolated security in distributed infrastructure, refine the requirements for a solution, and discuss the constraints and tradeoffs.

We will initially collaborate via google doc, and later turn into a more formal recommendation.  For now, please add comments, ideas and question to the doc linked below:

"Key Elements of a Trus

[2018-04-17 15:04] knowlengr opened #21 "NIST / IEEE Candidate Collaborators / Groups"
As requested, a list of groups with potential liaison and socialization opportunities

1. [NIST Big Data WG]([url]https://bigdatawg.nist.gov/(url)) - Mark U can liaise

2. IEEE P2675 DevOps Security [https://standards.ieee.org/develop/project/2675.html](url)

3. IEEE Product Safety Engineering Society [http://ewh.ieee.org/soc/pses/](url)

4. NIST Cloud Security SP 500-291 [https://www.nist.gov/sit

[2018-04-19 16:09] jasonmelo commented on #9
@dshaw How should we go about getting this on the agenda for the 27th? I'd say allot about 45 minutes for preso and Q&A.

[2018-04-20 18:24] mfdii opened #22 "Use case presentation on Sysdig Falco"
I wanted to propose a use case presentation for the SAFE-WG on [Sysdig Falco](https://github.com/draios/falco). Falco is an open source solution for runtime security. It will detect abnormal behavior inside of containers or container hosts and then notify external systems of the abnormal behavior. This notification can trigger actions such as killing/deleting a container, logging to a collection p

[2018-04-20 18:53] dshaw commented on #9
@jasonmelo Let's begin to explore dates following the May 15th TOC meeting. May 25th, as you mentioned, is Memorial Day weekend. I'd be happy to shoot for Friday, 5/18 if that works or look for dates in June.

[2018-04-23 00:36] pragashj opened #23 "Scope of SAFE proposal"
**In scope**
- Exploring and recommending security models
- Identifying and suggesting projects for consideration for CNCF
- Cross-pollinating knowledge by participating and inviting people from other projects and SIGs to transfer security practices
- Bringing in external standards from organization like NIST to projects in CNCF
- Coming up with a common vocabulary to talk about and understand and

[2018-04-24 03:46] dshaw commented on #23
Thanks, @pragashj for getting us started.

As a reminder for everyone. We're capturing what we want to cover in this Working Group. What's in scope FOR YOU and what's out of scope.

[2018-04-24 03:46] dshaw commented on #23
SAFE: Secure Access for Everyone

**In scope:**
* Define what safety a cloud environment entails
* Identify and define what cannot be achieved in a cloud environment
* Identify common actors and personas in a cloud environment
* Partner with CNCF members and projects to identify safety best practices

**Out of scope:**
* Implementation secure access solutions
* Any broad security concern
* Any bro

[2018-04-24 04:00] duglin commented on #23
Initial scope:
- Define the scope of "security" we're concerned with - "app security"? "platform security"? both? others?
- Define common vocab/terms that we'll use in our output doc(s)
- Examine the landscape to see what the community is doing today to address that scope
- Produce a whitepaper of our findings, which might include:
  - a summary of where there is agreement across the current platf

[2018-04-24 20:30] rcolline commented on #23
#### A couple of things I think we could realistically achieve that would be generally useful:
* Common language and definitions for access control concepts that can be easily understood by developers and consumers of access control systems.  Try to reuse industry standards (XACML, NAGC, etc) where appropriate so we don't add yet another set of terms.
  * Where ever
* Expose and define the tradeof

[2018-04-24 23:45] ckemper67 commented on #23
In Scope:

- Understanding the security landscape for users, including legacy access control
- Understanding the existing research body for security and access control
- Understanding aspects of federation of security policy
- Making the tradeoffs between the different approaches transparent for us and for the consumers of our output

Out of scope:
- Defining a standard
- Recommending a standard
-

[2018-04-25 17:11] prabath commented on #23
Hope I am not duplicating the things we already discussed in this thread..

In scope:

- Define best practices/patterns in secure access and produce a document on the same
- Identify and highlight the ant-patterns

[2018-04-26 06:03] ultrasaurus commented on #23
In scope
* What is a secure architecture that spans cloud and on-prem deployments?
* How are requests authorized?
* How do we know a service should be authorized to handle a request?
* How do we know a user should be authorized to make a request?
* How do I audit my policies that control access to my app/infrastructure?
* How do I make sure a user can't use more resources than allowed?

Out of sco

[2018-04-27 09:05] kbpawlowski commented on #23
In scope:

   - decide if our primary goal is safety (being free from risk) or
   security (being free from danger or threat)
   - select environments that are in scope to be kept safe or secure
   - decide (and prioritize) which threats or risk should be addressed
   - develop a common vocabulary
      - for risks and threats
      - for use cases
      - for environments
      - for tooling
   -

[2018-05-11 10:37] justincormack commented on #20
I cant access that doc - I requested access but I wonder if there is an undocumented Google Group for Safe as well?

[2018-05-25 17:46] pragashj commented on #3
https://youtu.be/DRtl8wK9FwE

[2018-05-25 18:21] dshaw commented on #6
@izgeri Scheduled for 2018-06-08

[2018-05-25 18:39] dshaw commented on #9
@jasonmelo Can we do this on 2018-06-15?

[2018-05-26 01:53] ultrasaurus opened #28 "KubeCon + CloudNativeCon, Shanghai , Nov 14-15, 2018"
[KubeCon + CloudNativeCon , Shanghai](https://www.lfasiallc.com/events/kubecon-cloudnativecon-china-2018/)

Nov 14-15, 2018

Who is going?  anyone want to help organize an in-person meeting?

[Call for Proposals](https://www.lfasiallc.com/events/kubecon-cloudnativecon-china-2018/program/call-for-proposals-cfp/) Close: July 6, 2018

[2018-05-26 01:57] ultrasaurus opened #29 "KubeCon + CloudNativeCon, North America, Dec 11-13, 2018"
[KubeCon + CloudNativeCon, North America](https://events.linuxfoundation.org/events/kubecon-cloudnativecon-north-america-2018/)

December 11 - 13, 2018
Washington Convention Center
Seattle, WA

[Call for Proposals](https://events.linuxfoundation.org/events/kubecon-cloudnativecon-north-america-2018/program/call-for-proposals-cfp/) Close: August 12, 2018

[2018-05-30 12:41] jasonmelo commented on #9
@dshaw confirmed for 2018-06-15 cc @ultrasaurus

[2018-06-08 18:41] izgeri commented on #6
Slides are available [here](https://drive.google.com/file/d/1UM7jkc2sI61fS0uv968EVMrCHjr4AN6Y)

[2018-06-08 18:41] #6 closed

[2018-06-15 12:55] dshaw commented on #22
Thank you, @mfdii.

Folks can find meeting notes and session recording here:
https://docs.google.com/document/d/10iJ3wA7uVI6JMyvIv9qXdxdLCyQeS-djYsTqL_JG3d0/edit

[2018-06-15 12:55] #22 closed

[2018-06-19 18:19] jasonmelo commented on #9
Slides from the 06-15 presentation by Mike Hirawady - [ABAC Deck](https://drive.google.com/file/d/1aW1T-_N2qkCXfLthenjMhEQetgLt6SGW/view?usp=sharing)

[2018-06-29 18:16] #3 closed

[2018-06-29 18:17] #9 closed

[2018-06-29 18:24] quiqie commented on #19
I can do this.

[2018-06-29 18:38] ultrasaurus opened #32 "Who is the Quota Operator?"
What was the original intent of this persona?  it seems like it might be more of a cluster of use cases that belongs to another role, rather than a job unto itself.

From reading the use cases, it seems like it is someone who works in the IT org and is responsible for managing the quota settings for their org --- in my experience, this person is sometimes responsible for checking budgets (at least

[2018-06-29 18:57] ultrasaurus commented on #32
@sreetummidi @raycolline @ckemper67 what do you think?

[2018-07-13 17:39] dshaw commented on #19
Thank you, @quiqie. Landed.

[2018-07-13 17:41] dshaw commented on #4
Thank you, @izgeri for presenting.

[2018-07-13 17:41] #4 closed

[2018-07-13 17:53] caniszczyk commented on #23
@dshaw I'd like to have a proposal ready for the CNCF TOC on Aug 7th so we can formalize this WG.

[2018-07-13 17:55] #19 closed

[2018-07-13 18:29] dshaw opened #36 "Software Identity: Workload Identity, Service Identity, Application identity"
Prompt from [2018-06-29 meeting](https://docs.google.com/document/d/1fyBDIm82xtTYWhZu3gyLahltMdTOxl9aWfOfRxYHapo/edit):
Software Identity: Workload Identity, Service Identity, Application identity — are these the same thing?

[2018-07-13 18:52] dshaw commented on #36
The SPIFFE Identity and Verifiable Identity Document is focused on Workload Identity, but are still struggling to find the right expression.

https://github.com/spiffe/spiffe/blob/master/standards/SPIFFE-ID.md

[2018-07-14 14:35] knowlengr opened #38 "Request Briefing from Cloudbees"
Cloudbees is a provider of services to enhance continuous software delivery (CD/CT/CI/CF).  Their (at least partly vendor-neutral) views on best practices to enhance cloud security (including serverless) can inform guidance produced by this working group.

I have sales contacts from attending their webinars, but if others know of specific contacts with appropriate background and savvy, please help

[2018-08-02 05:52] dshaw opened #41 "Create merged agenda uniting the SAFE WG and Policy WG teams"
The SAFE WG will be presenting to the CNCF TOC on Tuesday, August 21. The Kubernetes Policy WG has formed a team focused on bringing Cloud Native Policy context back to Kubernetes. Given the overlap between our teams, we are banding together to form one unified group under SAFE.

The agendas of the two groups need to be merged.

[2018-08-02 05:54] dshaw commented on #41
WIP Document: [SAFE Working Group Merged Agenda](https://docs.google.com/document/d/14A-0RWyf5F35i7ZCmwLM-eaCq9aLv_I-pdO-kWdM0zk/edit)

The document should be world readable and open for comment. Please feel free to request edit access as needed.

[2018-08-02 15:40] dshaw opened #43 "2018-08-21 TOC Presentation Prep"
* PR SAFE WG before 2018-08-21
  - [x] Assign responsible party for PR? Dan Shaw
  - [x] What date do we want to land it on? Proposed date Thursday, 2018-08-16.
  - [x] 2 page overview of SAFE WG. (No need to present WG overview again. Slides are the anchor for kicking of TOC voting.)
  - [ ] Who will present the presentation? JJ or Sabree

Following quick overview of work, Chris Aniszczyk will ki

[2018-08-09 14:14] ultrasaurus opened #46 "policy monitoring and enforcement"
I don't think we've had any presentations from vendors or projects doing any kind of security auditing or policy checking.  I think this would be a good perspective to inform our work.

Two open source projects that could provide good perspectives on this:
* Forseti: https://forsetisecurity.org/
* Cloud Custodian: https://github.com/capitalone/cloud-custodian

[2018-08-09 14:33] ultrasaurus opened #47 "document our governance model"
We talked about this, but didn't include in the repo.

@pragashj volunteered to submit a PR

[2018-08-09 14:49] ultrasaurus opened #48 "move roadmap to github"
https://docs.google.com/document/d/1Yt5IPtN5Mc-FrQDFGUhLpBRePmMAZUA83NbENb69oLs/edit#bookmark=id.af7z1y50odeh

[2018-08-16 07:35] dshaw commented on #43
DRAFT PR page

# CNCF SAFE WG Proposal

## TOC Sponsor

Alexis Richardson

## Objective

Safe Access for Everyone (SAFE) Working Group will explore secure access, policy control and safety across the cloud native ecosystem for multi-party, interoperable systems.

## Goals and Expected Outcomes

* Create Key Elements of a Trustworthy System white paper
* Create Cloud Native Policy Architecture whit

[2018-08-16 14:14] dshaw commented on #43
## Objective

Safe Access for Everyone (SAFE) Working Group will explore secure access, policy control and safety for operators, administrators, developers, and end-users across the cloud native ecosystem.

[2018-08-16 14:41] dshaw commented on #43
_Previous iteration_

## Goals and Expected Outcomes

* Create Key Elements of a Trustworthy System white paper
* Create Cloud Native Policy Architecture white paper
* Container Policy Interface implementations
* Explore specifications for SAFE concerns to propose to the CNCF
* Bring recommendations to the TOC on SAFE concerns projects in CNCF

[2018-08-16 14:56] ultrasaurus commented on #43
* Members will provide feedback on proposed TOC projects related to SAFE
* Consider additional recommendations to CNCF TOC, such as:
   * specifications that may be needed to address SAFE concerns
   * project proposals needed to address gaps in the SAFE ecosystem

[2018-08-16 15:27] dshaw commented on #43
Thanks, @ultrasaurus.

[2018-08-16 15:27] dshaw commented on #43
DRAFT Slides:

https://docs.google.com/presentation/d/1NMzOC50fTCvMBdtkQecMxgh3F_oMkIhfl9gtDcamdXo/edit

[2018-08-17 18:50] tallclair opened #53 "SAFE / SIG-Auth sync up"
I think it would be a good idea to present the SAFE WG to SIG-Auth again, and have a similar discussion to the one we had in [2018-08-17 meeting](https://docs.google.com/document/d/1JsEv4vk_61UaF9SaHBRzzPGja-bNsHeLqxa53RPVfos/edit#heading=h.jdac2fseijb0).

For a date that works (see [SIG-Auth meeting schedule](https://github.com/kubernetes/community/tree/master/sig-auth#meetings)), I recommend add

[2018-08-17 20:29] rae42 commented on #28
I'm doing a Bird of a Feather talk titled "Access policies for hybrid cloud environments".
Description: A typical admin/developer today needs to deal with many access policy systems: K8S RBAC, Istio RBAC and ABAC, OPA, policies from cloud vendors including IAM, firewall rules, quota etc. Reasoning about access across these systems is getting more and more complex and difficult. We want to invite t

[2018-08-24 18:37] ericavonb opened #59 "[k8s/wg-policy] External systems in control"
The Kubernetes Policy Working Group has been discussing how to deal with external policy control systems in clusters.
Thread: [Kubernetes developer/contributor discussion › External systems in control - interest in WG?](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/kubernetes-dev/st1ZtD6lMFo/YXO9STkbEgAJ)

@k82cn is working on a doc to gather thoughts/requirements.

- [

[2018-08-24 18:43] pragashj opened #60 "Scoping and recommendation for compliance and vulnerability elements applied to cloud native infrastructure"
The issue of wether this is in-scope or out-of-scope has come up multiple times and multiple context. As a group, let us identify what if any part of compliance and vulnerability is in-scope and how it relates to cloud native ecosystem.
The goal (and boundary) here is to help out components of cloud native ecosystem projects.

[2018-08-28 15:56] dshaw commented on #53
Thanks for having us. We look forward to ongoing collaboration.

[2018-08-28 15:56] #53 closed

[2018-08-30 14:25] #43 closed

[2018-08-30 14:26] #23 closed

[2018-08-30 14:26] ultrasaurus opened #66 "Draft categories for SAFE Landscape"
We need to draft the categories that we'll use for grouping projects in the landscape.

This issue is to create an initial draft, and then we'll discuss at a WG meeting

[2018-08-30 14:35] ultrasaurus opened #69 "Map CNCF projects in the SAFE Landscape"
TO DO:

- [ ] create draft categories: https://github.com/cn-security/safe/issues/66
- [ ] discuss in SAFE WG with initial categorization
- [ ] invite CNCF projects to review categories and sign up to meet with us to discuss their position in the landscape
  - Security and Policy solutions
    - [ ] SPIFFE / SPIRE - Evan
    - [ ] Notary
    - [ ] TUF
    - [ ] OPA - Torin with updater
  - Project

[2018-08-30 15:06] anweiss commented on #60
So there are two elements here that I think we should bifurcate.

a) There's the aspect of policies/configurations that CNCF projects should take into account so their users can satisfy regulatory compliance requirements. Or a reference to any projects that are tools that directly support compliance-related activities.

b) There's also a more holistic notion of continuous compliance that we as a W

[2018-08-31 20:08] mattfarina commented on #60
Here's my 2 cents...

From this there are a number of roles (e.g., developer and operators - which can be subdivided into platform/cluster operators and app operators). There's also the idea of safety where I found a nice simple definition of "freedom from danger, risk, or injury".

I would look to generate outputs that benefit these groups in a useful manner. In this case I mean  [Jakob Nielsen's

[2018-09-04 14:38] dshaw opened #71 "CNCF voting has begun"
Chris Aniszczyk has kicked off voting to ratify SAFE WG ahead of the 2018-09-04 TOC meeting.

https://lists.cncf.io/g/cncf-toc/message/2316

[2018-09-05 21:26] ckemper67 commented on #32
The intent of the persona was to go beyond restricting SAFE to pure authorization scenarios.

Note that quota is not necessarily a cost control measure. A more important use of quota is to protect your service from abuse. By setting a quota you can make sure that a single customer cannot bring down the service for everybody else (either intentionally or unintentionally). We have seen services that

[2018-09-05 21:29] ckemper67 opened #75 "Request Briefing from Mastercard"
At Kubecon Mastercard expressed interest in Google's thoughts on OPA and we assume that Mastercard may be interested in ABAC. I think it would be interesting to hear from them in the context of SAFE.

@dshaw mentioned that he has contacts at Mastercard.

[2018-09-06 09:50] lizrice commented on #66
@izgeri thanks for flagging that. For reference here are what I think are the [relevant meeting notes](https://docs.google.com/document/d/1vkUJcj6m8OzZorgODk_D1bchnByb4EXJLbKf5tcMSXA/edit#heading=h.p0wjx8ruop5j) from the Reference Architecture group

[2018-09-06 10:08] lizrice commented on #60
I have started a [draft doc](https://docs.google.com/document/d/1LKCy9wIi8zomH_mbIwGHTd1Xnq1zwyruG4E2L0LGzjM/edit?usp=sharing) on the practical outputs that SAFE could enable related to compliance. Feedback / edits welcome!

[2018-09-06 12:40] izgeri commented on #66
Thanks @lizrice. There are also conversations that have been happening in that [mailing list](https://lists.cncf.io/g/cncf-reference-architecture/topics), and I expect @mfdii and I will have a proposal in the next two weeks (he's away this week).

[2018-09-06 17:50] pragashj commented on #47
The governance document is a WIP and is going to be loosely based on SIG-Auth. Any inputs to this from the community is welcome.

[2018-09-06 17:57] pragashj opened #77 "Breaking down the tasks in Policy-WG to spin off sub tasks"
@hannibalhuang Creating this tasks as discussed in the call today.
The objective is to break the policy proposal down in to smaller iterable chunks

[2018-09-07 18:47] ckemper67 opened #80 "Consider better coordination between network based security and identity based security"
Network security and identity based security tends to be considered in isolation. Projects like Istio are re-thinking this approach and allow you to secure the service to service communication based on service identities.

It is difficult for administrators to think about these aspects together and we should try to take that into account. Problems in this area are:
1. With ephemeral containers, pr

[2018-09-07 18:52] ckemper67 commented on #80
@dshaw wanted us to define the area of concern and asses how deep we want to go in this working group.

[2018-09-08 02:07] tk2929 commented on #80
Just my loud thoughts probably echoing your issues:
IP based identity authentication may not render well in the virtualized environment:
•	When the pods/containers fail, the substitute or standby container must assume (re-assignment aka reconfiguration) the same IP address in order to keep the authentication check transparent – not an easily scalable approach.
•	This may become further complex if

[2018-09-12 23:35] qnetter commented on #29
I will be attending and would like to attend a meetup.

[2018-09-14 18:44] pragashj commented on #66
@evan2645, @sreetummidi please take a look at this

[2018-09-14 19:14] izgeri commented on #66
@dshaw do I need to be assigned this issue? I'm not sure how to do that in this repository.

[2018-09-18 12:14] izgeri commented on #69
@ultrasaurus I'd like to revise this issue slightly to clarify its purpose. Can we rename it to something like "Solicit feedback from relevant CNCF projects on SAFE landscape", and then remove  the first two bullets:
[code]

This focuses this particular issue on soliciting feedback once we've created draft categories in #66, which I think is beneficial.

I would also suggest that we create a third

[2018-09-20 00:34] izgeri commented on #69
Or based on the governance PR, perhaps it makes sense to have this issue (and any additional related issues) all grouped into #66, to track the subproject with one issue.  Please advise.

[2018-09-20 00:41] izgeri commented on #66
@pragashj @lizrice @ultrasaurus @evan2645 @sreetummidi @dshaw

[This is the Google document](https://docs.google.com/document/d/1--nMpThR_LyUUBN_7wVBC0L1IGzMAbY7kQkiPVR9sH0/edit?usp=sharing) with notes on what @mfdii and I have worked up so far. It includes an explanation of the purpose of our work as well as a proposed structure of what we have been calling the "Security Landscape".  I will be le

[2018-09-21 18:28] ericavonb opened #87 "KubeSec @ KubeCon NA 2018"
[**KubeSec Enterprise Summit 2018**](https://info.aquasec.com/kubesec2018)
December 10, 2018 | Seattle, WA
[KubeCon Co-Located Event](https://events.linuxfoundation.org/events/kubecon-cloudnativecon-north-america-2018/co-located-events/#kubesec-enterprise-summit)

Focused on the challenges faced by larger organizations with demanding security and compliance requirements when deploying Kubernetes i

[2018-09-21 19:13] izgeri commented on #66
Task breakdown with tasks merged from #69 (I am unable to edit the original issue):

# Define Categories / Sub-categories
- [X] propose initial draft of security-focused landscape
- [X] discuss initial categorization proposal in SAFE WG
- [ ] solicit feedback from subject matter experts
- [ ] solicit feedback from CNCF projects
  - Security and Policy solutions
    - [ ] SPIFFE / SPIRE - Evan

[2018-09-21 19:14] izgeri commented on #69
I've merged the content of this PR into #66. In particular, I've added a task breakdown of the work ahead in a comment there (https://github.com/cn-security/safe/issues/66#issuecomment-423642797) - @dshaw, can issue #69 please be closed now?

[2018-09-21 19:29] dshaw commented on #69
Thank you, @izgeri

[2018-09-21 19:29] #69 closed

[2018-10-05 19:01] anweiss commented on #21
Adding a few more for NIST. These all roll up to the Computer Security Division (CSD) of the Information Technology Laboratory (ITL). The NIST [National Cybersecurity Center of Excellence (NCCoE)](https://www.nccoe.nist.gov/) is also a key publisher of security standards and recommendations and is an FFRDC (Federally Funded Research and Development Center) created as a result of Executive Order 13

[2018-10-12 17:59] knowlengr opened #90 "SAFE in the Context of Continuous Integration/Deployment"
The advent of DevOps and the roots of agile have meant decreased cycle time for release - generally represented as CI/CD to reflect integration and deployment. Because DevOps adds facets of Ops and infrastructure to the mix, risks can be elevated. New threat models emerge. An example of this is containers, where visibility to traditional security tools has only recently been added (StackRox, Twist

[2018-10-12 18:16] knowlengr opened #91 "Container Security?"
Suggestion: We might ask for a presentation from StackRox, Aqua, Twistlock or that ilk to understand if there are specific issues that we may wish to address.

[2018-10-12 18:36] knowlengr opened #92 "Use Cases for Interoperability"
In the security and "management" (i.e., Ops Intel) landscape, consider the concern over how to encourage telemetry from one tool to pub/sub streams from other tools. Mostly, this is a traditional interoperability issue, but security orchestration and automation presents additional important (sometimes mandatory) and nice-to-have capabilities.

Once these requirements are in place, a DevOps pipelin

[2018-10-25 13:54] lizrice commented on #91
I can help with this if the group would find that useful (I'm from Aqua)

[2018-10-25 14:09] ultrasaurus opened #94 "in-toto deep dive"
In Toto approached the CNCF TOC and Alexis Quinn referred them to SAFE.

We invited them to present to the WG on 10/12/2018

https://github.com/in-toto/in-toto
Santiago Torres-Arias and Justin Cappos (NYU)

2018-10-12 SAFE WG Meeting [notes](https://docs.google.com/document/d/1JsEv4vk_61UaF9SaHBRzzPGja-bNsHeLqxa53RPVfos/edit#bookmark=id.3esvqmfpijrz)

[Meeting video recording](https://www.dropbox.

[2018-10-25 14:12] #94 closed

[2018-10-25 14:18] ultrasaurus opened #95 "OPA (Open Policy Agent) presentation"
OPA is a CNCF sandbox project

Tim Hinrichs (OPA/Styra) presented OPA and use cases on 2/23/2018

Slides: https://www.slideshare.net/TorinSandall/opa-apis-and-use-case-survey
Recording: https://www.dropbox.com/s/86jfs88pjrogbm6/zoom_0.mp4?dl=0

[Meeting Notes](https://docs.google.com/document/d/1U4x1wynL-JlojF1Qidus97t8bJve3XJWTpc07hHCAxU/edit#)

[2018-10-25 14:18] #95 closed

[2018-10-25 14:20] ultrasaurus opened #96 "NIST Big Data public working group"
Mark Underwood presented on 2018-03-23

[Meeting video recording](https://www.dropbox.com/s/78ebgffwn9w7xgu/zoom_0.mp4?dl=0)
[Slides](https://www.slideshare.net/knowlengr/nist-big-data-public-wg-security-and-privacy-v2)
[Notes](https://docs.google.com/document/d/1H3VOI9-GqRAj_tdPL9sECF1c8t4x_sF1G08PqLzlUWM/edit#heading=h.g2ssty7nv4sz)

[2018-10-25 14:20] #96 closed

[2018-10-25 14:28] dshaw commented on #9
Meeting notes: https://docs.google.com/document/d/1usB6Xw1GVjW--RkRw1RPypwvUP_E8trtzg9JTO1ZAkM/edit

Meeting video recording:
https://www.dropbox.com/s/t5f057pst5fx09c/GMT20180615-175435_SAFE-WG-Me_1760x900.mp4?dl=0

[2018-10-25 14:31] dshaw commented on #6
Meeting notes: https://docs.google.com/document/d/10iJ3wA7uVI6JMyvIv9qXdxdLCyQeS-djYsTqL_JG3d0/edit

Meeting video recording:
https://www.dropbox.com/s/rmr3231e26zue4j/zoom_0.mp4?dl=0

[2018-10-25 14:35] dshaw commented on #95
Meeting video recording:
https://www.dropbox.com/s/86jfs88pjrogbm6/zoom_0.mp4?dl=0

[2018-10-25 14:50] dshaw commented on #96
Arnab Roy presented on 2018-05-18:

* [Meeting Notes](https://docs.google.com/document/d/1xzJ29fTOJSioqrDuSkvBfsewV2lvgbr8olmDWb4kdPk/edit)
* [Meeting Recording](https://www.dropbox.com/s/mdhy0rqjswjwgch/zoom_0.mp4?dl=0)
* Presentation Slides ?

[2018-10-26 18:55] dshaw opened #97 "SPIFFE / SPIRE Audit Retrospective"
Justin Cappos is invited to present the prior art of pre-acceptance security audits for SPIFFE / SPIRE.

[2018-10-29 20:23] #87 closed

[2018-11-10 02:35] #48 closed

[2018-11-10 03:08] dshaw commented on #97
Follow-up from Justin:
**[Security Audit Guidelines for SAFE WG](https://docs.google.com/document/d/1nKCGDd0TzQcVgrDWWa1t54a1E_6fwZQaFcAK-YJK2CM/edit)**

Please review and comment.

[2018-11-13 07:08] lizrice commented on #60
Is it time to move this doc into GitHub rather than a google doc?

[2018-11-13 07:09] lizrice opened #105 "Add compliance work to Roadmap"
We should add something about the work on compliance to the [SAFE roadmap](https://github.com/cn-security/safe/blob/master/roadmap.md).  For example, perhaps under item 4, "Identify", we could add something like "Identify how different CNCF projects can be configured and used to meet different [compliance](https://docs.google.com/document/d/1LKCy9wIi8zomH_mbIwGHTd1Xnq1zwyruG4E2L0LGzjM/edit#heading

[2018-11-14 18:52] andrei821 commented on #29
Just had a great discussion in SHANGHAI with Liz - Will be attending to NA as well.

[2018-11-16 13:32] andrei821 opened #106 "Build a Guideline for LargeOrg Security Teams"
[Some]Security teams working within large organizations have a traditional approach when designing security requirements for newly deployed cloud native environments. Usually this traditional approach is defined by creating firewalls around applications, filtering EGRESS traffic using corporate proxy, while manually managing access rules.
Having in mind that security is paramount for most organiza

[2018-11-20 16:59] dshaw opened #107 "Proposal: CNCF Categories and CNCF SIGs"
Alexis unveiled the CNCF Working Group 2.0 proposal at today’s TOC meeting.

Please review. We have been asked to provide feedback in 2 weeks for the next TOC meeting.

https://docs.google.com/document/d/1mt1LH1QJgwA91A6x-DEdjg4ZOXrOnxxc1d2xhq4Hq3I

[2018-11-30 19:07] ultrasaurus opened #109 "validate personas and use cases"
draft proposal
- Cloud native user: security roles & practices (target companies > N employees)
- Interview at least 4 people who fit each persona and ask them about their work
    - describe their role & responsibilities
    - what do they do day-to-day to ensure the security of their systems or prevent misuse?
    - how do they (or their company or colleagues) know that this work is effective?
-

[2018-11-30 19:15] ultrasaurus opened #110 "Micro-site: categorize and highlight presentations w/ better index"
*Description*: we want to surface the work that the group has done over the past 1.5 years and create a maintainable structure, so as we add more to the repo, parts of it will naturally update on the web also -- basically, more accessible content with some friendly pointers to the repo. We want to start small and iterate, so we thought starting with the presentation would be useful to people and r

[2018-12-02 17:35] ultrasaurus commented on #32
Thanks @ckemper67 for your insights on this. I've submitted a PR based on your comment.

Related to this, in the last WG meeting, we discussed proposal to validate personas with some research -- anyone viewing this, may also be interested in commenting on:  https://github.com/cn-security/safe/issues/109

[2018-12-02 18:54] ultrasaurus commented on #110
I'm thinking we should consider a static site generator like [Hugo](https://gohugo.io) -- then we can keep meta-data in machine readable front-matter (though we could publish markdown as interim step, since I read that github now displays yaml front-matter)

[2018-12-02 19:45] pragashj opened #115 "Create a registry for security SMEs to list and/or volunteer"
We should find a way to capture SMEs for specific areas of security from the CNCF community. This could be tied to the landscape document that is getting worked on. Mechanism needed to create and manage this list needs to be discussed with the members of SAFE.
This is coming from Justin's comment on the ['Categories and CNCF SIGs'](https://docs.google.com/document/d/1mt1LH1QJgwA91A6x-DEdjg4ZOXrOnx

[2018-12-02 19:58] ultrasaurus commented on #110
here are some ideas of data representations for the presentations: https://github.com/ultrasaurus/safe/tree/presentation-page-format/presentations

[2018-12-14 02:09] wenjing opened #118 "Privacy regulation support"
New regulations have been introduced in various regions trying to formalize privacy protection for users. An example is GDPR (https://eugdpr.org/) in EU.
What do these regulations mean to K8S ecosystem? What gaps or pain points exist for k8s service providers today? If such gaps exist, what are good abstractions or capabilities that we should consider to add in k8s?

I raised this question during

[2018-12-21 18:33] izgeri commented on #110
I like the idea of having a directory structure that is indicative of the type of meeting transcripts that are included in that dir. Maybe each dir could have its own README with an index of the file inside? Or we could use a static site generator.

[2018-12-21 18:34] izgeri commented on #106
It might be interesting to produce a whitepaper that compares the cloud-native security landscape / the best practices that it highlights with what traditional security might look like.

[2018-12-22 18:39] pragashj commented on #106
This is an interesting idea. By traditional, do you mean standards or
implementation (architecture)?

On Fri, Dec 21, 2018, 10:34 AM Geri Jennings <notifications@github.com
wrote:

[2019-01-10 21:31] omerlh opened #123 "Presentation: Kamus - secrets encryption/decryption solution"
Hey
Recently we released [Kamus](https://github.com/Soluto/kamus), a solution for secret encryption/decryption for Kubernetes platform. In a high-level overview, Kamus solve a common problem for containerized applications - how to pass secrets securely? Kamus designed to encrypt secrets for a specific application, represented by a service account. Only this application can decrypt the secret, and

[2019-01-18 16:58] ultrasaurus opened #124 "landscape: map projects to categories"
This issue is for further work on https://github.com/cn-security/safe/tree/master/landscape

Placeholder for "finishing" the landscape, here are the next steps we have discussed

Map Security-Related Projects From CNCF Landscape Into draft categories, adjusting categories as needed (split off from https://github.com/cn-security/safe/issues/66, based on comment from @izgeri)

  - Security and Polic

[2019-01-31 04:43] hannibalhuang opened #126 "Cloud Native Policy White Paper"
The policy team has started the drafting process of [cloud native policy white paper](https://docs.google.com/document/d/1StDYW1zHVSF1Qswk0ScsyKw766AbAHOikyCNtqCsMMY/edit?usp=sharing)

It is still very much in the early stage and hopefully by mid-year we will have a 0.1 version out.

TODO:
- [X] STAG sponsor for co-work with k8s policy WG: @achetal01

[2019-01-31 15:41] ultrasaurus opened #127 "KubeCon + CloudNativeCon Barcelona, Spain, May 20 – 23, 2019"
May 20 – 23, 2019
Fira Gran Via, Barcelona, Spain

https://events.linuxfoundation.org/events/kubecon-cloudnativecon-europe-2019/

Moved links to talks to https://github.com/cncf/sig-security/pull/173

[2019-01-31 15:42] ultrasaurus opened #128 "KubeCon + CloudNativeCon, San Diego, CA, Nov 18 – 21, 2019,"
November 18 – 21, 2019
San Diego Convention Center, San Diego, California

https://events.linuxfoundation.org/events/kubecon-cloudnativecon-north-america-2019/

- CFP Close: 11:59PM PDT, Friday, July 12
- CFP Notifications: Tuesday, September 3
- Schedule Announced: Thursday, September 5

Dinner, Tues, Nov 19: [sign-up](https://forms.gle/h9r5gMWKB2RDduYQ9)

Security-related sessions:

Monday - Nov

[2019-01-31 16:03] dshaw commented on #123
@omerlh Thank you. Lining up available dates for presentations now.

[2019-02-08 20:01] pragashj opened #130 "Project presentation template for presenting project to SAFE"
Some of the things that the template should cover:
- Use cases that it solves
- Categories of security problem that it solves
- Technology choices
- Architecture & Design
- Test cases and coverage
- Community and adoption (metrics around that)

[2019-02-13 18:29] izgeri commented on #124
Noting that I spoke to Torin @ OPA today, and he noted that he thinks OPA will fit into both
- Identity & Access Control - Access Controls
- Service Access - Service admittance & admission controllers

We talked about some strategies we are considering for categorizing projects, and I asked him to think about security-related attributes that apply to OPA (even divorced from the landscape sub-categ

[2019-02-15 21:52] ultrasaurus commented on #130
In today's SAFE WG, we reviewed this [template](https://docs.google.com/presentation/d/1lv-Qj6r5iZ2Vf3Yhu6bY4q3rFlFt6W-Jy_AR0IUDFkY/edit#slide=id.g4f9dfd301a_0_0) -- created by @ckemper67 and @ultrasaurus

[2019-02-15 SAFE WG Meeting notes](https://docs.google.com/document/d/1WLnEErqODywjkQVTAESpwK8pgIbxsNDp6SqOtw3kjlk/edit#bookmark=id.y36vddmj59ck)

[2019-03-19 16:58] ckemper67 opened #131 "Onboarding OSS Projects at Google"
@felixgr from the Google Security team has agreed to give a presentation about the onboarding review process. He recently worked with the Envoy project, so he can put this into the context of onboarding a CNCF project.

We would like 30 minutes on the agenda of our Friday meeting at the end of March, beginning of April.

[2019-03-22 15:27] ultrasaurus commented on #130
@ckemper67 @JustinCappos @SantiagoTorres @ultrasaurus met on 3/18 to discuss revisions to the template based on in-toto experience.

Key takeaway:  We'd like to create a more clear delineation between the properties that the users of the systems should get and the project itself.
1. Is the project aiming at the right thing (solving an important problem for cloud native security, safety, etc.)
2. I

[2019-03-22 17:24] deepak-vij opened #133 "Joining the SAFE Working Group"
Is there a process for joining this WG or just show up for the regular meetings?

[2019-03-22 17:30] ficcaglia commented on #131
has this been confirmed? very hopeful it has!

[2019-03-22 17:50] pragashj commented on #133
Please add yourself to README and create a PR

On Fri, Mar 22, 2019, 10:24 AM Deepak Vij <notifications@github.com wrote:

[2019-03-22 17:50] ficcaglia commented on #105
Just my .02, I actually think of regulatory compliance as a separate domain/concern apart from secure access or technical policy controls/features.  It orchestrates and considers all the human activities surrounding and interacting with a software system.

Regulatory compliance can often be accomplished with manual human and paperwork processes (for good or ill) outside the software controls, wher

[2019-03-22 19:19] dshaw commented on #123
@omerlh We will expect to land our SAFE Presentation Framework next week and will be going through a final iteration of the presentation with the in-toto. It would be great if you or one of your team members could join us. This will serve as onboarding for the model we use when presenting to the WG.

Friday, March 29th at 11am PT

[2019-03-22 19:47] ckemper67 commented on #131
We decided today, that we can take this presentation on April 5th. 30 minutes.

[2019-03-23 02:33] ultrasaurus commented on #71
voting is now on the [SIG proposal](https://lists.cncf.io/g/cncf-toc/topic/vote_cncf_sigs_proposal/30503071?p=,,,20,0,0,0::recentpostdate%2Fsticky,,,20,2,0,30503071) where we expect security working group (maybe us?) to be the first test case

[2019-03-23 03:01] ultrasaurus opened #138 "Cloud Native Security Whitepaper"
In 2018, SAFE WG focused on understand security, given modern (cloud native) enterprise infra, and synthesized into a common understanding; however, much of what we have learned is buried in meeting notes and presentations.

We would like to now communicate what we’ve understood to the rest of the world.  One step will be to draft a SAFE whitepaper that covers over-arching concerns.  Some of us me

[2019-03-23 03:02] ultrasaurus commented on #138
@pragashj @dshaw @ultrasaurus, Jessica Walker and Sara Dornsife met to discuss white paper content - see [3/22/2018 meeting notes](https://docs.google.com/document/d/1NxVDNNOVltrKnbhwil1nu1z3gzi8dSCj1Y6SVXse3DY/edit)

[2019-03-23 17:59] ultrasaurus commented on #138
Moved outline into separate doc where we can elaborate into a [full whitepaper](https://docs.google.com/document/d/1BgS6cVfTUtBVhOdvc7J0gGPCZPCEnDxjhUGvqeUt1sY/edit#)

[2019-03-23 18:20] ultrasaurus commented on #133
closing this -- feel free to re-open if you have further questions

[2019-03-23 18:20] #133 closed

[2019-03-23 18:36] ultrasaurus commented on #66
I think this is addressed with https://github.com/cn-security/safe/tree/master/landscape and open issue#124 for further work on categories

[2019-03-23 18:36] #66 closed

[2019-03-24 06:18] omerlh commented on #123
I'm from Israel, not sure I'll be able to join, this time is a bit complex for me. I'll be happy to take a look at the model anyway and send my comments.

[2019-04-04 08:44] hannibalhuang commented on #126
some progress update, we added a lot of case studies summaries into Chapter 3, and a lot of discussion with Google and Ebay developers regarding certain content. We will probably be looking at adding formal verification related stuff into the white paper.

[2019-04-12 00:00] ultrasaurus opened #142 "less strict requirements, if needed, for security reviewers"
At the moment, we can consider ourselves in "bootstrap" mode.  The following qualification are a bit more representative of the current working group and could serve to facilitate a reasonable process if needed.

# Qualifications
WG will strive to establish that the two mentors have diverse experience, covering some of the ideal qualifications below.  Exemptions may be granted by the WG chairs, ex

[2019-04-12 02:54] ultrasaurus opened #143 "would be nice to have reviewer notes in assessment outline"
Started writing down these notes based on WG discussions and 1-1 chats over past few weeks... realized it would take a while to complete this and also other may have different perspectives, so leaving these here for future reference.

## Overview
[after intro sentences]
The rest of this section serves to quickly educate the reviewer and focus
the review effectively. Reviewers may challenge goals
o

[2019-04-12 06:57] lizrice commented on #142
Is this qualification to be a member, or to be a mentor?

[2019-04-12 07:02] ultrasaurus commented on #142
to be a mentor... latest idea is to simply call this role a "security reviewer" . -- should have referenced PR: https://github.com/cn-security/safe/pull/125/files#diff-e986a9a43ab06061c021c47c9a089b32

[2019-04-12 14:56] caniszczyk opened #144 "Migrate to a CNCF SIG officially"
CNCF has is governance ducks in a row and recently approved SIGs:
https://github.com/cncf/toc/blob/master/sigs/cncf-sigs.md

The CNCF would like this to be the security/governance SIG sponsored by Liz Rice and Joe Beda.

My proposal would be to migrate this repo to github.com/cncf/sig-security-governance and set it up in a way to be CNCF SIG conformant.

[2019-04-12 17:39] lizrice commented on #144
Yay! But my one ask here is that we drop the word "governance" from this SIG's name - that word has way too much association with the governance of projects. From discussion with the group yesterday I don't think they like it either :-)
On 12 Apr 2019, 15:56 +0100, Chris Aniszczyk <notifications@github.com>, wrote:

[2019-04-15 14:04] justincormack commented on #127
Suggest an evening meeting on Tuesday, as seems to conflict less with other things...

[2019-04-15 15:25] pragashj opened #146 "Create cloud-native-security 2019 roadmap"
Create a roadmap for SAFE (cloud-native-security)
cc/ @lizrice

Original SAFE roadmap document: https://github.com/cncf/sig-security/blob/master/roadmap.md

[2019-04-16 15:48] karthequian opened #150 "Need to update slack channel in doc"
The README states: `CNCF Slack #sig-security channel` but there isn't a channel with that name in the k8s slack. If someone can let me know what the right channel is, I'll be happy to update docs and join :)

[2019-04-17 11:32] justincormack commented on #150
It is the CNCF Slack not the k8s slack cloud-native.slack.com...

[2019-04-17 15:11] karthequian commented on #150
gotcha!! Thanks @justincormack

[2019-04-17 15:11] #150 closed

[2019-04-19 18:53] lumjjb opened #151 "DockerCon, San Francisco, CA, Apr 30 - May 2, 2019"
I think there are going to be a few of us at DockerCon and also in the area, let's meet up in the evening.

EDIT: Thursday May 2, 7:30pm at [Mikkeller](https://www.yelp.com/biz/mikkeller-bar-san-francisco).

[2019-04-19 18:57] lumjjb commented on #151
I think Wednesday (May 1) and Thursday (May 2) evenings are good times outside the conference schedule. I'm not as familiar with SF compared to others here, so I'm open to suggestions on places to get dinner.

[2019-04-21 15:07] rficcaglia commented on #146
I propose adding "encouraging/fostering formal specification" to the list.

[2019-04-21 15:15] rficcaglia commented on #142
perhaps instead of "strict" or other qualitative attributes, we enumerate the specific skills desired for a given review, eg:

- crypto expertise
- distributed protocol expertise
- kernel implementation experience
- network protocol expertise
- mathematical proofs
- whitehat/blackhat experience
- secure code reviews
- etc

and allow volunteers to self-identify with those skills via some tangible e

[2019-04-21 15:21] rficcaglia commented on #138
just a process question - is it more desirable to use Google Docs vs. markdown docs that can be PR'd? is the idea to minimize git activity until there is a solid draft document rather than have the full "sausage making" process clutter up the git stream?

[2019-04-21 21:03] pragashj commented on #138
That is the idea, please feel free to chime in on the doc and help shape it.

[2019-04-21 22:13] ultrasaurus opened #152 "document annual review process to update security assessment"
this has been discussed in meetings

well-articulated in [PR comment](https://github.com/cncf/sig-security/pull/125/files/52221a1fbc1c3c21b7922066766f2b7b42ef5c63#r277171055) by @rficcaglia

"I think the notion that a single point in time review ignores the reality that threats change over time. someone using this review process as evidence of "trustworthiness" can be lulled into thinking somethin

[2019-04-22 18:26] justincormack commented on #151
We have an open source security summit on Thursday as part of DockerCon, if anyone from the SIG needs a ticket let me know and I will sort it out...

[2019-04-22 18:41] lumjjb commented on #151
Let's set the date as May 1 (Wednesday) then?

@justincormack, I'd like to join in on that!

[2019-04-23 01:25] ficcaglia opened #153 "Review existing frameworks wrt. cloud-native"
This has come up in the calls that referencing a standardized model and/or vocabulary might be useful.  Here's a list of frameworks that we might consider in no particular order...none of these seems immediately applicable to CN projects, but can be mapped to CN or a derivative vocabulary/model can learn from these:

- [MITRE ATT&CK](https://www.mitre.org/sites/default/files/publications/pr-18-094

[2019-04-23 01:30] rficcaglia commented on #153
https://github.com/cncf/sig-security/issues/20 might be relevant but that google doc is not available. perhaps someone with access can share?

[2019-04-23 03:15] ultrasaurus commented on #151
I can make it on Wed or Thurs (with Thursday slightly preferred)... I think the open source security summit is just a related Dockercon event, looks like [10a-noon](https://dockercon19.smarteventscloud.com/connect/search.ww#loadSearch-searchPhrase=&searchType=session&tc=0&sortBy=dayTime&i(1037)=196687&dayID=15386&p=) so I don't think it will collide with evening gathering.

Some location options:

[2019-04-23 10:43] justincormack commented on #151
Thursday is better for me, I have another event on Wednesday at 8.30ish. There are always lots of dockercon events at thirsty bear as its next to moscone so I might be tired of it by then. osha thai/mikkeller/slanted door are all lovely, havent tried le coloniel before...

[2019-04-23 14:36] lumjjb commented on #151
Lets do Thursday evening then. I agree on the no reservations being a plus :), unless we have dietary restrictions. Tentatively let's set it as Thursday May 2, 7:30pm at [Mikkeller](https://www.yelp.com/biz/mikkeller-bar-san-francisco).

[2019-04-26 18:42] rficcaglia commented on #153
Also https://github.com/coreinfrastructure/best-practices-badge/blob/master/doc/criteria.md#security

[2019-04-29 16:52] rficcaglia commented on #153
I distilled the CII criteria down to a few worksheets that might be useful for the sig-security process.

https://docs.google.com/spreadsheets/d/1P0LFTCo1WxxU90J3HR0G7rXKqiTrHxd4yp2nbeMt9Vo/edit?usp=sharing

Note - I am not suggesting that this (or any such worksheet) be required ... I am publishing this to motivate discussion on how assessors might organize their assessment discussions.   I hope

[2019-04-30 04:59] lumjjb commented on #151
+ @lizrice

[2019-04-30 11:02] lizrice commented on #151
Sounds great but I am flying back to the UK on Thursday

[2019-05-02 17:56] ultrasaurus opened #155 "[Proposal] Guidance for projects on evaluation and tracking security dependencies"
This has come up in discussions in meetings about whether we might help projects through the assessment process by recommending best practices or common techniques for projects to consider, evaluate and track security of their dependencies

@lumjjb comment

[2019-05-02 18:02] ultrasaurus opened #156 "security reviewers must not have a conflict of interest"
We are practicing this, but we need some language that describes exactly what we believe represents a conflict of interest.

For starters:
- no one who is on the core team of the project should be a security reviewer
- if someone is a user of the project or has contributed a PR, that is fine (and would be positive attribute for a reviewer)

[2019-05-02 18:07] ficcaglia commented on #155
Taking a cue from Ash's OPA write up he mentions the CII badge framework so I posted a "worksheet" in https://github.com/cncf/sig-security/issues/153#issuecomment-487657305

[2019-05-02 18:11] ficcaglia commented on #153
will add dependencies to the worksheet...
https://github.com/coreinfrastructure/best-practices-badge/blob/master/doc/other.md#externally-maintained-components

[2019-05-02 18:15] ficcaglia commented on #156
at the very least anyone actively contributing to the opinions published to the TOC should (voluntarily) PR their own attestation. whether it is vetted or not is secondary...at least we will have something in the commit stream that we can refer back to later if ever needed.  maybe it is as simple as:

_ I have no known conflicts of interest.
_ I have a non-financial conflict of interest (e.g. I am

[2019-05-02 18:27] caniszczyk opened #157 "list security audit vendors?"
Is there any interest in the SIG of a list of recommended vendors for external security audits on top of what you're putting together? We have used a variety of firms in the past and some are more open source friendly then other :)

[2019-05-03 15:16] ficcaglia commented on #157
The volunteer-based process could certainly benefit from volunteers who work at security audit vendors!

I was under the impression that the TOC will manage a vendor selection process for a formal security audit...I think that was noted in a different thread.

it would be great to have security audit vendors contribute to the process and methodology here, and maybe share any resources that they fi

[2019-05-03 15:21] caniszczyk commented on #157
usually the vendor selection is done by CNCF Staff (we have a preferred
list of vendors)

I was just hoping that we would have a public list out there vetted by our
community :)

On Fri, May 3, 2019 at 10:16 AM ficcaglia <notifications@github.com> wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 512 961 6719

[2019-05-03 15:33] ficcaglia commented on #157
A practical way to vet them would be to see them in action first hand as volunteers in the assessment process, to be sure.   PR'ing a list acknowledging all contributors (vendors or individuals) --- ie those that put forth hours of effort in the assessments themselves --- is a great idea.

[2019-05-07 15:45] lumjjb commented on #151
Meeting up @ DockerCon was awesome!

[2019-05-07 15:45] #151 closed

[2019-05-07 23:37] ultrasaurus opened #160 "write up more detail on how we organize security reviewer teams"
@JustinCappos @justincormack @lumjjb and I met and discussed how to organize teams for the security audits.

Here are notes which may only make sense to the people who were present -- capturing them here in advance of PR with better explanation

![image](https://user-images.githubusercontent.com/41906/57339311-ee56d300-70e5-11e9-9f4a-9ff6c43c8b4f.png)

- Group of 10 people in the security assessme

[2019-05-08 17:36] rficcaglia commented on #160
I think the dumb question phase might be a bit optimistic...I had prior detailed understanding of OPA and even with that, I had several passes at the write up, the OPA code, the supporting documents (security audit), etc...and with other work items and travel and such, I think a work week (5 biz day) window seems more realistic, especially for a project I had never looked at before in any function

[2019-05-08 20:29] ultrasaurus commented on #160
Sorry not to be clear in the notes.  The "dumb question" phase is for a single person (usually the lead security reviewer) to take a pass through the doc and ask clarifying questions.  Then the discovery cycle begins (which could include clarifying questions, but we save security questions until each reviewer has had the chance to review separately.

[2019-05-15 16:36] fntlnz commented on #127
@ultrasaurus if there's no one else volunteering to organize this in person meeting I can arrange something.

@justincormack Tues evening works very well for me

[2019-05-15 16:52] ultrasaurus commented on #127
@fntlnz  that would be fabulous!  Tues works for me too :)

[2019-05-15 17:31] fntlnz commented on #127
So, I will find a place to have all of us doing a Dinner together on Tues 21. Will post here details about it.

[2019-05-15 18:27] ficcaglia opened #162 "meta: scope the sig-security presentations to the security model and let the assessor do the presentation?"
This is just a raw "meta" dump after the OPA presentation.... it seems to me that during OPA presentation the project prez was more about features. many of the questions were about specific use cases or various corner case behaviors, and the mechanisms of how OPA works in these specific cases.

IMHO neither was really focused on the security model (threats, defenses, etc) of OPA, as-is, per se.

c

[2019-05-16 00:49] ckemper67 opened #165 "Investigate the "platform implementer" persona"
Large cloud users frequently have a "platform team" that is responsible for ensuring that the organization's security and compliance constraints can be met. This is increasingly difficult in a hybrid world where the platform team now needs to track and understand the security and compliance offerings from multiple cloud providers. These "platform teams" need to make sure that guidance and sometime

[2019-05-16 01:01] hannibalhuang commented on #127
would be also great to send out a calendar invitation after the place is sorted out :)

[2019-05-17 17:45] fntlnz commented on #127
@hannibalhuang yes!
Here is the form to register your presence!

https://forms.gle/iBFFuaNRbtWjHX7E9

I'll collect the names and book the restaurant for us!

[2019-05-20 12:27] ultrasaurus opened #166 "[Assessment] in-toto"
Project Name: in-toto

Github URL: https://github.com/in-toto

Security Provider: yes

- [x] Identify team
   - [x] Project security lead: Santiago Torres Arias
   - [x] Lead Security Reviewer: Sarah Allen (@ultrasaurus)
   - [x] additional reviewers: Justin Cormack, Brandon Lum
- [x] Create slack channel (e.g. #sec-assess-intoto)
- [x] Project lead provides [draft document](https://docs.google.co

[2019-05-20 12:31] pragashj commented on #162
This is a useful feedback and we have a guide for [assessment](https://github.com/cncf/sig-security/tree/master/assessments/guide). It would be useful to have your comments/contribution to make it better there.

[2019-05-20 12:36] fntlnz commented on #127
The restaurant confirmed the reservation for our dinner!

We will meet there at 7.45pm!

Address:  Ocaña, Plaça Reial, 13-15, 08002 Barcelona

Maps: https://goo.gl/maps/vMcbcxGbz9KqXQ9D9

[2019-05-20 12:54] ultrasaurus opened #167 "first 5 security assessments (before process review/improvement)"
We have a target of 5 security assessments, before doing a retrospective on process and addressing (most of) [open issues/questions](https://github.com/cncf/sig-security/issues?q=is%3Aissue+is%3Aopen+label%3Aassessment-process)

This was the initial set of security-related projects, initially [identified by TOC for our SIG](https://github.com/cncf/toc/blob/master/sigs/proposed.md): SPIFFE, SPIRE,

[2019-05-20 13:02] ultrasaurus commented on #156
this is a great suggestion -- where would we put this?  it might be most convenient in the issue or perhaps a template for each security assessment...?

[2019-05-20 15:35] JustinCappos opened #168 "Provide expertise on TOCTTOU, crypto usage, and related topics"
Security issues come up in different organizations and a trend is that even large, well-resourced companies seem to end up with solutions that still contain weaknesses and/or could be improved.  This is especially true in situations that deal with crypto algorithms or race conditions (notably Time-Of-Check-To-Time-Of-Use bugs).

We should have a smaller subgroup (to control the disclosure of sensi

[2019-05-20 20:04] justincormack commented on #168
I think providing support when projects have security issues is definitely something that could be done, was this the circumstance you were thinking of, or at other times?

[2019-05-21 07:02] JustinCappos commented on #168
Yes, I've seen quite a few situations like this crop up.  I think we tend to hear about these things through blog posts, deep dives, etc.  In many cases, folks in the security group may have already seen this situation happen many times and/or worked with groups to fix these issues.  We're not being used as a resource for these issues and we really should be...

[2019-05-21 07:41] JustinCappos commented on #162
I can see the merit in this.  Perhaps we can try this approach for one of the upcoming assessments and see if we think it works better.  I know I would have struggled to provide some of the context Ash gave about OPA because I do not know the overall project that well.

[2019-05-21 12:39] ultrasaurus commented on #124
talked to @JustinCappos who has some ideas about how to better articulate the stages of cloud native  tech to divide up the space... I *think* this is consistent with what @izgeri and I talked about when we reviewed the PR, but definitely needs a bit more elaboration to be sure.

In any case, I agree that as written the "Identity & Access Control" section isn't clear and could be interpreted as fo

[2019-05-21 14:12] lumjjb commented on #168
I agree very much with @JustinCappos that I often see many instances of TOCTTOU bug instances especially around assumptions around atomicity of resource interactions in k8s apiserver or etcd kv store.

Along the lines of common mistakes, having an OWASP top 10 style Wiki could be a good resources as well.

[2019-05-21 15:45] ultrasaurus commented on #127
Let's remember to take photos at dinner.  I always forget!

[2019-05-22 09:50] ultrasaurus opened #169 "[use case presentation] FinTech K8s"
@cypherfox volunteered to give a presentation about the security measures in his deployment

German FinTech,,
- highly regulated environment
- customers frequently do audits, often ask questions that don't make sense in cloud context and it's hard to know how to answer them

Presentation:  here's what we did, what could we have done better, is there anything we're doing that others would recommend

[2019-05-22 11:35] zparnold opened #170 "Suggestion/Recommendation for CVE Announcement enhancements"
Hello there! I help lead the `sig-docs-security` working group in the Kubernetes project. We focus on surfacing and formatting security related info as well as helping to amplify the CVE management process. During our meetings a proposal has arisen to handle the CVE process in a more proactive way for our cluster operators. I asked this as a question during KubeCon EU's session on sig-security in

[2019-05-22 12:29] sftim commented on #170
I'd be delighted to learn that there's already a good de facto standard for doing this, and that Kubernetes plans to follow that.

How about an ATOM / RSS feed where you can register a webhook for notifications, with a proof-of-work / CAPTCHA required to validate the registration?

Then, end users can strap anything they like onto the end of the webhook, and they can poll in case the webhook didn'

[2019-05-22 12:42] tpepper opened #171 "Threat modeling"
KubeCon EU presentation on security audits mentioned a finding / recommendation for projects to understand their threat model, but this feels overly abstract.

Should an input criteria to a CNCF sec audit be that the project have a threat model documented? CNCF is suggesting projects follow the LF’s CII best practices recommendations, but that doesn’t require a threat model.

Even if not required,

[2019-05-22 13:20] jimangel commented on #170
I really like this idea. I would like to see more outlined for how the actual app / FaaS would be managed long term in an open way.

As far as the data being collected / token exchange, where would that data be stored? How do we ensure privacy?

Lastly, it would be great to have some way to easily update your Kubernetes version (in the event you patch / major upgrade). I could also see it being be

[2019-05-22 14:31] sftim commented on #170
@jimangel it sounds like you think it'd be useful for the same ATOM / RSS feed to publish all releases, whether relevant to a CVE ID or not. (?)

[2019-05-23 11:44] ultrasaurus commented on #144
repo moved, rename PR https://github.com/cncf/sig-security/pull/148 merged!

[2019-05-23 11:44] #144 closed

[2019-05-23 11:47] ultrasaurus commented on #131
From meeting notes...

Recording:
Part 1 - https://www.dropbox.com/s/nqzn35frc0yw025/zoom_0.mp4?dl=0
Part 2 - https://www.dropbox.com/s/ulmha9vwr6um4bp/zoom_1.mp4?dl=0

slides: https://docs.google.com/presentation/d/1ZzsmHyxmVpr5SFizpYoTIl5b0QZHtx7RZI9LlyPWtQ0/edit#slide=id.p

[2019-05-23 11:47] #131 closed

[2019-05-23 11:50] ultrasaurus commented on #153
thanks for writing this up @ficcaglia -- labelling so assessment team can easily find and reflect

[2019-05-23 16:40] zparnold commented on #170
I agree but it might be slightly out of scope, cause then it kinda becomes a marketing tool.

As far as how it will be managed, the actual components I'm envisioning are two fold.

- The API is just a simple API deployed to any cloud provider (I would choose AWS cause I have the most experience there) and the info would be stored in a GDPR compliant (even though its anonymous) DynamoDB instance en

[2019-05-23 20:22] TheMoxieFox opened #176 "Utilization of Security Reviews as initial secure settings for projects"
I raised this question to @justincormack during his CNCF Security Talk at KubeCon BCN 2019:

**Proposal/Issue**: As a product of the Security Reviews being conducted, can the information produced by these reviews/audits be framed into an initial secure configuration for those products?

**Background**: During the Diversity Lunch + Hack, at the secure k8s table we discussed the lack of documentatio

[2019-05-23 20:38] TheMoxieFox opened #177 "CVEs for vulnerabilities found during security reviews/audits"
I am submitting this as a proposal from a DM twitter conversation with @justincormack

The scoring criteria used for ranking vulnerabilities found during security audits is not published,  per @justincormack 's suggestion, this is perhps based on the same criteria used for CVSS scoring.

**Proposal**: Given the above assumption, why are not all vulnerabilities discovered during CNCF security revie

[2019-05-24 08:22] fntlnz commented on #127
Here are a couple of photos I got from our tweets during the dinner.
![image](https://user-images.githubusercontent.com/3083633/58313263-71c63300-7e0d-11e9-8093-021ca3bd04d1.png)
![image](https://user-images.githubusercontent.com/3083633/58313310-8efb0180-7e0d-11e9-91c0-3ef7372c3b58.png)

- https://twitter.com/ultrasaurus/status/1130959730250272774
- https://twitter.com/ultrasaurus/status/11309597

[2019-05-24 08:27] fntlnz commented on #127
Here are other photos coming from the tweets at the kubecon.

![image](https://user-images.githubusercontent.com/3083633/58313453-ea2cf400-7e0d-11e9-9b6d-d565766e244d.png)

![image](https://user-images.githubusercontent.com/3083633/58313514-06c92c00-7e0e-11e9-8669-6984e9b00a68.png)

![image](https://user-images.githubusercontent.com/3083633/58313534-15174800-7e0e-11e9-9e2d-c13b14461f55.png)

- htt

[2019-05-24 09:29] JustinCappos opened #179 "[Assessment] Open Policy Agent"
Project Name: Open Policy Agent (OPA)

Github URL:

Security Provider: yes

- [x] Identify team
   - [x] Project security lead: Ash Narkar
   - [x] Lead Security Reviewer: Justin Cappos (@justincappos)
   - [x] 1 or more additional reviewer(s): Sarah Allen, Brandon Lum, Justin Cormack
- [x] Create slack channel: #opa-security-assess
- [x] Project lead provides [draft document](https://docs.google.

[2019-05-24 09:29] ultrasaurus opened #180 "we need a contributor's guide"
needs to include
- reference to CNCF code of conduct
- link /governance
- PR review criteria -- https://github.com/openopps/openopps-platform/blob/dev/CONTRIBUTING.md#reviewing-pull-requests

[2019-05-24 09:40] JustinCappos commented on #176
This is a very nice suggestion and goal.  We had some thoughts roughly around this but do not articulate them as explicitly or clearly as you have here.

Would you like to send a PR to suggest edits to our template?    https://github.com/cncf/sig-security/blob/master/assessments/guide/outline.md  We're early enough in the process, we may be able to clarify this for the two reviews that are ongoing

[2019-05-24 12:44] ultrasaurus commented on #128
FYI -- CFP Is open: https://linuxfoundation.smapply.io/prog/kccncna2019/

[2019-05-24 16:25] lizrice commented on #176
+1

[2019-05-24 16:39] lizrice commented on #179
(Cc Chris A)

So happy to see this in flight, thank you all. I'd like to request a presentation to the TOC when it's ready - this will also raise awareness of the assessment process

[2019-05-29 12:18] TheFoxAtWork commented on #176
Incorporated appropriate sections to the template however this appeared to be limited to proposal submissions to the team.  Is there a corresponding after-action report template when the audit/reviews are done to specify required inclusion of insecure settings and/or graduation criteria specifying inclusion of secure config and justification as part of their standard docs?

[2019-05-29 12:37] JustinCappos commented on #176
We don't have a template yet, but see here for the two ongoing examples:  https://docs.google.com/document/d/1Jkp-rHFmSfO_RJdZ1Vilj-sbiIT2n-6Kd0RddSk7kdM/edit
and the top part of https://docs.google.com/document/d/1dcDu8XWHlJ47FsIh3M1NwihmgfO3iqjH_Dn5tkevdqg/edit

We'd welcome a template that would include the sections you mention.

[2019-05-29 12:57] joshuagl commented on #177
This is an excellent idea, it might be valuable for CNCF to become a CVE Numbering Authority (CNA) for member projects.

Red Hat has a good open source focused write-up about CVE assignments: https://github.com/RedHatProductSecurity/CVE-HOWTO

[2019-05-29 13:47] joshuagl opened #183 "Define and advocate a security reporting process for CNCF projects"
Description: Establish a project resources directory within Security TAG that contains templates and other useful security information for CNCF projects.

Impact: We've had a request from at least two projects that providing resources and templates to ease the security of their projects would be incredible useful to them, save time researching, and allow them to get to a security first mindset.

S

[2019-05-29 15:07] zparnold commented on #170
@sftim The reasons I'm _not_ advocating for an RSS approach is because:

1) RSS is fundamentally a pull model which offers cluster operators or OSS project users no additional benefit from any previous system
2) The Kubernetes CVE team pushes out releases to the `Kubernetes Announce` mailing list, which also has non-CVE related info...only adding to the problem where we must filter noise to distil

[2019-05-29 15:49] sftim commented on #170
What I'm suggesting is RSS-plus: a feed combined with a promise that you'll get a webhook when it changes.

The recipient of the webhook can verify the information by fetching the RSS / ATOM / whatever, if they want to.

- Don't fully trust the webhook to arrive? You can still poll the feed.
- Kubernetes project is worried about abuse? A proof-of-work / proof-of-pulse check before your webhook sub

[2019-05-29 15:51] sftim commented on #170
Toy implementation: run https://github.com/skx/rss2hook on CNCF infrastructure with appropriate configuration. Put the configuration in a git repo, take pull requests, link that to the app with a ConfigMap.

[2019-05-29 16:48] rficcaglia commented on #183
CI certainly encourages it:
https://github.com/coreinfrastructure/best-practices-badge/blob/master/doc/criteria.md#vulnerability_report_process

I also agree a best practices statement/opinion/example is useful!

But whether responsibility resides at the SIG, or is delegated down to each project could be argued both ways. I myself would argue against centralization both in terms of "quis custodiet

[2019-05-29 17:00] rficcaglia commented on #177
I look to @ultrasaurus to advise whether the charter of the SIG is so tactical in scope (eg. finding specific CVEs) vs. more strategic (e.g. how do you design a secure CN system/component.)  I think finding tactical, practical attacks with specific examples that warrant a CVE is best owned by the much larger community of users and researchers (who can be informed by SIG discussions to be sure).

P

[2019-05-29 17:23] zparnold commented on #170
@sftim This makes more sense. Thanks for this by the way! I suppose I don't understand CloudEvents well, is it possible for us to manage the effort around alerting some common forms? (PagerDuty, OpsGenie, SMS, Phone Call, Email?)

[2019-05-29 17:37] sftim commented on #170
My concern: does CNCF want to promise alerting by SMS & phone call for cluster operators worldwide? The foundation aims to be inclusive; offering a service only in some countries might look like the opposite. Offering the service globally could be inclusive but costly - I've seen this with international phone calls as part of multifactor authentication.

Offering a webhook and nothing else is a lo

[2019-05-29 18:08] zparnold commented on #170
@sftim It's sadly not necessarily safe to assume all clusters have access to the internet (I know of at least one really big cluster that is completely airgapped,) I assume the cluster operator would have access to the internet, but then we're adding additional infrastructure for them to run.

[2019-05-29 19:17] omerlh commented on #171
I think this is a really good proposal, we should at least recommend the project to have it - and maybe set it graduation criteria. There are some discussions on how to document, I have some example I wrote [here](https://kamus.soluto.io/docs/threatmodeling/threats_controls/) and will be happy to hear feedback about the format and readability.

[2019-05-29 20:36] ultrasaurus commented on #71
FYI - I updated original SAFE PR from @pragashj to refer to /governance which now addresses new [SIG process](https://github.com/cncf/toc/blob/master/sigs/cncf-sigs.md)

TOC  voting here:  https://lists.cncf.io/g/cncf-toc/topic/31833460#3300 -- non-binding votes from the community are welcome

[2019-05-29 20:39] ultrasaurus commented on #177
I read this as a process improvement recommendation.  I agree that if the SIG assessment or code audit were to find a security vulnerability, tracking as a CVE seems like a good idea.

@JustinCappos had talked about writing up an issue tracking process. I don't see an issue for that, so maybe we didn't write it down yet.  Please link if it exists, or just chime in here!

[2019-05-29 20:45] TheMoxieFox commented on #177
Solely as a process improvement.  If a vulnerability is found it should be submitted as a CVE following responsible disclosure with the company in question.  If the assessment or audit is providing scoring on a vulnerability found as a result of said activity, it should adhere to industry accepted standard proceed for vulnerabilities. Especially if the scoring is based on cvss.

  On Wed, 29 May 2

[2019-05-29 21:20] ultrasaurus commented on #47
there has been a lot of work in /governance -- closing as completed.  Any additional concerns should be opened as specific issues.

[2019-05-29 21:20] #47 closed

[2019-05-29 21:25] ultrasaurus commented on #146
@rficcaglia can you elaborate on what you mean by "formal specification?"

There are a lot of different aspects of security, policy, compliance which have been discussed, including protocols and APIs.  Some parts of the landscape are fairly mature and may have formal specification elsewhere, others may benefit from a new specification, and still more may have other pre-conditions will would need t

[2019-05-29 22:07] JustinCappos commented on #177
I'd like to defer to @zparnold on this.  He's thought a lot about this process and should help to shape it...

[2019-05-29 22:15] ficcaglia commented on #146
A specification using some notation that expresses behavior and/or state.  Especially with respect to the security properties asserted/claimed.

Z, TLA+ are things I have used, but not advocating any particular language.  one can find examples in crypto specifications (e.g. NIST publications) and other crypto publications that use  mathematical notation or game models.

[2019-05-30 17:39] #28 closed

[2019-05-30 17:40] lumjjb commented on #29
Past event - inactive.

[2019-05-30 17:40] #29 closed

[2019-05-30 17:41] lumjjb commented on #28
Past event - inactive.

[2019-05-30 18:04] lumjjb commented on #118
Looks like there is interest in this topic, perhaps something like having a discussion forum or topic focused presentations would be helpful too. We probably would need a good way of organizing these so that it can get the right audience.

[2019-05-30 18:09] lumjjb commented on #165
Creating a link to https://github.com/cncf/sig-security/issues/109.

[2019-05-30 18:11] lumjjb commented on #32
Resolved by https://github.com/cncf/sig-security/pull/113

[2019-05-30 18:11] #32 closed

[2019-05-30 18:17] lumjjb commented on #107
Closing due to inactivity/outdated.

[2019-05-30 18:17] #107 closed

[2019-05-30 18:25] lumjjb commented on #41
Looks like this issue is resolved by https://github.com/cncf/sig-security/pull/42

[2019-05-30 18:25] #41 closed

[2019-05-30 18:32] lumjjb commented on #77
Hi @pragashj , is this ongoing/evolved into other issues? Can we close this issue?

[2019-05-30 18:55] lumjjb commented on #171
I believe we do ask for some threat modeling when performing security reviews for the CNCF projects - is that along the lines of what you have in mind?

[2019-05-31 06:33] hannibalhuang commented on #77
i think we could close this, this is pretty old

[2019-06-02 05:11] omerlh commented on #171
Interesting, where does it documented?

[2019-06-02 13:27] JustinCappos commented on #171
This is listed in the security assessment docs that the project submits to the SIG-Security working group.  I'll list a few examples here:
https://docs.google.com/document/d/1O3O7eFCTZ_7lLZ9IhHSWFiXhjWf2gPuJbzZ7u0m-9uI/edit?pli=1#heading=h.oykub2ep8ndw
https://docs.google.com/document/d/1L15ZZXnDxe3eqXnKHiZRxdr59tGkt_ipPixdA6RbzII/edit#heading=h.4zw236cia0t9

[2019-06-03 16:39] ultrasaurus commented on #71
The CNCF Security SIG has been approved: https://lists.cncf.io/g/cncf-toc/message/3368

[2019-06-03 16:39] #71 closed

[2019-06-03 17:05] ultrasaurus commented on #180
FYI - PR was accidentally merged -- now re-opened for comment

[2019-06-04 15:00] JustinCappos commented on #166
The in-toto team has reviewed the documentation and revised the documentation.  I believe we're ready for the assessment team to take the next step

[2019-06-04 16:20] ultrasaurus commented on #166
@JustinCappos added checkbox for "Project lead addresses comments/questions in draft doc" (we should add that to the template) -- doesn't block our finalizing the summary, but does block "Assessment summary and doc checked into..."

[2019-06-04 22:03] ultrasaurus commented on #177
related issue discussed in TOC meeting today: https://github.com/cncf/toc/issues/213

[2019-06-05 17:18] lumjjb opened #194 "Issue Triage June 2019"
Identified issues that don't fall into any specific category, and attempted classification.

# Unclassified issues

Define and advocate a security reporting process for CNCF projects #183
Utilization of Security Reviews as initial secure settings for projects #176
Suggestion/Recommendation for CVE Announcement enhancements #170
list security audit vendors? #157
Privacy regulation support #118
cate

[2019-06-05 17:27] mhausenblas commented on #110
@ultrasaurus count me in. I've done a couple of sites with GitHub/Hugo combo already, the main question is where to host it. I usually use Amplify but I acknowledged the fact that Netlify is more popular (and arguably I'm biased re the former ;)

[2019-06-05 17:31] petermbenjamin commented on #110
Have we determined if this micro-site going to live as a subdomain on cncf.io or on its own domain?

[2019-06-05 18:11] lizrice commented on #170
I like the broad idea of this. cc @caniszczyk

[2019-06-06 05:27] rficcaglia opened #196 "Kubernetes Policy WG Discussion: Formal Verification"
I recommend deprecating this issue and referring interested readers to a discussion on the Policy WG call documented here:

https://docs.google.com/document/d/1ihFfEfgViKlUMbY2NKxaJzBkgHh-Phk5hqKTzK-NEEs/edit#

DEPRECATED:

During the K8S Policy WG session today (6/5/2019) we discussed how/if policies might be formally verified.   We talked about using Datalog (pros and lots of cons) in formal ver

[2019-06-06 12:04] caniszczyk commented on #170
FYI GitHub now has a security advisory feature in beta you may want to take advantage of, happy to enable it for any CNCF project if you don't have it: https://help.github.com/en/articles/creating-a-maintainer-security-advisory

[2019-06-06 13:12] TheFoxAtWork commented on #183
IMO its the responsibility of the project, i believe we ask about it in the proposed template changes from #176
That being said, recalling the vulnerabilities reporting presentations given for the k8s vulns, it certainly stands to reason that SIG-Security can provide a standard process to get teams started so when the vuln happens, their response time is faster, the communications more effective,

[2019-06-06 13:17] joshuagl commented on #183
Providing a recommended process (even a template [GitHub security policy](https://help.github.com/en/articles/adding-a-security-policy-to-your-repository)) would be a good outcome for this issue, the idea for a centralised reporting mechanism admittedly doesn't scale to a nascent volunteer group.

Great to see we're asking teams about this during assessment, the natural response from those that do

[2019-06-06 13:58] justincormack commented on #196
Sorry, this is somewhat unclear. If I write a policy, who is writing the specification it is checked against? I think the summary needs spelling out in more detail.

There are actually interesting things you can check on a single policy, but they are not correctness. eg AWS has done some work on finding parts of a policy that are "dead code" as they probably indicate mistakes, and finding policies

[2019-06-06 14:11] lumjjb commented on #194
TODO(lumjjb): Close all `Forum` issues in 30 days of inactivity.

[2019-06-06 14:14] rficcaglia commented on #196
Yes we discussed that in the call, and I asked much the same question - I
assumed there must be a symbolic specification too - but I think the idea
was that the policy itself is the "specification" and the system behavior
is the "program" to verify.  I may have misunderstood what AWS was saying,
though.   To your point, what AWS used as an example was things like priv
escalation in IAM, so more li

[2019-06-06 14:26] justincormack commented on #196
I wasn't on the call but just caught up. I think the system behaviour is different though. I think writing up some quite detailed concrete examples would help understand what we think we want to do and what is feasible.

[2019-06-06 14:33] TheFoxAtWork commented on #183
clarified it in the pull request so its more explicit.

[2019-06-06 15:10] rficcaglia commented on #196
one detail I may have glossed over...in the call Howard presented slides
that talked about a "policy symbolic graph":
https://docs.google.com/presentation/d/1DSxm7IqVnweJbsGSGyhrhB1daR1E0hj4Ko-D4mvyxFk/edit#slide=id.g585a5014dd_0_17

Though we didn't discuss that in any detail, that might be the symbolic
specification that he had in mind for checking the policy?

On Thu, Jun 6, 2019 at 7:26 AM Jus

[2019-06-07 13:40] copumpkin commented on #196
(I was the AWS person on the call 👋)

Thanks for writing this up @rficcaglia! Regarding @justincormack's question and this bullet:

produces verification "proof" (model) if the policy is correct

I wouldn't phrase it that way. The way I like to think about it is that we have three things going on in a system:

1. The high-level human intent behind the policy
2. The policies they wrote (ostensibly)

[2019-06-07 15:20] timothyhinrichs commented on #196
Agree that a concrete model of "privilege escalation" or "multi-tenancy" are really important here, especially from a methodological perspective.  Different technologies in the verification space help us do different kinds of verification.  So step 1 is understanding what kind of verification we want to do and therefore what kind of technology we need.  In the end what often happens is that we fig

[2019-06-11 14:02] ultrasaurus commented on #110
@petermbenjamin added to TODO list -- need to follow-up with Amye to get an intro to the CNCF person who can answer whether there are any preferences on their side for URLs or visual styling.

I did nab `cloud-native-security.info` a while ago (before we started the CNCF WG / SIG process) and happy to donate that if people like it and we want / need our own domain.  Though I do like `security.cncf

[2019-06-11 14:24] mhausenblas commented on #110
@ultrasaurus would you mind stating if you take care of it or want me to do it?

[2019-06-11 14:49] ultrasaurus commented on #110
@mhausenblas will kick of an email thread to find the right person to coordinate with and cc you.  It would be great if you could track that thread and update here as we learn answers

[2019-06-11 16:24] ultrasaurus opened #197 "github issue template for proposal"
It would be great to have a github issue template for a [proposal](https://github.com/cncf/sig-security/blob/master/governance/process.md)

For reference, see [security assessment template](https://github.com/cncf/sig-security/blob/master/.github/ISSUE_TEMPLATE/security-assessment.md)

[2019-06-11 16:29] ultrasaurus opened #198 "write up the "triage" role..."
We talked about this in meetings and in the #sig-security-triage channel and need to document exactly what the "triage" role is.

It appears that we need to give people full write access to the repo, but I think it is fine to trust people to only change things within their role.  In the unlikely event that we have a bad actor, then the admin/co-chair would simply remove access.

Suggest we add to

[2019-06-12 17:12] lumjjb opened #200 "KubeCon + CloudNativeCon, Shanghai, China - Jun 24 - 26, 2019"
June 24-26, 2019
Shanghai Expo Centre, Shanghai, China

https://www.lfasiallc.com/events/kubecon-cloudnativecon-china-2019/

Let's try to get a group together to meet up! Comment if you're going to be there!

[2019-06-12 17:23] JustinCappos commented on #167
I'll be on the Harbor assessment (non-lead).

Daniel Iziourov volunteers to participate in the Falco assessment.

[2019-06-12 17:23] izgeri opened #201 "Links in security assessment README are broken"
The links in the [assessments README](https://github.com/cncf/sig-security/tree/master/assessments#process) are broken

[2019-06-12 17:25] lumjjb commented on #167
I can help with keycloak assessment - I can lead this as well.

[2019-06-12 17:33] rficcaglia commented on #167
happy to assist with Harbor.

[2019-06-12 23:29] caniszczyk commented on #110
hey @lucperkins from the CNCF can sketch out a simple hugo+netlify site

we can do something like sig-security.cncf.io

[2019-06-13 17:39] #201 closed

[2019-06-13 18:07] ultrasaurus commented on #197
fixed!

[2019-06-13 18:07] #197 closed

[2019-06-14 17:02] solrac901 commented on #198
Roles reviewed definition are clear hat are the next steps? Define the Chair, Technical Leads based on ? Thanks :)

[2019-06-14 17:26] ultrasaurus commented on #198
Roles.md needs to include new “triage” team responsibilities — make/assign
labels, give feedback or add content to issues to ensure we’re following
process — should be covered in meeting note past 2-4 weeks

On Fri, Jun 14, 2019 at 10:02 AM solrac901 <notifications@github.com> wrote:

[2019-06-17 17:27] TheFoxAtWork commented on #183
#182 merged in. Remaining items from this ticket are:
* template creation for responsible disclosure process
* template creation for incident response

[2019-06-17 17:37] TheFoxAtWork opened #206 "Assessments Listing"
Description: Recommend creating a Closed Assessments folder in Assessments to organize and store all assessment docs per project
Assessments/Closed Assessments/Project1README.md

Project1README.md lists ticket numbers of the request, dates of the activities, CNCF state at time of assessment, reviewers, project lead, etc. recommendation summary, and links to final report. (think of first glance inf

[2019-06-18 15:27] ultrasaurus commented on #206
This is great. Thanks for writing this up!   I've been thinking of the process as:
- requested (issue) ==>
- active / in-progress / draft ==>
- completed / done / published

The "assessement" is both an activity and an outcome.  After we have finished the activity, then the document is ready and available for people to use in helping them consider whether the project meets their needs... so "close

[2019-06-19 14:46] hannibalhuang commented on #200
i will be there

[2019-06-19 16:01] mfdii opened #209 "2019 NA Cloud Native Security Day (aka SIG-Security day) at Kubecon"
**Description:** SIG-Security Day at the upcoming Kubecon/CloudNativeCon. The goal of the day is to bring together the broader Cloud Native security community in a community oriented space to discuss and share current challenges (and solutions) in Cloud Native security.

**Discuss:**
- Practical application of the security tools and features in the Cloud Native ecosystem.
- Role of red teams and b

[2019-06-19 16:12] mhausenblas commented on #209
+1

Also, we need a PC. I volunteer to help reviewing and putting together a program .

[2019-06-19 16:31] mfdii commented on #209
Yes, we do need a program committee (PC) and probably a few other roles.

I'm happy to handle the event logistics regarding securing space, sponsors (if needed), food and beverage, etc.

[2019-06-19 16:37] mhausenblas commented on #209
Awesome. As mentioned above, I can contribute to the PC or, if no one else wants to, even chair it. 12+ years in academia have prepared me for everything, LOL

[2019-06-19 16:57] ultrasaurus opened #210 "logo representing cloud native security..."
CNCF is working on making us a logo.  We need input on visual imagery to represent Cloud Native Security

[2019-06-19 17:04] ultrasaurus commented on #210
originally inspired when lock icon appeared on the repo:
![image](https://user-images.githubusercontent.com/41906/59785097-d2178b80-9278-11e9-9abf-9bfcd25f50e0.png)

which I felt was not aligned with many discussion within the group where security is a process that is really about risk management

I found this secret agent emoji...
![image](https://user-images.githubusercontent.com/41906/59785287-

[2019-06-19 17:18] mfdii commented on #200
I won't be there, but @kaizhe from the Falco team will be!

[2019-06-19 17:21] karthequian commented on #209
+1 on this effort @mfdii. I'm happy to help with this because I think you're thinking a similar model to devopsdays and I help run devopsdays austin. Probably need to figure out all our roles- get a papercall or something in place for a CFP, get a 👍 on agenda as you've posted, logistics, etc.

[2019-06-19 17:29] TheFoxAtWork commented on #210
trash panda sounds good to me.

[2019-06-19 17:46] amye commented on #210
So we have some rough ideas from our design team, attached.
At this point in time, we're looking for more direction than a final logo.
Thoughts?

[sig-security-v1.pdf](https://github.com/cncf/sig-security/files/3307313/sig-security-v1.pdf)

[2019-06-19 18:10] jonmuk commented on #167
I would be happy to partner with another member to perform an audit (Jonathan Meadows)

[2019-06-19 18:10] mhausenblas commented on #210
![image](https://user-images.githubusercontent.com/52594/59789483-df0e9c00-92c5-11e9-8b57-975bf01e1189.png)

That looks friendly!

[2019-06-19 23:34] caniszczyk commented on #210
if people enjoy the racoon we can do variations of the logo with it

On Wed, Jun 19, 2019 at 2:10 PM Michael Hausenblas <notifications@github.com>
wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 512 961 6719

[2019-06-20 01:19] petermbenjamin commented on #209
This is an awesome idea. I would love to help out here as well.

[2019-06-20 13:35] hannibalhuang commented on #209
the problem is that we already had two cloud native security related co-loacated events for KubeCon EU, if we add another one people will be confused

[2019-06-20 13:38] hannibalhuang commented on #206
I think this will lead to another question on the effective period of one assessment. Say we marked OPA done for assessment, will there be a time we need to re-assess given probably the project has been undergoing changes ? Shall we mark an "effective period" that when that period expires the sig needs to do a update assessment ?

[2019-06-20 15:34] rficcaglia commented on #196
I was not on the Policy WG call but noting use case sketches discussed by @ericavonb

* operator privilege escalation (e.g. can I create a resource that can escalate and create new resources)
* gatekeeper cluster state cache and how actions are evaluated based on state change
* Tenant CRD certificate creation use cases

I would also add the other discussion on the call about mapping PSP to Gatekee

[2019-06-20 15:37] TheFoxAtWork commented on #210
I like the idea of incorporating CNCF logo into it.  Any chance we can have the friendly trash panda lounging in the CNCF logo box and drop the gradient shield?

[2019-06-20 15:39] TheFoxAtWork commented on #206
I think we should stick to each phase of CNCF model,  any changes in the projects status should prompt a review (pre-incubation, incubation to sandbox, sandbox to graduation, and once every yr-two yrs?  Or perhaps a review for every major version/release?

[2019-06-20 15:41] amye commented on #210
Sure! We can do another round of designs that includes that.
Any other logo ideas? I heard 'shield' as a design idea on the call and wasn't sure if there was strong movement towards that instead of friendly trash panda.

[2019-06-20 16:46] mfdii commented on #209
@hannibalhuang Yes, there was a Twistlock workshop and a "Kubesec Enterprise Summit". Both a vendor driven events, paid for and supported by the vendors.  They are not community focused events, open to everyone.

We are trying to create an alternative to these vendor events that is more in line with the charter of the CNCF and sig-security (promoting community and open source).

[2019-06-20 18:00] TheMoxieFox commented on #209
@mfdii I tagged you in slack with a few items to add to the agenda, where are we posting the draft agenda?

[2019-06-21 02:49] hannibalhuang commented on #206
I think this is a great idea to align with CNCF project lifecycle :) Per release might be too much of duplicated work

[2019-06-21 02:58] hannibalhuang commented on #209
But the content are mostly open source focused, it is just sponsored by vendors which the proposal will also count on. It is not a bad thing that there are companies sponsoring these events.

Therefore content wise, i'm still a bit struggling what the proposal offers would differ from existing ones. It would be nice to combine event tho, say we just have one cloud native security-policy day, with

[2019-06-21 02:59] hannibalhuang commented on #209
But the content are mostly open source focused, it is just sponsored by vendors which the proposal will also count on. It is not a bad thing that there are companies sponsoring these events.

Therefore content wise, i'm still a bit struggling what the proposal offers would differ from existing ones. It would be nice to combine event tho, say we just have one cloud native security-policy day, with

[2019-06-21 12:21] TheFoxAtWork commented on #209
@mfdii For the agenda perhaps doing 4 break outs with fewer key notes in the morning? An offense/defense panel/game - simple cloud native web app for a online store.   Offense decides the attack, defense counters, discussion ensues.

[2019-06-21 17:15] lumjjb commented on #200
Awesome - let's try to meet up, we seem to have a small enough group so that we don't really need reservations, so we can do things on the fly.

[2019-06-21 17:16] lumjjb commented on #200
I'm guessing Tuesday evening or Wednesday lunch would be a good time (given that they moved up the entire agenda).

[2019-06-22 13:44] dankohn commented on #200
Tuesday evening, you could meet before or after the booth crawl:

https://kccncosschn19eng.sched.com/event/PVam/welcome-reception-sponsor-showcase

Wednesday, everyone has to leave the convention center by 12:40, so you would be better off to meet for lunch at the Intercontinental Expo.

[2019-06-24 01:06] lumjjb commented on #200
Let's meet after the booth crawl on Tuesday then. It starts at 18:50, so let's meet at 19:45. We can meet just outside the booth crawl area in the convention center and go from there. We'll coordinate by slack then.

[2019-06-24 03:53] Kaizhe commented on #200
I will be there

[2019-06-24 04:50] omerlh opened #215 "[Suggestion] Define security testing requirements"
Description:
Define different types of security testings that we expect CNCF projects to run continuously. Consider defining levels of maturity, e.g. all projects must scan the dependencies used, optional is to run SAST/DAST and how we can reflect those levels (badges?).
Consider also defining the required tools that are considered as "good enough" - might be risky, as we'll have to endorse specif

[2019-06-24 20:34] raesene commented on #215
If we're looking at maturity for application security, which seems like a good approach, I'd recommend looking at the OWASP Application Security Verification Standard (ASVS).

It's an actively maintained project which defines maturity levels for application security and suggests lists of requirements or tests that can be used to assess applications at varying levels

https://www.owasp.org/index.ph

[2019-06-25 05:48] omerlh commented on #215
Yes, that's a great suggestion. ASVS is pretty long, so maybe it's better to create a subset of it.

[2019-06-25 07:29] lumjjb commented on #200
Theres a mall close by, so we can meet up and walk there.

Let's meet at the registration area at the corner facing the keynote sessions room at 1945.

[2019-06-25 11:39] lumjjb commented on #200
The regular exit is blocked off. I am at the exit where we are being diverted to(around the Google cloud booth)

[2019-06-25 14:59] ultrasaurus commented on #215
It would be good to look at the CNCF Audits and draw from already documented practices.

Also consider referencing (rather than duplicating), relevant criteria from [CII Best Practices Security](https://github.com/coreinfrastructure/best-practices-badge/blob/master/doc/criteria.md#security)

[2019-06-25 15:05] ultrasaurus commented on #215
Also, I think the initial assessment of https://github.com/prometheus/prometheus/issues/5580 was that these were false positives... it would be good to include guidance on how to catalog / respond to discovery of false positives.  I imagine this may come up a lot with open source projects where companies typically do security audits themselves and may need help triaging reported issues.

[2019-06-25 15:31] ultrasaurus commented on #210
Other ideas from recent meeting:
* Sarah (me) - asked for imagery ideas as part of standup/intros, since Lock emoji didn’t resonate with me, I looked for other emoji and liked "secret agent," we brainstormed a bit at KubeCon EU dinner of a racoon (since many projects have an animal)
* Lutz -  Shield and sword
* Ash - shield and sword
* Craig -  Shield/Sword/Armor
* Jonathan - Shield/Sword
* Michae

[2019-06-26 02:39] harche commented on #167
I would be happy to assist with keycloak assessment

[2019-06-26 03:09] ultrasaurus commented on #198
Digging through [notes](https://docs.google.com/document/d/170y5biX9k95hYRwprITprG6Mc9xD5glVn-4mB2Jmi2g/edit#):
* Issue triage and curation:
  * assign labels
  * comment where issues need more detail
* suggest proposals or suggestions for discussion at working session meetings
* join slack channel #sig-security-triage

[2019-06-26 16:27] SantiagoTorres opened #224 "[Project] Supply Chain Security Resources Catalog"
**Description**:
Creating a catalog containing software supply chain compromises, best practices and related tools for securing software supply chains.

**Impact**:
According to the [2019 Symantec Internet Security Threat Report](https://origin-www.symantec.com/content/symantec/english/en/security-center/threat-report?inid=biz_ghp_us_istr), "Supply chains remained a soft target with attacks balloo

[2019-06-26 16:52] ultrasaurus commented on #180
PR merged!

[2019-06-26 16:52] #180 closed

[2019-06-26 17:40] ultrasaurus opened #226 "[Suggestion] new members page"
Description: what's a good way for a new member to get involved?

Impact: get people doing stuff sooner, increasing impact of the group

Scope: ~1 hour -- 30 mins writing initial PR and responding to feedback

[2019-06-27 00:34] rficcaglia commented on #215
Having used the CII criteria to review OPA and Falco, I don't see a strong argument AGAINST using CII as the MVP for assessment criteria.  Can anyone articulate how the CII criteria fail to meet the goal?

[2019-06-27 05:31] manohar9999 commented on #226
Will work on this.

[2019-06-27 06:02] omerlh commented on #215
It's actually pretty good, I never saw this list. it's more practical compared to ASVS, I'll be happy to see all CNCF project using these criteria. I filled an issue to add a threat model to the criteria (see coreinfrastructure/best-practices-badge#1302)

[2019-06-27 11:34] rficcaglia commented on #215
CII does discuss threat models for higher badges:
https://github.com/coreinfrastructure/best-practices-badge/blob/master/doc/other.md#documentation_security

On Wed, Jun 26, 2019 at 10:02 PM Omer Levi Hevroni <notifications@github.com>
wrote:

[2019-06-27 11:49] rficcaglia commented on #215
Not recommending any particular methodology or format but this is an
informative example from OWASP:
https://www.owasp.org/images/a/aa/AppSecEU2012_PASTA.pdf

On Thu, Jun 27, 2019 at 3:34 AM Robert Ficcaglia <rficcaglia@gmail.com>
wrote:

[2019-06-27 14:20] TheMoxieFox commented on #209
Current rough framework for security day (please comment)

1hr welcome reception/networking (table tents covering security concerns so similar minds can meld)

Welcome 10 mins
4-5 keynotes with 1 break in between
* 25 min each

Lunch break

Breakouts: 2-3 tracks?
* Offense: hacking cloud native
* Defense: securing cloud native
* Culture: managing culture shift in security and towards security

3-4

[2019-06-27 16:34] lumjjb commented on #224
This is awesome! We could probably find a way to link/embed it on the microsite once it's up too!

[2019-06-27 17:29] TheMoxieFox commented on #224
I love this idea but have some questions and focus concerns on this:
*  Whatever is done should not duplicate cve or cwe.
*  How do we intend cncf projects to take advantage of this?
*  Is there an expected action for their development teams to cross check supply practices against this listing?
*  How do we distinguish supply chain attacks that are a result of bad practices from vulnerabilities?

[2019-06-27 18:51] SantiagoTorres commented on #224
Hi @TheMoxieFox ! Thanks for your feedback! Some comments on it

Yeah, this is an important point. I think we'd like to point when a CVE/CWE is tied to a supply chain security incident, although this may not always be the case (e.g., when a key is mismanaged it generally doesn't get a CVE/CWE).

I envision we will be referring to it often when we do security assessments (e.g, "have you considered

[2019-06-27 19:01] TheMoxieFox commented on #224
I'm thinking type casting various supply attacks: Config, insider, hash check fail, typo squatting, rogue library, etc. Would be beneficial.

 The more I think about it, is this perhaps a mirror of the sans top 10 concept with attack examples?

Are we looking to explicitly define the bad outcome of a supply chain exploit?  E.g.  not checking the hash means the follow Armageddon events will trigger

[2019-06-27 23:40] ultrasaurus commented on #209
thanks for writing this up @TheFoxAtWork !

For afternoon breakouts, I like the idea of doing full-on open space -- we could suggest these themes, but also allow anyone to propose session that they want to lead.

Love the idea of evening lightning talks.  Maybe 1 keynote + panel in the morning?  (personally prefer more time for small group stuff)

[2019-06-28 22:13] solrac901 commented on #209
Please let me know when the CFP site its ready some of the guys that are working on stacks are interested on submit their contribution.

[2019-06-28 22:41] solrac901 commented on #210
instead of a sword, 2 tomahawks
i will paste the example
![image](https://user-images.githubusercontent.com/15894558/60374845-f9363180-99cb-11e9-90ab-eaaf512b13f7.png)

[2019-06-28 23:02] quiqie commented on #210
I like the idea of a coat of arms, can we do the trash panda on it wielding two tomahawks?

[2019-06-29 12:47] dankohn commented on #210
I would discourage use of a tomahawk: https://en.wikipedia.org/wiki/Tomahawk_chop

[2019-07-01 14:11] mfdii commented on #209
@TheFoxAtWork @ultrasaurus updated the issue to follow the proposal format. Also I added in a sample program format. I would like to do tracks but I don't think we will have the space. If we do open spaces, I'd recommend we have a strong closing presentation after the keynotes to keep people around. It's been my experience that attendee attrition can be high when doing open spaces.

[2019-07-01 14:13] justincormack commented on #224
I think classifying the attacks helps. I tend to not think if bad practise (eg not updating deps) as a supply chain _attack_ but judging from common use, addressing all supply chain vulnerabilities may make sense. Happy to help work on this.

[2019-07-01 15:04] TheFoxAtWork commented on #209
@mfdii love the new format.  I think we should go with this.   I definitely love the open spaces - providing topic pre-placement can help get people thinking about other topics to propose/sign up for.  having one or two can drive a "track" mentality and cover both bases.  No matter what - a strong closing presentation (or two) should definitely happen.

Also a moderator for the largest open space

[2019-07-01 16:14] ultrasaurus opened #231 "capitalization consistency of Roles and Chair"
in review of https://github.com/cncf/sig-security/pull/229, we noticed capitalization of Roles and Chair is inconsistent within the document and also inconsistent with [contribution guide](https://github.com/cncf/sig-security/blob/master/CONTRIBUTING.md)

[2019-07-01 16:47] ultrasaurus commented on #209
FYI -- here's the notes I took in the meeting where we discussed some potential edits to the description to address what we're doing here.    Below is unfinished.  I remember people wanting to clarify expectations of what outcomes were expected (e.g. is it just community-building, knowledge-sharing for the people who show up? or is there an additional goal that there would be some output which wou

[2019-07-01 20:40] mfdii commented on #209
@ultrasaurus I took what you sent me and edited the original issue to match the proposal format. What do you feel is still missing? The take-aways?

[2019-07-02 02:49] ultrasaurus commented on #156
This would be a great issue for someone to take on who is interested in getting involved with security assessments (or just willing to help with governance).  Next steps would be a specific suggestion of which doc(s) to add this to and how to adjust the process to include this step.

[2019-07-02 02:51] ultrasaurus commented on #152
It would be great if someone were to draft some text about this and suggest which of our docs it shoul go into, since this keeps coming up as a question

[2019-07-02 02:52] ultrasaurus commented on #206
there is an open issue to document the fact that security assessments last for one year and that we plan to do some kind of mini-review of whatever has changed: https://github.com/cncf/sig-security/issues/152

[2019-07-02 02:55] ultrasaurus commented on #206
maybe we should have a README in the [/assessments/projects/](https://github.com/cncf/sig-security/tree/master/assessments/projects) folder

=> @JustinCappos to resolve when back from vacation

[2019-07-02 03:08] ultrasaurus commented on #167
@JustinCappos I see you added Istio.  I had assumed that our "first five" would all be CNCF projects.  What's your thinking on adding Istio to the list?

[2019-07-02 03:45] mhausenblas commented on #167
@ultrasaurus you beat me to it, exactly my thinking as well. Suggest to do Envoy instead, which is a CNCF project and used in service mesh data planes, including Istio.

[2019-07-02 04:06] dshaw commented on #166
👍 https://github.com/cncf/sig-security/tree/master/assessments/projects/in-toto

[2019-07-02 04:18] mhausenblas commented on #110
Thanks, @ultrasaurus … yo @lucperkins can we sync regarding the micro-site, this week, please? My current understanding is that you'd be looking after infra (Hugo, hosting, etc.) and I more after the content? I suppose a quick (20min) meeting to resolve it would be ideal?

[2019-07-02 04:47] lumjjb commented on #167
Did we have discussions with anyone from keycloak about security reviews yet? if not i will reach out to them to gauge interest and timeline.

[2019-07-02 06:26] ultrasaurus commented on #167
@lumjjb looped you into an email thread from a few months ago (cc'd @JustinCappos) -- we said we'd get back to them when we were further along in our process... so I think it would be a great time to reconnect.  Thank you!

[2019-07-02 12:20] joshuagl commented on #224
This sounds great.  I really like the idea of classifying attacks and discussing/linking to related tools will really help users understand how to protect their supply chains.

I'd like to help work on this.

[2019-07-02 15:45] edwarnicke commented on #167
@nickolaev @fkautz @haiodo - Adding the other Network Service Mesh maintainers here.  Happy to engage when you guys are ready :)

[2019-07-02 17:18] amye commented on #210
Any further comments here?
I'll be adding this as an agenda item for Wednesday's SIG meeting.

[2019-07-02 20:31] ultrasaurus commented on #210
I think we have gathered a lot of ideas and it would be helpful to have some iterations before bringing it to the group again or a specific question that would allow for structured feedback / ideation.

I agree with @dankohn sage advise to avoid something that could be considered cultural misappropriation (though I am sure that was not intended).

Someone also mentioned in the meeting that we shou

[2019-07-03 13:07] ultrasaurus opened #233 "roles and responsibility for governance"
in roles.md...
"Members who take on Roles are responsible for
understanding the approval policies related to their role and ensure that
commits to the repo are reviewed in accordance with our [governance](./)"

via [feedback thread](https://github.com/cncf/sig-security/pull/229/files/477a6a607be4ec4b6103339ba9d570e88c0858db#diff-d2e08ed5f897b2157042d4c3bfc22eb9)

@TheFoxAtWork: not sure if "govern

[2019-07-03 13:18] ultrasaurus opened #234 "landscape: Identity & Access Control category is confusing"
several people have raised the issue that "Identity & Access Control" category is confusing because almost every project must implement access control and use some kind of identity.

My original understanding of this was that this would be for projects that provide Identity or Access Control, but if that was the intent, it's not clearly described

[2019-07-03 13:36] ultrasaurus commented on #106
I have found this to be "traditional' as well... meaning that it's common practice. Perimeter-based security is how people think about network security, and provides a somewhat false feeling of safety in our modern world (perhaps independent of cloud), but in any case, when you have physical cables and can unplug them to create a perimeter, its quite different than in cloud-native systems where it

[2019-07-03 15:12] rficcaglia commented on #152
Happy to take a stab at it.

On Mon, Jul 1, 2019 at 6:51 PM Sarah Allen <notifications@github.com> wrote:

[2019-07-03 15:35] ultrasaurus commented on #209
@mfdii oops -- didn't see that you did update the format.  Thank you!  the remaining thing is really this point...

"I remember people wanting to clarify expectations of what outcomes were expected (e.g. is it just community-building, knowledge-sharing for the people who show up? or is there an additional goal that there would be some output which would move the larger mission forward in some way"

[2019-07-03 15:54] TheMoxieFox commented on #209
Notes from 03 JULY 2019 Security Day event planning/meeting:
Attendees:
@ultrasaurus, Emily Ruf, @Amye, Jennifer Posphishek, @TheFoxAtWork

Sarah Allen (@ultrasaurus ), co-chair of SIG-Security: the "glue"  handing off the torch to one of the other co-chairs (JJ)
Chair of the project is to make sure no blockers, and lets things run smoothly, keeps it moving forward.  Delegate to the project lead(s

[2019-07-03 16:24] jonmuk commented on #224
Also interested in helping with this one as have an interest in securing supply chain and in-toto

[2019-07-03 16:51] ultrasaurus commented on #210
I like the visual simplicity and iconic feel of this one, with subtle tie in with CNCF visual representation (color schema + stripe)

![image](https://user-images.githubusercontent.com/41906/60610081-eb8bfd80-9d77-11e9-98c9-29883e95e4b6.png)

[2019-07-03 16:55] ultrasaurus commented on #210
This one approaches what I would like to see in a logo, in terms of an iconic representation.  I like that it is much more differentiated from other representations of security, yet still evokes the theme -- with the combo of bandit and chevron (which could represent an "official") or also a less commonly used, but still representational shield shape

![image](https://user-images.githubusercontent

[2019-07-03 17:20] leodido commented on #210
I like this one too (same as @ultrasaurus).

![image](https://user-images.githubusercontent.com/120051/60611819-8b24ac80-9dc7-11e9-80a3-1353893c4a42.png)

The only things that I'd probably change is the font of SIG Security but overall looks really elegant and communicative!

[2019-07-03 17:30] TheMoxieFox commented on #233
Perhaps something like " Members fulfilling any Roles in SIG-Security are responsible for understanding and abiding by the governance and policies defined by SIG-Security.  This commitment and execution of understanding includes not only commits to the repo, but also to any approvals or direction required by their Role."

[2019-07-03 17:38] fntlnz commented on #210
I like this one:
![image](https://user-images.githubusercontent.com/3083633/60612834-ee174300-9dc9-11e9-9dab-554e45531865.png)

I like the sig to have a mascot that we can also use as icon with emojis like in twitter
![image](https://user-images.githubusercontent.com/3083633/60612910-1737d380-9dca-11e9-8848-c8581c48090c.png)

Raccoons are cute, I'm voting for the cutest logo.

[2019-07-03 17:45] TheMoxieFox commented on #206
Definitely recommend a README in that folder.   Content should include the life expectancy of each assessment as well as kind of assessment based on stage in CNCF.

@ultrasaurus recommend merging this ticket and #152 to cover creation of a README including all of this.

[2019-07-03 17:51] TheMoxieFox commented on #206
Also create a "unofficial" listing for when vendors or projects come to us with evidence of an audit or outside of CNCF, we can store alongside the "official" listing of what security has done.

[2019-07-03 17:54] danmx commented on #210
I don't get the raccoon so I'll stick to a minimal shield with [CNCF colours](https://github.com/cncf/artwork/blob/master/other/cncf/icon/color/cncf-icon-color.png).

[2019-07-03 18:04] randomvariable commented on #167
Hi, is this the right place to say we would like and are ready for a security audit for [kubeadm](https://github.com/kubernetes/kubeadm)? kubeadm is the recommended bootstrapper for Kubernetes and is consumed by a lot of other Kubernetes infrastructure bootstrappers such as Kubespray and Kubernetes Cluster API. cc @timothysc

[2019-07-03 18:18] ashutosh-narkar commented on #210
I like this logo and the idea of having a mascot. The contrast looks nice as well. Does this look a bit similar or can cause some confusion ?
![zenko](https://landscape.cncf.io/logos/zenko.svg)

[2019-07-04 01:32] rficcaglia commented on #152
WIP outline... https://github.com/cncf/sig-security/commit/4fee2816302a7a7719f8f0e3511de575849d190c

[2019-07-04 06:15] cypherfox commented on #210
"on mauve a border silver and a silver band sinister" ;-)

[2019-07-04 07:01] ficcaglia commented on #167
Just an aside wrt projects that had a prior audit... I feel previous audits are good inputs but are just one of many inputs into what should be a consistently applied process.  Certainly for practical reasons deferring those until later makes sense. But they should be scheduled for a later assessment IMO. In short every CNCF project should go through the same assessment process eventually and cons

[2019-07-06 14:12] rficcaglia commented on #46
Someone from cloud custodian was on a Policy WG call a few weeks back.  @hannibalhuang do you have his info?  Perhaps we can invite him to present? He expressed interest in learning more about how they can support k8s.

[2019-07-08 00:58] fkautz commented on #167
I'm looking forward to the security audit for NSM. Once we are more established, I am also going to approach multiple companies who are depending on NSM to see if we can get them to provide independent security audits. The more eyes the better.

[2019-07-08 03:49] ficcaglia commented on #167
@fkautz I see you have mostly completed the CII best practices:
https://bestpractices.coreinfrastructure.org/en/projects/2725

Any particular reason this could not be pushed to 100%? Happy to help.

[2019-07-09 14:56] ultrasaurus commented on #224
thanks @TheMoxieFox for your questions and good answers from @SantiagoTorres and discussion.

I also like the idea of developing a shorthand for classifying attacks, which will help us spread knowledge via security assessments and the resource itself will be thought-provoking for anyone who is responsible for software release pipeline.  As "devops" has increased, there is more opportunity for any

[2019-07-09 16:43] lumjjb commented on #200
Was awesome meeting up! Closing this issue and adding it to main page archive.

[2019-07-09 16:43] #200 closed

[2019-07-09 16:46] lumjjb commented on #36
Closed due to inactivity.

[2019-07-09 16:46] #36 closed

[2019-07-09 16:46] lumjjb commented on #80
Closed due to inactivity.

[2019-07-09 16:46] #80 closed

[2019-07-09 16:47] lumjjb commented on #118
Closed due to inactivity.

[2019-07-09 16:47] #118 closed

[2019-07-09 16:47] lumjjb commented on #90
Closed due to inactivity.

[2019-07-09 16:47] #90 closed

[2019-07-09 16:47] lumjjb commented on #59
Closed due to inactivity.

[2019-07-09 16:47] #59 closed

[2019-07-09 16:49] lumjjb commented on #91
Closed due to inactivity.

[2019-07-09 16:49] #91 closed

[2019-07-09 16:52] lumjjb commented on #60
Is this content that we think would be part of the whitepaper?

[2019-07-09 17:54] lumjjb commented on #198
Looks like this is addressed by https://github.com/cncf/sig-security/pull/219! Doing some triage on the triage issue :)

[2019-07-09 17:54] #198 closed

[2019-07-09 18:22] lumjjb commented on #156
I will take this up. Assigning myself.

[2019-07-09 18:30] lumjjb commented on #234
Hmm... at least to me, I have the same understanding as you, where this would mean projects that are authn/z providers, not so much users of it.

Every project probably has to have some integration points with such a service, but I think about them like how I think about the use of a database by a project. Ideally, a project would use an "identity and access control service", be it an OAUTH provid

[2019-07-10 05:19] manohar9999 commented on #226
@ultrasaurus can you please take a look and let me know your thoughts?

## New Members

New members are advised to:

* Join the slack group and introduce yourself.
* Regularly join the meeting atleast for the first couple of months to get yourself upto speed.
* Go through the docs in the repo.
* Keep an eye out for `help wanted` labels in issues.

Peer support:

* Every new member will be assigned

[2019-07-10 11:22] zollman commented on #234
Added a pull request for this - #236 - as well as a review of my own changes. In particular, I like renaming the category Identity Lifecycle and Access Management, from Identity and Access Control - all projects may need to perform authentication and authorization, but no one wants to do "lifecycle" or "management" except those of us that have to.

[2019-07-10 17:35] rficcaglia commented on #165
in terms of validating policy "overlap" and maintaining a global overall policy while allowing delegated policy....that was a use case we briefly discussed in the context of https://github.com/cncf/sig-security/issues/196 on the Policy-WG call.

[2019-07-10 22:45] cloudsriseup commented on #215
BSIMM has a decent section on testing - https://www.bsimm.com/framework/software-security-development-lifecycle/software-security-testing.html  .  Other sections include the third party libraries (open source) risk mgt. challenges, and answering many of the questions above.

[2019-07-10 22:49] cloudsriseup commented on #177
"... If a vulnerability is found it should be submitted as a CVE following responsible disclosure with the company in question.  If the assessment or audit is providing scoring on a vulnerability found as a result of said activity, it should adhere to industry accepted standard proceed for vulnerabilities. Especially if the scoring is based on cvss..."

Strongly agreed.  The process is simple.

[2019-07-10 22:51] cloudsriseup commented on #168
@JustinCappos agreed.  Much needed.

[2019-07-10 22:53] cloudsriseup commented on #167
I would be happy to assist with KeyCloak.

[2019-07-10 22:57] cloudsriseup commented on #146
Indeed.  Common use cases include Amazon's Zelkova.  The formal specifications are written to https://en.wikipedia.org/wiki/Satisfiability_modulo_theories .

[2019-07-11 01:44] lumjjb commented on #167
@cloudsriseup @harche  Awesome, I think we almost have a full group for KeyCloak. We had a chat with the maintainers and this is slated for sometime in August!

[2019-07-11 02:13] lumjjb commented on #146
I'm curious, would you consider the work of SEL4 formal specification? It uses formal methods, but doesn't define it's software based on a proof system, but instead transitively proves it.

[2019-07-11 02:57] rficcaglia commented on #146
Yes absolutely i think it is a good example of a high assurance
implementation

On Wed, Jul 10, 2019 at 7:13 PM Brandon Lum <notifications@github.com>
wrote:

[2019-07-11 13:14] lumjjb commented on #146
I think formal methods mention is worthy in security assessments in the case where a project uses formal methods - the information would be useful in that context. Perhaps a proposal to add a section of this to the [assessment outline](https://github.com/cncf/sig-security/blob/master/assessments/guide/outline.md)

Formal methods is a very niche topic, so probably if it goes on the roadmap it would

[2019-07-11 14:08] rficcaglia commented on #146
Very few CNCF projects (any?) are using high assurance methods today...but
that’s not true in other domains where formal methods are more widely
used.  I agree that introducing a menu of options over time, providing
examples of how and where to use them, and then eventually ratcheting up
the expectations is most likely to increase awareness and adoption in this
particular community.

On Thu, Jul 1

[2019-07-12 19:20] lucperkins commented on #110
Status update: I'm working on something that's publicly available at https://sig-security.netlify.com. I'm building that from my personal fork of this repo: https://github.com/lucperkins/sig-security/tree/lperkins/website. It's definitely a WIP but I think a decent skeleton for iteration.

If it would be beneficial, I can submit a PR and we can discuss/collaborate there.

[2019-07-12 20:55] amye commented on #210
We have our next round of designs!
[sig-security-v2.pdf](https://github.com/cncf/sig-security/files/3387932/sig-security-v2.pdf)

Poll is here: https://forms.gle/ZAd8fcFV7VRQ58k37
I'll leave this open through July 22nd, please choose your top two and we'll go from there.

[2019-07-13 12:45] ficcaglia commented on #224
of interest:
https://attack.mitre.org/techniques/T1195/

[2019-07-13 12:48] ficcaglia commented on #215
@mhausenblas  just wondering - can we close this particular issue if we add to the microsite in some sort of "resources" list or FAQ?

[2019-07-13 13:00] ficcaglia commented on #209
more real world case studies is my hope. let me know if you are willing to discuss yours and I'll volunteer to organize a round table type prez if there is interest.  maybe followed by a "ask the operator" session where those who are looking for answers can ask specific questions of the "panel"?

[2019-07-13 13:37] solrac901 commented on #209
+1

El sáb., 13 de julio de 2019 8:00 a. m., ficcaglia <notifications@github.com>
escribió:

[2019-07-14 05:33] mhausenblas commented on #215
I like the idea of a FAQ and happy to add that. Unsure if that means we want to close this issue right now or when the site is up.

[2019-07-14 05:56] omerlh commented on #215
I'll be happy to work on this if someone is willing to mentor and guide me in the process.

[2019-07-14 12:50] JustinCappos commented on #206
Given I'm conflicted with in-toto, I'm probably not the right person to
write the document for it.  However, I can do the OPA one.

On Wed, Jul 3, 2019 at 1:52 PM Emily The Moxie Fox <notifications@github.com>
wrote:

[2019-07-15 15:26] mhausenblas commented on #110
@lucperkins: today @ultrasaurus and I sat together and developed a battle plan. Here's what we decided:

- We continue to use your fork, please use #195 as the landing page content
- Please add a client-side site search functionality
- I will work on the presentation details content in my own fork, based on Sarah's [templates](https://github.com/ultrasaurus/cncf-sig-security/blob/presentation-page

[2019-07-15 23:30] lucperkins commented on #110
@mhausenblas I've updated the site in progress with the desired front page content as well as a search bar: https://sig-security.netlify.com/.

I've left the previous documents in place largely to demonstrate the search functionality. They'll be removed later.

[2019-07-16 01:48] lumjjb commented on #234
I am a bit wary of the words "lifecycle" and "management", as they may artificially narrows the scope of projects which intuitively may be in that category.

For example, Open Policy Agent is usually seen as an authorization service, but it actually relies on additional layers on top of it to do the management of actual authorization policies.

[2019-07-16 06:46] mhausenblas commented on #110
Awesome, thank you @lucperkins!

[2019-07-17 15:08] danmx commented on #167
if you still need an extra person for KeyCloak, feel free to add me to it.

[2019-07-17 15:39] ultrasaurus commented on #210
To explain racoon relationship to security.... it's a bit of a visual riff on the idea that security work is a bit like detective work, security officers or secret agents are often depicted wearing dark glasses.... racoons have distinctive facial markings that kind of look like sunglassess

![image](https://user-images.githubusercontent.com/41906/61389547-f9f51180-a86d-11e9-8135-436c53b70dea.png)

[2019-07-17 17:15] ultrasaurus commented on #226
Love this idea.  For the "buddy" program -- will need to ensure to have at least few volunteers to be buddies before we can commit to that

[2019-07-18 02:57] knowlengr opened #240 "[Proposal] HL7 FHIR Consideration"
Description: HL7 FHIR is a relatively mature specification which addresses several facets of privacy, security and has received considerable if not universal adoption in healthcare IT. Because it by nature addresses both HIPAA and security / safety, it can inform ways to structure cloud security approaches that incorporate deep domain-specific awareness.  It can also inform how we structure the pr

[2019-07-18 12:43] qnetter commented on #167
Not sure if I am helpful or less than, but I would be happy to be at least a ride-along on any remaining assessment.

[2019-07-18 23:56] fkautz commented on #167
@ficcaglia we're a relatively new project, we're getting to these tasks. :)

If you have any suggestions or would like to help, let me know. Ping us on slack.cncf.io on #nsm or me directly under the fkautz username.

Cheers!

[2019-07-19 12:58] garethr commented on #226
As mentioned on the call, I said I'd take a look at this.

I think the list of "advised to" things is good. It would be good to:

* Link to the Slack group in a writeup for new members. Slack "groups" are actually called channels, probably best to use the official terminology.
* Regarding "docs in the repo" I think it would be useful be be more guided here. What are the first specific three things

[2019-07-19 13:28] garethr commented on #209
Just started joining the SIG and think this sounds like a great idea. Happy to help in any way.

[2019-07-19 15:12] rficcaglia commented on #167
@fkautz sure! it would be a good example of "assessment readiness" since you are engaging so soon! I'll ping you on slack next week.

@randomvariable I'm not speaking "officially",  but my guess is that given the load of CNCF projects queued up...it might be awhile before we have bandwidth to cover non-CNCF projects...I defer to @ultrasaurus on that. (note also the discussion around Istio above)

[2019-07-19 16:28] justincormack commented on #240
Would it make sense to present to SIG-Security https://github.com/cncf/sig-security? cc @ultrasaurus

[2019-07-22 10:05] joshuagl commented on #167
I'd like to volunteer to observe and learn more about the  process so that I can
be more active in future assessments. I'm particularly keen to observe the Notary
assessment, but would be happy to observe on any/all of the assessments.

[2019-07-23 17:35] amye commented on #210
![sig-security-option6](https://user-images.githubusercontent.com/107161/61733844-8784a580-ad35-11e9-821a-05515fd48785.png)
With 41.7% of the vote, this is our highest ranked logo.

[2019-07-24 14:11] caniszczyk commented on #210
Thanks @amye, can you work with Alex C. and get it put https://github.com/cncf/artwork and uploaded to this README :)?

[2019-07-24 15:00] TheMoxieFox commented on #209
I havent seen any posts about a preference or decision on whether we do a unconference style or a more formal layout of the day.  I'll bring this up on the call today, given the limitations of the space available to us i am leaning towards a CFP and next year we can spend more time exploring the unconference style.

[2019-07-24 15:48] ultrasaurus commented on #209
Room can be set up as classroom,  rounds or theater.   "We have a room on hold that can accommodate 200 in classroom."  If the group wanted unconference style, we could limit to 100 people and set up with round tables for discussions.

[2019-07-24 16:48] lumjjb commented on #167
@danmx most definitely, I think we will have space for keycloak.

[2019-07-24 18:26] rficcaglia commented on #196
pending discussion and feedback today (7/24/19) on the Policy WG call, I'll submit a PR which I would consider action enough to close this issue.

[2019-07-25 00:13] #196 closed

[2019-07-26 19:27] amye commented on #210
https://github.com/cncf/sig-security/pull/243 is ready to roll

[2019-07-29 23:04] omgclouds commented on #234
A bit dry suggestion: Authentication, Authorization, and Accounting Services ?   Otherwise, I agree with Identity and Access Management.  The domain is not limiting the scope of projects.  For instance, calling OPA an authorization and admission controller does not limit its' ability to filter information nor act as a generic policy service.

[2019-07-29 23:06] omgclouds commented on #224
Of interest:
https://capec.mitre.org/data/definitions/437.html

[2019-07-30 04:19] manohar9999 commented on #226
@ultrasaurus , @garethr Here is what I have so far -

## New Members

New members are advised to:

* Join the [CNCF Slack team](https://slack.cncf.io/), particulary [#sig-security](https://cloud-native.slack.com/messages/CDJ7MLT8S) channel and introduce yourself.
* Initially go through the following documents in the repository:
	* [README.md](https://github.com/cncf/sig-security/blob/master/README

[2019-07-30 04:21] manohar9999 commented on #226
Also, I believe the buddy program will help both kinds of people. People will be able make the connections, ramp up quickly and bounce of ideas if needed.

[2019-07-31 20:45] rficcaglia commented on #153
this one came up on the call today:
https://infosec.mozilla.org/guidelines/risk/rapid_risk_assessment

[2019-08-01 10:46] ultrasaurus commented on #156
Just wrote up https://github.com/cncf/toc/issues/270 to suggest that there be guidelines from the TOC, which we don't have to wait for, but definitely want to reference and contribute to.

[2019-08-01 14:24] lumjjb commented on #156
Thanks @ultrasaurus ! Sorry been a bit behind on this. I will write this up soon, and also probably will be one of the first to test this out because of Redhat Keycloak assessment. :)

[2019-08-01 18:42] mfdii commented on #209
Notes July 31st meeting:
- Everyone is agreed on proposed format as is in the issue description.
- Frame Roles & Responsibilities
  - Outcome: since project is small, tasks are better than R&R. Ducy and Emily both contacts for questions. JJ helps with bias issues. Sarah needs visibility into work, and accountability up.
   - Action: Create trello board to track tasks (Ducy).
- Frame Milestones for

[2019-08-02 11:20] dankohn commented on #209
SIG-Security should use whatever tools it wants, but could I please give a quick pitch to create a second GitHub project board https://github.com/cncf/sig-security/projects/1 instead of Trello. It works really well and is very convenient to have all of the data in one place.

[2019-08-08 09:31] lizrice opened #251 "Define chair election process and role schedule"
I might have missed it, but I couldn't find anything about the election term and schedule for SIG chairs.

[2019-08-08 09:36] lizrice commented on #251
The term is covered by the standard SIG operating process here https://github.com/cncf/toc/blob/master/sigs/cncf-sigs.md#elections but I think it would be helpful to list the chairs & tech leads on the SIG home page (there is a members list there already), along with their election term.

[2019-08-13 17:25] TheFoxAtWork commented on #209
Update:
* [Public Trello board for planning of SIG Security Day](https://trello.com/b/pOLrdWYW/cloud-native-security-day-2019)
* Website:  @TheFoxAtWork will [generate some content ](https://github.com/cncf/sig-security-events) for [the Event Website](https://sig-security-events.netlify.com/) that covers the items in [the trello ticket](https://trello.com/c/gvoWSodL/3-website).  Amye will submit a

[2019-08-13 22:34] amye commented on #209
Update: Working with Emily Ruf on an event website so that it aligns with the look and feel of the current co-located events; we'll use the sig-security-events repo as a collection of SIG events moving forward

[2019-08-14 14:00] ultrasaurus commented on #209
thanks @amye and @TheFoxAtWork -- updated description at top so folks can easily reference trello board and see progress!

/cc @mfdii @pragashj

[2019-08-14 18:01] cypherfox commented on #169
The slides are here: https://docs.google.com/presentation/d/1VQVuybbTv_yabAa0OiqjZJkyk0S6yZfq9VhfJeSkC-0/edit?usp=sharing

[2019-08-19 16:15] ultrasaurus commented on #124
Recently telling someone how we arrived at target audience of *deciders* for whitepaper https://github.com/cncf/sig-security/issues/138 which came from the discussion of the landscape and categories, where the group felt that landscape and security overview whitepaper (https://github.com/cncf/sig-security/issues/138) would have the same target audience.

@izgeri helped find discussion in [SAFE mee

[2019-08-19 16:17] izgeri commented on #124
[Here are the slides](https://drive.google.com/file/d/13JrAvHoo8j7RrREBMPOcuGvtrZpz87s2/view?usp=sharing) I shared at the 2/22/19 meeting on `Mapping the Security Landscape`

[2019-08-19 16:45] #156 closed

[2019-08-21 16:48] TheFoxAtWork commented on #224
of interest: https://arstechnica.com/information-technology/2019/08/the-year-long-rash-of-supply-chain-attacks-against-open-source-is-getting-worse/
Where are we at with this project?

[2019-08-21 16:56] jonmuk commented on #224
Can we bring this up in the meeting today?  I would like to work with others putting together best practice guidance.

As raised last week there may be conflict of interest concerns when we get to specific tooling but we need to find a way to work around that given the importance of the issue at hand.

[2019-08-21 16:57] TheFoxAtWork commented on #224
I'd like to, i think there was some discussion on identifying conflict of interest for members but i cannot recall.....

[2019-08-21 21:03] SantiagoTorres commented on #224
Hi, Sorry I missed the meeting today as I was travelling. I'll pick this up in the upcoming days once I watch the meeting and read the minute :+1:

[2019-08-22 23:56] rficcaglia commented on #153
how could I forget good ol' NIST:
https://nvd.nist.gov/800-53/Rev4

Certainly visiting each of these control families and asking a project how each would be impacted by the project, or how each applies (or not) to the scope of the assessment for each project.

[2019-08-23 13:41] MVrachev opened #256 "[Suggestion] Define what an Observer role is during assessment"
Description: I noticed there is the so-called `Observer` role in the `assessment matrix`.
I read all the documentation there which is about the different roles in a security assessment but found none information about this role.

Impact: I believe that if there's better documentation of the requirements and responsibilities of an observer role it will be easier for newcomers to join in the securit

[2019-08-23 14:37] ultrasaurus commented on #224
@SantiagoTorres with supply chain attacks on the rise, there’s interest in focusing a meeting on this topic and (hopefully) generate some momentum on raising awareness / creating resources around this.  -- proposed date: Sep 4, are you available to join the meeting?   (or suggest alternate date?)

[2019-08-23 14:57] SantiagoTorres commented on #224
Yes, I'll be there on Sept 4.

[2019-08-23 15:12] lumjjb commented on #77
Thanks @hannibalhuang , closing this issue!

[2019-08-23 15:12] #77 closed

[2019-08-23 15:13] lumjjb commented on #97
Closing this due to no action required.

[2019-08-23 15:13] #97 closed

[2019-08-23 15:15] lumjjb commented on #38
Closing from inactivity.

[2019-08-23 15:15] #38 closed

[2019-08-23 15:16] lumjjb commented on #75
@dshaw any leads here or shall we close this in the meantime?

[2019-08-23 15:17] lumjjb commented on #166
@ultrasaurus I believe the presentation to the TOC is over? shall we update it and close it out :)

[2019-08-23 18:29] rficcaglia commented on #256
I think I injected that term but happy to change it to something else.  Essentially it addresses the role of participants who closely monitor the assessors to a) learn the process but equally important b) provide feedback on how the process went.  The explicit volunteering (ie not just passively monitoring the calls and git commits) means you are going to attend all working sessions as if you were

[2019-08-26 10:27] MVrachev commented on #256
Yes, I think there should be a more appropriate term to describe a role which is actively involved.

My biggest question here is what are the pre-requirements to be an `Observer/Intern`.

[2019-08-26 14:12] rficcaglia commented on #256
I agree that “interning” should be open to everyone lest this become an
echo chamber of homogenous perspectives.

That said, I think there ought to be some candid discussions with
volunteers about what domain knowledge is useful for a given assessment.

Someone completely new to kubernetes for example would probably find it
difficult to participate effectively other than just a scribe.

Since we d

[2019-08-26 15:44] rficcaglia commented on #256
An example from recent events. If someone was assessing a crypto based
system, and could not fully understand an analysis such as this:

https://golovnev.org/papers/election.pdf

Then probably they would find it hard to contribute productively to an
assessment of a crypto based project.

 I’m not asserting that every assessor needs to be able to produce this
level of analysis de novo, only that th

[2019-08-27 08:36] MVrachev commented on #256
I agree with @JustinCappos that the `Observer/Intern` program should be open to everyone.
On another hand, I also agree with @rficcaglia that there should be some kind of competence for the reviewed project so that the Observer/Intern could be useful for the security assessment.

I suggest defining a process in which

1. The decision to make a security assessment on a particular project is taken.

[2019-09-03 18:25] lumjjb commented on #256
I think ideally the net effect of someone as an intern/observer should provide a net non-negative effect on the process. I think this could be in various capacities. Being invited to the discussions and just listening in itself is super helpful. For such "passive observers", we can have any amount of them per security review.

However, observers which are active I think should be limited to a proj

[2019-09-04 18:13] ultrasaurus commented on #251
@lizrice chairs are identified in the README.  We actually forgot to pick who was 1 or 2 year term -- we'll need to draw straws and update.  We did not identify tech lead roles initially, and had focused on establishing a range of ways for people to get involved (see [roles](https://github.com/cncf/sig-security/blob/master/governance/roles.md).

Since Tech Lead roles have a bit more process (nomin

[2019-09-08 18:38] ultrasaurus opened #264 "github issue template for presentation / use case"
Encourage people to submit ideas for presentations (either for themselves to present or a topic where they might not have a specific presenter in mind)

auto-tag the issue & create some boilerplate content to help people get started

[2019-09-09 12:27] MVrachev opened #265 "[Suggestion] Rework how we do Check-ins"
Description: What's your idea?

During our calls, we spent relatively around 30 minutes doing Check-ins which leaves a short time for discussions.
There are many people who don't have updates relevant to this group or are new members and just want to observe what the group does.

My suggestion is to do a Check-in from the people who have updates relevant to this group.

**Pros**: This will save us

[2019-09-09 13:53] JustinCappos commented on #265
I think this is a nice suggestion.  These are valuable, but perhaps a little much the way they are being done.  Certainly, we should do something a little differently I think.

Perhaps an alternative / added suggestion is to have a check in from everyone once a month instead.  Then this can be a once every 4-5 week item instead of every week having this take about half the meeting...

[2019-09-09 20:13] lumjjb commented on #265
I like the idea of scaling down a bit on the time for check-ins each meeting. Or perhaps we could do some simple check-in sharding :).

I really like the new member check-ins each week, I think that really helps new members engaged and usually provides some interesting discussion points or future agenda items for the group. So i like the idea of scaling down the usual check-ins, but keeping some t

[2019-09-10 07:29] MVrachev commented on #265
I agree there is a lot of value in those check-ins but the way we do it is not optimized.

The big question is how we practically do that. You don't what to give the word to the 10 fastest members.=

Maybe a good approach will be to give the word to the people who:
1. have updates related to the group
2. are new to the group AND have not introduced themselves already.

Of course, you could have a

[2019-09-10 08:05] fntlnz commented on #128
@ultrasaurus do we want to do a sig security dinner? I'd be happy to organize it!

[2019-09-11 18:01] lumjjb opened #271 "[Proposal] Re-organize github landing page"
Reorganize the github landing page (README.md) to have more often used information more accessible and add pointers to new comers to the new members page.

One example of a change is would be moving the communication section up (right now the meeting link is only available after scrolling past the members list).

This will help new members more easily find meeting times, and easier access to meeti

[2019-09-14 14:32] ultrasaurus commented on #264
This would kick off an event like the security day (not removing the need for the CFP, rather a pre-cursor to making that happen to assist in getting feedback / volunteers to help), and also for people suggesting presentations for the regular SIG meetings (like [these issues](https://github.com/cncf/sig-security/issues?utf8=%E2%9C%93&q=is%3Aissue+label%3Ausecase-presentation+))

[2019-09-14 14:51] ultrasaurus commented on #115
renamed from "Create a registry for security SMEs to list and/or volunteer" to merge with Sep 11 2019 discussion of how to document SIG member skills and experience so we can work better together: "Page where people list their SME and they could be approached for their expertise"

[2019-09-14 14:51] ultrasaurus commented on #115
changed back to suggestion since we need a volunteer to take the lead on this

[2019-09-14 14:52] pragashj commented on #115
cc / @JustinCappos @justincormack

[2019-09-14 16:55] ultrasaurus opened #272 "what is "formal verification" policy overview for?"
See https://github.com/cncf/sig-security/issues/196 for notes on discussion in policy team meeting and subsequent PR https://github.com/cncf/sig-security/pull/242 wrote up notes to close the issue... it got merged without clarification on what it is and how/whether it relates to ongoing work of the group.

- is this a recommendation?
- is this a description of an on-going project?  (if so, there s

[2019-09-14 16:59] ultrasaurus commented on #272
@rficcaglia perhaps you can answer these questions?  I think it could be addressed in some intro at the top that would help situate the document (in parallel with https://github.com/cncf/sig-security/pull/268 that should provide some context)

[2019-09-15 18:31] rficcaglia commented on #272
I encourage all those with opinions and feedback to liberally add to the document and/or GHI comments,  especially with case studies and even more welcome are "anti" case studies.

However, "impossible" is somewhat incompatible with the documentation that both Azure and AWS use formal verification and reasoning for provable security in their production cloud platforms. AWS has published a great de

[2019-09-16 10:56] justincormack commented on #272
I would say at present this is notes for people interested.

Formal verification, for some use cases, is definitely not impossible. I think it can be helpful to see it as a particularly effective way of writing very comprehensive test cases, but that requires some work. Like anything else it is a tool, and its use is very dependent on exactly what you are trying to do, so I would think that concre

[2019-09-16 15:20] rficcaglia commented on #272
Here's a fairly balanced discussion:

https://www.hillelwayne.com/post/why-dont-people-use-formal-methods/

I think for use cases where 95%-99% confidence is acceptable, FM are probably overkill/cost prohibitive.  Where ~100% is worth the exponentially greater time and effort, then FM make some sense, e.g. iOS or Android kernels, high stakes financial smart contracts, RBAC logic in kubernetes (???

[2019-09-16 20:01] rficcaglia opened #273 "[Assessment] Falco"
Project Name: Falco

Github URL: https://github.com/falcosecurity/falco

Security Provider: yes

- [x] Identify team
   - [x] Project security lead: Kris Nova
   - [x] Lead Security Reviewer: Robert Ficcaglia (@rficcaglia)
   - [x] 1 or more additional reviewer(s) - @danmx, Martin Vrachev (Observer)
   - [x] ideally 1 reviewer(s) who has used Falco in a production setting (rficcaglia)
   - [x] Dec

[2019-09-16 20:11] ultrasaurus commented on #179
This is complete, but wanted to link to TOC presentation where this was included -- @SantiagoTorres @JustinCappos do you have the date / link for that?

[2019-09-16 20:15] ultrasaurus commented on #166
linked video in the issue description

[2019-09-16 20:15] #166 closed

[2019-09-17 02:07] hannibalhuang commented on #272
The formal verification for cloud native policy is an experiment the policy team has been discussing this year. What @rficcaglia proposed was the design documentation of that idea, and for a trail of discussion regarding FV you could refer to [the policy team meeting minutes](https://docs.google.com/document/d/1ihFfEfgViKlUMbY2NKxaJzBkgHh-Phk5hqKTzK-NEEs/edit#heading=h.bcgxtrqp8rbt)

This is an ex

[2019-09-17 13:43] ultrasaurus commented on #272
@hannibalhuang @rficcaglia @justincormack this is very good context -- consistent with what I've heard discussed and very aligned with what I would expect us to be doing in this SIG.  What's missing from the PR is exactly this kind of context.  I suggest a "background" section where the document is put into context with the SIG.  Also, I think it would be good to move the author to the top -- that

[2019-09-18 16:03] ultrasaurus commented on #272
Catching up here and reading the [AWS paper](https://d1.awsstatic.com/Security/pdfs/Semantic_Based_Automated_Reasoning_for_AWS_Access_Policies_Using_SMT.pdf), it seems this is in a similar domain to Rego / OPA.  I believe the implication of the paper is that by using a policy language (and perhaps this specific policy language, ZELKOVA) then it is possible to verify that policies are expressed as

[2019-09-18 16:11] jimangel commented on #128
@ultrasaurus @fntlnz I think it would be great to have an in person meeting at KubeCon! Let me know if I can help.

[2019-09-18 17:13] MVrachev commented on #273
Could you please write in this issue when we have a clear starting date of the assessment?
Thank you! :))

[2019-09-18 17:15] leodido commented on #128
+1 for dinner cc @fntlnz @ultrasaurus :)

[2019-09-18 19:20] izgeri commented on #271
Some suggestions from the 9/18 SIG meeting:
- Add a TOC to the top of the document with links to the sections below (it can be literally just a bulleted list with links to sections of the page)
- Clean up view of meeting index - if it's valuable to keep a link per-meeting (to provide visibility to historic meeting schedules), we could either
  - Update the README to link to current doc only, but k

[2019-09-18 19:22] izgeri commented on #115
@ultrasaurus I brought this up at the meeting today, but I'm not sure anyone on the call had enough context to push this forward. It'd be good to discuss again when you're on the call.

[2019-09-18 20:21] lumjjb commented on #271
Thanks for adding the notes from the meeting here @izgeri !

[2019-09-18 20:27] ultrasaurus commented on #128
sounds great!  maybe Monday evening?  I was thinking it would be amazing if we could find a place where we could have dinner + lightning talks.  If it was Monday evening, then could be a continuation of SIG-Securty-Day... can someone look up what KubeCon events are on which evening so we can figure out what is least-bad to miss?

[2019-09-18 23:46] JustinCappos commented on #128
Whenever looks good to me.  Likely @SantiagoTorres and @mnm678 will also be coming along with me!

[2019-09-19 10:18] joshuagl commented on #128
I'd like to join for dinner.

Evening events on the schedule are [Puppy Palooza](https://sched.co/UddX) on Tuesday 19th and the [All Attendee Party](https://sched.co/UcqO) on Wednesday 20th.

[2019-09-19 11:44] justincormack commented on #128
Puppy Palooza is available at other times; I think Monday would be good though to get most attendance after sig-security day.

[2019-09-24 12:48] MVrachev commented on #256
In our last meeting @dshaw pointed out that's important to clarify what role do we want:
- an Observer
- an Intern
- or both?

Dan said that there is an important distinction between the terms `Intern` and `Observer`.
When you are an `Observer` you are "observing" and you have the freedom to look more without doing so much work but also nobody has the responsibility to give you tasks or mentor you

[2019-09-24 19:24] mfdii commented on #209
[Schedule](https://events.linuxfoundation.org/events/cloud-native-security-day-2019/program/schedule/) is live.

[2019-09-25 16:46] pragashj opened #276 "[Demo/Presentation] Falco presentation"
Falco is an OSS project. In this demo, @kris-nova we will see how it can be used to secure a cluster by “exposing” well known vulnerabilities in Kubernetes. Demonstrating the inputs and outputs and how the project can be used within the k8s environment.

[2019-09-25 17:15] danmx commented on #273
Just a reminder, I wanted to volunteer to help with the assessment

[2019-09-25 17:19] rficcaglia commented on #273
I am tracking https://github.com/falcosecurity/falco/issues/807

[2019-09-25 17:23] TheFoxAtWork opened #277 "Due Diligence of members and Disclaimers on content by the group"
Description: The SIG Security group should provide more transparent and explicit instruction/guidance/disclaimers to our members and to our audience/users regarding responsible use of the draft assessments.

Impact: Be more clear to new users and to members of the group while informing individuals that come across our draft docs or PRs.  Establishes expectations and "rules of the road" in addition

[2019-09-25 17:24] TheFoxAtWork commented on #277
i think the label needs changes to suggestion but not sure

[2019-09-25 18:03] ultrasaurus commented on #179
PR is open for review: https://github.com/cncf/sig-security/pull/275

cc @amye @caniszczyk - for scheduling presentation to TOC
cc @lizrice @jbeda - TOC liaisons

[2019-09-27 18:05] amye commented on #179
Would like to have this on our agenda for 10/1.

On Wed, Sep 25, 2019 at 11:03 AM Sarah Allen <notifications@github.com>
wrote:

--
Amye Scavarda Perrin | Program Manager, CNCF | amye@linuxfoundation.org

[2019-09-29 16:42] knowlengr opened #278 "[Suggestion] Develop a guide to security- privacy-related telemetry (via OpenTelemetry?)"
This is a placeholder for a liaison suggestion from Paul Bruce, a new member (Oct 2019) to work with OpenTelemetry.

See https://www.cncf.io/blog/2019/05/21/a-brief-history-of-opentelemetry-so-far/

[2019-09-29 18:57] ultrasaurus commented on #251
* Dan - June 3, 2019 -  June 3, 2020
* Sarah & JJ — June 3, 2019 - June 3, 2021

@dshaw will do PR to add README where we are identified as chairs

[2019-09-29 19:09] dshaw commented on #251
PR for Chair terms: https://github.com/cncf/sig-security/pull/279

[2019-09-29 19:39] ultrasaurus commented on #277
Added some notes about what needs doing.  Added "enhancement" tag and "help wanted" since I think it just needs someone willing to write words for a PR.

Anyone should feel free to do a small PR that covers part of this issue if you are inspired about how to draft text that is a specific improvement to address any of the items on the list or move the repo toward delivering the described impact.

[2019-09-29 23:08] lumjjb commented on #278
Retagging as suggestion, unless we have someone that is taking this up.

[2019-10-01 14:42] ultrasaurus opened #281 "guidelines for prioritizing projects for security assessements"
We need guidelines on how to prioritize projects for security assessments when there are multiple projects interested in engaging with us on an assessment.

see [draft guidelines](https://docs.google.com/document/d/1RUzTBHFqpEL27RvSRMJVcbQtqDj1v78eOu-5xEvVw6I/edit#) -- these need to be moved into a PR, linking from here for visibility

Related:
* Assessment Listing https://github.com/cncf/sig-secu

[2019-10-01 14:43] ultrasaurus commented on #281
see [draft guidelines](https://docs.google.com/document/d/1RUzTBHFqpEL27RvSRMJVcbQtqDj1v78eOu-5xEvVw6I/edit#)

[2019-10-01 15:04] ultrasaurus commented on #206
related issue: prioritization / intake process guidelines: https://github.com/cncf/sig-security/issues/281

[2019-10-01 15:30] ultrasaurus commented on #281
related issue on annual review -- maybe we should get this reviewed/merged first:  https://github.com/cncf/sig-security/issues/152

[2019-10-01 15:31] ultrasaurus commented on #162
In todays OPA Assessment presentation (10/1) we're going to try out a process where project lead presents "left side" (e.g. goal, design, core security analysis, maturity) and a security reviewer presents the "right side" (security risks & recommendations)

[2019-10-01 16:11] ultrasaurus commented on #143
I think this was addressed in the PR.  Please re-open if I misunderstood.

[2019-10-01 16:11] #143 closed

[2019-10-02 12:13] danmx opened #282 "[Suggestion] Help introducing a security feature in K8s: Support node-level user namespace remapping"
[User namespace](http://man7.org/linux/man-pages/man7/user_namespaces.7.html) remapping is a way to prevent privilege-escalation attacks from within a container is to configure your container’s applications to run as unprivileged users. For containers whose processes must run as the `root` user within the container, you can re-map this user to a less-privileged user on the host.

[Docker](https://

[2019-10-02 12:41] justincormack commented on #282
The feature needs implementing, rather than help adopting. There are also significant barriers to implementation around mounts; currently Ubuntu is patching their kernel with shiftfs support, as this is not upstream in Linux. Note also that you get the same security by simply not running your container as root, user namespaces are only needed for some use cases where you need to also provide parti

[2019-10-02 12:41] ficcaglia commented on #162
I thought it worked very well!

On Wed, Oct 2, 2019 at 3:53 AM Sarah Allen <notifications@github.com> wrote:

[2019-10-02 12:53] danmx commented on #282
I found cases in different organizations where it was hard to enforce `non-root` users and having such feature (especially by default) would reduce the risk.
I wasn't aware of technical limitation of upstream Linux. Thank you, I'll dig deeper and read more about it.

[2019-10-06 18:42] pragashj opened #283 "[Proposal] Considering the fitment of oauth2_proxy"
**Description**: [oauth2_proxy](https://github.com/pusher/oauth2_proxy) is a  reverse proxy with ability to authenticate with IdPs

**Impact**: streamlining user validation for cloud native infrastructure projects, by authentication support to external identity providers

**Scope**: User authentication. Overall scope definition need to be established upon further read on the project.

Few things t

[2019-10-06 18:53] pragashj commented on #283
Alternatives suggested:
https://github.com/buzzfeed/sso

[2019-10-07 13:37] izgeri commented on #283
@pragashj what exactly do you mean by "fitment"? Are you asking us to consider whether it should be a CNCF sandbox project (or similar)? Do we have any docs in our repo about us engaging with potential CNCF projects like this one?

[2019-10-08 13:36] lumjjb commented on #231
This is addressed by #229 and #257

[2019-10-08 13:36] #231 closed

[2019-10-10 15:37] rficcaglia commented on #281
my $.02 is that the CNCF needs to endorse the security assessment in some concrete way.

either officially require it for some part of the process, or at the very least give it some "fast track" consideration (a thumb on the scale you might say).

from discussions I've had with project teams, they were/are hesitant to dedicate time and resources away from other activities (including other CNCF pre

[2019-10-10 15:40] rficcaglia commented on #273
I promised to map CII "tasks"/requirements to sig-security assessment tasks, specifically for Falco, so here is first pass: https://docs.google.com/spreadsheets/d/1ybJ6Q7dqG7n48_k1n9d0APn41Pp3_vXMp4nzZhItwOM/edit?usp=sharing

[2019-10-15 05:24] #251 closed

[2019-10-16 17:24] TheFoxAtWork commented on #277
Here is what i'm tracking for files to update:

- [ ] [Code of conduct ](https://github.com/cncf/sig-security/blob/master/CODE-OF-CONDUCT.md)- regarding appropriate use of the work from this group by individuals within the group (potential coverage concerns regarding competitive advantage, links to guidance on draft docs, etc.)
- [ ] [Outcome section Security Assements](https://github.com/cncf/sig

[2019-10-16 18:11] TheFoxAtWork commented on #277
please assign this to me

[2019-10-16 22:17] JustinCappos commented on #277
enjoy!

[2019-10-17 14:27] TheFoxAtWork commented on #277
Going to submit PR less than the reporting of vulns as part of assessments... i believe this needs more discussion

[2019-10-18 16:37] TheFoxAtWork commented on #277
https://github.com/cncf/sig-security/pull/285

[2019-10-19 23:26] ultrasaurus commented on #283
changed to use-case / presentation for starters...   @pragashj want to invite them to present?  or also fine if you want to bring up at a meeting to discuss.

Personally, I like the idea of having multiple providers of cloud native authentication systems present.  I don't have a good sense of the different projects in the space and would be great to know more.  (And probably whatever we can do to

[2019-10-19 23:39] ultrasaurus commented on #281
The security assessments are absolutely endorsed and supported by the TOC.  They are very excited about our work in this area.  We decided (and TOC thought it was a good idea) that we would do 5 assessments (https://github.com/cncf/sig-security/issues/167) and then make some process improvements before considering whether/how to encourage/evangelize/require projects to participate.

We're about to

[2019-10-22 17:46] rficcaglia commented on #281
that is good to know! I don't think that has been communicated to the group before.  but to drill down, how exactly has it been endorsed? ie if it is not required for sandbox, incubation or other milestones, is it "recommended"?  if so, is there actually a document in the TOC repo saying to the effect "we recommend the assessment for CNCF projects"?

are there any projects who have come forward ye

[2019-10-23 17:07] JoelSpeed commented on #283
Hey, I'm a maintainer of the OAuth2 Proxy! I spoke with @monadic about proposing the project a few weeks back. Pusher adopted the OAuth2 Proxy from Bitly when they archived it about a year ago, always with the intention of attempting to donate it to somewhere that did not have corporate association

Since then we have been trying to improve the project, in particular, around docs and configuration

[2019-10-23 17:12] justincormack commented on #283
Hey @JoelSpeed I mentioned on the call, and we would like to schedule a presentation at a sig-security meeting.

[2019-10-23 17:18] pragashj opened #288 "[k8s/wg-policy] Fold in Policy artifacts in to this repo"
@hannibalhuang
Can you please take care of the creating PR with getting the artifacts in to this repo.
Also can you publish the meeting information on the readme?
Thanks!

[2019-10-23 17:31] JoelSpeed commented on #283
@justincormack Is there a list anywhere of the things you would like to get out of that presentation? Happy to prepare one if I know roughly what points I need to cover 🙂

[2019-10-23 17:38] justincormack commented on #283
I think it would be helpful to provide at least an outline of some of the key points on our assessment list https://github.com/cncf/sig-security/blob/master/assessments/guide/outline.md as well as an overview of how it relates to other projects in the space (complements/alternatives).

[2019-10-24 10:11] justincormack commented on #123
Would you be able to present at one of the weekly meetings? These are at 8pm your time (I think) Wednesdays now. See https://github.com/cncf/sig-security/issues/283 for discussion of what to present.

[2019-11-05 09:56] ultrasaurus commented on #273
Assigned to @rficcaglia -- pls confirm that this mean you can edit the issue.  We need one more volunteer!   Based on prior assessments, it would be great if we could find someone from the community who has *used* Falco and who could participate, which may or may not be the same person as security reviewer #2.

[2019-11-05 16:19] rficcaglia commented on #273
@ultrasaurus I cannot assign or change the project or milestone attributes.  so while I can "edit" the content, I can't edit in terms of github workflow. I probably need higher level github perms.

[2019-11-06 13:21] rficcaglia commented on #123
@omerlh just checking if you were able to attend today's session and discuss ... no pressure just trying to sketch out agenda ahead of the call

[2019-11-06 13:23] omerlh commented on #123
Yeah, I'll be able to attend!

[2019-11-06 17:17] rficcaglia opened #289 "[Suggestion] From Previous Calls...Can sig-security back project X?"
Description:

Discuss “Can this be a Sig-security backed project?” This came up during the call 10/9 re: Falco’s security hub.  But it would also apply to many other initiatives/projects/research. (RPI in policy WG another example). What does “backed” mean practically? Is there value-add role for sig-security? Possible negative aspects of this?

- Pros

  - custodial/administrative/tracking?
  - B

[2019-11-07 17:47] lumjjb opened #290 "KubeCon + CloudNativeCon, San Diego, USA - Nov 18 - 21, 2019"
KubeCon + CloudNativeCon, San Diego, USA - Nov 18 - 21, 2019

San Diego Convention Center
111 W Harbor Drive
San Diego, CA 92101

Let's meet up in person!

[2019-11-12 01:27] tek911 opened #292 "[Proposal] Central MarkDown for Sig-Security with links to the final documents from project security audits"
Description: Creating a central point (a markdown page held within the SIG-Security Github) for centralizing links to the security audits that have been performed for CNCF projects (for example the Kubernetes Audit by Atredis and trail of bits, or the Cure53 audits before them for helm, envoy, prometheus and coredns)

Impact: This can help promote that CNCF is serious about the security elements o

[2019-11-13 18:11] ashutosh-narkar commented on #290
+1 for Tuesday dinner.

[2019-11-13 19:17] lumjjb commented on #290
Upvote @ashutosh-narkar 's comment if Tuesday works! We will most likely meet at conference venue and find a place from there. Anyone familiar with the SD area have recommendations?

[2019-11-16 19:58] ultrasaurus commented on #264
oops -- merged template doesn't work.  Didn't realize there was a character limit on the "about"

![image](https://user-images.githubusercontent.com/41906/68998540-52620d00-0868-11ea-851f-844136e5e762.png)

[2019-11-16 20:06] ultrasaurus commented on #264
suggestions that fit into 200 characters

Have something you want to share with the group? Or someone you would like to invite to speak? Propose a presentation for the SIG-Security weekly meetings.

or

Have something you want to share with the group? Or someone you would like to invite to speak? We welcome any topic related to our mission and charter.  Typical topics: projects, real-world use-cas

[2019-11-17 00:15] lumjjb commented on #264
I like the shorter one, and maybe we can put some details into the body of the template as a comment.

[2019-11-17 15:14] lumjjb commented on #290
Let's move this conversation to: https://github.com/cncf/sig-security/issues/128.. Realized this is a duplicate issue.

[2019-11-17 15:14] #290 closed

[2019-11-17 15:17] lumjjb commented on #128
There is a speakers event on monday though.. Is Puppy Palooza a free and easy? We could meet and hang out at Puppy Palooza for a bit and then go to dinner from there.

@fntlnz are you still good to help organize dinner?

[2019-11-18 20:02] lumjjb commented on #123
Presented on 6th November SIG-Security meeting (https://www.youtube.com/watch?v=uzNIZcqOKd4)

[2019-11-18 20:02] #123 closed

[2019-11-18 20:04] #271 closed

[2019-11-18 20:06] lumjjb commented on #226
Resolved by https://github.com/cncf/sig-security/pull/248

[2019-11-18 20:06] #226 closed

[2019-11-18 20:06] lumjjb commented on #264
Resolved by https://github.com/cncf/sig-security/pull/295

[2019-11-18 20:06] #264 closed

[2019-11-18 20:08] lumjjb commented on #179
Presented to TOC + PRs merged! Assessment complete!

[2019-11-18 20:08] #179 closed

[2019-11-18 20:11] lumjjb commented on #277
Looks like the part on due diligence is merged. Let's tick those checkboxes :).

[2019-11-18 20:13] lumjjb commented on #165
Resolved by https://github.com/cncf/sig-security/pull/246

[2019-11-18 20:13] #165 closed

[2019-11-18 20:58] TheFoxAtWork opened #297 "[Suggestion] Multi-factor authentication for CNCF projects and proposed projects as part of development lifecycle"
Description: Supply Chain attacks are most successful when attackers go for the low hanging fruit.  one of the most continued successful attacks, supply chain or otherwise, is credential compromise.
Is it appropriate to levy a requirement or recommendation that CNCF projects request contributors turn on Multi-factor authentication?
As projects interested in receiving an assessment from SIG-Securit

[2019-11-19 02:04] ultrasaurus commented on #210
https://github.com/cncf/artwork/tree/master/other/sig-security

[2019-11-19 02:04] #210 closed

[2019-11-19 08:46] fntlnz commented on #128
@ultrasaurus @lumjjb I'm very very late but here's the usual, first thing let's understand how many of us want to join. I prepared a google form to get the number of people then we can book something!

https://forms.gle/h9r5gMWKB2RDduYQ9

Please if you know places, send me an email "lo at sysdig.com" so I can get them in the loop!

We are doing it on Tuesday 19th.

[2019-11-19 08:48] fntlnz commented on #127
Let's close this @ultrasaurus ?

[2019-11-19 12:44] ultrasaurus commented on #169
video: https://www.youtube.com/watch?v=bl7HPOrETh4&list=PLj6h78yzYM2MJRBYu9jUisJIXJvi-8jlp&index=15&t=0s

[2019-11-20 17:23] lumjjb commented on #128
Copying images from Twitter!

![image](https://user-images.githubusercontent.com/3060102/69261930-631bc700-0b77-11ea-9cb4-dfc2b0fa9c9b.png)

![image](https://user-images.githubusercontent.com/3060102/69261915-59925f00-0b77-11ea-9bf2-8b3bd1fa2c40.png)

[2019-11-20 18:48] leodido commented on #128
Already waiting for the 3rd edition! 🤗

On Wed, 20 Nov 2019 at 09:23, Brandon Lum <notifications@github.com> wrote:

--
L.

[2019-11-20 23:41] ultrasaurus commented on #206
I think it would be great if the TBD README listed the projects that had been audited as well as the assessments.  I can't seem to find a list of the CNCF security audits -- anyone have a link to that?

maybe @justincormack @caniszczyk @JustinCappos know where those are listed?

[2019-11-22 16:59] TheFoxAtWork opened #298 "[Proposal] Adjustments to Supply Chain Compromise"
Description: The type of compromise area for supply chain compromise listing has attacks mixed in with categorization of compromise.  Further, several attacks list multiple steps but could potentially just be updated to enumerate all the compromise types that occurred.

Impact: Clearer understanding of what a compromise is.  Provide standardization in the types of compromise associated with incide

[2019-11-26 22:17] kapilt opened #300 "[Presentation] Cloud Custodian"
Title: What is the title of your presentation?

Cloud Custodian

Speakers: Who will be presenting this? List names/github IDs of presenters.
Kapil Thangavelu  (@kapilt)
Andy Luong (@aluong)
John Mark Walker (@johnmark)

Description: Describe in a short paragraph what the presentation is about.

Cloud Custodian is a stateless rules engine with a YAML DSL used to secure, govern, and manage cloud env

[2019-11-26 22:27] kapilt commented on #300
depending on dates i can have other contributors/maintainers as co-presenters, but its the holidays, and right before reinvent if this works for 11/27/2019.

[2019-11-26 23:06] lumjjb commented on #300
Awesome! This is something that i've wanted to see for a while for evidence gathering for compliance, etc.

I believe we have a break in our meetings this week. What would be another available date for you?

[2019-11-26 23:07] lumjjb commented on #298
@TheFoxAtWork you mentioned that you're currently working on this - should I make it a proposal instead?

[2019-11-26 23:13] lumjjb commented on #292
@ultrasaurus @dshaw @pragashj I think the scope of this seems well defined. Should we discuss this during our next meeting.

I really like the idea. I think there needs to be some active work in maintaining the list - should this be the responsibility for individual project owners to create a PR against the catalog, and SIG-Security would be responsible for spreading the message of this catalog?

[2019-11-27 01:35] kapilt commented on #300
12/4 or 12/11 would both work and I should be able to find another maintainer co-presenter for either date, incidentally for anyone attending AWS re:Invent we're also running a community meetup there earlier in the day 9-11 PST https://github.com/cloud-custodian/cloud-custodian/issues/5110

[2019-11-27 15:32] johnmark commented on #300
Thanks @lumjjb - looking forward to it. I'm pretty sure we can do 12/4. Are there specific quorum requirements?

[2019-11-27 16:15] lumjjb commented on #300
No quorum requirements to do the presentation.

There is already a presentation planned for 12/4. So I'm going to put this down for 12/11.

[2019-11-27 18:10] ficcaglia commented on #300
also related to https://github.com/cncf/sig-security/issues/289

[2019-11-27 19:08] tek911 commented on #292
Initial draft markdown thought:

# CNCF Security Audits List
[![N|Solid](https://raw.githubusercontent.com/cncf/artwork/master/other/cncf/horizontal/color/cncf-color.png)](https://www.cncf.io/)
The Cloud Native Computing Foundation has initiated several in-depth security audits of various projects with the intent of transparent secure operations of many open source projects the community has embra

[2019-11-27 19:08] tek911 commented on #292
(MD got a little miffed, the bottom part wont show in final)

[2019-11-27 22:01] JoelSpeed commented on #283
Thanks @justincormack for the info, myself and the other maintainers are planning a meeting in the next couple of weeks so will hopefully prepare a presentation for the new year

CC @syscll @steakunderscore so you're in on this loop

[2019-11-29 15:00] johnmark commented on #300
Thank you - 12/11 is probably better anyway. Looking forward to it.

-JM

[2019-11-29 17:58] #194 closed

[2019-11-29 17:59] lumjjb commented on #169
Closing issue since presentation is done!

[2019-11-29 17:59] #169 closed

[2019-12-01 10:36] mhausenblas commented on #110
Sorry for the long silence. Week after next (re:Invent) I'm back on track and wanted to see where we are with this issue and where/how I can contribute @ultrasaurus

[2019-12-02 08:53] allencloud opened #302 "[Assessment] CNCF sandbox project Dragonfly"
Project Name: Dragonfly

Description: Dragonfly is an intelligent P2P based image and file distribution system.

Github URL: https://github.com/dragonflyoss/Dragonfly

Security Provider: no

- [ ] Identify team
   - [x] Project security lead (Allen Sun)
   - [ ] Lead Security Reviewer
   - [x] 1 or more additional reviewer(s) @JustinCappos
   - [ ] Declaration of reading of [security reviewer guid

[2019-12-02 15:23] JustinCappos commented on #302
Assuming this is prioritized by the TOC, who would like to lead the assessment?  Can we get someone who has not already done so?

I volunteer to participate as a reviewer.

[2019-12-03 01:45] ultrasaurus commented on #302
@allencloud are you involved with the project and volunteering as (or able to find) the person who would act as [project lead](https://github.com/cncf/sig-security/blob/master/assessments/guide/project-lead.md) or is this a project you are using (or want to be using) and are interested in the output of the security assessment?  or ...?

[2019-12-03 02:19] allencloud commented on #302
@ultrasaurus
I am one the Dragonfly maintainers and act as the project lead. We are trying to promote Dragonfly project from Sandbox level to Incubation level. The chapter says that we had better to have security assessment help from SIG secrurity.

[2019-12-03 02:20] allencloud commented on #302
That could not be better.  @JustinCappos Thank you. ❤️

[2019-12-03 03:36] ultrasaurus commented on #272
@hannibalhuang @rficcaglia @justincormack would one of you be willing to take content from this thread and make a PR that clarifies the content in the repo?

...or @hannibalhuang / @ericavonb could raise at policy team meeting and see if someone else is up for scribing some clarifications and/or adding overview content.

[2019-12-03 04:07] rficcaglia commented on #272
I think the last discussion relevant to this was pre-KUbecon when Christian
@ Google discussed some AI based verification, so it might be good to
update the content to compare and contrast how that tool works.  in any
event, yes this is due for an update and we can/should take it up at the
next policy WG session.

On Mon, Dec 2, 2019 at 7:36 PM Sarah Allen <notifications@github.com> wrote:

[2019-12-03 16:51] lumjjb commented on #300
Awesome - you guys are set for 12/11!

[2019-12-03 17:04] ultrasaurus commented on #46
Cloud Custodian presentation scheduled (Dec 11): https://github.com/cncf/sig-security/issues/300

[2019-12-04 13:39] TheFoxAtWork commented on #298
Yes - we're currently working on this.

[2019-12-04 14:29] lumjjb opened #303 "[Proposal] Add CODEOWNERS file for automatic review request"
Description: what's your idea?

Adding CODEOWNERS file to specific directories which should require reviews by the owner of the sub folder. i.e. assessments owner should be the assessment facilitator, etc.

Impact: Describe the customer impact of the problem. Who will this help?  How will it help them?

This will help the management and governance of the repository.

Scope: Probably a couple of da

[2019-12-04 21:31] ficcaglia commented on #300
we will discuss today on the Policy WG.

we had a CC presentation back in august
https://youtu.be/NPnbT6nD6r4

This was a presentation linked from the discussion: https://docs.google.com/presentation/d/1N0oCbQNcyr_LGxgSjbUPwK8fQrTcYWIu79aa4oT7VxE/edit#slide=id.g526cedfb4d_0_191

[2019-12-05 13:38] TheFoxAtWork commented on #298
here is the PR for it (at least the start of the work) https://github.com/cncf/sig-security/pull/304

[2019-12-05 20:31] TheFoxAtWork opened #305 "[Project] 2020 EU Cloud Native Security Day VIRTUAL (aka SIG-Security day) at Kubecon"
Description: SIG-Security Day at the upcoming EU Kubecon/CloudNativeCon. The goal of the day is to bring together the broader Cloud Native security community in a community oriented space to discuss and share current challenges (and solutions) in Cloud Native security.

Social Media: **#cnsecurityday**
[CNCF Website Security Day](https://events.linuxfoundation.org/kubecon-cloudnativecon-europe/pro

[2019-12-06 14:33] justincormack opened #306 "[Presentation] Confidential Computing Consortium"
Title: Confidential Computing Consortium overview

Speakers: Stephen Walli @stephenrwalli

Description: The Confidential Computing  Consortium https://confidentialcomputing.io/ is a new Linux Foundation group of projects around how to secure data while in use, so computation and processing can take place without exposing the data to the system or the system providers. I think this would be of inte

[2019-12-06 14:34] justincormack commented on #306
cc @hannibalhuang

[2019-12-11 19:08] kapilt commented on #300
The slides presented to cncf sig security on dec 11, 2019

https://docs.google.com/presentation/d/1ffnoyKVwy7-uMs4p3K7hEA5rnS45IG5yFuOb9G7WI9E/edit?usp=sharing

Next action items are going through the security sig due dilligence/assessment process.

There is a slack channel (#sec-assessment-custodian https://cloud-native.slack.com/archives/CQM9LU3JL) on the cncf slack for further coordination arou

[2019-12-11 19:18] kapilt opened #307 "[Assessment] Cloud Custodian"
Project Name:  Cloud Custodian

Github URL: https://github.com/cloud-custodian/cloud-custodian

Security Provider: yes, although its often used independently from security concerns, for many users its part of their security tooling.

- [x] Identify team
   - [x]  SIG Leadership Representative: Ash Narkar (@ashutosh-narkar)
   - [x] Project security lead (@kapilt)
   - [x] Lead Security Reviewer -

[2019-12-11 19:35] ultrasaurus commented on #300
Follow-on questions from the meeting, maybe you could answer them here...

I'm curious how you expect this to evolve across many clouds (e.g. if you were to support IBM Cloud Functions, SAP Cloud Functions, etc.)  Do you have custom code for every cloud?  Do you think at some time in the future there might be some kind of shared cloud ontology?  (maybe for basic things like buckets and functions?)

[2019-12-11 20:16] rficcaglia commented on #307
will raise hand to be a reviewer but due to time constraints cannot be lead on this one, sorry!

[2019-12-11 20:25] rficcaglia commented on #292
just my $.02 I would prefer to see this info prominently presented in the individual project pages, where it can be kept fresh. keeping all these links fresh here seems to be unlikely.  and it also maybe confuses whether these are sig-security assessments or external "audits". my vote would be to scope the docs here to the sig-security audits. but I may just be persnickety :)

[2019-12-12 20:54] evan2645 opened #308 "[Assessment] SPIFFE/SPIRE"
Project Name: SPIFFE/SPIRE

Github URL: https://github.com/spiffe/spire

Security Provider: yes

- [x] Identify team
   - [x] Project security lead (Evan Gilman)
   - [x] Lead Security Reviewer (Brandon Lum)
   - [x] 1 or more additional reviewer(s) (Justin Cappos, Emily Fox)
   - [x] Declaration of reading of [security reviewer guidelines](https://github.com/cncf/sig-security/blob/master/assessme

[2019-12-12 21:01] lumjjb commented on #308
I am willing to volunteer be a security reviewer for this assessment, and am able to lead.

[2019-12-12 22:18] JustinCappos commented on #308
Context: I did the "assessment" before for the project before there was a
SIG-Security process.

I'm happy to participate in this one as well and would be happy for Brandon
to lead.  :)

On Thu, Dec 12, 2019 at 4:01 PM Brandon Lum <notifications@github.com>
wrote:

[2019-12-13 05:14] lumjjb commented on #308
Link issue for previous assessment by @JustinCappos https://github.com/cncf/sig-security/issues/97

[2019-12-13 18:24] johnmark commented on #307
thanks - where else can/should we enlist reviewers?

[2019-12-14 17:18] JustinCappos commented on #273
We're excited to have this kick off now that the incubation rush is over.  Can I get confirmation from the team that they are ready?  I noticed the slack channel was created so checked the box above.

[2019-12-14 17:23] JustinCappos commented on #302
I created the slack channel ( #sec-assessment-dragonfly) on the CNCF slack, but don't know your name to invite you, @allencloud .  Please join and invite others who may be involved to do so as well.

[2019-12-14 17:26] JustinCappos commented on #307
I'll volunteer to review too.

@ashutosh-narkar , would you be able to participate as a reviewer?  I think your perspective would be very helpful.

We can find someone else to lead.

[2019-12-14 17:31] JustinCappos opened #309 "Is the assessment matrix duplicative with the issue process for assessments?"
It feels like the assessment matrix: https://github.com/cncf/sig-security/blob/8f02ab936dd1ec05405ca995221b601c5a7382ca/assessments/assessment-matrix.md
is largely duplicative with the tagged items in the issue tracker:  https://github.com/cncf/sig-security/labels/assessment

Do we need both?  If so, could we generate from the other (likely issue -> matrix)?

[2019-12-14 18:06] rficcaglia commented on #273
Kris, can you advise on readiness?

On Sat, Dec 14, 2019, 9:18 AM Justin Cappos <notifications@github.com>
wrote:

[2019-12-14 21:08] ultrasaurus commented on #233
I like this wording.  Added 'triage' label for visibility.

From my perspective, all that's needed on this issue now is a PR :)

[2019-12-14 21:13] ultrasaurus commented on #309
see related discussion "Assessments Listing" (issue https://github.com/cncf/sig-security/issues/206)

I think the [current matrix](https://github.com/cncf/sig-security/blob/8f02ab936dd1ec05405ca995221b601c5a7382ca/assessments/assessment-matrix.md) could be simplified to be a priority queue, addressing the remaining open issue in the "intake process" PR (https://github.com/cncf/sig-security/pull/29

[2019-12-14 21:15] #127 closed

[2019-12-14 22:28] ashutosh-narkar commented on #307
Sure @JustinCappos, I would be happy to be a reviewer.

[2019-12-15 13:26] rficcaglia commented on #307
If falco doesn’t plan to start assessment Jan or feb, then that would open
up some of my time, scarce as it is right now. I’m holding some space to
lead that one.

So if we could slot falco for March, or someone else wants to take lead on
Falco, I could step up to be lead on this one.

On Sat, Dec 14, 2019 at 2:28 PM Ashutosh Narkar <notifications@github.com>
wrote:

[2019-12-15 15:08] JustinCappos commented on #206
Okay, we're reaching out to @caniszczyk to get the audit list.  Once we have that, I think we can put a table together.

@TheFoxAtWork Do you feel we need to have a separate closed folder?  Things don't get merged into here until we have finished, so to me these folders already have the assessments.  I'd more like to just surface some metadata from the subfolders to make it easier for people to un

[2019-12-15 15:12] JustinCappos commented on #307
Okay, I'll let @ultrasaurus weigh in on priorities, likely after getting TOC guidance.

[2019-12-15 15:22] johnmark commented on #307
thank you - wait, isn't Falco already a sandbox project? In which case, haven't they already gone through some assessment?

Just curious - what is the bar to becoming a sandbox project? - @ultrasaurus

[2019-12-15 17:12] rficcaglia commented on #307
Falco did a code audit via the TOC before this SIG had established any
assessment process.  The idea though is that the SIG assessment would be
complimentary to, and not a substitute for, a code audit (or operational
pen test, or in situ vulnerability assessment, etc).

As Sarah and others have articulated elsewhere, the scope of the SIG
assessment is more around threat model, default secure confi

[2019-12-15 18:27] johnmark commented on #307
Thank you for the context - that is helpful.

[2019-12-16 10:06] MVrachev commented on #273
I was accepted as an "Observer" volunteer (if I understood right the Dan Shaw comment which I paraphrased here: https://github.com/cncf/sig-security/issues/256#issuecomment-534542332) in the Falco assessment and I am ready.

[2019-12-16 10:55] danmx commented on #273
I'm still available for the assessment

[2019-12-16 15:50] ultrasaurus commented on #309
What about if we made a github "project" for assessments?  it would be easier to maintain the order of the queue (since it seems the start of an assessment is often delayed due to self-assessment not being ready)

[2019-12-16 16:27] JustinCappos commented on #309
I'm not 100% sure what you mean.  Is the purpose of the project to give a template for self-assessment?  What is it for?

[2019-12-16 16:45] ultrasaurus commented on #309
I created a TEST project to illustrate: https://github.com/cncf/sig-security/projects/2

[2019-12-16 16:45] JustinCappos commented on #309
I created the need-self-assessment label to help us track.  Looks like we can close this!

[2019-12-16 16:46] ultrasaurus commented on #309
I think we can remove the [assessment matrix](https://github.com/cncf/sig-security/blob/8f02ab936dd1ec05405ca995221b601c5a7382ca/assessments/assessment-matrix.md) page then

[2019-12-16 17:34] kris-nova commented on #273
Can we look at getting this done early 2020? I am happy to take lead on this, but we won't be ready to get started until the new year.

Who would be the best folks to work with on this?

[2019-12-16 17:38] rficcaglia commented on #273
Hi Kris!

Yes I'm happy to work with you on a Jan/Feb completion.  Between Martin,
Daniel and me, we should be able to crank through this!  Also if we can get
it done on that timeline, it would be great to present/discuss results at
Amsterdam KubeCon.

Let me know a couple dates/times for a kickoff Slack chat and let's see if
we can find one that fits everyone's time zone.

On Mon, Dec 16, 2019 at

[2019-12-16 17:41] kris-nova commented on #273
If you could drop something on my calendar nova@sysdig.com the first week of January that works for me :)

Thanks!

[2019-12-16 17:51] rficcaglia commented on #273
For the process, my conflict statement:

Hard conflicts:
Reviewer is a maintainer of the project - NO
Reviewer is a direct report of/to a maintainer of the project - NO
Reviewer is paid to work on the project -NO
Reviewer has significant financial interest directly tied to success of the project - NO

Soft conflicts:
Reviewer belongs to the same company/organization of the project, but does not wo

[2019-12-16 17:53] kris-nova commented on #273
Thanks for sending this over - and we like you too!

[2019-12-16 18:13] JustinCappos commented on #308
Here is the project's self assessment:  https://docs.google.com/document/d/1PCTrSSpM62S8WLLocb7_UU4XtoHLROp-Q92ZpfLBgeA/edit

[2019-12-17 00:51] lumjjb commented on #309
I love the new project board! :)

[2019-12-17 02:39] JustinCappos commented on #309
Great!  After #310 is approved and merged, we can close this issue then...

[2019-12-17 15:30] rficcaglia commented on #307
as reviewer here is my conflict declaration:

Hard conflicts:
Reviewer is a maintainer of the project - NO
Reviewer is a direct report of/to a maintainer of the project - NO
Reviewer is paid to work on the project -NO
Reviewer has significant financial interest directly tied to success of the project - NO

Soft conflicts:

Reviewer belongs to the same company/organization of the project, but does

[2019-12-18 04:33] ultrasaurus commented on #206
heard via email from  @amye -- she's tracking down list of audits and will add them here

[2019-12-18 04:44] lumjjb commented on #308
Conflict declaration: No conflicts with this project.

[2019-12-18 04:49] JustinCappos commented on #308
No conflict from my side either.  I like the folks there a lot, but not in a way that would impact my objectivity in a security assessment.  :)

[2019-12-18 18:12] TheFoxAtWork commented on #308
Happy to help, no conflicts - no experience as lead assessor but will help anyway i can

[2019-12-18 18:12] JustinCappos commented on #308
@TheFoxAtWork volunteered as well!

[2019-12-18 18:47] kapilt opened #311 "[Suggestion] markdown linting tools"
Description: Research markdown linting tool for sig markdown files and prs.

- [ ] Link checking
- [ ] Linting (80 column chars)

others?

follow up from sig security meeting (dec 19th)

[2019-12-18 18:51] rficcaglia commented on #305
re: Role of red teams and blue teams in Cloud Native architectures

My idea/suggestion was to run an actual hands on session with CNCF security tools in a lab/sandbox k8s environment to develop ideas, review playbooks, etc. etc.

[2019-12-18 18:51] lumjjb opened #312 "[Suggestion] System for meeting times to make it friendly to other timezones"
Description:

Propose a system to set meeting timings so they are accessible to a members across different timezones.

Impact:

This will help engage the greater community and provide more opportunities for inclusiveness to current timezones where meeting times are not convenient (i.e. Asia, Australia, etc.)

Scope: "not yet determined"

Additional info:
- Reference to supporting material
- Links

[2019-12-18 18:51] justincormack commented on #305
Happy to review submissions. Not yet sure if able to help on day.

[2019-12-18 18:52] lumjjb commented on #312
notes from meeting on 19 Dec 2019:

Meeting time rotation suggestion
- This time not very convenient for the East like folks in Asia
- Suggestion: Sync with the KubeCon timezone a month before and a couple of months after

[2019-12-18 18:53] anvega commented on #305
Count me in to help review submissions. Also happy to volunteer with any task on the day of.

[2019-12-18 19:00] ultrasaurus commented on #311
added some common inconsistencies from [Contributor's Guide / Writing Style](https://github.com/cncf/sig-security/blob/master/CONTRIBUTING.md#writing-style) section

[2019-12-18 19:03] markyjackson-taulia commented on #305
I would like to help with this. Is it still open?

[2019-12-18 19:14] rficcaglia opened #314 "[Suggestion] Automate scribe process via cloud tool(s)"
Description: What's your idea?
Something like AWS Transcribe or Google Speech, something that is automated.

Impact: Saves volunteer effort and time spent asking "who can be a scribe"?

Scope: How much effort will this take?
mostly discovery ( a few hours?) then if we find a tool that needs some scripting/infrastructure spec'ing that out.

Additional info:
None

[2019-12-18 20:01] sublimino commented on #305
https://github.com/kubernetes-simulator/simulator is intended to be used for that sort of thing. 20+ existing labs, custom ones can be built for this event. Some background in [slides from when it was announced](https://drive.google.com/file/d/1cV5BJBZPZMjsvJExY-nlPDsdgwSsZXGI/view).

Happy to volunteer on the day and/or manage infra if required.

/cc @jonmuk @rowan-baker

[2019-12-18 20:36] rficcaglia commented on #305
Wow wow wow!  It would be great to do this a team vs team (or teams vs
teams) session with participation from the various CNCF projects.

On Wed, Dec 18, 2019 at 12:01 PM Andrew Martin <notifications@github.com>
wrote:

[2019-12-19 00:02] pbnj commented on #311
Is there agreement on markdown style, e.g. SETEXT vs ATX, CommonMark vs GitHub-Flavored Markdown?

Different tools have varying levels of support for different the different markdown specs and it would help narrow down the tool selection/evaluation process.

Some markdown linting tools I have come across in the past:

- https://github.com/remarkjs/remark-lint
- https://github.com/markdownlint/mark

[2019-12-19 00:32] raravena80 commented on #305
Happy to review here too.

[2019-12-19 00:42] evan2645 commented on #308
👋 hi everyone! Sorry I'm late to the party :)

I made some minor updates to the self assessment today, but nothing major - I think @anvega did a pretty thorough job (thanks Andres!!). We have removed the `Draft` label that previously appeared in the document name.

One thing that probably needs some attention is that the previous assessment (the results of which are in the self assessment) did not

[2019-12-19 01:13] mfdii commented on #305
Thank you so much to everyone for volunteering to help out. We will update the issue with those who volunteered for each type of role.

Re the workshop: This is definitely something on our radar. It was brought up during the retro and several attendees mentioned to it as well. Our challenge is understanding the amount of space the CNCF can make available to us, and then how we can use that space.

[2019-12-19 04:41] JustinCappos commented on #308
We're doing a lighter process here (no collusion matrices for most projects).  I think we might have still taken a few steps down this path here because the setup and trust relationships are fairly complex.

[2019-12-19 07:19] lumjjb commented on #308
Here is the proposed schedule. How does this look like for all?

Jan 6-10: "Dumb questions phase"
(only project lead (and team) + lead security reviewer involved)

Jan 13 - 22: Security review phase - security reviewers add comments on the doc and conversation around edits to the doc continues
(project lead (and team) + all security reviewers)

Jan 22: Presentation to SIG-security meeting
(at leas

[2019-12-19 14:47] TheFoxAtWork commented on #233
read for review and merge upon approval @ultrasaurus

[2019-12-19 19:21] JustinCappos commented on #308
I've read the reviewer guidelines.

[2019-12-19 19:21] JustinCappos commented on #308
@evan2645 Does this timeline work for you?

[2019-12-19 23:58] lumjjb commented on #308
I've read reviewer guidelines

[2019-12-20 00:00] lumjjb commented on #308
@ultrasaurus @dshaw @pragashj require 2 co-chairs on reviewer conflicts

[2019-12-20 00:05] lumjjb commented on #308
Note, as per discussion on slack, the initial "Dumb Question Phase" is not a full time commitment but more of an asynchronous process. I've allocated a bit of a buffer due to 18 hour timezone difference between myself and Evan, and my travel from SIN->SFO on 9-10 Jan.

[2019-12-20 03:47] ultrasaurus commented on #308
@lumjjb it looks like there are no reviewer conflicts, so we don't need chair review -- or did I miss something?

[2019-12-20 23:03] anvega commented on #308
@ultrasaurus Wording may need to be revised. We interpreted the checkbox item as 2 SIG-chairs asserting that there are no reviewer conflicts and not a signoff where a conflict exists.

[2019-12-20 23:04] evan2645 commented on #308
@JustinCappos Sure, I think that will work OK. I'm not traveling over the holiday season so am free to start whenever, but of course I understand that I'm probably the outlier :-D

One thing I will note is that I will probably be unavailable from Jan ~8-19th. I have spoken to @azdagron about this though, and he is willing to cover and help answer any questions in my absence as I'm not sure what my

[2019-12-21 01:24] lumjjb commented on #308
@evan2645 yep that is fine.

@TheFoxAtWork how does schedule look for you?

[2019-12-21 15:09] kapilt commented on #311
@pbnj thanks, i suspect we're targeting github flavored markdown, given the predominant usage of that style within the repo.

There's a dizzying plethora of tools in this space,  the two most common markdownlint (ruby & nodejs) don't appear to target the spelling or link checking use cases. it maybe we just need separate tools around each major use case (lint, link-check, spelling)

- https://gith

[2019-12-22 19:21] ultrasaurus commented on #311
@kapilt a github action sounds like a great idea.  I haven't set those up myself before, and am exceted to learn about them from your PR!

[2020-01-03 04:46] lumjjb commented on #306
Any update on this, since issue states January probably.

[2020-01-03 18:35] steven-hadfield commented on #307
I'm open to be a reviewer as well, but I'm hesitant to take lead without a better understanding of the overall process.

Hard conflicts:
Reviewer is a maintainer of the project - No
Reviewer is a direct report of/to a maintainer of the project - No
Reviewer is paid to work on the project - No
Reviewer has significant financial interest directly tied to success of the project - No

Soft conflicts: